<header role="header" class="global-header">

  <a class="global-logo" href="#">IBM <span class="global-product-title">Bluemix</span></a>
  <a id="global-menu-trigger" class="global-menu-trigger" href="" aria-haspopup="true" data-nav-target=".taxonomy-nav">
    <span class="current-taxonomy">Compute</span>
    <span class="dropdown-affordance"></span>
  </a>

  <a class="global-docs" href="#">docs</a>

  <div class="global-profile">
    <a class="global-profile__avatar" href="#" alt="Avatar"></a>
    <a class="global-profile__full-name" href="#">
      <div class="name-details">
        <span class="global-given-name">FirstName&nbsp;</span>
        <span class="global-family-name">LastName</span>
      </div>
      <div class="current-details">
        <div class="current-details__region"></div>
        <div class="current-details__org"></div>
      </div>
    </a>
  </div>

  <nav role="navigation" class="taxonomy-nav" aria-labelledby="global-menu-trigger">
    <ul class="taxonomy-menu" tabindex="0">
      <li class="taxonomy-item">
        <a href="/catalog" class="taxonomy-item--taxonomy-menu">
          <div class="taxonomy-item__icon">
            <svg class="svg--taxonomy--compute-dims" focusable="false">
              <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--compute"></use>
            </svg>
          </div>
          <p class="taxonomy-item__label">Compute</p>
        </a>
      </li>
      <li class="taxonomy-item">
        <a href="/catalog" class="taxonomy-item--taxonomy-menu">
          <div class="taxonomy-item__icon">
            <svg class="svg--taxonomy--storage-dims" focusable="false">
              <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--storage"></use>
            </svg>
          </div>
          <p class="taxonomy-item__label">Storage</p>
        </a>
      </li>
      <li class="taxonomy-item">
        <a href="/catalog" class="taxonomy-item--taxonomy-menu">
          <div class="taxonomy-item__icon">
            <svg class="svg--taxonomy--network-dims" focusable="false">
              <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--network"></use>
            </svg>
          </div>
          <p class="taxonomy-item__label">Network</p>
        </a>
      </li>
      <li class="taxonomy-item">
        <a href="/catalog" class="taxonomy-item--taxonomy-menu">
          <div class="taxonomy-item__icon">
            <svg class="svg--taxonomy--mobile-dims" focusable="false">
              <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--mobile"></use>
            </svg>
          </div>
          <p class="taxonomy-item__label">Mobile</p>
        </a>
      </li>
      <li class="taxonomy-item">
        <a href="/catalog" class="taxonomy-item--taxonomy-menu">
          <div class="taxonomy-item__icon">
            <svg class="svg--taxonomy--iot-dims" focusable="false">
              <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--iot"></use>
            </svg>
          </div>
          <p class="taxonomy-item__label">Internet of Things</p>
        </a>
      </li>
      <li class="taxonomy-item">
        <a href="/catalog" class="taxonomy-item--taxonomy-menu">
          <div class="taxonomy-item__icon">
            <svg class="svg--taxonomy--app-services-dims" focusable="false">
              <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--app-services"></use>
            </svg>
          </div>
          <p class="taxonomy-item__label">App Services</p>
        </a>
      </li>
      <li class="taxonomy-item">
        <a href="/catalog" class="taxonomy-item--taxonomy-menu">
          <div class="taxonomy-item__icon">
            <svg class="svg--taxonomy--cognitive-dims" focusable="false">
              <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--cognitive"></use>
            </svg>
          </div>
          <p class="taxonomy-item__label">Cognitive</p>
        </a>
      </li>
      <li class="taxonomy-item">
        <a href="/catalog" class="taxonomy-item--taxonomy-menu">
          <div class="taxonomy-item__icon">
            <svg class="svg--taxonomy--data-dims" focusable="false">
              <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--data"></use>
            </svg>
          </div>
          <p class="taxonomy-item__label">Data &amp; Analytics</p>
        </a>
      </li>
      <li class="taxonomy-item">
        <a href="/catalog" class="taxonomy-item--taxonomy-menu">
          <div class="taxonomy-item__icon">
            <svg class="svg--taxonomy--integration-dims" focusable="false">
              <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--integration"></use>
            </svg>
          </div>
          <p class="taxonomy-item__label">Integration</p>
        </a>
      </li>
      <li class="taxonomy-item">
        <a href="/catalog" class="taxonomy-item--taxonomy-menu">
          <div class="taxonomy-item__icon">
            <svg class="svg--taxonomy--media-cdn-dims" focusable="false">
              <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--media-cdn"></use>
            </svg>
          </div>
          <p class="taxonomy-item__label">Media &amp; CDN</p>
        </a>
      </li>
      <li class="taxonomy-item">
        <a href="/catalog" class="taxonomy-item--taxonomy-menu">
          <div class="taxonomy-item__icon">
            <svg class="svg--taxonomy--devops-dims" focusable="false">
              <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--devops"></use>
            </svg>
          </div>
          <p class="taxonomy-item__label">DevOps</p>
        </a>
      </li>
      <li class="taxonomy-item">
        <a href="/catalog" class="taxonomy-item--taxonomy-menu">
          <div class="taxonomy-item__icon">
            <svg class="svg--taxonomy--security-dims" focusable="false">
              <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--security"></use>
            </svg>
          </div>
          <p class="taxonomy-item__label">Security</p>
        </a>
      </li>
      <li class="taxonomy-item">
        <a href="/catalog" class="taxonomy-item--taxonomy-menu">
          <div class="taxonomy-item__icon">
            <svg class="svg--taxonomy--private-apis-dims" focusable="false">
              <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--private-apis"></use>
            </svg>
          </div>
          <p class="taxonomy-item__label">Private APIs</p>
        </a>
      </li>
    </ul>
  </nav>

</header>
