<div class="bx--card">
  <div class="bx--card__card-overview">
    <div class="bx--card-overview__about">
      <div class="bx--about__icon">
        <svg class="bx--about__icon--img">
          <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#service--default"></use>
        </svg>
      </div>
      <div class="bx--about__title">
        <h3 class="bx--about__title--name">App Name 1</h3>
        <a href="#" class="bx--about__title--link">myapp.mybluemix.net</a>
      </div>
    </div>
    <!-- OverflowMenu -->
    <div data-overflow-menu class="bx--overflow-menu">
      <svg class="bx--overflow-menu__icon">
        <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#app-actions--overflow_menu_icon"></use>
      </svg>
      <ul class="bx--overflow-menu__options">
        <li><button type="button" class="bx--overflow-menu__btn">Stop App</button></li>
        <li><button type="button" class="bx--overflow-menu__btn">Restart App</button></li>
        <li><button type="button" class="bx--overflow-menu__btn">Restart App</button></li>
        <li><button type="button" class="bx--overflow-menu__btn">Edit Routes and Access</button></li>
        <hr/>
        <li><button type="button" class="bx--overflow-menu__btn--delete">Delete App</button></li>
      </ul>
    </div>
  </div>
  <div class="bx--card__card-footer"></div>
</div>
