<div class="card">

  <div class="card__card-overview">

    <div class="card-overview__about">
      <div class="about__icon">
        <svg class="about__icon--img">
          <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#service--default"></use>
        </svg>
      </div>
      <div class="about__title">
        <h3 class="about__title--name">App Name 1</h3>
        <a href="#" class="about__title--link">myapp.mybluemix.net</a>
      </div>
    </div>

    <div data-overflow-menu class="overflow-menu">
      <svg class="overflow-menu__icon">
        <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#app-actions--overflow_menu_icon"></use>
      </svg>
      <ul class="overflow-menu__options">
        <li><button type="button" class="overflow-menu__btn">Stop App</button></li>
        <li><button type="button" class="overflow-menu__btn">Restart App</button></li>
        <li><button type="button" class="overflow-menu__btn">Restart App</button></li>
        <li><button type="button" class="overflow-menu__btn">Edit Routes and Access</button></li>
        <hr/>
        <li><button type="button" class="overflow-menu__btn" data-state="delete">Delete App</button></li>
      </ul>
    </div>

  </div>

  <div class="card__card-footer">
  </div>

</div>
