//-----------------------------
// Dropdown
//-----------------------------

@import '../../globals/scss/colors';
@import '../../globals/scss/vars';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/layer';
@import '../../globals/scss/typography';
@import '../../globals/scss/import-once';
@import '../../globals/scss/css--reset';
@import '../../globals/scss/css--typography';
@import '../../globals/scss/layout';

@include exports('dropdown') {
  .bx--dropdown {
    @include reset;
    @include font-family;
    @include typescale('zeta');
    position: relative;
    list-style: none;
    display: block;
    background-color: $field-01;
    width: 100%;
    height: rem(40px);
    cursor: pointer;
    color: $text-01;

    &:focus {
      @include focus-outline('border');
    }

    &.bx--dropdown--open:focus {
      outline: 1px solid transparent;
      box-shadow: 0 -1px 0 0 $brand-01, 1px 0 0 0 $brand-01, -1px 0 0 0 $brand-01;
    }
  }

  .bx--dropdown__arrow {
    fill: $brand-01;
    position: absolute;
    right: 1rem;
    top: 1.175rem;
    width: rem(10px);
    height: rem(5px);
    pointer-events: none;
    transition: transform $transition--expansion $bx--standard-easing;
    transform-origin: 50% 45%;
  }

  .bx--dropdown[data-value=''] .bx--dropdown-text {
    color: $text-03;
  }

  .bx--dropdown-text {
    height: rem(40px);
    padding-top: rem(13px);
    padding-bottom: rem(13px);
    padding-left: 1rem;
    padding-right: 2.25rem;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: $input-border;
  }

  .bx--dropdown-list {
    @include reset;
    @include layer('overlay');
    width: 100%;
    list-style: none;
    position: absolute;
    z-index: z('dropdown');
    max-height: 0;
    overflow: hidden;
    transition: $transition--expansion $bx--ease-out;
    opacity: 0;
  }

  .bx--dropdown-link {
    display: block;
    color: currentColor;
    text-decoration: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1.5rem;
    text-overflow: ellipsis;
    overflow: hidden;

    &:hover,
    &:focus {
      background-color: $brand-01;
      color: $inverse-01;
      outline: 1px solid transparent;
      text-decoration: underline;
    }
  }

  .bx--dropdown--selected {
    display: none;
  }

  .bx--dropdown--open {
    .bx--dropdown__arrow {
      transform: rotate(-180deg);
    }

    .bx--dropdown-list {
      @include typescale('zeta');
      display: flex;
      flex-direction: column;
      background-color: $ui-01;
      max-height: 50rem;
      overflow: visible;
      transition: $transition--expansion $bx--ease-in;
      opacity: 1;
    }

    &:focus {
      .bx--dropdown-list {
        box-shadow: 0 1px 0 0 $brand-01, 1px 0 0 0 $brand-01, -1px 0 0 0 $brand-01;
      }
    }
  }

  .bx--dropdown--disabled {
    opacity: 0.5;
    cursor: not-allowed;

    &:focus {
      outline: none;
    }
  }
}
