//-----------------------------
// Dropdown
//-----------------------------

@import '../../globals/scss/colors';
@import '../../globals/scss/vars';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/layer';
@import '../../globals/scss/typography';
@import '../../globals/scss/import-once';
@import '../../globals/scss/css--reset';
@import '../../globals/scss/css--typography';
@import '../../globals/scss/layout';

@include exports('dropdown') {
  .bx--dropdown {
    @include reset;
    @include font-family;
    @include typescale('zeta');
    position: relative;
    list-style: none;
    display: block;
    background-color: $field-01;
    width: 100%;
    cursor: pointer;
    color: $text-01;

    &:focus {
      @include focus-outline('border');
    }

    &.bx--dropdown--open:focus {
      outline: 1px solid transparent;
      box-shadow: 0 -1px 0 0 $brand-01, 1px 0 0 0 $brand-01, -1px 0 0 0 $brand-01;
    }
  }

  .bx--dropdown__arrow {
    fill: $brand-01;
    position: absolute;
    right: 1rem;
    top: 1.175rem;
    width: rem(10px);
    height: rem(5px);
    pointer-events: none;
    transition: transform $transition--expansion $bx--standard-easing;
    transform-origin: 50% 45%;
  }

  .bx--dropdown[data-value=''] .bx--dropdown-text {
    color: $text-03;
  }

  .bx--dropdown-text {
    padding-top: rem(13px);
    padding-bottom: rem(13px);
    padding-left: 1rem;
    padding-right: 2.25rem;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: $input-border;
  }

  .bx--dropdown-list {
    @include reset;
    @include layer('overlay');
    width: 100%;
    list-style: none;
    position: absolute;
    z-index: z('dropdown');
    height: 0px;
    overflow: hidden;
    background-color: $ui-01;
    transition: height $transition--expansion $bx--ease-in-out 0ms;

    .bx--dropdown-item{
      opacity:0;
      transition:opacity $transition--fade $bx--ease-in 0.2s;
    }
  }

  .bx--dropdown-link {
    display: block;
    color: currentColor;
    text-decoration: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1.5rem;

    &:hover,
    &:focus {
      background-color: $brand-01;
      color: $inverse-01;
      outline: 1px solid transparent;
      text-decoration: underline;
    }
  }

  .bx--dropdown--selected {
    display: none;
  }

  .bx--dropdown--open {
    .bx--dropdown__arrow {
      transform: rotate(-180deg);
    }

    &:focus {
      .bx--dropdown-list {
        box-shadow: 0 1px 0 0 $brand-01, 1px 0 0 0 $brand-01, -1px 0 0 0 $brand-01;
      }
    }
  }

  .bx--dropdown-list--open {
    @include typescale('zeta');
    display: flex;
    flex-direction: column;
    height:auto;
    transition: height $transition--expansion $bx--ease-in-out;

    .bx--dropdown-item{
      opacity:1;
      transition:opacity $transition--fade $bx--ease-out $transition--delay-unit*9;

      &:nth-child(1){
        opacity:1;
        transition:opacity $transition--fade $bx--ease-out $transition--delay-unit*1;
      }
      &:nth-child(2){
        opacity:1;
        transition:opacity $transition--fade $bx--ease-out $transition--delay-unit*2;
      }
      &:nth-child(3){
        opacity:1;
        transition:opacity $transition--fade $bx--ease-out $transition--delay-unit*3;
      }
      &:nth-child(4){
        opacity:1;
        transition:opacity $transition--fade $bx--ease-out $transition--delay-unit*4;
      }
      &:nth-child(5){
        opacity:1;
        transition:opacity $transition--fade $bx--ease-out $transition--delay-unit*5;
      }
      &:nth-child(6){
        opacity:1;
        transition:opacity $transition--fade $bx--ease-out $transition--delay-unit*6;
      }
      &:nth-child(7){
        opacity:1;
        transition:opacity $transition--fade $bx--ease-out $transition--delay-unit*7;
      }
      &:nth-child(8){
        opacity:1;
        transition:opacity $transition--fade $bx--ease-out $transition--delay-unit*8;
      }
    }
  }

  .bx--dropdown--disabled {
    opacity: 0.5;
    cursor: not-allowed;

    &:focus {
      outline: none;
    }
  }
}
