//-----------------------------
// Dropdown
//-----------------------------

@import '../../globals/scss/colors';
@import '../../globals/scss/vars';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/layer';
@import '../../globals/scss/typography';
@import '../../globals/scss/import-once';
@import '../../globals/scss/css--reset';
@import '../../globals/scss/css--typography';

@include exports('dropdown') {
  .bx--dropdown {
    @include reset;
    @include helvetica;
    @include font-size('14');
    position: relative;
    list-style: none;
    display: block;
    background-color: $field-01;
    width: 100%;
    cursor: pointer;
    color: $text-01;

    &:focus {
      @include focus-outline('border');
    }

    &.bx--dropdown--open:focus {
      outline: 1px solid transparent;
      box-shadow: 0 -1px 0 0 $brand-01, 1px 0 0 0 $brand-01, -1px 0 0 0 $brand-01;
    }
  }

  .bx--dropdown__arrow {
    fill: $brand-01;
    position: absolute;
    right: 1rem;
    top: 1.175rem;
    width: rem(10px);
    height: rem(5px);
    pointer-events: none;
    transition: transform $transition--base ease-in-out;
    transform-origin: 50% 45%;
  }

  .bx--dropdown[data-value=''] .bx--dropdown-text {
    color: $text-03;
  }

  .bx--dropdown-text {
    padding-top: rem(13px);
    padding-bottom: rem(13px);
    padding-left: 1rem;
    font-weight: 700;
    border: $input-border;
  }

  .bx--dropdown-list {
    @include reset;
    @include layer('overlay');
    width: 100%;
    display: none;
    list-style: none;
    position: absolute;
    z-index: z('dropdown');
  }

  .bx--dropdown-link {
    display: block;
    color: currentColor;
    text-decoration: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1.5rem;

    &:hover, &:focus {
      background-color: $brand-01;
      color: $inverse-01;
      outline: 1px solid transparent;
    }
  }

  .bx--dropdown--selected {
    display: none;
  }

  .bx--dropdown--open {
    .bx--dropdown__arrow {
      transform: rotate(-180deg);
    }

    .bx--dropdown-list {
      @include font-size('14');
      display: flex;
      flex-direction: column;
      background-color: $ui-01;
    }

    &:focus {
      .bx--dropdown-list {
        box-shadow: 0 1px 0 0 $brand-01, 1px 0 0 0 $brand-01, -1px 0 0 0 $brand-01;
      }
    }
  }
}
