<span class="bx--tag bx--tag--ibm">IBM</span>
<span class="bx--tag bx--tag--beta">Beta</span>
<span class="bx--tag bx--tag--third-party">Third-Party</span>
<span class="bx--tag bx--tag--local">Local</span>
<span class="bx--tag bx--tag--dedicated">Dedicated</span>
<span class="bx--tag bx--tag--custom">Custom</span>
<span class="bx--tag bx--tag--experimental">Experimental</span>
<span class="bx--tag bx--tag--community">Community</span>
<span class="bx--tag bx--tag--private">Private</span>
