<button class="bx--btn" type="button" data-modal-target="#passive-modal">Passive modal</button>

<div data-modal id="passive-modal" class="bx--modal" tabindex="-1">
  <div class="bx--modal-inner">
    <div class="bx--modal-content">
      <div class="bx--modal__header">
        <button class="bx--modal__close" type="button" data-modal-close>
          <svg class="bx--modal__close--icon">
            <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v5/img/bluemix-icons.svg#close"></use>
          </svg>
        </button>
        <h4 class="bx--modal-content__label">Label (Optional)</h4>
        <h2 class="bx--modal-content__heading">Passive Modal Title</h2>
      </div>
      <p class="bx--modal-content__text">
        Passive modal notifications should only appear if there  is an action the user needs to address immediately.
        Passive modal notifications are persistent on screen.
      </p>
    </div>
  </div>
</div>
