@import '../../global/global';
@import 'vars';
@import 'extends';
@import 'mixins';

.bx--footer {
  @include footer;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
  }
}

.bx--footer--config {
  @include footer;

  display: flex;

  &__container {
    @include form__container;

    @media (max-width: 580px) {
      justify-content: flex-end;
    }
  }

  &__information {
    display: flex;

    @media (max-width: 580px) {
      display: none;
    }
  }

  &__support {
    margin-right: 4rem;

    @media (max-width: 825px) {
      display: none;
    }
  }

  &__support-question {
    @include font-size('14');
    padding-bottom: .25rem;
  }

  &__support-link {
    @include font-size('14');
    font-weight: 600;
    color: $color__footer--link;
    text-decoration: none;
  }

  &__submit {
    display: flex;
    align-items: center;
  }

  &__submit-price {
    @include letter-spacing;
    margin-right: 1rem;
    font-weight: 200;
  }

  &__settings-question {
    @include font-size('14');
    padding-bottom: .25rem;
  }
}
