$css--helpers: true;

@import '../../globals/scss/colors';
@import '../../globals/scss/typography';
@import '../../globals/scss/layout';
@import '../../globals/scss/css--helpers';
@import '../../globals/scss/import-once';
@import '../select/select';
@import '../text-input/text-input';

@include exports('pagination') {
  .bx--data-table-v2-container + .bx--pagination {
    border-top: 0;
  }

  .bx--pagination {
    @include reset;
    @include font-family;
    width: 100%;
    background-color: $ui-01;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    border: 1px solid $ui-04;

    .bx--form-item {
      flex: auto;
    }
  }

  .bx--pagination__left {
    display: flex;
    align-items: center;
  }

  .bx--pagination__right {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .bx--pagination__text {
    @include typescale('omega');
    color: $text-02;
    display: none;

    @include breakpoint('530px') {
      display: block;
    }
  }

  .bx--pagination__button-icon {
    height: rem(12px);
    width: rem(12px);
    fill: $ui-05;
    pointer-events: none;
    transition: $transition--base;
  }

  .bx--pagination__button {
    @include reset;
    border: none;
    background: none;
    cursor: pointer;

    &:hover {
      .bx--pagination__button-icon {
        fill: $brand-01;
      }
    }

    &:focus {
      @include focus-outline('border');
    }
  }

  .bx--pagination__button--backward {
    margin-left: rem(20px);
    margin-right: rem(28px);
  }

  .bx--pagination__button--forward {
    margin-left: rem(28px);
  }

  .bx--pagination {
    .bx--select {
      margin-right: rem(10px);
    }

    .bx--select--inline {
      margin-right: 0;
      width: rem(48px);
    }

    .bx--select-input {
      height: rem(24px);
      width: rem(54px);
      padding: 0 rem(8px);
      margin: 0;
      font-weight: 600;

      &:focus {
        @include focus-outline('border');
      }
    }

    .bx--select__arrow {
      right: 0.5rem;
      top: 0.625rem;
    }

    .bx--text-input {
      height: rem(24px);
      min-width: rem(24px);
      width: rem(24px);
      padding: 0;
      margin: 0;
      font-weight: 600;
      text-align: center;

      &:focus {
        @include focus-outline('border');
      }
    }
  }

  .bx--pagination--inline {
    height: 42px;
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
    margin-right: -1rem;

    .bx--pagination__button {
      height: 100%;
      border-left: 1px solid $ui-04;
      border-right: 1px solid $ui-04;
      padding-left: 0.9rem;
      padding-right: 0.9rem;
      margin: 0;
    }

    .bx--pagination__button--forward {
      border-right: 0;
    }

    .bx--pagination__button--backward {
      margin-left: 1rem;
    }

    .bx--select--inline {
      position: relative;
      top: -1.5px;
    }

    .bx--select-input {
      padding-left: 0.9rem;
    }

    .bx--select__arrow {
      right: 0.7rem;
    }
  }
}
