$color--card-background: #2A3840;
$color--card-foreground: #394952;
$color--card-border: #253139;
$color--card-content: white;
$color--card-metadata: color('blue', 30);

%flex--horizontal-start {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

%flex--horizontal-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

%flex--horizontal-end {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.object-card {
  @extend %flex--horizontal-start;
  flex-wrap: wrap;
  width: 18rem;
  height: auto;
  background-color: $color--card-background;
  border: 1px $color--card-border solid;
  margin-right: 2rem;
  transition: transform .2s;
  text-decoration: none;

  &:hover {
    transform: scale(1.02);
  }

  &__card-header {
    @extend %flex--horizontal-center;
    width: 100%;
    justify-content: center;
    padding-right: .5rem;
    border-bottom: 3px color('blue', 40) solid;
  }

  &__graph {
    width: 100%;
    height: 66px;
    background-color: $color--card-foreground;
  }

  &__card-metric {
    @extend %flex--horizontal-end;
    flex-wrap: wrap;
    width: 50%;
    border-bottom: 1px $color--card-border solid;
    border-right: 1px $color--card-border solid;
    padding: .8rem 0;

    &:last-child {
      border-right: none;
    }
  }

  &__card-metadata {
    @extend %flex--horizontal-center;
    width: 100%;
    padding: 0 1rem;
    border-bottom: 1px $color--card-border solid;

    &:last-child {
      border-bottom: none;
    }
  }
}

.card-header {

  &__title {
    @extend %helvetica-medium;
    padding: 1.2em 0;
    color: $color--card-content;
    letter-spacing: .035rem;
    font-size: .95rem;
  }

  &__icon {
    margin-right: 1em;
  }
}

.card-metric {

  &__figure {
    @extend %helvetica-bold;
    width: 100%;
    color: $color--card-content;
    font-size: 2.661rem;
    text-align: center;
  }

  &__unit {
    @extend %helvetica-light;
    // why can't I get this font to get lighter than 200?
    font-weight: 100;
    font-size: 1.3rem;
    margin-left: .1rem;
  }

  &__label {
    @extend %helvetica-light;
    width: 100%;
    transform: scaleX(.9);
    font-size: .8rem;
    text-align: center;
    letter-spacing: .015rem;
    text-transform: uppercase;
    color: $color--card-content;
  }
}

.card-metadata {

  &__icon {
    width: 1.125rem;
  }

  &__value {
    @extend %helvetica-light;
    flex: 1;
    padding: .8rem;
    white-space: nowrap;
    font-size: .8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $color--card-metadata;
  }
}
