//-----------------------------
// Notifications
//-----------------------------

@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/spacing';
@import '../../globals/scss/layer';
@import '../../globals/scss/typography';
@import '../../globals/scss/import-once';
@import '../../globals/scss/mixins';
@import '../../globals/scss/css--reset';
@import '../../globals/scss/css--typography';

@include exports('inline-notifications') {
  .#{$prefix}--inline-notification {
    @include reset;
    @include font-family;
    @include font-smoothing;
    @include typescale('zeta');
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    padding: $spacing-sm $spacing-md;
    min-height: rem(40px);
    color: $text-03;
    margin-top: $spacing-md;
    margin-bottom: $spacing-md;
  }

  .#{$prefix}--inline-notification--error {
    @include inline-notification--color($support-01);
  }

  .#{$prefix}--inline-notification--success {
    @include inline-notification--color($support-02);
  }

  .#{$prefix}--inline-notification--info {
    @include inline-notification--color($support-04);
  }

  .#{$prefix}--inline-notification--warning {
    @include inline-notification--color($support-03);
  }

  .#{$prefix}--inline-notification__details {
    display: flex;
    align-items: center;
  }

  .#{$prefix}--inline-notification__icon {
    height: 16px;
    width: 16px;
    min-width: 22px;
  }

  .#{$prefix}--inline-notification__text-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 $spacing-md;

    @media (max-width: 640px) {
      flex-direction: column;
      width: 100%;
    }
  }

  .#{$prefix}--inline-notification__title {
    @include typescale('zeta');
    font-weight: 600;
    margin: 0 $spacing-2xs 0 0;
    line-height: 1.125;
  }

  .#{$prefix}--inline-notification__subtitle {
    @include typescale('zeta');
    line-height: 1.125;
  }

  .#{$prefix}--inline-notification__close-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    height: 16px;
    width: 12px;
    position: relative;

    &:focus {
      @include focus-outline('border');
    }
  }

  .#{$prefix}--inline-notification__close-icon {
    height: 10px;
    width: 10px;
    fill: $text-03;
    position: absolute;
    top: 3px;
    right: 1px;
  }
}
