//-----------------------------
// Notifications
//-----------------------------

@import '../../globals/scss/colors';
@import '../../globals/scss/layer';
@import '../../globals/scss/typography';
@import '../../globals/scss/import-once';
@import '../../globals/scss/mixins';
@import '../../globals/scss/css--reset';
@import '../../globals/scss/css--typography';

@include exports('toast-notifications') {
  .bx--toast-notification {
    @include reset;
    @include font-family;
    @include font-smoothing;
    @include box-shadow('small');
    display: flex;
    justify-content: space-between;
    width: 16.875rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: $inverse-01;
    color: $text-01;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 1rem;

    &:first-child {
      margin-top: 1rem;
    }
  }

  .bx--toast-notification--error {
    @include notification--color($support-01);
  }

  .bx--toast-notification--success {
    @include notification--color($support-02);
  }

  .bx--toast-notification--info {
    @include notification--color($support-04);
  }

  .bx--toast-notification--warning {
    @include notification--color($support-03);
  }

  .bx--toast-notification__close-button {
    background-color: $inverse-01;
    border: none;
    cursor: pointer;
    margin: 0;
    width: 12px;
    height: 12px;
    position: relative;

    &:focus {
      @include focus-outline('border');
    }
  }

  .bx--toast-notification__icon {
    height: 10px;
    width: 10px;
    fill: $text-03;
    position: absolute;
    top: 1px;
    right: 1px;
  }

  .bx--toast-notification__title {
    @include typescale('zeta');
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1;
    padding-bottom: 0.125rem;
  }

  .bx--toast-notification__subtitle {
    @include typescale('omega');
    color: $text-03;
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.2;
  }

  .bx--toast-notification__caption {
    @include typescale('omega');
    color: $text-03;
    line-height: 1;
  }
}
