<!--replace xlink:href with correct svg icon API endpoint-->
<div data-notification class="bx--inline-notification bx--inline-notification--error" role="alert">
  <div class="bx--inline-notification__details">
      <svg class="bx--inline-notification__icon" aria-label="close">
        <use xlink:href="/@console/bluemix-icons/bluemix-icons.svg#error--glyph"></use>
      </svg>
    <div class="bx--inline-notification__text-wrapper">
      <p class="bx--inline-notification__title">Error Notification:</h3>
      <p class="bx--inline-notification__subtitle">Here is a clear explaination of the warning</p>
    </div>
  </div>
  <button data-notification-btn class="bx--inline-notification__close-button" type="button">
    <svg class="bx--inline-notification__close-icon" aria-label="close">
      <use xlink:href="/@console/bluemix-icons/bluemix-icons.svg#close"></use>
    </svg>
  </button>
</div>

<!--replace xlink:href with correct svg icon API endpoint-->
<div data-notification class="bx--inline-notification bx--inline-notification--info" role="alert">
  <div class="bx--inline-notification__details">
      <svg class="bx--inline-notification__icon" aria-label="close">
        <use xlink:href="/@console/bluemix-icons/bluemix-icons.svg#info--glyph"></use>
      </svg>
    <div class="bx--inline-notification__text-wrapper">
      <p class="bx--inline-notification__title">Info Notification:</h3>
      <p class="bx--inline-notification__subtitle">Here is a clear explaination of the warning</p>
    </div>
  </div>
  <button data-notification-btn class="bx--inline-notification__close-button" type="button">
    <svg class="bx--inline-notification__close-icon" aria-label="close">
      <use xlink:href="/@console/bluemix-icons/bluemix-icons.svg#close"></use>
    </svg>
  </button>
</div>

<!--replace xlink:href with correct svg icon API endpoint-->
<div data-notification class="bx--inline-notification bx--inline-notification--success" role="alert">
  <div class="bx--inline-notification__details">
    <svg class="bx--inline-notification__icon" aria-label="close">
      <use xlink:href="/@console/bluemix-icons/bluemix-icons.svg#checkmark--glyph"></use>
    </svg>
    <div class="bx--inline-notification__text-wrapper">
      <p class="bx--inline-notification__title">Success Notification:</p>
      <p class="bx--inline-notification__subtitle">Here is a clear explaination. It drops to next line if the content is long enough</p>
    </div>
  </div>
  <button data-notification-btn class="bx--inline-notification__close-button" type="button">
    <svg class="bx--inline-notification__close-icon" aria-label="close">
      <use xlink:href="/@console/bluemix-icons/bluemix-icons.svg#close"></use>
    </svg>
  </button>
</div>

<!--replace xlink:href with correct svg icon API endpoint-->
<div data-notification class="bx--inline-notification bx--inline-notification--warning" role="alert">
  <div class="bx--inline-notification__details">
    <svg class="bx--inline-notification__icon" aria-label="close">
      <use xlink:href="/@console/bluemix-icons/bluemix-icons.svg#warning--glyph"></use>
    </svg>
    <div class="bx--inline-notification__text-wrapper">
      <p class="bx--inline-notification__title">Warning Notification:</p>
      <p class="bx--inline-notification__subtitle">Here is a clear explaination. It drops to next line if the content is long enough</p>
    </div>
  </div>
  <button data-notification-btn class="bx--inline-notification__close-button" type="button">
    <svg class="bx--inline-notification__close-icon" aria-label="close">
      <use xlink:href="/@console/bluemix-icons/bluemix-icons.svg#close"></use>
    </svg>
  </button>
</div>
