<div data-notification class="bx--inline-notification bx--inline-notification--error" role="alert">
  <div class="bx--inline-notification__details">
    <svg class="bx--inline-notification__icon" width="16" height="16" viewBox="0 0 16 16">
      <path d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zM4 4.65L11.35 12l.65-.65L4.65 4 4 4.65z" fill-rule="evenodd" />
    </svg>
    <div class="bx--inline-notification__text-wrapper">
      <p class="bx--inline-notification__title">Notification title</p>
      <p class="bx--inline-notification__subtitle">Subtitle text goes here.</p>
    </div>
  </div>
  <button data-notification-btn class="bx--inline-notification__close-button" type="button">
    <svg class="bx--inline-notification__close-icon" aria-label="close" width="10" height="10" viewBox="0 0 10 10">
      <path d="M5.707 5L10 9.293 9.293 10 5 5.707.707 10 0 9.293 4.293 5 0 .707.707 0 5 4.293 9.293 0 10 .707 5.707 5z" fill-rule="nonzero"
      />
    </svg>
  </button>
</div>

<div data-notification class="bx--inline-notification bx--inline-notification--info" aria-live="polite">
  <div class="bx--inline-notification__details">
    <svg class="bx--inline-notification__icon" width="16" height="16" viewBox="0 0 16 16">
      <path d="M8.5 7.007h.005v-1h-2v1H7.5v3.991h-2v1h2V12h1v-.002h2v-1h-2V7.007zM8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zM8 4.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5z"
        fill-rule="evenodd" />
    </svg>
    <div class="bx--inline-notification__text-wrapper">
      <p class="bx--inline-notification__title">Notification title</p>
      <p class="bx--inline-notification__subtitle">Subtitle text goes here.</p>
    </div>
  </div>
  <button data-notification-btn class="bx--inline-notification__close-button" type="button">
    <svg class="bx--inline-notification__close-icon" aria-label="close" width="10" height="10" viewBox="0 0 10 10">
      <path d="M5.707 5L10 9.293 9.293 10 5 5.707.707 10 0 9.293 4.293 5 0 .707.707 0 5 4.293 9.293 0 10 .707 5.707 5z" fill-rule="nonzero"
      />
    </svg>
  </button>
</div>

<div data-notification class="bx--inline-notification bx--inline-notification--success" aria-live="polite">
  <div class="bx--inline-notification__details">
    <svg class="bx--inline-notification__icon" width="16" height="16" viewBox="0 0 16 16">
      <path d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.646-10.854L6.75 10.043 4.354 7.646l-.708.708 3.104 3.103 5.604-5.603-.708-.708z"
        fill-rule="evenodd" />
    </svg>
    <div class="bx--inline-notification__text-wrapper">
      <p class="bx--inline-notification__title">Notification title</p>
      <p class="bx--inline-notification__subtitle">Subtitle text goes here.</p>
    </div>
  </div>
  <button data-notification-btn class="bx--inline-notification__close-button" type="button">
    <svg class="bx--inline-notification__close-icon" aria-label="close" width="10" height="10" viewBox="0 0 10 10">
      <path d="M5.707 5L10 9.293 9.293 10 5 5.707.707 10 0 9.293 4.293 5 0 .707.707 0 5 4.293 9.293 0 10 .707 5.707 5z" fill-rule="nonzero"
      />
    </svg>
  </button>
</div>

<div data-notification class="bx--inline-notification bx--inline-notification--warning" role="alert">
  <div class="bx--inline-notification__details">
    <svg class="bx--inline-notification__icon" width="16" height="15" viewBox="0 0 16 15">
      <path d="M.482 14.978a.5.5 0 0 1-.44-.735L7.497.244a.5.5 0 0 1 .881-.002l7.543 13.998a.5.5 0 0 1-.44.738h-15zm7.5-2.247a.749.749 0 1 0 0-1.497.749.749 0 0 0 0 1.497zm-.5-7.738v4.992h.999V4.993h-.998z"
        fill-rule="evenodd" />
    </svg>
    <div class="bx--inline-notification__text-wrapper">
      <p class="bx--inline-notification__title">Notification title</p>
      <p class="bx--inline-notification__subtitle">Subtitle text goes here.</p>
    </div>
  </div>
  <button data-notification-btn class="bx--inline-notification__close-button" type="button">
    <svg class="bx--inline-notification__close-icon" aria-label="close" width="10" height="10" viewBox="0 0 10 10">
      <path d="M5.707 5L10 9.293 9.293 10 5 5.707.707 10 0 9.293 4.293 5 0 .707.707 0 5 4.293 9.293 0 10 .707 5.707 5z" fill-rule="nonzero"
      />
    </svg>
  </button>
</div>
