<div data-notification class="bx--toast-notification bx--toast-notification--error" role="alert">
  <div class="bx--toast-notification__details">
    <h3 class="bx--toast-notification__title">Title: 'App Name' is stopped</h3>
    <p class="bx--toast-notification__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, earum molestiae. Voluptates delectus, perferendis
      amet impedit dolor. Dolores unde fugit autem, error qui velit in molestiae sunt. Doloremque laudantium, est?Subtitle:
      Your application was stopped. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet magnam rem numquam,
      a iusto ab ducimus omnis quaerat dicta consectetur voluptatem voluptate culpa quo beatae quasi dolores maxime eos!</p>
    <p class="bx--toast-notification__caption">Caption: 00/00/00 10:47 AM</p>
  </div>
  <button data-notification-btn class="bx--toast-notification__close-button" type="button">
    <svg class="bx--toast-notification__close-icon" aria-label="close" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:none;}</style></defs><title>Carbon—Duo</title><g id="Icon"><polygon points="26 7.41 24.59 6 16 14.59 7.41 6 6 7.41 14.59 16 6 24.59 7.41 26 16 17.41 24.59 26 26 24.59 17.41 16 26 7.41"/></g><g id="Transparent_Rectangle" data-name="Transparent Rectangle"><rect class="cls-1" width="32" height="32"/></g></svg>          
  </button>
</div>

<div data-notification class="bx--toast-notification bx--toast-notification--info" aria-live="polite">
  <div class="bx--toast-notification__details">
    <h3 class="bx--toast-notification__title">Title: 'App Name' is stopped</h3>
    <p class="bx--toast-notification__subtitle">Subtitle: Your application was stopped.</p>
    <p class="bx--toast-notification__caption">Caption: 00/00/00 10:47 AM</p>
  </div>
  <button data-notification-btn class="bx--toast-notification__close-button" type="button">
    <svg class="bx--toast-notification__close-icon" aria-label="close" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:none;}</style></defs><title>Carbon—Duo</title><g id="Icon"><polygon points="26 7.41 24.59 6 16 14.59 7.41 6 6 7.41 14.59 16 6 24.59 7.41 26 16 17.41 24.59 26 26 24.59 17.41 16 26 7.41"/></g><g id="Transparent_Rectangle" data-name="Transparent Rectangle"><rect class="cls-1" width="32" height="32"/></g></svg>
  </button>
</div>

<div data-notification class="bx--toast-notification bx--toast-notification--success" aria-live="polite">
  <div class="bx--toast-notification__details">
    <h3 class="bx--toast-notification__title">Title: 'App Name' is stopped</h3>
    <p class="bx--toast-notification__subtitle">Subtitle: Your application was stopped.</p>
    <p class="bx--toast-notification__caption">Caption: 00/00/00 10:47 AM</p>
  </div>
  <button data-notification-btn class="bx--toast-notification__close-button" type="button">
    <svg class="bx--toast-notification__close-icon" aria-label="close" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:none;}</style></defs><title>Carbon—Duo</title><g id="Icon"><polygon points="26 7.41 24.59 6 16 14.59 7.41 6 6 7.41 14.59 16 6 24.59 7.41 26 16 17.41 24.59 26 26 24.59 17.41 16 26 7.41"/></g><g id="Transparent_Rectangle" data-name="Transparent Rectangle"><rect class="cls-1" width="32" height="32"/></g></svg>
  </button>
</div>

<div data-notification class="bx--toast-notification bx--toast-notification--warning" role="alert">
  <div class="bx--toast-notification__details">
    <h3 class="bx--toast-notification__title">Title: 'App Name' is stopped</h3>
    <p class="bx--toast-notification__subtitle">Subtitle: Your application was stopped.</p>
    <p class="bx--toast-notification__caption">Caption: 00/00/00 10:47 AM</p>
  </div>
  <button data-notification-btn class="bx--toast-notification__close-button" type="button">
    <svg class="bx--toast-notification__close-icon" aria-label="close" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:none;}</style></defs><title>Carbon—Duo</title><g id="Icon"><polygon points="26 7.41 24.59 6 16 14.59 7.41 6 6 7.41 14.59 16 6 24.59 7.41 26 16 17.41 24.59 26 26 24.59 17.41 16 26 7.41"/></g><g id="Transparent_Rectangle" data-name="Transparent Rectangle"><rect class="cls-1" width="32" height="32"/></g></svg>
  </button>
</div>
