<!--replace xlink:href with correct svg icon API endpoint-->
<div data-notification class="bx--toast-notification bx--toast-notification--error" role="alert">
  <div class="bx--toast-notification__details">
    <h3 class="bx--toast-notification__title">Title: 'App Name' is stopped</h3>
    <p class="bx--toast-notification__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, earum molestiae. Voluptates delectus, perferendis
      amet impedit dolor. Dolores unde fugit autem, error qui velit in molestiae sunt. Doloremque laudantium, est?Subtitle:
      Your application was stopped. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet magnam rem numquam,
      a iusto ab ducimus omnis quaerat dicta consectetur voluptatem voluptate culpa quo beatae quasi dolores maxime eos!</p>
    <p class="bx--toast-notification__caption">Caption: 00/00/00 10:47 AM</p>
  </div>
  <button data-notification-btn class="bx--toast-notification__close-button" type="button">
    <svg class="bx--toast-notification__icon" aria-label="close" width="10" height="10" viewBox="0 0 10 10" fill-rule="evenodd">
      <path d="M9.8 8.6L8.4 10 5 6.4 1.4 10 0 8.6 3.6 5 .1 1.4 1.5 0 5 3.6 8.6 0 10 1.4 6.4 5z"></path>
    </svg>
  </button>
</div>

<div data-notification class="bx--toast-notification bx--toast-notification--info" role="alert">
  <div class="bx--toast-notification__details">
    <h3 class="bx--toast-notification__title">Title: 'App Name' is stopped</h3>
    <p class="bx--toast-notification__subtitle">Subtitle: Your application was stopped.</p>
    <p class="bx--toast-notification__caption">Caption: 00/00/00 10:47 AM</p>
  </div>
  <button data-notification-btn class="bx--toast-notification__close-button" type="button">
    <svg class="bx--toast-notification__icon" aria-label="close" width="10" height="10" viewBox="0 0 10 10" fill-rule="evenodd">
      <path d="M9.8 8.6L8.4 10 5 6.4 1.4 10 0 8.6 3.6 5 .1 1.4 1.5 0 5 3.6 8.6 0 10 1.4 6.4 5z"></path>
    </svg>
  </button>
</div>

<div data-notification class="bx--toast-notification bx--toast-notification--success" role="alert">
  <div class="bx--toast-notification__details">
    <h3 class="bx--toast-notification__title">Title: 'App Name' is stopped</h3>
    <p class="bx--toast-notification__subtitle">Subtitle: Your application was stopped.</p>
    <p class="bx--toast-notification__caption">Caption: 00/00/00 10:47 AM</p>
  </div>
  <button data-notification-btn class="bx--toast-notification__close-button" type="button">
    <svg class="bx--toast-notification__icon" aria-label="close" width="10" height="10" viewBox="0 0 10 10" fill-rule="evenodd">
      <path d="M9.8 8.6L8.4 10 5 6.4 1.4 10 0 8.6 3.6 5 .1 1.4 1.5 0 5 3.6 8.6 0 10 1.4 6.4 5z"></path>
    </svg>
  </button>
</div>

<div data-notification class="bx--toast-notification bx--toast-notification--warning" role="alert">
  <div class="bx--toast-notification__details">
    <h3 class="bx--toast-notification__title">Title: 'App Name' is stopped</h3>
    <p class="bx--toast-notification__subtitle">Subtitle: Your application was stopped.</p>
    <p class="bx--toast-notification__caption">Caption: 00/00/00 10:47 AM</p>
  </div>
  <button data-notification-btn class="bx--toast-notification__close-button" type="button">
    <svg class="bx--toast-notification__icon" aria-label="close" width="10" height="10" viewBox="0 0 10 10" fill-rule="evenodd">
      <path d="M9.8 8.6L8.4 10 5 6.4 1.4 10 0 8.6 3.6 5 .1 1.4 1.5 0 5 3.6 8.6 0 10 1.4 6.4 5z"></path>
    </svg>
  </button>
</div>
