.form-wrapper {
  padding-left: 10rem;
  padding-top: 3rem;
}

.notification {
  margin-top: 7rem;
  margin-left: 10rem;
}

.notification .cds--actionable-notification__action-button {
  display: none;
}
