.form-wrapper {
  padding-block-start: 3rem;
  padding-inline-start: 10rem;
}

.notification {
  margin-block-start: 7rem;
  margin-inline-start: 10rem;
}

.notification .cds--actionable-notification__action-button {
  display: none;
}
