@mixin content-switcher {
  @include reset;
  @include font-size('14');
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: .87rem 2rem;
  margin: 0;
  text-decoration: none;
  border: 1px solid $brand-01;
  color: $brand-01;

  &:not(:last-of-type) {
    border-right: none;
  }

  &:hover,
  &:focus {
    cursor: pointer;
  }

  &:focus {
    @include focus-outline;
  }

  &:hover,
  &:active {
    background-color: $brand-02;
    border-color: $brand-02;
    color: $inverse-01;
  }

  &:first-of-type {
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;

    &:hover {
      border-color: $brand-02;
    }
  }

  &:last-of-type {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

    &:hover {
      border-color: $brand-02;
    }
  }
}