<!-- Content Switcher (anchor tags) -->
<div data-content-switcher class="bx--content-switcher">
  <a href="javascript:void(0)" class="bx--content-switcher__btn bx--content-switcher--selected" data-target=".demo--panel--opt-1">Anchor tags 1</a>
  <a href="javascript:void(0)" class="bx--content-switcher__btn" data-target=".demo--panel--opt-2">Anchor tags 2</a>
  <a href="javascript:void(0)" class="bx--content-switcher__btn" data-target=".demo--panel--opt-3">Anchor tags 3</a>
</div>

<!-- Content Switcher (button tags) -->
<div data-content-switcher class="bx--content-switcher">
  <button class="bx--content-switcher__btn bx--content-switcher--selected" data-target=".demo--panel--opt-1">Button tag 1</button>
  <button class="bx--content-switcher__btn" data-target=".demo--panel--opt-2">Button tag 2</button>
  <button class="bx--content-switcher__btn" data-target=".demo--panel--opt-3">Button tag 3</button>
</div>