<div data-content-switcher class="bx--content-switcher" role="tablist" aria-label="Demo switch content">
  <button class="bx--content-switcher-btn bx--content-switcher--selected" data-target=".demo--panel--opt-1" role="tab" aria-selected="true">First section</button>
  <button class="bx--content-switcher-btn" data-target=".demo--panel--opt-2" role="tab">Second section</button>
  <button class="bx--content-switcher-btn" data-target=".demo--panel--opt-3" role="tab">Third section</button>
</div>
  