@import '../../import-once';

@include exports('global-header') {
  .bx--global-header {
    @include reset;
    @include helvetica;
    width: 100%;
    position: fixed;
    top: $height--top-nav;
    left: 0;
    display: flex;
    justify-content: space-between;
    height: $height--global-nav;
    line-height: 1.5;
    background-color: $color__blue-90;
    // box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, .1);
    z-index: 9000;

    &__title {
      @include reset;
      display: flex;
      align-items: center;

      &--logo {
        @include reset;
        display: flex;
        align-items: center;
        padding: 0 rem(8px) 0 rem(8px);
        text-decoration: none;
        color: $color__white;
        position: relative;

        &:hover, &:focus {
          .bx--logo__text {
            color: $color__blue-20;
          }
        }

        //
        // &:after {
        //   content: '';
        //   position: absolute;
        //   top: -4px;
        //   left: 18px;
        //   width: 2rem;
        //   height: 2rem;
        //   background-color: transparent;
        //   border: 2px solid $color__blue-30;
        //   border-radius: 50%;
        //   z-index: -1;
        //   transition: .5s;
        //   animation-name: pulse;
        //   animation-duration: 2s;
        //   animation-iteration-count: infinite;
        //   animation-direction: alternate;
        // }
        //
        // &:before {
        //   content: '';
        //   position: absolute;
        //   top: -10px;
        //   left: 12px;
        //   width: 2.75rem;
        //   height: 2.75rem;
        //   background-color: transparent;
        //   border: 3px solid $color__blue-30;
        //   border-radius: 50%;
        //   z-index: -1;
        //   transition: .5s;
        //   animation-name: pulse2;
        //   animation-duration: 1.5s;
        //   animation-iteration-count: infinite;
        // }
      }

      &--current-page {
        @include reset;
        @include font-smoothing;
        display: flex;
        align-items: center;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: inherit;
        color: $color__blue-30;

        .bx--unified-header--apps & {
          @include light-ui {
            color: $color__teal-40;
          }
        }

        .bx--unified-header--infrastructure & {
          @include light-ui {
            color: $color__blue-40;
          }
        }

        .bx--unified-header--services & {
          @include light-ui {
            color: $color__purple-30;
          }
        }
      }
    }

    .bx--logo {
      &__image {
        @include reset;
        cursor: pointer;
        position: relative;
        margin-right: 1.125rem;
      }

      &__text {
        @include reset;
        @include font-size('18');
        @include font-smoothing;
        font-weight: 400;
        cursor: pointer;
        text-decoration: none;
        color: $color__white;

        &--bold {
          font-weight: 700;
        }
      }
    }

    &__left-container {
      @include reset;
      display: flex;
      align-items: center;
    }

    &__right-container {
      @include reset;
      display: flex;
      align-items: center;
      padding-right: 1%;
      background-color: $color__blue-90;
    }
  }

  .bx--global-header__menu {
    @include reset;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: flex-end;

    &__item {
      @include reset;
      width: 100%;
      flex: 0 1 100px;

      &:focus {
        outline: 0;
        background-color: $color__navy-gray-3;
        color: $color__blue-30;
      }

      &--link {
        @include reset;
        @include font-smoothing;
        @include font-size('14');
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        height: $height--global-nav;
        text-decoration: none;
        background-color: $color__blue-90;
        color: $color__white;
        padding: 0 1rem;

        @include light-ui {
          color: $color__white;
        }

        &:hover {
          color: $color__blue-30;
        }

        &:focus {
          outline: 0;
          background-color: $color__navy-gray-3;
          color: $color__blue-30;
        }
      }

      &:last-child {
        & .bx--dropdown__list {
          right: 0;
        }
      }
    }

    .bx--dropdown {
      height: $height--global-nav;
      background-color: transparent;

      &:focus {
        outline: 0;
        background-color: $color__navy-gray-3;

        .bx--dropdown__menu-text {
          color: $color__blue-30;
        }

        .bx--dropdown__menu-text, .bx--dropdown__list {
          outline: 0;
        }
      }

      &__menu-text {
        @include font-smoothing;
        height: 100%;
        display: flex;
        justify-content: center;
        padding: 0 1rem;
        align-items: center;
        height: 100%;
        z-index: 1000;
        color: $color__white;

        &:hover {
          color: $color__blue-30;
        }
      }

      &__list {
        transition: $transition--base all $bx--standard-easing;
        transform: translateY(-150%);
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        width: auto;
        z-index: -1;
        padding-bottom: .5rem;

        &-item {
          min-width: 200px;
          width: 100%;
        }
      }

      &__link {
        padding: .5rem .75rem;
        color: $color__white;

        &:hover {
          color: $color__blue-90;
          background-color: $color__blue-30;
        }
      }

      &--open {
        .bx--dropdown {
          &__menu-text {
            background-color: $color__navy-gray-3;
            color: $color__blue-30;
          }

          &__list {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
            background-color: $color__navy-gray-3;
          }
        }
      }
    }
  }
}
