.bx--global-header {
  @include helvetica;
  width: 100%;
  padding-right: 3%;
  position: fixed;
  top: 40px;
  display: flex;
  height: $height--global-nav;
  line-height: 1.5;
  background-color: $color__blue-90;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, .1);

  &__title {
    display: flex;
    align-items: center;

    &--logo {
      display: flex;
    }

    &--current-page {
      @include font-smoothing;
      display: flex;
      align-items: center;
      font-weight: 400;

      .unified-header--applications & {
        color: $color__teal-30;
      }

      .unified-header--infrastructure & {
        color: $color__blue-30;
      }

      .unified-header--services & {
        color: $color__purple-40;
      }
    }
  }

  .logo {

    &__image {
      margin-right: .5rem;
    }

    &__text {
      @include font-size('18');
      @include font-smoothing;
      font-weight: 400;

      &--bold {
        font-weight: 700;
      }
    }
  }

  &__left-container {
    display: flex;
    align-items: center;
  }
}
