.bx--global-header__left-nav {
  z-index: z('overlay');
  position: fixed;
  left: 0;
  width: rem(250px);
  top: $height--top-nav;
  transform: translateX(-100%);
  transition: .3s ease-in-out;

  &.left-nav--active {
    transform: translateX(0);
  }

  hr {
    margin: 0 1.5rem;
    height: 1px;
    border-width: 0;
    background-color: $color__gray-2;
    border-style: inset;
  }
}

.left-nav__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  height: $height--global-nav;
  transition: .3s ease-in-out;
  cursor: pointer;

  &[data-left-nav-current-section='Applications'] {
    background-color: $color__teal-40;
  }

  &[data-left-nav-current-section='Infrastructure'] {
    background-color: $color__blue-30;
  }

  &[data-left-nav-current-section='Services'] {
    background-color: $color__purple-40;
  }

  &--title {
    @include font-size('18');
    @include font-smoothing;
    color: $color__white;
    font-weight: 700;
  }

  &--close-icon {
    width: rem(13px);
    height: rem(13px);
    fill: $color__white;
  }
}

.left-nav__trigger {
  width: rem(55px);
  height: rem(50px);
  background-color: $color__blue-90;
  border-right: 1px solid transparent;

  .left-nav--active & {
    background-color: $color__white;
    border-right: 1px solid $color__gray-1;
  }

  &--btn {
    padding: 1.525rem;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    span,
    span:before,
    span:after {
      height: rem(2px);
      cursor: pointer;
      position: absolute;
      display: block;
      content: '';
      transition: all $transition--base ease;

      .unified-header--applications & {
        background: $color__teal-30;
      }

      .unified-header--infrastructure & {
        background: $color__blue-30;
      }

      .unified-header--services & {
        background: $color__purple-40;
      }
    }

    span {
      width: .75rem;
    }

    span:before {
      width: 1rem;
    }

    span:after {
      width: .85rem;
    }

    span:before {
      top: rem(-5px);
    }

    span:after {
      bottom: rem(-5px);
    }
  }
}

.left-nav {
  display: block;
  height: 100vh;
  width: 100%;
  background-color: $color__white;
  padding: 0 0 2rem 0;
  z-index: z('overlay');
  box-shadow: none;

  & > .left-nav-list {
    opacity: 0;
  }

  .left-nav--active & {
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, .1);

    & > .left-nav-list {
      opacity: 1;
      padding-top: 1rem;
    }
  }
}

.left-nav-list {
  display: flex;
  flex-direction: column;

  &__item {
    cursor: pointer;
    width: 100%;
    padding: 0;

    &--active {

      & > .left-nav-list__item-link {
        background-color: $color__navy-gray-9;
        color: $color__blue-51;
        font-weight: 700;
      }
    }

    &-link {
      @include font-size('14');
      font-weight: 400;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $color__navy-gray-3;
      text-decoration: none;
      transition: $transition--base;
      padding: .5rem 1.5rem;
    }

    &-icon {
      display: flex;

      .icon {
        fill: $color__blue-40;
        width: rem(10px);
        height: rem(10px);
        transition: $transition--base;
      }
    }

    &--expanded {

      .left-nav-list--nested {
        max-height: 20rem;
        transition: .3s ease-in;
        overflow: inherit;
        opacity: 1;
      }

      .left-nav-list__item-icon .icon {
        transform: rotate(180deg);
      }
    }

    &:not(.left-nav-list__item--has-children):hover {

      .left-nav-list__item-link {
        @include font-smoothing;
        background-color: $color__navy-gray-9;
        color: $color__blue-51;
        font-weight: 700;
      }
    }
  }

  &__item--has-children {

    &:hover {

      .left-nav-list__item-link:not(.left-nav-list__item--active .left-nav-list__item-link) {
        background-color: $color__white;
        color: $color__blue-90;
        font-weight: 400;
      }
    }
  }
}

.left-nav-list--nested {
  max-height: 0;
  overflow: hidden;
  transition: .3s ease-in-out;
  padding: 0;
  opacity: 0;

  .left-nav-list__item {
    width: 100%;
    position: relative;
    padding: 0;
    transition: $transition--base;

    &-link {
      @include font-size('14');
      color: $color__navy-gray-3;
      padding: .5rem 1.35rem .5rem 2rem;
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &:hover {
      background-color: $color__navy-gray-9;
      color: $color__blue-51;

      & > .left-nav-list__item-link {
        @include font-smoothing;
        color: $color__blue-51;
        font-weight: 700;
      }

      .left-nav-list--flyout--arrow-icon {
        fill: $color__blue-51;
      }

      .left-nav-list--flyout {
        display: block;

        & > .left-nav-list__item .left-nav-list__item-link {
          color: $color__blue-90;
          background-color: $color__white;
          font-weight: 400;
        }

        & > .left-nav-list__item {

          &:hover {

            .left-nav-list__item-link {
              background-color: $color__navy-gray-9;
              color: $color__blue-51;
              font-weight: 700;
              padding-right: .75rem;
            }
          }
        }

        & > .left-nav-list__item--active .left-nav-list__item-link {
          color: $color__blue-51;
        }
      }
    }

    &--active {
      background-color: $color__navy-gray-9;
      color: $color__blue-51;

      .left-nav-list--flyout--arrow-icon {
        fill: $color__blue-51;
      }

      .left-nav-list__item-link {
        color: $color__blue-51;
        font-weight: 700;
      }
    }
  }
}

.left-nav-list--flyout {
  display: none;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, .25);
  position: absolute;
  background-color: $color__white;
  top: 0;
  left: rem(250px);
  padding: 0 0 .5rem;
  min-width: auto;
  white-space: nowrap;
  transition: .3s ease-in-out;
  z-index: 9000;

  &--arrow {

    &-icon {
      width: 10px;
      height: 10px;
      fill: $color__blue-90;
    }
  }

  .left-nav-list__item {
    margin: 0;
    transition: .2s;
    height: rem(36px);
    display: flex;
    align-items: center;

    &-link {
      @include font-size('14');
      padding: 0 1.5rem 0 1rem;
    }

    &--active {
      .left-nav-list__item-link {
        color: $color__blue-51;
      }
    }
  }
}

.left-nav__sections {
  outline: none;
  padding: 0 0 2rem;

  .left-nav__section {
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    height: rem(50px);
    cursor: pointer;
    background-color: $color__white;
    transition: $transition--base ease-in-out;

    &--hidden {
      display: none;
    }

    &--link {
      @include font-size('16');
      @include font-smoothing;
      color: $color__blue-90;
      text-decoration: none;
    }

    &:hover {
      .left-nav__section--link {
        @include font-size('18');
        font-weight: 700;
        color: $color__white;
      }
    }

    &--applications {
      &:hover {
        background-color: $color__teal-40;
      }
    }

    &--infrastructure {
      &:hover {
        background-color: $color__blue-30;
      }
    }

    &--services {
      &:hover {
        background-color: $color__purple-40;
      }
    }
  }
}

// DEMO CONTAINER
body,
.demo-container {
  background-color: $color__gray-3;
}

.demo--container {
  padding: 0 !important;
  display: flex;
}
