.bx--top-nav {
  display: flex;
  justify-content: space-between;
  background-color: $color__navy-gray-1;
  width: 100%;
  min-width: 500px;
  height: auto;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  left: 0;

  &__account,
  &__profile {
    display: flex;
    align-items: center;
    flex: 1;
  }

  &__account {
    &--item {
      margin-right: .25rem;

      &:last-child {
        margin-right: 0;
      }

      .bx--dropdown {
        &__menu-text {
          padding-left: 2rem;
          padding-right: 1rem;
        }

        &__arrow {
          top: .5rem;
          left: .75rem;
          transform: rotate(0);

          use {
            fill: #fff;
          }
        }
      }
    }
  }

  &__profile {
    justify-content: flex-end;
    align-items: center;

    &--item {
      margin-left: 1rem;
      height: 100%;
      min-width: 100px;
      display: flex;
      align-items: center;

      .bx--dropdown {
        &__menu-text {
          padding-right: 2rem;
        }
      }

      &:last-child {
        min-width: 0;

        .bx--dropdown__list {
          right: 0;
          left: initial;
        }
      }
    }
  }

  &__item {
    &--icon {
      fill: #fff;
      height: 2rem;
      width: 2rem;
    }
  }

  .bx--dropdown[data-value=''] .bx--dropdown__menu-text {
    color: $color__white;
    letter-spacing: .5px;

    .bx--dropdown--open & {
      color: red;
    }
  }

  .bx--dropdown {
    background-color: $color__navy-gray-1;
    color: $color__white;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: .75rem;

    &--open {
      background-color: $color__navy-gray-3;
      z-index: 2;

      .bx--dropdown[data-value=''] .bx--dropdown__menu-text {
        color: $color__blue-40;
      }

      .bx--dropdown__menu-text {
        color: $color__blue-40;
      }

      .bx--dropdown__arrow use {
        fill: $color__blue-40;
      }
    }

    &__arrow {
      transform-origin: 50% 40%;
    }

    &__list {
      width: auto;
      position: absolute;
      left: 0;
      top: 100%;
      background-color: $color__navy-gray-3;
      z-index: 9000;

      &-item {
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;

        &:hover {
          background-color: $color__blue-51;
          color: $color__white;
        }
      }
    }

    &__menu-text {
      @include font-smoothing;
      max-width: 200px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-weight: 700;

      &--icon {
        padding: 0 .5rem;
      }
    }
  }
}
