.bx--top-nav {
  display: flex;
  justify-content: space-between;
  background-color: $color__navy-gray-1;
  width: 100%;
  min-width: 500px;
  height: auto;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: z('overlay');

  &__account,
  &__profile {
    display: flex;
    align-items: center;
    flex: 1;
  }

  &__account {
    &--item {
      margin-right: .25rem;

      &:last-child {
        margin-right: 0;
      }

      .bx--dropdown {
        &__menu-text {
          padding-left: 2rem;
          padding-right: 1rem;
        }

        &__arrow {
          top: .5rem;
          left: .75rem;
          transform: rotate(0);

          use {
            .unified-header--applications & {
              fill: $color__teal-30;
            }

            .unified-header--infrastructure & {
              fill: $color__blue-30;
            }

            .unified-header--services & {
              fill: $color__purple-40;
            }
          }
        }
      }
    }
  }

  &__profile {
    justify-content: flex-end;
    align-items: center;

    &--item {
      margin-left: 1rem;
      height: 100%;
      min-width: 100px;
      display: flex;
      align-items: center;

      .bx--dropdown {
        &__menu-text {
          padding-right: 2rem;
        }

        &__arrow {
          use {
            .unified-header--applications & {
              fill: $color__teal-30;
            }

            .unified-header--infrastructure & {
              fill: $color__blue-30;
            }

            .unified-header--services & {
              fill: $color__purple-40;
            }
          }
        }
      }

      &:last-child {
        min-width: 0;

        .bx--dropdown__list {
          right: 0;
          left: initial;
        }
      }
    }
  }

  &__item {
    &--icon {
      height: 2rem;
      width: 2rem;

      .unified-header--applications & {
        fill: $color__teal-30;
      }

      .unified-header--infrastructure & {
        fill: $color__blue-30;
      }

      .unified-header--services & {
        fill: $color__purple-40;
      }
    }
  }

  .bx--dropdown[data-value=''] .bx--dropdown__menu-text {
    color: $color__white;
    letter-spacing: .5px;
  }

  .bx--dropdown {
    background-color: $color__navy-gray-1;
    color: $color__white;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: .75rem;

    &:focus {
      @include focus-outline;
    }

    &--open {
      background-color: $color__navy-gray-3;
      z-index: 2;

      .bx--dropdown[data-value=''] .bx--dropdown__menu-text {
        color: $color__blue-40;
      }

      .bx--dropdown__menu-text {
        color: $color__blue-40;

        .unified-header--applications & {
          color: $color__teal-30;
        }

        .unified-header--infrastructure & {
          color: $color__blue-30;
        }

        .unified-header--services & {
          color: $color__purple-40;
        }
      }

      .bx--dropdown__arrow use {

        .unified-header--applications & {
          fill: $color__teal-30;
        }

        .unified-header--infrastructure & {
          fill: $color__blue-30;
        }

        .unified-header--services & {
          fill: $color__purple-40;
        }
      }
    }

    &__arrow {
      transform-origin: 50% 40%;
    }

    &__list {
      width: auto;
      position: absolute;
      left: 0;
      top: 100%;
      background-color: $color__navy-gray-3;
      z-index: 9000;

      .bx--global-light-ui & {
        background-color: $color__navy-gray-3;
      }

      &-item {
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;

        &:hover {
          color: $color__blue-90;

          .unified-header--applications & {
            background-color: $color__teal-30;
          }

          .unified-header--infrastructure & {
            background-color: $color__blue-30;
          }

          .unified-header--services & {
            background-color: $color__purple-40;
          }
        }
      }
    }

    &__menu-text {
      @include font-smoothing;
      max-width: 200px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-weight: 700;

      &--icon {
        padding: 0 .5rem;
      }
    }
  }
}
