@import '../../globals/scss/colors';
@import '../../globals/scss/typography';
@import '../../globals/scss/layer';
@import '../../globals/scss/import-once';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/css--reset';
@import '../button/button';

@include exports('copy-button') {
  .bx--btn--copy {
    position: relative;
    overflow: visible;

    .bx--btn__icon {
      margin-left: rem(5px);
    }
  }

  .bx--btn--copy__feedback {
    position: absolute;
    display: none;
    top: 1.2rem;
    left: 50%;

    &:before {
      @include layer('overlay');
      @include typescale('omega');
      top: 1.1rem;
      padding: 0.5rem 1rem;
      border: 1px solid $ui-04;
      color: $text-01;
      content: attr(data-feedback);
      transform: translateX(-50%);
      white-space: nowrap;
      pointer-events: none;
    }

    &:after {
      top: 0.85rem;
      width: 0.5rem;
      height: 0.5rem;
      border-right: 1px solid $ui-04;
      border-bottom: 1px solid $ui-04;
      content: '';
      transform: rotate(-135deg);
    }

    &:before,
    &:after {
      position: absolute;
      display: block;
      background: $ui-01;
    }

    &--displayed {
      display: inline-flex;
    }
  }
}
