//-----------------------------
// ComboBox
//-----------------------------

@import '../../globals/scss/colors';
@import '../../globals/scss/css--helpers';
@import '../../globals/scss/layout';
@import '../../globals/scss/import-once';
@import '../../globals/scss/vars';
@import '../list-box/list-box';

@include exports('combo-box') {
  .bx--combo-box > .bx--list-box__field {
    padding: 0;
  }
}
