@import '_partials/vars';
@import '_partials/extends';

.checkbox {
  @extend %checkbox;
  cursor: pointer;
  line-height: 2;
  font-size: .875rem;

  &__label {
    position: relative;
    font-weight: bold;
  }
}

.checkbox__input {
  @extend %checkbox;
}

