@import '../../scss/grid';
@import '../../scss/aspect-ratio';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.outside {
  background-color: #dbeaff;
  outline: 1px solid #97c1ff;
  height: 80px;
}

.inside {
  background-color: #edf4ff;
  height: 100%;
}

[class*='col'] {
  outline: 1px dashed #97c1ff;
}

.bx--fluid-grid,
.bx--grid {
  outline: 1px dashed #97c1ff;
}

.bx--grid.bx--grid--condensed {
  background: #000000;
  color: white;
  outline: none;
}

.bx--grid.bx--grid--condensed [class*='col'] {
  outline: none;
}

.bx--grid--condensed .outside {
  background: #282828;
  outline: none;
}

.bx--grid--condensed .inside {
  background: #3d3d3d;
}

.full-bleed-example {
  background-color: #3d3d3d;
  color: white;
}
