<nav role="navigation" aria-label="Interior Left Navigation" data-interior-left-nav class="bx--interior-left-nav bx--interior-left-nav--collapseable">
  <ul role="menubar" class="left-nav-list" data-interior-left-nav-list aria-hidden="false">
    <li role="menuitem" tabindex="0" class="left-nav-list__item" data-interior-left-nav-item>
      <a class="left-nav-list__item-link">
        Example Item 1
      </a>
    </li>
    <li role="menuitem" tabindex="0" class="left-nav-list__item" data-interior-left-nav-item>
      <a class="left-nav-list__item-link">
        Example Item 2
      </a>
    </li>
    <li role="menuitem" tabindex="0" class="left-nav-list__item left-nav-list__item--has-children" data-interior-left-nav-item
      data-interior-left-nav-with-children>
      <a class="left-nav-list__item-link">
        Example Item 3
        <div class="left-nav-list__item-icon">
          <svg class="bx--interior-left-nav__icon" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:none;}</style></defs><title>Carbon—Duo</title><g id="Icon"><polygon points="25 12 16 22 7 12 25 12"/></g><g id="Transparent_Rectangle" data-name="Transparent Rectangle"><rect class="cls-1" width="32" height="32"/></g></svg>            
        </div>
      </a>
      <ul role="menu" aria-hidden="true" class="left-nav-list left-nav-list--nested" data-interior-left-nav-nested-list>
        <li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
          <a href="#example-item-1A" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 1A</a>
        </li>
        <li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
          <a href="#example-item-1B" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 1B</a>
        </li>
        <li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
          <a href="#example-item-1C" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 1C</a>
        </li>
        <li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
          <a href="#example-item-1D" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 1D</a>
        </li>
      </ul>
    </li>
    <li role="menuitem" tabindex="0" class="left-nav-list__item left-nav-list__item--has-children" data-interior-left-nav-item
      data-interior-left-nav-with-children>
      <a class="left-nav-list__item-link">
        Example Item 4
        <div class="left-nav-list__item-icon">
          <svg class="bx--interior-left-nav__icon" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:none;}</style></defs><title>Carbon—Duo</title><g id="Icon"><polygon points="25 12 16 22 7 12 25 12"/></g><g id="Transparent_Rectangle" data-name="Transparent Rectangle"><rect class="cls-1" width="32" height="32"/></g></svg>            
        </div>
      </a>
      <ul role="menu" aria-hidden="true" class="left-nav-list left-nav-list--nested" data-interior-left-nav-nested-list>
        <li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
          <a href="#example-item-2A" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 2A</a>
        </li>
        <li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
          <a href="#example-item-2B" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 2B</a>
        </li>
        <li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
          <a href="#example-item-2C" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 2C</a>
        </li>
        <li class="left-nav-list__item" data-interior-left-nav-nested-item role="menuitem" tabindex="-1">
          <a href="#example-item-2D" class="left-nav-list__item-link" data-interior-left-nav-item-link tabindex="-1">Example Item 2D</a>
        </li>
      </ul>
    </li>
  </ul>

  <div class="bx--interior-left-nav-collapse" data-interior-left-nav-collapse>
    <a class="bx--interior-left-nav-collapse__link" href="#">
      <svg class="bx--interior-left-nav-collapse__arrow" width="32" height="32" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:none;}</style></defs><title>Collapse nav pane</title><g id="Icon"><polygon points="10 16 19 7 20.41 8.41 12.83 16 20.41 23.59 19 25 10 16"/></g><g id="Transparent_Rectangle" data-name="Transparent Rectangle"><rect class="cls-1" width="32" height="32"/></g></svg>        
    </a>
  </div>
</nav>
