//-----------------------------
// Interior Left Nav
//-----------------------------

@import '../../globals/scss/colors';
@import '../../globals/scss/vars';
@import '../../globals/scss/mixins';
@import '../../globals/scss/layer';
@import '../../globals/scss/typography';
@import '../../globals/scss/import-once';
@import '../../globals/scss/css--reset';
@import '../../globals/scss/css--typography';

@include exports('interior-left-nav') {
  .bx--interior-left-nav {
    @include reset;
    @include helvetica;
    width: rem(250px);
    position: fixed;
    top: rem(90px);
    height: 100%;
    background-color: $color__white;
    border-right: 1px solid $color__gray-1;

    .left-nav-list {
      list-style: none;
      display: flex;
      flex-direction: column;
      background-color: $color__white;
      padding-top: 1.5rem;
      overflow: auto;

      &__item {
        cursor: pointer;
        width: 100%;
        padding: 0;

        &:focus {
          outline: 1px solid transparent;

          &:not(.left-nav-list__item--has-children) {
            background-color: $color__gray-2;
          }

          .left-nav-list__item-link {
            color: $color__blue-51;
            text-decoration: underline;
          }

          .left-nav-list--nested .left-nav-list__item-link {
            color: $color__blue-90;
            text-decoration: none;
          }
        }

        &--active {
          & > .left-nav-list__item-link {
            background-color: $color__gray-2;
            color: $color__blue-51;
            font-weight: 600;
          }
        }

        &-link {
          @include font-size('14');
          color: $color__blue-90;
          font-weight: 400;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-between;
          text-decoration: none;
          transition: background-color $transition--base;
          padding: .75rem 1.5rem .75rem rem(59px);
        }

        &-icon {
          display: flex;

          .bx--interior-left-nav__icon {
            fill: $color__blue-51;
            width: rem(8px);
            height: rem(8px);
            transition: $transition--base;
          }
        }

        &--expanded {
          .left-nav-list--nested {
            max-height: 20rem;
            transition: $transition--base;
            overflow: inherit;
            opacity: 1;

            .left-nav-list__item {
              opacity: 1;
            }
          }

          & > .left-nav-list__item-link {
            color: $color__blue-51;
          }

          .left-nav-list__item-icon .bx--interior-left-nav__icon {
            transform: rotate(180deg);
          }
        }

        &:not(.left-nav-list__item--has-children):hover {
          & > .left-nav-list__item-link {
            background-color: $color__gray-2;
            color: $color__blue-51;
          }
        }
      }

      &__item--has-children {
        .left-nav-list__item-link {
          padding-right: 1.5rem;
        }

        &:hover {
          > .left-nav-list__item-link {
            color: $color__blue-51;
          }
        }
      }
    }

    .left-nav-list--nested {
      max-height: 0;
      overflow: hidden;
      transition: .3s ease-in-out;
      padding: 0;
      opacity: 0;

      .left-nav-list__item {
        width: 100%;
        position: relative;
        padding: 0;
        transition: $transition--base;
        opacity: 0;

        &-link {
          @include font-size('14');
          color: $color__blue-90;
          padding: .75rem 1.35rem .75rem 4.5rem;
          font-weight: 400;
          display: flex;
          align-items: center;
          justify-content: space-between;

          &:focus {
            outline: 1px solid transparent;
            background-color: $color__gray-2;
            color: $color__blue-51;
            text-decoration: underline;
          }
        }

        &:hover {
          outline: none;
        }

        &--active {
          color: $color__blue-51;
          background-color: $color__gray-2;

          & > .left-nav-list__item-link {
            font-weight: 600;
            color: $color__blue-51;
          }
        }
      }
    }
  }

  .bx--interior-left-nav--collapseable {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: rem(200px);
    padding-top: rem(20px);
    transition: background-color 300ms $bx--standard-easing, width 300ms $bx--standard-easing;

    ul, li, hr, .bx--interior-left-nav-collapse__target {
      opacity: 1;
    }

    .left-nav-list, .left-nav-list__item-link {
      background-color: inherit;
    }

    .left-nav-list__item--expanded > .left-nav-list {
      padding-top: rem(6px);
      padding-bottom: rem(6px);
    }

    .left-nav-list__item--expanded > .left-nav-list__item-link {
      color: $color__blue-90;
    }

    .left-nav-line {
      margin: rem(24px) rem(20px);
      border: 1px solid $color__gray-1;
    }

    .left-nav-list {
      padding-top: 0;

      @include light-ui {
        background-color: inherit;
      }
    }

    .left-nav-list__item--active > .left-nav-list__item-link {
      position: relative;
      background-color: #fff;

      &:before {
        top: 0;
        position: absolute;
        background-color: $color__blue-51;
        height: 100%;
        left: 0;
        width: 4px;
        content: '';
      }
    }

    .left-nav-list__item {
      margin-bottom: rem(5px);
    }

    .left-nav-list__item-link, .left-nav-list--nested .left-nav-list__item-link {
      padding: rem(9px) rem(20px);
    }

    .left-nav-list--nested .left-nav-list__item-link {
      font-size: rem(12px);
      padding-left: rem(40px);
    }

    .bx--interior-left-nav-collapse {
      cursor: pointer;
      background-color: rgba($color__blue-51, .10);
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-top: auto;
      margin-bottom: rem(90px);
      padding: rem(14px) rem(16px);

      &:hover, &:focus {
        background-color: rgba($color__blue-51, .30);
      }
    }

    .bx--interior-left-nav-collapse__target {
      margin-left: rem(10px);
      margin-right: rem(10px);
    }

    .bx--interior-left-nav-collapse__link {
      display: flex;
      align-items: center;
      text-decoration: none;
      font-size: rem(14px);
      padding: .25rem;

      &:focus {
        @include focus-outline('border');
      }
    }

    .bx--interior-left-nav-collapse__arrow {
      transform: rotate(0);
      fill: $color__blue-51;
      height: 12px;
      width: 12px;
    }
  }

  .bx--interior-left-nav--collapsing, .bx--interior-left-nav--collapsed {
    width: rem(48px);
    transition: background-color 300ms $bx--standard-easing, width 300ms $bx--standard-easing;
    cursor: pointer;
    background-color: rgba($color__blue-51, .10);

    &:hover, &:focus {
      background-color: rgba($color__blue-51, .30);
    }

    ul, li, hr, .bx--interior-left-nav-collapse__target {
      opacity: 0;
      transition: opacity 300ms $bx--standard-easing;
      overflow: hidden;
      white-space: nowrap;
    }

    .bx--interior-left-nav-collapse {
      background-color: transparent;

      &:hover {
        background-color: transparent;
      }
    }

    .bx--interior-left-nav-collapse__arrow {
      transform: rotate(180deg);
      transition: transform 300ms $bx--standard-easing;
    }
  }

  .bx--interior-left-nav--collapsed {
    ul, li, hr, .bx--interior-left-nav-collapse__target {
      display: none;
    }

    .bx--interior-left-nav-collapse {
      justify-content: center;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .bx--interior-left-nav--expanding {
    width: rem(200px);
    transition: width 300ms $bx--standard-easing;
    background-color: #fff;

    ul, li, hr, .bx--interior-left-nav-collapse__target {
      opacity: 1;
      transition: opacity 300ms $bx--standard-easing;
      overflow: hidden;
      white-space: nowrap;
    }

    .bx--interior-left-nav-collapse__arrow {
      transform: rotate(0deg);
      transition: transform 300ms $bx--standard-easing;
    }
  }
}
