<nav role="navigation" aria-label="Interior Left Navigation" data-inline-left-nav class="bx--interior-left-nav">
  <div class="bx--interior-left-nav__header">
    <a tabindex="0" data-inline-left-nav-previous-page href="#" class="bx--interior-left-nav__header--link">
      <svg class="bx--interior-left-nav__icon">
        <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#common--previous"></use>
      </svg>
      Back to <span data-inline-left-nav-previous-page-title class="previous-page">Projects</span>
    </a>
  </div>
  <ul role="menubar" class="left-nav-list" data-inline-left-nav-list aria-hidden="false">
    <li role="menuitem" tabindex="0" class="left-nav-list__item left-nav-list__item--has-children" data-inline-left-nav-item data-inline-left-nav-with-children>
      <a class="left-nav-list__item-link">
        Example Item 1
        <div class="left-nav-list__item-icon">
          <svg class="bx--interior-left-nav__icon">
            <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#support--chevron-down"></use>
          </svg>
        </div>
      </a>
      <ul role="menu" aria-hidden="true" class="left-nav-list left-nav-list--nested" data-inline-left-nav-nested-list>
        <li class="left-nav-list__item" data-inline-left-nav-nested-item role="menuitem" tabindex="-1">
          <a href="#example-item-1A" class="left-nav-list__item-link" data-inline-left-nav-item-link tabindex="-1">Example Item 1A</a>
        </li>
        <li class="left-nav-list__item" data-inline-left-nav-nested-item role="menuitem" tabindex="-1">
          <a href="#example-item-1B" class="left-nav-list__item-link" data-inline-left-nav-item-link tabindex="-1">Example Item 1B</a>
        </li>
        <li class="left-nav-list__item" data-inline-left-nav-nested-item role="menuitem" tabindex="-1">
          <a href="#example-item-1C" class="left-nav-list__item-link" data-inline-left-nav-item-link tabindex="-1">Example Item 1C</a>
        </li>
        <li class="left-nav-list__item" data-inline-left-nav-nested-item role="menuitem" tabindex="-1">
          <a href="#example-item-1D" class="left-nav-list__item-link" data-inline-left-nav-item-link tabindex="-1">Example Item 1D</a>
        </li>
      </ul>
    </li>
    <li role="menuitem" tabindex="0" class="left-nav-list__item left-nav-list__item--has-children" data-inline-left-nav-item data-inline-left-nav-with-children>
      <a class="left-nav-list__item-link">
        Example Item 2
        <div class="left-nav-list__item-icon">
          <svg class="bx--interior-left-nav__icon">
            <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#support--chevron-down"></use>
          </svg>
        </div>
      </a>
      <ul role="menu" aria-hidden="true" class="left-nav-list left-nav-list--nested" data-inline-left-nav-nested-list>
        <li class="left-nav-list__item" data-inline-left-nav-nested-item role="menuitem" tabindex="-1">
          <a href="#example-item-2A" class="left-nav-list__item-link" data-inline-left-nav-item-link tabindex="-1">Example Item 2A</a>
        </li>
        <li class="left-nav-list__item" data-inline-left-nav-nested-item role="menuitem" tabindex="-1">
          <a href="#example-item-2B" class="left-nav-list__item-link" data-inline-left-nav-item-link tabindex="-1">Example Item 2B</a>
        </li>
        <li class="left-nav-list__item" data-inline-left-nav-nested-item role="menuitem" tabindex="-1">
          <a href="#example-item-2C" class="left-nav-list__item-link" data-inline-left-nav-item-link tabindex="-1">Example Item 2C</a>
        </li>
        <li class="left-nav-list__item" data-inline-left-nav-nested-item role="menuitem" tabindex="-1">
          <a href="#example-item-2D" class="left-nav-list__item-link" data-inline-left-nav-item-link tabindex="-1">Example Item 2D</a>
        </li>
      </ul>
    </li>
    <li role="menuitem" tabindex="0" class="left-nav-list__item" data-inline-left-nav-item>
      <a class="left-nav-list__item-link">
        Example Item 3
      </a>
    </li>
    <li role="menuitem" tabindex="0" class="left-nav-list__item" data-inline-left-nav-item>
      <a class="left-nav-list__item-link">
        Example Item 4
      </a>
    </li>
  </ul>
</nav>
