////////////////////
// Variables
///////////////////

// Button colors
$primary-button--color: $teal-45;
$secondary-button--color: $blue-40;
$tertiary-button--color: $bluemix-medium-grey;
$danger-button--color: $red-50;
$warning-button--color: $yellow-20;

// Button text colors
$close-button--text-color: lighten($cool-grey-50, 5);
$warning-button--text-color: #000;

//////////////////////
// Extends + Mixins
//////////////////////

// Common styles for all buttons
%button--base {
  @extend %font-smoothing;
  @extend %helvetica-bold;
  cursor: pointer;
  display: inline-block;
}

// Common styles for buttons with:
// -- text
// -- text + icons
%button--text-button {
  @extend %button--base;
  font-size: typescale(1);
  letter-spacing: em(1px);
  min-height: 2.75em;
  min-width: 9.375em;
  margin: 1em 0 1em .5em;
  padding: .5em 1em;
  text-decoration: none;
  text-transform: uppercase;

  &:disabled {
    cursor: not-allowed;
    opacity: .5;
  }
}

// Common styles for buttons with:
// -- icons only
%button--icon-button {
  @extend %button--base;
  text-transform: lowercase;
  margin: 1em 0;
}

// Common border styles for all buttons
@mixin button--style--border($color) {
  border: .25em solid $color;
}

// Common transition for all buttons
%button--style--transition {
  transition: background-color ease-out .15s, color ease-out .15s;
}

%button--close {
  @extend %button--icon-button;
  align-items: center;
  background-color: transparent;
  border: 0 solid transparent;
  display: flex;
  height: em(10px);
  justify-content: center;
  margin: 1em;
  padding: 0;
  width: em(10px);

  [aria-hidden="true"] {
    color: $close-button--text-color;
    display: inline-block;
    font-size: typescale(4);
    transform: rotate(45deg);

    &:hover {
      color: ligthen($close-button--text-color, 15);
    }
  }

  .sr-only {
    display: none;
  }
}

%button--primary {
  @extend %button--text-button;
  @include button--style--border($primary-button--color);
  background-color: $primary-button--color;
  color: $white;
}

%button--secondary {
  @extend %button--text-button;
  @extend %button--style--transition;
  @include button--style--border($secondary-button--color);
  background-color: transparent;
  color: $secondary-button--color;

  &:hover,
  &:focus {
    background-color: $secondary-button--color;
    color: $white;
  }
}

%button--tertiary {
  @extend %button--text-button;
  @extend %button--style--transition;
  @include button--style--border($tertiary-button--color);
  background-color: transparent;
  color: $tertiary-button--color;

  &:hover,
  &:focus {
    background-color: $tertiary-button--color;
    color: $white;
  }
}

%button--danger {
  @extend %button--text-button;
  @include button--style--border($danger-button--color);
  background-color: $danger-button--color;
  color: $white;
}

%button--warning {
  @extend %button--text-button;
  @include button--style--border($warning-button--color);
  background-color: $warning-button--color;
  color: $warning-button--text-color;
}

////////////////////
// Classes
///////////////////

.btn {
  &--primary {
    @extend %button--primary;
  }

  &--secondary {
    @extend %button--secondary;
  }

  &--tertiary {
    @extend %button--tertiary;
  }

  &--close {
    @extend %button--close;
  }

  &--danger {
    @extend %button--danger;
  }

  &--warning {
    @extend %button--warning;
  }
}
