$close-button--color: $cool-grey-50;
$primary-button--color: $teal-45;
$secondary-button--color: $blue-40;

@mixin base--button($color: $cool-grey-50) {
  @extend %font-smoothing;
  @extend %helvetica-bold;
  border: 4px solid $color;
  cursor: pointer;
  font-size: typescale(1);
  letter-spacing: 1px;
  min-height: 2.75em;
  min-width: 9.375em;
  padding: 0 1em;
  text-transform: uppercase;

  &:disabled {
    cursor: not-allowed;
    opacity: .5;
  }
}

%primary-button {
  @include base--button($primary-button--color);
  background-color: $primary-button--color;
  color: $white;
}

%secondary-button {
  @include base--button($secondary-button--color);
  background-color: transparent;
  color: $secondary-button--color;
  transition: background-color ease-out .15s, color ease-out .15s;

  &:hover,
  &:focus {
    background-color: $secondary-button--color;
    color: $white;
  }
}

%close-button {
  @include base--button;
  background-color: $close-button--color;
  color: $white;
}

.bx-btn {
  &--primary {
    @extend %primary-button;
  }

  &--secondary {
    @extend %secondary-button;
  }

  &--close {
    @extend %close-button;
  }
}
