%activity-log {
	width: em(400px);
	background-color: $gray--darker;
	padding-bottom: .5em;
	margin: 4em;
}

%activity-log__headline {
	color: rgba($white, .8);
	font-weight: 600;
	padding: 1.8em 2em;
	border-bottom: 1px solid $gray--light;
	width: 100%;
}

%activity-log__feed {
	list-style-type: none;
	padding: 1em 1em 1em 2em;
}

%feed__item {
	position: relative;
	padding: 0 0 0 1em;
	&::before {
		content: '\2022';
		color: $white;
		position: relative;
		top: em(7px);
		left: em(-17px);
		}
}

dl {
	margin: em(-10px);
	padding-left: em(15px);
}

%item__activity-desc {
	font-weight: 200;
	line-height: 2;
	padding-left: 5em;
	top: em(-21px);
	position: relative;
}

%activity-desc__time {
	color: $blue--lighter;
	padding-left: .5em;
}

%item__border {
	border-left: 2px solid $gray--light;
	padding: .8em 0;
	display: inline-block;
}

%feed__item--user-activity {
	@extend %feed__item;
	&::before {
		content: url('../../../images/erlich.png');
		position: relative;
		top: em(10px);
		left: em(-24px);
		width: em(22px);
		height: em(22px);
		border: 1px solid $white;
		padding-top: .45em;
		border-radius: 12px;
	}
	&::after {
		content: ' ';
		position: relative;
		border: 1px solid $gray--light;
		padding-top: 1em;
		top: em(-15px);
		left: em(-15px);

	}
}
