//-----------------------------
// Overflow Menu
//-----------------------------

@import '../../globals/scss/colors';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/css--reset';
@import '../../globals/scss/layer';
@import '../../globals/scss/layout';
@import '../../globals/scss/typography';
@import '../../globals/scss/import-once';

@include exports('overflow-menu') {
  .bx--overflow-menu {
    @include reset;
    position: relative;
    width: rem(20px);
    height: rem(38px);
    cursor: pointer;

    &:focus {
      @include focus-outline('border');
    }
  }

  .bx--overflow-menu__icon {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    fill: $ui-05;

    &:hover,
    &:focus {
      fill: $brand-01;
    }
  }

  .bx--overflow-menu-options {
    @include reset;
    @include layer('overlay');
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    z-index: z('floating');
    background-color: $inverse-01;
    border: 1px solid $ui-04;
    width: 11.25rem;
    list-style: none;
    margin-top: 0.25rem;
    padding: 0.285rem 0 0.5rem;
    left: -20px;
  }

  .bx--overflow-menu-options--open {
    display: flex;
  }

  .bx--overflow-menu-options:before {
    content: '';
    position: absolute;
    display: block;
    width: rem(8px);
    height: rem(8px);
    z-index: -1;
    transform: rotate(45deg);
    background-color: $inverse-01;
    border-top: 1px solid $ui-04;
    border-left: 1px solid $ui-04;
    top: -5px;
    left: 24px;
  }

  .bx--overflow-menu-options__option {
    @include reset;
    display: flex;
    background-color: transparent;
    align-items: center;
    width: 100%;
    padding: 0;
  }

  .bx--overflow-menu--divider {
    border-top: 1px solid $ui-04;
  }

  .bx--overflow-menu-options__btn {
    @include reset;
    @include typescale('zeta');
    @include font-family;
    font-weight: 400;
    width: 100%;
    height: 100%;
    border: none;
    display: inline-block;
    background-color: transparent;
    text-align: left;
    padding: 0.5625rem 1rem;
    cursor: pointer;

    &:focus {
      outline: 1px solid transparent;
      background-color: $brand-01;
      color: $inverse-01;
    }

    .bx--overflow-menu-options__option--danger & {
      &:focus {
        background-color: $support-01;
      }
    }
  }

  .bx--overflow-menu-options__option:hover {
    background-color: $brand-01;
  }

  .bx--overflow-menu-options__option:hover .bx--overflow-menu-options__btn {
    color: $inverse-01;
  }

  .bx--overflow-menu-options__option--danger {
    border-top: 1px solid $ui-04;
  }

  .bx--overflow-menu-options__option--danger:hover {
    background-color: $support-01;
  }

  .bx--overflow-menu--flip {
    left: -140px;

    &:before {
      left: 145px;
    }
  }
}
