<div data-overflow-menu tabindex="0" aria-label="Overflow menu description" class="bx--overflow-menu">
  <svg class="bx--overflow-menu__icon" width="32" height="32" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:none;}</style></defs><title>list of options</title><g id="Icon"><circle cx="16" cy="6" r="2"/><circle cx="16" cy="16" r="2"/><circle cx="16" cy="26" r="2"/></g><g id="Transparent_Rectangle" data-name="Transparent Rectangle"><rect class="cls-1" width="32" height="32"/></g></svg>  
  <ul class="bx--overflow-menu-options" tabindex="-1">
    <li class="bx--overflow-menu-options__option">
      <button class="bx--overflow-menu-options__btn" data-floating-menu-primary-focus>Stop app</button>
    </li>
    <li class="bx--overflow-menu-options__option">
      <button class="bx--overflow-menu-options__btn">Restart app</button>
    </li>
    <li class="bx--overflow-menu-options__option">
      <button class="bx--overflow-menu-options__btn">Rename app</button>
    </li>
    <li class="bx--overflow-menu-options__option">
      <button class="bx--overflow-menu-options__btn">Edit routes and access</button>
    </li>
    <li class="bx--overflow-menu-options__option bx--overflow-menu-options__option--danger">
      <button class="bx--overflow-menu-options__btn">Delete app</button>
    </li>
  </ul>
</div>

<div data-overflow-menu tabindex="0" aria-label="Overflow menu description" class="bx--overflow-menu">
  <svg class="bx--overflow-menu__icon" width="32" height="32" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:none;}</style></defs><title>list of options</title><g id="Icon"><circle cx="16" cy="6" r="2"/><circle cx="16" cy="16" r="2"/><circle cx="16" cy="26" r="2"/></g><g id="Transparent_Rectangle" data-name="Transparent Rectangle"><rect class="cls-1" width="32" height="32"/></g></svg>
  <ul class="bx--overflow-menu-options bx--overflow-menu--flip" tabindex="-1">
    <li class="bx--overflow-menu-options__option">
      <button class="bx--overflow-menu-options__btn" data-floating-menu-primary-focus>Stop app</button>
    </li>
    <li class="bx--overflow-menu-options__option">
      <button class="bx--overflow-menu-options__btn">Restart app</button>
    </li>
    <li class="bx--overflow-menu-options__option">
      <button class="bx--overflow-menu-options__btn">Rename app</button>
    </li>
    <li class="bx--overflow-menu-options__option">
      <button class="bx--overflow-menu-options__btn">Edit routes and access</button>
    </li>
    <li class="bx--overflow-menu-options__option bx--overflow-menu-options__option--danger">
      <button class="bx--overflow-menu-options__btn">Delete app</button>
    </li>
  </ul>
</div>
