<div data-overflow-menu tabindex="0" aria-label="Overflow menu description" class="bx--overflow-menu">
  <svg class="bx--overflow-menu__icon" width="4" height="20" viewBox="0 0 4 20" fill-rule="evenodd">
    <circle cx="2" cy="2" r="2"></circle>
    <circle cx="2" cy="10" r="2"></circle>
    <circle cx="2" cy="18" r="2"></circle>
  </svg>
  <ul class="bx--overflow-menu-options" tabindex="-1">
    <li class="bx--overflow-menu-options__option">
      <button class="bx--overflow-menu-options__btn" data-floating-menu-primary-focus>Option 1</button>
    </li>
    <li class="bx--overflow-menu-options__option">
      <button class="bx--overflow-menu-options__btn">Option 2</button>
    </li>
    <li class="bx--overflow-menu-options__option">
      <button class="bx--overflow-menu-options__btn">Option 3</button>
    </li>
    <li class="bx--overflow-menu-options__option">
      <button class="bx--overflow-menu-options__btn">Option 4</button>
    </li>
    <li class="bx--overflow-menu-options__option bx--overflow-menu-options__option--danger">
      <button class="bx--overflow-menu-options__btn">Danger option</button>
    </li>
  </ul>
</div>

<div data-overflow-menu tabindex="0" aria-label="Overflow menu description" class="bx--overflow-menu">
  <svg class="bx--overflow-menu__icon" width="4" height="20" viewBox="0 0 4 20" fill-rule="evenodd">
    <circle cx="2" cy="2" r="2"></circle>
    <circle cx="2" cy="10" r="2"></circle>
    <circle cx="2" cy="18" r="2"></circle>
  </svg>
  <ul class="bx--overflow-menu-options bx--overflow-menu--flip" tabindex="-1">
    <li class="bx--overflow-menu-options__option">
      <button class="bx--overflow-menu-options__btn" data-floating-menu-primary-focus>Option 1</button>
    </li>
    <li class="bx--overflow-menu-options__option">
      <button class="bx--overflow-menu-options__btn">Option 2</button>
    </li>
    <li class="bx--overflow-menu-options__option">
      <button class="bx--overflow-menu-options__btn">Option 3</button>
    </li>
    <li class="bx--overflow-menu-options__option">
      <button class="bx--overflow-menu-options__btn">Option 4</button>
    </li>
    <li class="bx--overflow-menu-options__option bx--overflow-menu-options__option--danger">
      <button class="bx--overflow-menu-options__btn">Danger option</button>
    </li>
  </ul>
</div>
