//-----------------------------
// Forms
//-----------------------------

// Dependencies
@import '../../global/global';
@import '../buttons/buttons';
@import '../checkbox/checkbox';
@import '../file-uploader/file-uploader';
@import '../number-input/number-input';
@import '../radio/radio';
@import '../search/search';
@import '../select/select';
@import '../text/text';
@import '../textarea/textarea';
@import '../toggle/toggle';

.bx--form {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;

  &__fieldset {
    display: block;
    margin-bottom: 2rem;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
  }

  &__legend {
    @include font-size('32');
    @include font-smoothing;
    font-weight: 300;
    display: block;
    padding-bottom: 1rem;
    margin: 0;
    border: 0;

    &--hidden {
      @include hidden;
    }
  }

  &__label {
    @include font-size('14');
    @include letter-spacing;
    display: inline-block;
    padding-bottom: .5rem;
    margin: 0;
    border: 0;
    vertical-align: baseline;
  }

  &__fieldset[data-invalid] {
    .bx--text__input {
      border-bottom: 2px solid $color__red-40;
    }

    .bx--form__requirements {
      max-height: rem(200px);
    }
  }

  &__requirements {
    @include font-size('11');
    margin: .5rem 0 0;
    max-height: 0;
    overflow: hidden;
    font-weight: 700;
    line-height: 1.5;
    padding: 0;
    border: 0;
    vertical-align: baseline;

    &::before {
      content: '*';
      display: inline-block;
      color: $color__red-40;
    }
  }
}
