//-----------------------------
// Forms
//-----------------------------

@import '../buttons/buttons';
@import '../checkbox/checkbox';
@import '../text/text';
@import '../../import-once';

@include exports('forms') {

.bx--form {
  @include reset;
}

.bx--form__fieldset {
  @include reset;
  display: block;
  margin-bottom: 3rem;
  
  &:last-of-type {
    margin-bottom: 0;
  }

  input[data-invalid],
  select[data-invalid],
  textarea[data-invalid]  {
    box-shadow: 0 2px 0px 0px $color__red-40;

    ~ .bx--form__requirements {
      max-height: rem(200px);
    }
  }
}

.bx--form__legend {
  @include reset;
  @include font-size('32');
  @include font-smoothing;
  font-weight: 300;
  display: block;
  margin-bottom: 2rem;

  &--hidden {
    @include hidden;
  }
}

.bx--form__row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;

  &.bx--form__row--column {
    flex-direction: column;
  }

  &:last-of-type {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.bx--form__row-item {
  flex: 1;
  margin-right: 1rem;
  margin-bottom: 1.5rem;

  &:last-of-type {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.bx--form__label {
  @include font-size('14');
  @include letter-spacing;
  font-weight: 700;
  display: inline-block;
  vertical-align: baseline;
  margin-bottom: .5rem;
}

.bx--form__requirements {
  @include reset;
  @include font-size('11');
  margin: .75rem 0 0;
  max-height: 0;
  overflow: hidden;
  font-weight: 700;
  line-height: 1.5;

  &::before {
    content: '*';
    display: inline-block;
    color: $color__red-40;
  }
}

.bx--form > button {
  margin-top: 2rem;
}

}