.typography {
  display: flex;
  flex-direction: column;
  padding: 1em;

  &__scale {
    border: 2px solid $color__white;
    padding: 1em;
    margin-bottom: 1em;

    ul {
      list-style: disc;
      padding-left: 1em;
    }

    code {
      font-family: monospace;
    }

    li {
      line-height: 1;
      margin-bottom: .25em;
    }

    .caption {
      @extend %caption;
    }
  }
}
