@import '_partials/vars';
@import '_partials/mixins';

.taxonomy-item {

  &--global-dash {
    @include taxonomy-item ($taxonomy-item__icon-diameter--global-dash, $taxonomy-item__icon-stroke--global-dash);
  }

  &--taxonomy-menu {
    @include taxonomy-item ($taxonomy-item__icon-diameter--taxonomy-menu, $taxonomy-item__icon-stroke--taxonomy-menu);
  }

  &__metric {
    @extend %horizontal-center;
    @include type('body');

    height: 1.5em;
    padding: .3rem .5rem;
    margin: -25px 0 .5rem 0;
    background: $color__taxonomy-icon--metric-background;
    border-radius: 3px;
  }

  &__label {
    @include type('body');

    font-weight: 100;
    line-height: 1.4;
    text-align: center;
  }
}
