<a href="" class="taxonomy-item--global-dash taxonomy-item--global-dash--empty">
  <div class="taxonomy-item__icon">
    <svg class="svg--taxonomy--compute-dims">
      <use xlink:href="../../images/sprite.svg#taxonomy--compute"></use>
    </svg>
  </div>
  <p class="taxonomy-item__metric"></p>
  <p class="taxonomy-item__label">Compute</p>
</a>
<a href="#" class="taxonomy-item--global-dash taxonomy-item--global-dash--healthy">
  <div class="taxonomy-item__icon">
    <svg class="svg--taxonomy--network-dims">
      <use xlink:href="../../images/sprite.svg#taxonomy--network"></use>
    </svg>
  </div>
  <p class="taxonomy-item__metric">1 item</p>
  <p class="taxonomy-item__label">Network</p>
</a>
<a href="#" class="taxonomy-item--global-dash taxonomy-item--global-dash--error">
  <div class="taxonomy-item__icon">
    <svg class="svg--taxonomy--storage-dims">
      <use xlink:href="../../images/sprite.svg#taxonomy--storage"></use>
    </svg>
  </div>
  <p class="taxonomy-item__metric">4 item</p>
  <p class="taxonomy-item__label">Storage</p>
</a>
<a href="#" class="taxonomy-item--global-dash taxonomy-item--global-dash--stateless">
  <div class="taxonomy-item__icon">
    <svg class="svg--taxonomy--mobile-dims">
      <use xlink:href="../../images/sprite.svg#taxonomy--mobile"></use>
    </svg>
  </div>
  <p class="taxonomy-item__metric">40 items</p>
  <p class="taxonomy-item__label">Mobile</p>
</a>

<a href="" class="taxonomy-item--taxonomy-menu taxonomy-item--taxonomy-menu--empty">
  <div class="taxonomy-item__icon">
    <svg class="svg--taxonomy--compute-dims">
      <use xlink:href="../../images/sprite.svg#taxonomy--compute"></use>
    </svg>
  </div>
  <p class="taxonomy-item__label">Compute</p>
</a>
<a href="#" class="taxonomy-item--taxonomy-menu taxonomy-item--taxonomy-menu--healthy">
  <div class="taxonomy-item__icon">
    <svg class="svg--taxonomy--network-dims">
      <use xlink:href="../../images/sprite.svg#taxonomy--network"></use>
    </svg>
  </div>
  <p class="taxonomy-item__label">Network</p>
</a>
<a href="#" class="taxonomy-item--taxonomy-menu taxonomy-item--taxonomy-menu--error">
  <div class="taxonomy-item__icon">
    <svg class="svg--taxonomy--storage-dims">
      <use xlink:href="../../images/sprite.svg#taxonomy--storage"></use>
    </svg>
  </div>
  <p class="taxonomy-item__label">Storage</p>
</a>
<a href="#" class="taxonomy-item--taxonomy-menu taxonomy-item--taxonomy-menu--stateless">
  <div class="taxonomy-item__icon">
    <svg class="svg--taxonomy--mobile-dims">
      <use xlink:href="../../images/sprite.svg#taxonomy--mobile"></use>
    </svg>
  </div>
  <p class="taxonomy-item__label">Mobile</p>
</a>
