{
  "presets": [
    [
      "env",
      {
        "chrome": "latest",
        "edge": "latest",
        "firefox": "latest",
        "safari": "latest",
        "ie": "11",
        "ios": "latest"
      }
    ],
    "react",
    "stage-1"
  ]
}