{
  "presets": [
    [
      "env",
      {
        modules: false,
        chrome: "latest",
        edge: "latest",
        firefox: "latest",
        safari: "latest",
        ie: "11",
        ios: "latest"
      }
    ]
  ],
  "plugins": ["transform-class-properties"]
}
