{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": ["last 1 version", "ie >= 11"]
        }
    }]
  ],
  "plugins": ["transform-class-properties", "dev-expression"],
}
