{
  "root": true,
  "parserOptions" : {
    "ecmaVersion": 6,
    "sourceType": "script"
  },
  "env": {
    "node": true,
    "es6": true
  },
  "ecmaFeatures": {
    "modules": false
  },
  "extends": [
    "airbnb-base"
  ],
  "rules": {
    "max-len": [2, 130, 4],
    "no-param-reassign": [2, { "props": false }],
    "no-plusplus": 0,
    "no-underscore-dangle": 0,
    "prefer-rest-params": 0
  }
}
