demo/*.css
demo/*.map
demo/*.js
demo/js/prism.js
demo/hot
!demo/index.js
dist
examples/codesandbox
tests/a11y-results
tests/coverage
/es
/umd
/scripts
/css
/scss
/html
/docs/js
node_modules

# TODO: Upgrade to ESLint4 so we can apply a specific rule (one for CJS code) for below files
src/**/*.config.js

# TODO: Use more granular ESLint configuration
tests/es-test.js

# TODO: update so that "jest": true has impact on "env" config
**/__tests__/**
