# Auto detect text files and perform LF normalization
* text=auto

# These files should have specific line endings
*.sh	text eol=lf
*.bat	text eol=crlf

# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
*.jpeg	binary
