# Hide package manager
node_modules
bower_components

# Ignore built files and static folder
*.css
static/*
!static/images
*.css.map

# OSX
.DS_Store

# Debug
npm-debug.log

# Editors
project.sublime-project
project.sublime-workspace
jsconfig.json
.vscode
