# Default global
* @carbon-design-system/developers-system

# Core icons and pictograms
/packages/icons/src/svg/ @laurenmrice @carbon-design-system/brand-icons @carbon-design-system/developers-system
/packages/pictograms/src/svg/ @laurenmrice @carbon-design-system/brand-pictograms @carbon-design-system/developers-system

# Angular icons
/packages/icons-angular/ @carbon-design-system/developers-system

# Brand
/packages/colors/artifacts/ @lisalind-ibm

# Release team should be notified of Public API changes in the system
**/PublicAPI-test.js @carbon-design-system/release @carbon-design-system/developers-system
**/PublicAPI-test.js.snap @carbon-design-system/release @carbon-design-system/developers-system

# Admins should be notified of changes to CI/CD workflows
/.github/workflows @tay1orjones
