# Default global
# Will request review from design and dev team for all PRs
@carbon-design-system/developers @carbon-design-system/design

# Core icons
# Will not request review from design team since codeowners are 2 designers
/packages/icons/src/svg/16/ @aagonzales @chrisconnors-ibm @carbon-design-system/developers
/packages/icons/src/svg/glyph/ @aagonzales @chrisconnors-ibm @carbon-design-system/developers

# Angular icons
/packages/icons-angular/ @cal-smith @carbon-design-system/developers
