$search--accent: $white;

.search {
	width: 20em;
	padding-left: 1.8em;
	border-bottom: 1px $search--accent solid;

	background: url(/images/search.png) left center no-repeat;

	input {
		@extend %helvetica-normal;

		width: 100%;
		border: none;

		background: none;
		color: $search--accent;

		font-size: 1em;
	}
}
