<!-- app card -->
<div class="card">

  <!-- card overview -->
  <div class="card__card-overview">

    <!-- about the app -->
    <div class="card-overview__about">
      <div class="about__icon">
        <svg class="about__icon--app">
        </svg>
      </div>
      <div class="about__title">
        <h3 class="about__title--name">App Name 1</h3>
        <a href="#" class="about__title--link">myapp.mybluemix.net</a>
      </div>
    </div>

    <!-- overflow menu begins -->
    <div data-overflow-menu class="overflow-menu">
      <div class="overflow-menu__icon"></div>
      <ul class="overflow-menu__options">
        <li>
          <button type="button" class="overflow-menu__btn">Option 1</button>
        </li>
        <li>
          <button type="button" class="overflow-menu__btn">Option 2</button>
        </li>
        <li>
          <button type="button" class="overflow-menu__btn">Option 3</button>
        </li>
        <li>
          <button type="button" class="overflow-menu__btn">Option 4</button>
        </li>
        <hr/>
        <li>
          <button type="button" class="overflow-menu__btn" data-state="delete">Option 5</button>
        </li>
      </ul>
    </div>
    <!-- overflow menu ends -->

  </div>

  <!-- card footer begins -->
  <div class="card__card-footer">
  </div>
</div>
