<!-- app card -->
<div class="card">

  <!-- card overview -->
  <div class="card__card-overview">

    <!-- about the app -->
    <div class="card-overview__about">
      <div class="about__icon">
        <img src="../../images/container-icon-example.png" class="about__icon--img" />
      </div>
      <div class="about__title">
        <h3 class="about__title--name">Virtual Server Group</h3>
        <a class="about__title--link">Private IP: 127.31.0.6</a><br>
        <a class="about__title--link">Image: Ubuntu 14.04</a>
      </div>
    </div>

    <!-- overflow menu begins -->
    <div data-overflow-menu class="overflow-menu">
      <div class="overflow-menu__icon"></div>
      <ul class="overflow-menu__options">
        <li>
          <button type="button" class="overflow-menu__btn">Option 1</button>
        </li>
        <li>
          <button type="button" class="overflow-menu__btn">Option 2</button>
        </li>
        <li>
          <button type="button" class="overflow-menu__btn">Option 3</button>
        </li>
        <li>
          <button type="button" class="overflow-menu__btn">Option 4</button>
        </li>
        <hr/>
        <li>
          <button type="button" class="overflow-menu__btn" data-state="delete">Option 5</button>
        </li>
      </ul>
    </div>
    <!-- overflow menu ends -->

  </div>

  <!-- card footer begins -->
  <div class="card__card-footer">

    <!-- app status -->
    <div class="card-footer__app-status">
      <div class="card-footer__app-status--running active">
        Running
      </div>
      <div class="card-footer__app-status--not-running">
        Not Running
      </div>
      <div class="card-footer__app-status--stopped">
        Stopped
      </div>
      <div class="card-footer__app-status--limited">
        Limited
      </div>
    </div>

    <!-- app actions -->
    <div class="card-footer__app-actions">
      <button class="app-actions__button" id="restart-app">
        <svg class="app-actions__button--icon">
          <use xlink:href="../../images/sprite.svg#app-actions--restart_icon"></use>
        </svg>
      </button>
    </div>

  </div>
</div>
