//-----------------------------
// Detail Page Header (no tabs)
//-----------------------------

@import '../../../../globals/scss/colors';
@import '../../../../globals/scss/helpers';
@import '../../../../globals/scss/layout';
@import '../../../../globals/scss/typography';
@import 'mixins';
@import '../../../../globals/scss/import-once';

@include exports('detail-page-header--no-tabs') {

.bx--detail-page-header--no-tabs {
  @include detail-page-header;
  @include grid-container;
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;

  &__link-wrapper {
    @include reset;
    box-sizing: border-box;
    color: $color__white;
    text-decoration: none;
    background-color: $color__navy-gray-3;
    cursor: pointer;

    @include light-ui {
      color: $color__navy-gray-3;
      background-color: $color__white;
    }
  }

  &__link-text {
    @include hidden;
  }

  &__arrow {
    @include detail-page-header__arrow;
  }

  &__info-title {
    @include reset;
    @include font-size('23');
    @include font-smoothing;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    padding-left: .5rem;
    margin-left: .5rem;
    font-weight: 200;
    border-left: 1px solid $color__navy-gray-4;

    @include light-ui {
      color: $color__navy-gray-6;
      border-left: 1px solid $color__gray-1;
    }

    @include breakpoint(bp--xs--major) {
      margin-left: -.2rem;
    }

    @include breakpoint(bp--sm--major) {
      @include font-size('29');
    }
  }
}

}
