.bx--data-table-v2-container {
  width: 100%;
  min-width: rem(500px);
  overflow-x: auto;
  padding-top: 2px; // allow space for focus styles
}

.bx--data-table-v2 {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border-bottom: 1px solid $ui-04;

  thead {
    @include typescale('zeta');
    background-color: $ui-02;
    font-weight: 700;
  }

  tbody {
    @include typescale('zeta');
    background-color: $ui-01;
  }

  tr {
    height: rem(48px);

    &:hover {
      td {
        background-color: rgba($brand-02, 0.1);
        border-top: 1px solid $brand-01;
        border-bottom: 1px solid $brand-01;

        &:first-of-type {
          border-left: 1px solid $brand-01;
        }

        &:last-of-type {
          border-right: 1px solid $brand-01;
        }
      }

      .bx--overflow-menu {
        opacity: 1;
      }
    }
  }

  th {
    border-top: 1px solid $ui-04;
  }

  th,
  td {
    border-top: 1px solid $ui-04;
    padding-left: rem(12px);
    vertical-align: middle;
    text-align: left;

    &:first-of-type {
      padding-left: rem(24px);
      border-left: 1px solid $ui-04;
    }

    &:last-of-type {
      padding-right: rem(24px);
      border-right: 1px solid $ui-04;
    }
  }

  // Overrrides
  .bx--checkbox-appearance {
    margin-right: 0;
  }

  .bx--overflow-menu {
    opacity: 0;

    &:focus {
      outline: 0;
      opacity: 1;

      .bx--overflow-menu__icon {
        box-shadow: inset 0px 0px 0px 1px $brand-01;
      }
    }
  }

  .bx--overflow-menu__icon {
    transform: rotate(90deg);
  }
}

// Options

.bx--data-table-v2-header {
  margin-bottom: .5rem;
}

.bx--data-table-v2--zebra {
  tbody tr:nth-child(even) {
    background-color: $ui-02;
  }
}

.bx--data-table-v2--no-border {
  tr {
    &:last-of-type {
      td {
        border-bottom-color: transparent;
      }
    }
  }

  th,
  td {
    &:first-of-type {
      border-left-color: transparent;
    }

    &:last-of-type {
      border-right-color: $ui-04;
    }
  }
}

.bx--data-table-v2--compact {
  tbody tr {
    height: rem(24px);
  }
}

.bx--data-table-v2--short {
  tbody tr {
    height: rem(32px);
  }
}

.bx--data-table-v2--tall {
  tbody tr {
    height: rem(64px);
  }
}

.bx--data-table-v2--static {
  width: auto;
}

.bx--data-table-v2--zebra tbody tr.bx--data-table-v2--selected,
tbody tr.bx--data-table-v2--selected {
  background-color: rgba($brand-02, .10);
}
