@import '../../globals/scss/helper-mixins';

.bx--table-toolbar {
  display: flex;
  padding-bottom: 8px;
  width: 100%;
  position: relative;
}

.bx--toolbar-content {
  display: flex;
  margin-left: auto;
}

.bx--toolbar-action {
  @include button-reset;
  cursor: pointer;
  padding-left: 12px;
  padding-right: 12px;

  &:hover {
    > .bx--toolbar-action__icon {
      fill: $brand-01;
    }
  }

  &:focus {
    @include focus-outline;
    > .bx--toolbar-action__icon {
      fill: $brand-01;
    }
  }

  &:active {
    > .bx--toolbar-action__icon {
      fill: darken($brand-01, 5%);
    }
  }

  &:last-of-type {
    padding-right: 0;
  }

  ~ .bx--btn {
    margin-left: 12px;
  }
}

.bx--toolbar-action__icon {
  height: auto;
  width: 16px;
  fill: $ui-05;
}

.bx--batch-actions {
  display: flex;
  align-items: center;
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: $brand-01;
  transition: opacity 200ms cubic-bezier(0.5, 0, 0.1, 1);

  .bx--btn {
    color: #fff;
  }

  .bx--btn__icon {
    fill: #fff;
  }

  .bx--btn--ghost {
    &:hover,
    &:focus {
      background-color: #fff;
      color: $brand-01;

      .bx--btn__icon {
        fill: $brand-01;
      }
    }

    &:focus {
      border: 2px solid $brand-01;
      outline: 2px solid $ui-02;
    }
  }
}

.bx--batch-actions--active {
  transition: opacity 200ms cubic-bezier(0.5, 0, 0.1, 1);
  opacity: 1;
}

.bx--batch-actions--out {
  opacity: 0;
  transition: opacity 200ms cubic-bezier(0.5, 0, 0.1, 1);
}

.bx--action-list {
  margin-left: -0.5rem;
}

.bx--action-icons {
  margin-left: auto;
  svg {
    padding: 0 12px;
    fill: #fff;
    height: 16px;
    width: auto;
  }
}

.bx--batch-summary {
  margin-left: auto;
  display: flex;
  align-items: center;
  color: #fff;
}

.bx--batch-summary__para {
  font-size: rem(14px);
  margin-right: 24px;
}

.bx--data-table-v2 {
  border-collapse: collapse;
  width: 100%;

  thead {
    background-color: $ui-02;
    font-size: rem(12px);
    font-weight: 700;
    text-transform: uppercase;
  }

  tbody {
    background-color: #fff;
    font-size: rem(14px);
  }

  tr {
    height: 48px;
    border-top: 1px solid $brand-01;

    &:last-of-type {
      td {
        border-bottom: 1px solid $ui-04;
      }
    }

    &:hover {
      cursor: pointer;

      td {
        background-color: rgba($brand-02, 0.1);
        border-top: 1px solid $brand-01;
        border-bottom: 1px solid $brand-01;

        &:first-of-type {
          border-left: 1px solid $brand-01;
        }

        &:last-of-type {
          border-right: 1px solid $brand-01;
        }
      }
    }
  }

  th,
  td {
    border-top: 1px solid $ui-04;
    padding-left: 12px;
    padding-right: 12px;
    vertical-align: middle;
    text-align: left;

    &:first-of-type {
      padding-left: 24px;
      border-left: 1px solid $ui-04;
    }

    &:last-of-type {
      padding-right: 24px;
      border-right: 1px solid $ui-04;
    }
  }

  // Overrrides
  .bx--checkbox-appearance {
    margin-right: 0;
  }
}

.bx--data-table-v2--compact {
  tbody tr {
    height: 24px;
  }
}

.bx--data-table-v2--short {
  tbody tr {
    height: 32px;
  }
}

.bx--data-table-v2--tall {
  tbody tr {
    height: 64px;
  }
}
