<div class="bx--table-toolbar">
  <div class="bx--toolbar-search-container">
    <div data-search class="bx--search bx--search--sm" role="search">
      <svg class="bx--search-magnifier" width="16" height="16" viewBox="0 0 16 16" fill-rule="evenodd">
        <path d="M6 2c2.2 0 4 1.8 4 4s-1.8 4-4 4-4-1.8-4-4 1.8-4 4-4zm0-2C2.7 0 0 2.7 0 6s2.7 6 6 6 6-2.7 6-6-2.7-6-6-6zM16 13.8L13.8 16l-3.6-3.6 2.2-2.2z"></path>
        <path d="M16 13.8L13.8 16l-3.6-3.6 2.2-2.2z"></path>
      </svg>
      <label id="search-input-label-10" class="bx--label" for="search__input-10">Search</label>
      <input class="bx--search-input" type="text" id="search__input-10" role="search" placeholder="Search" aria-labelledby="search-input-label-10">
      <svg class="bx--search-close bx--search-close--hidden" width="16" height="16" viewBox="0 0 16 16" fill-rule="evenodd">
        <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zm3.5 10.1l-1.4 1.4L8 9.4l-2.1 2.1-1.4-1.4L6.6 8 4.5 5.9l1.4-1.4L8 6.6l2.1-2.1 1.4 1.4L9.4 8l2.1 2.1z"></path>
      </svg>
    </div>
  </div>

  <div class="icon-content">
    <p>hi</p>
  </div>

  <div class="bx--batch-actions bx--batch-actions--active">
    <div class="bx--action-list">
      <button class="bx--btn bx--btn--sm bx--btn--ghost" type="button">
        Ghost
        <svg class="bx--btn__icon" width="16" height="16" viewBox="0 0 16 16" fill-rule="evenodd">
          <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zm4 9H9v3H7V9H4V7h3V4h2v3h3v2z"></path>
        </svg>
      </button>

      <button class="bx--btn bx--btn--sm bx--btn--ghost" type="button">
        Ghost
        <svg class="bx--btn__icon" width="16" height="16" viewBox="0 0 16 16" fill-rule="evenodd">
          <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zm4 9H9v3H7V9H4V7h3V4h2v3h3v2z"></path>
        </svg>
      </button>

      <button class="bx--btn bx--btn--sm bx--btn--ghost" type="button">
        Ghost
        <svg class="bx--btn__icon" width="16" height="16" viewBox="0 0 16 16" fill-rule="evenodd">
          <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zm4 9H9v3H7V9H4V7h3V4h2v3h3v2z"></path>
        </svg>
      </button>
    </div>
    <div class="bx--action-icons">
      <svg width="24" height="24" viewBox="0 0 24 24" fill-rule="evenodd">
        <path d="M19 9.4l-1.2-1.1L13 13V0h-2v13L6.2 8.3 5 9.4l7 6.6z"></path>
        <path d="M22 14v6H2v-6H0v10H24V14z"></path>
      </svg>

      <svg width="24" height="24" viewBox="0 0 24 24" fill-rule="evenodd">
        <path d="M21.2 12c0-.5 0-1-.1-1.4L24 8l-2.5-4.1L18 5.1c-.8-.7-1.8-1.3-2.9-1.7L14.4 0H9.6l-.8 3.4c-1.1.4-2 1-2.9 1.7L2.5 3.9 0 8l2.9 2.6c-.1.4-.1.9-.1 1.4 0 .5 0 1 .1 1.4L0 16l2.5 4.1L6 18.9c.8.7 1.8 1.3 2.9 1.7l.7 3.4h4.8l.8-3.4c1.1-.4 2-1 2.9-1.7l3.5 1.1 2.4-4-2.9-2.6c.1-.4.1-.9.1-1.4zM12 15c-1.7 0-3-1.3-3-3s1.3-3 3-3 3 1.3 3 3-1.3 3-3 3z"></path>
      </svg>

      <svg width="29" height="29" viewBox="0 0 29 29" fill-rule="evenodd">
        <path d="M20.297 2.932l2.9-2.9 5.806 5.805-2.9 2.9zM3.867 19.385l5.8 5.807 14.5-14.517-5.8-5.806-14.5 14.516zm5.8 3.069L6.6 19.385 18.367 7.607l3.066 3.068L9.667 22.454zM0 29.063l4.833-1.936-2.9-2.903z"></path>
      </svg>
    </div>
  </div>
</div>

<table class="bx--data-table-v2">
  <thead>
    <tr>
      <th>
        <input data-event="select-all" id="bx--checkbox-20" class="bx--checkbox" type="checkbox" value="green" name="checkbox-20">
        <label for="bx--checkbox-20" class="bx--checkbox-label" aria-label="Label name">
        <span class="bx--checkbox-appearance">
          <svg class="bx--checkbox-checkmark" width="12" height="9" viewBox="0 0 12 9" fill-rule="evenodd">
            <path d="M4.1 6.1L1.4 3.4 0 4.9 4.1 9l7.6-7.6L10.3 0z"></path>
          </svg>
        </span>
      </label>
      </th>
      <th>Name</th>
      <th>Protocol</th>
      <th>Ports</th>
      <th>Rule</th>
      <th>Attached Groups</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <input data-event="select-all" id="bx--checkbox-13" class="bx--checkbox" type="checkbox" value="green" name="checkbox-13">
        <label for="bx--checkbox-13" class="bx--checkbox-label" aria-label="Label name">
          <span class="bx--checkbox-appearance">
            <svg class="bx--checkbox-checkmark" width="12" height="9" viewBox="0 0 12 9" fill-rule="evenodd">
              <path d="M4.1 6.1L1.4 3.4 0 4.9 4.1 9l7.6-7.6L10.3 0z"></path>
            </svg>
          </span>
        </label>
      </td>
      <td>Load Balancer 1</td>
      <td>HTTP</td>
      <td>80</td>
      <td>Round Robin</td>
      <td>Maureen's VM Groups</td>
      <td>Active</td>
    </tr>
    <tr class="expandable-row">
      <td>
        <input data-event="select-all" id="bx--checkbox-14" class="bx--checkbox" type="checkbox" value="green" name="checkbox-14">
        <label for="bx--checkbox-14" class="bx--checkbox-label" aria-label="Label name">
          <span class="bx--checkbox-appearance">
            <svg class="bx--checkbox-checkmark" width="12" height="9" viewBox="0 0 12 9" fill-rule="evenodd">
              <path d="M4.1 6.1L1.4 3.4 0 4.9 4.1 9l7.6-7.6L10.3 0z"></path>
            </svg>
          </span>
        </label>
      </td>
      <td>Load Balancer 5</td>
      <td>HTTP</td>
      <td>80</td>
      <td>Round Robin</td>
      <td>Maureen's VM Groups</td>
      <td>Active</td>
    </tr>
    <tr>
      <td>
        <input data-event="select-all" id="bx--checkbox-15" class="bx--checkbox" type="checkbox" value="green" name="checkbox-15">
        <label for="bx--checkbox-15" class="bx--checkbox-label" aria-label="Label name">
          <span class="bx--checkbox-appearance">
            <svg class="bx--checkbox-checkmark" width="12" height="9" viewBox="0 0 12 9" fill-rule="evenodd">
              <path d="M4.1 6.1L1.4 3.4 0 4.9 4.1 9l7.6-7.6L10.3 0z"></path>
            </svg>
          </span>
        </label>
      </td>
      <td>Load Balancer 5</td>
      <td>HTTP</td>
      <td>80</td>
      <td>Round Robin</td>
      <td>Maureen's VM Groups</td>
      <td>Active</td>
    </tr>
    <tr>
      <td>
        <input data-event="select-all" id="bx--checkbox-11" class="bx--checkbox" type="checkbox" value="green" name="checkbox-11">
        <label for="bx--checkbox-11" class="bx--checkbox-label" aria-label="Label name">
          <span class="bx--checkbox-appearance">
            <svg class="bx--checkbox-checkmark" width="12" height="9" viewBox="0 0 12 9" fill-rule="evenodd">
              <path d="M4.1 6.1L1.4 3.4 0 4.9 4.1 9l7.6-7.6L10.3 0z"></path>
            </svg>
          </span>
        </label>
      </td>
      <td>Load Balancer 5</td>
      <td>HTTP</td>
      <td>80</td>
      <td>Round Robin</td>
      <td>Maureen's VM Groups</td>
      <td>Active</td>
    </tr>
    <tr>
      <td>
        <input data-event="select-all" id="bx--checkbox-12" class="bx--checkbox" type="checkbox" value="green" name="checkbox-12">
        <label for="bx--checkbox-12" class="bx--checkbox-label" aria-label="Label name">
          <span class="bx--checkbox-appearance">
            <svg class="bx--checkbox-checkmark" width="12" height="9" viewBox="0 0 12 9" fill-rule="evenodd">
              <path d="M4.1 6.1L1.4 3.4 0 4.9 4.1 9l7.6-7.6L10.3 0z"></path>
            </svg>
          </span>
        </label>
      </td>
      <td>Load Balancer 5</td>
      <td>HTTP</td>
      <td>80</td>
      <td>Round Robin</td>
      <td>Maureen's VM Groups</td>
      <td>Active</td>
    </tr>
  </tbody>
</table>