<div class="bx--data-table-v2--batch-editable bx--data-table-v2--batch-editing bx--data-table-v2-container">
  <h4 class="bx--data-table-v2-header">DataTable with batch actions</h4>
  <section class="bx--table-toolbar">
    <div class="bx--batch-actions bx--batch-actions--active">
      <div class="bx--batch-edit-status">
        <p class="bx--batch-summary__para">Editing...</p>
      </div>
      <div class="bx--batch-summary bx--batch-edit-summary">
        <button tabindex="0" class="bx--btn bx--btn--sm bx--btn--ghost" type="button">Add rule
          <svg class="bx--btn__icon" fill-rule="evenodd" height="16" role="img" viewBox="0 0 16 16" width="16" aria-label="Add"
            alt="Add">
            <title>Add</title>
            <path d="M8 14.5c3.6 0 6.5-2.9 6.5-6.5S11.6 1.5 8 1.5 1.5 4.4 1.5 8s2.9 6.5 6.5 6.5zM8 16c-4.4 0-8-3.6-8-8s3.6-8 8-8 8 3.6 8 8-3.6 8-8 8z"></path>
            <path d="M7 7V4h2v3h3v2H9v3H7V9H4V7h3z"></path>
          </svg>
        </button>
        <button tabindex="0" class="bx--batch-edit-summary__save bx--btn bx--btn--sm bx--btn--ghost" type="button">Save
          <svg class="bx--btn__icon" fill-rule="evenodd" height="16" role="img" viewBox="0 0 16 16" width="16" aria-label="Add"
            alt="Add">
            <title>Add</title>
            <path d="M12 1.597v2.406a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V1H1v14h3V9a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v6h3V4.702l-3-3.105zM1 0h10.848L16 4.298V15a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V1a1 1 0 0 1 1-1zm10 9H5v5.992l6 .007V9zM5 1v3.003h6V1H5z"></path>
          </svg>
        </button>
        <button class="bx--batch-summary__cancel bx--batch-edit-summary__cancel">Cancel</button>
      </div>
    </div>
    <div class="bx--toolbar-content">
      <button class="bx--toolbar-action">
        <svg class="bx--toolbar-action__icon" fill-rule="evenodd" height="16" role="img" viewBox="0 0 16 16" width="16" aria-label="Edit"
          alt="Edit">
          <title>Edit</title>
          <path d="M7.926 3.38L1.002 9.72V12h2.304l6.926-6.316L7.926 3.38zm.738-.675l2.308 2.304 1.451-1.324-2.308-2.309-1.451 1.329zM.002 9.28L9.439.639a1 1 0 0 1 1.383.03l2.309 2.309a1 1 0 0 1-.034 1.446L3.694 13H.002V9.28zM0 16.013v-1h16v1z"></path>
        </svg>
      </button>
    </div>
  </section>
  <table class="bx--data-table-v2 bx--data-table-v2--zebra bx--data-table-v2--batch-editable">
    <thead>
      <tr>
        <th colspan="1" scope="col">Protocol</th>
        <th colspan="2" scope="col">Source</th>
        <th colspan="3" scope="col">Port range</th>
        <th colspan="1" class="bx--data-table-v2--batch-edit-delete-cell" scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="bx--form-item">
            <div class="bx--select">
              <label for="a:protocol__select" class="bx--label">Select</label>
              <select data-id="a:protocol" data-field="protocol" id="a:protocol__select" class="bx--select-input"
                aria-describedby="a:protocol__select-error-msg">
                <option class="bx--select-option" value="tcp">TCP</option>
                <option class="bx--select-option" value="udp">UDP</option>
                <option class="bx--select-option" value="icmp">ICMP</option>
                <option class="bx--select-option" value="all" selected="">All</option>
              </select>
              <svg class="bx--select__arrow" fill-rule="evenodd" height="5" role="img" viewBox="0 0 10 5" width="10" aria-label="open list of options"
                alt="open list of options">
                <title>open list of options</title>
                <path d="M0 0l5 4.998L10 0z"></path>
              </svg>
            </div>
          </div>
        </td>
        <td>
          <div class="bx--form-item">
            <div class="bx--select">
              <label for="a:source-type__select" class="bx--label">Select</label>
              <select data-id="a:source-type" data-field="endpoint-group-type" id="a:source-type__select" class="bx--select-input"
                aria-describedby="a:source-type__select-error-msg">
                <option class="bx--select-option" value="any" selected="">Any</option>
                <option class="bx--select-option" value="ip_address">IP address</option>
                <option class="bx--select-option" value="cidr_block">CIDR block</option>
                <option class="bx--select-option" value="security_group">Security group</option>
              </select>
              <svg class="bx--select__arrow" fill-rule="evenodd" height="5" role="img" viewBox="0 0 10 5" width="10" aria-label="open list of options"
                alt="open list of options">
                <title>open list of options</title>
                <path d="M0 0l5 4.998L10 0z"></path>
              </svg>
            </div>
          </div>
        </td>
        <td class="bx--data-table-v2--batch-edit-default-cell">0.0.0.0</td>
        <td>
          <div class="bx--form-item">
            <div class="bx--select">
              <label for="a:port_range-type__select" class="bx--label">Select</label>
              <select data-id="a:port_range-type" data-field="port-range-type" id="a:port_range-type__select"
                class="bx--select-input" aria-describedby="a:port_range-type__select-error-msg">
                <option class="bx--select-option" value="any" selected="">Any</option>
                <option class="bx--select-option" value="limit">Limit</option>
              </select>
              <svg class="bx--select__arrow" fill-rule="evenodd" height="5" role="img" viewBox="0 0 10 5" width="10" aria-label="open list of options"
                alt="open list of options">
                <title>open list of options</title>
                <path d="M0 0l5 4.998L10 0z"></path>
              </svg>
            </div>
          </div>
        </td>
        <td class="bx--data-table-v2--batch-edit-default-cell">0</td>
        <td class="bx--data-table-v2--batch-edit-default-cell">65535</td>
        <td class="bx--data-table-v2--batch-edit-delete-cell">
          <button class="bx--toolbar-action" data-id="a:delete">
            <svg class="bx--toolbar-action__icon" fill-rule="evenodd" height="16" role="img" viewBox="0 0 16 16" width="16"
              aria-label="Delete this rule" alt="Delete this rule">
              <title>Delete this rule</title>
              <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zm4 7v2H4V7"></path>
            </svg>
          </button>
        </td>
      </tr>
      <tr>
        <td>
          <div class="bx--form-item">
            <div class="bx--select">
              <label for="b:protocol__select" class="bx--label">Select</label>
              <select data-id="b:protocol" data-field="protocol" id="b:protocol__select" class="bx--select-input"
                aria-describedby="b:protocol__select-error-msg">
                <option class="bx--select-option" value="tcp" selected="">TCP</option>
                <option class="bx--select-option" value="udp">UDP</option>
                <option class="bx--select-option" value="icmp">ICMP</option>
                <option class="bx--select-option" value="all">All</option>
              </select>
              <svg class="bx--select__arrow" fill-rule="evenodd" height="5" role="img" viewBox="0 0 10 5" width="10" aria-label="open list of options"
                alt="open list of options">
                <title>open list of options</title>
                <path d="M0 0l5 4.998L10 0z"></path>
              </svg>
            </div>
          </div>
        </td>
        <td>
          <div class="bx--form-item">
            <div class="bx--select">
              <label for="b:source-type__select" class="bx--label">Select</label>
              <select data-id="b:source-type" data-field="endpoint-group-type" id="b:source-type__select" class="bx--select-input"
                aria-describedby="b:source-type__select-error-msg">
                <option class="bx--select-option" value="any">Any</option>
                <option class="bx--select-option" value="ip_address">IP address</option>
                <option class="bx--select-option" value="cidr_block" selected="">CIDR block</option>
                <option class="bx--select-option" value="security_group">Security group</option>
              </select>
              <svg class="bx--select__arrow" fill-rule="evenodd" height="5" role="img" viewBox="0 0 10 5" width="10" aria-label="open list of options"
                alt="open list of options">
                <title>open list of options</title>
                <path d="M0 0l5 4.998L10 0z"></path>
              </svg>
            </div>
          </div>
        </td>
        <td>
          <div class="bx--form-item">
            <input data-id="b:source-value" data-field="endpoint-group-value" id="b:source-value__cidr_block__input" type="text"
              class="bx--text-input bx--text__input" value="0.0.0.0/24">
          </div>
        </td>
        <td>
          <div class="bx--form-item">
            <div class="bx--select">
              <label for="b:port_range-type__select" class="bx--label">Select</label>
              <select data-id="b:port_range-type" data-field="port-range-type" id="b:port_range-type__select"
                class="bx--select-input" aria-describedby="b:port_range-type__select-error-msg">
                <option class="bx--select-option" value="any">Any</option>
                <option class="bx--select-option" value="limit" selected="">Limit</option>
              </select>
              <svg class="bx--select__arrow" fill-rule="evenodd" height="5" role="img" viewBox="0 0 10 5" width="10" aria-label="open list of options"
                alt="open list of options">
                <title>open list of options</title>
                <path d="M0 0l5 4.998L10 0z"></path>
              </svg>
            </div>
          </div>
        </td>
        <td>
          <div class="bx--form-item">
            <div class="bx--number" data-invalid="true">
              <div class="bx--number__controls">
                <button class="bx--number__control-btn up-icon" type="button">
                  <svg class="up-icon" fill-rule="evenodd" height="5" role="img" viewBox="0 0 10 5" width="10" aria-label="choose a number"
                    alt="choose a number">
                    <title>choose a number</title>
                    <path d="M0 5L5 .002 10 5z"></path>
                  </svg>
                </button>
                <button class="bx--number__control-btn down-icon" type="button">
                  <svg class="down-icon" fill-rule="evenodd" height="5" role="img" viewBox="0 0 10 5" width="10" aria-label="choose a number"
                    alt="choose a number">
                    <title>choose a number</title>
                    <path d="M0 0l5 4.998L10 0z"></path>
                  </svg>
                </button>
              </div>
              <label for="b:port_range-value__value-from__input" class="bx--label"></label>
              <input type="number" pattern="[0-9]*" data-id="b:port_range-value" data-field="port-range-value-from"
                id="b:port_range-value__value-from__input" step="1" value="80">
              <div class="bx--form-requirement">
                <div class="bx--tooltip__trigger">
                  <div role="button" tabindex="0" aria-haspopup="true" aria-expanded="false">
                    <svg fill-rule="evenodd" height="16" role="img" viewBox="0 0 16 16" width="16" aria-label="tooltip" alt="tooltip">
                      <title>tooltip</title>
                      <path d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zM3.293 4.707l8 8 1.414-1.414-8-8-1.414 1.414z"></path>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="bx--form-item">
            <div class="bx--number">
              <div class="bx--number__controls">
                <button class="bx--number__control-btn up-icon" type="button">
                  <svg class="up-icon" fill-rule="evenodd" height="5" role="img" viewBox="0 0 10 5" width="10" aria-label="choose a number"
                    alt="choose a number">
                    <title>choose a number</title>
                    <path d="M0 5L5 .002 10 5z"></path>
                  </svg>
                </button>
                <button class="bx--number__control-btn down-icon" type="button">
                  <svg class="down-icon" fill-rule="evenodd" height="5" role="img" viewBox="0 0 10 5" width="10" aria-label="choose a number"
                    alt="choose a number">
                    <title>choose a number</title>
                    <path d="M0 0l5 4.998L10 0z"></path>
                  </svg>
                </button>
              </div>
              <label for="b:port_range-value__value-to__input" class="bx--label"></label>
              <input type="number" pattern="[0-9]*" data-id="b:port_range-value" data-field="port-range-value-to"
                id="b:port_range-value__value-to__input" step="1" value="8080">
            </div>
          </div>
        </td>
        <td class="bx--data-table-v2--batch-edit-delete-cell">
          <button class="bx--toolbar-action" data-id="b:delete">
            <svg class="bx--toolbar-action__icon" fill-rule="evenodd" height="16" role="img" viewBox="0 0 16 16" width="16"
              aria-label="Delete this rule" alt="Delete this rule">
              <title>Delete this rule</title>
              <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zm4 7v2H4V7"></path>
            </svg>
          </button>
        </td>
      </tr>
      <tr>
        <td>
          <div class="bx--form-item">
            <div class="bx--select">
              <label for="c:protocol__select" class="bx--label">Select</label>
              <select data-id="c:protocol" data-field="protocol" id="c:protocol__select" class="bx--select-input"
                aria-describedby="c:protocol__select-error-msg">
                <option class="bx--select-option" value="tcp">TCP</option>
                <option class="bx--select-option" value="udp" selected="">UDP</option>
                <option class="bx--select-option" value="icmp">ICMP</option>
                <option class="bx--select-option" value="all">All</option>
              </select>
              <svg class="bx--select__arrow" fill-rule="evenodd" height="5" role="img" viewBox="0 0 10 5" width="10" aria-label="open list of options"
                alt="open list of options">
                <title>open list of options</title>
                <path d="M0 0l5 4.998L10 0z"></path>
              </svg>
            </div>
          </div>
        </td>
        <td>
          <div class="bx--form-item">
            <div class="bx--select">
              <label for="c:source-type__select" class="bx--label">Select</label>
              <select data-id="c:source-type" data-field="endpoint-group-type" id="c:source-type__select" class="bx--select-input"
                aria-describedby="c:source-type__select-error-msg">
                <option class="bx--select-option" value="any">Any</option>
                <option class="bx--select-option" value="ip_address">IP address</option>
                <option class="bx--select-option" value="cidr_block">CIDR block</option>
                <option class="bx--select-option" value="security_group" selected="">Security group</option>
              </select>
              <svg class="bx--select__arrow" fill-rule="evenodd" height="5" role="img" viewBox="0 0 10 5" width="10" aria-label="open list of options"
                alt="open list of options">
                <title>open list of options</title>
                <path d="M0 0l5 4.998L10 0z"></path>
              </svg>
            </div>
          </div>
        </td>
        <td>
          <div class="bx--form-item">
            <div class="bx--select">
              <label for="c:source-value__security_group__select" class="bx--label">Select</label>
              <select data-id="c:source-value" data-field="endpoint-group-value" id="c:source-value__security_group__select"
                class="bx--select-input" aria-describedby="c:source-value__security_group__select-error-msg">
                <option class="bx--select-option" value="magni_a_tenetur">Magni a tenetur</option>
                <option class="bx--select-option" value="quia_neque">Quia neque</option>
                <option class="bx--select-option" value="eaque_est" selected="">Eaque est</option>
                <option class="bx--select-option" value="omnis_voluptas">Omnis voluptas</option>
              </select>
              <svg class="bx--select__arrow" fill-rule="evenodd" height="5" role="img" viewBox="0 0 10 5" width="10" aria-label="open list of options"
                alt="open list of options">
                <title>open list of options</title>
                <path d="M0 0l5 4.998L10 0z"></path>
              </svg>
            </div>
          </div>
        </td>
        <td>
          <div class="bx--form-item">
            <div class="bx--select">
              <label for="c:port_range-type__select" class="bx--label">Select</label>
              <select data-id="c:port_range-type" data-field="port-range-type" id="c:port_range-type__select"
                class="bx--select-input" aria-describedby="c:port_range-type__select-error-msg">
                <option class="bx--select-option" value="any" selected="">Any</option>
                <option class="bx--select-option" value="limit">Limit</option>
              </select>
              <svg class="bx--select__arrow" fill-rule="evenodd" height="5" role="img" viewBox="0 0 10 5" width="10" aria-label="open list of options"
                alt="open list of options">
                <title>open list of options</title>
                <path d="M0 0l5 4.998L10 0z"></path>
              </svg>
            </div>
          </div>
        </td>
        <td class="bx--data-table-v2--batch-edit-default-cell">0</td>
        <td class="bx--data-table-v2--batch-edit-default-cell">65535</td>
        <td class="bx--data-table-v2--batch-edit-delete-cell">
          <button class="bx--toolbar-action" data-id="c:delete">
            <svg class="bx--toolbar-action__icon" fill-rule="evenodd" height="16" role="img" viewBox="0 0 16 16" width="16"
              aria-label="Delete this rule" alt="Delete this rule">
              <title>Delete this rule</title>
              <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zm4 7v2H4V7"></path>
            </svg>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>