<div class="bx--data-table-v2-container" data-table-v2>
  <h4 class="bx--data-table-v2-header">Editable</h4>
  <table class="bx--data-table-v2 bx--data-table-v2--zebra">
    <thead>
      <tr>
        <th>
          <button class="bx--table-sort-v2" data-event="sort">
            <span class="bx--table-header-label">Name</span>
            <svg class="bx--table-sort-v2__icon" width='10' height='5' viewBox='0 0 10 5' fill-rule='evenodd'>
              <path d='M10 0L5 5 0 0z'></path>
            </svg>
          </button>
        </th>
        <th>
          <button class="bx--table-sort-v2" data-event="sort">
            <span>Protocol</span>
            <svg class="bx--table-sort-v2__icon" width='10' height='5' viewBox='0 0 10 5' fill-rule='evenodd'>
              <path d='M10 0L5 5 0 0z'></path>
            </svg>
          </button>
        </th>
        <th>
          <button class="bx--table-sort-v2" data-event="sort">
            <span>Something</span>
            <svg class="bx--table-sort-v2__icon" width='10' height='5' viewBox='0 0 10 5' fill-rule='evenodd'>
              <path d='M10 0L5 5 0 0z'></path>
            </svg>
          </button>
        </th>
        <th>
          <button class="bx--table-sort-v2" data-event="sort">
            <span>Rule</span>
            <svg class="bx--table-sort-v2__icon" width='10' height='5' viewBox='0 0 10 5' fill-rule='evenodd'>
              <path d='M10 0L5 5 0 0z'></path>
            </svg>
          </button>
        </th>
        <th>
          <button class="bx--table-sort-v2" data-event="sort">
            <span>Attached Groups</span>
            <svg class="bx--table-sort-v2__icon" width='10' height='5' viewBox='0 0 10 5' fill-rule='evenodd'>
              <path d='M10 0L5 5 0 0z'></path>
            </svg>
          </button>
        </th>
        <th>
          <button class="bx--table-sort-v2" data-event="sort">
            <span>Status</span>
            <svg class="bx--table-sort-v2__icon" width='10' height='5' viewBox='0 0 10 5' fill-rule='evenodd'>
              <path d='M10 0L5 5 0 0z'></path>
            </svg>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Load Balancer 1</td>
        <td>HTTP</td>
        <td>80</td>
        <td>Round Robin</td>
        <td>
          <button class="bx--data-table-cell--editable">
            <span class="bx--data-table-cell__content">
              Maureen's VM Groups
            </span>
            <svg class="bx--data-table-cell__edit-label" width="16" height="16" viewBox="0 0 16 16" fill-rule="evenodd">
              <title>Edit this cell</title>
              <path d="M2.032 10.924l7.99-7.99 2.97 2.97-7.99 7.99zm9.014-8.91l1.98-1.98 2.97 2.97-1.98 1.98zM0 16l3-1-2-2z">
              </path>
            </svg>
          </button>
        </td>
        <td>Active</td>
      </tr>
      <tr>
        <td>Load Balancer 5</td>
        <td>HTTP</td>
        <td>80</td>
        <td>Round Robin</td>
        <td>Maureen's VM Groups</td>
        <td>Active</td>
      </tr>
      <tr>
        <td>Load Balancer 5</td>
        <td>HTTP</td>
        <td>80</td>
        <td>Round Robin</td>
        <td>
          <div class="bx--data-table-cell--editing">
            <div class="bx--form-item">
              <label for="text1" class="bx--label">Text Input label</label>
              <input
                id="text1"
                type="text"
                class="bx--text-input"
                value="Maureen's VM Groups"
              />
            </div>
            <div class="bx--data-table-cell__edit-actions">
              <button class="bx--btn bx--btn--secondary bx--btn--sm">
                Cancel
              </button>
              <button class="bx--btn bx--btn--primary bx--btn--sm">
                Save
              </button>
            </div>
          </div>
        </td>
        <td>Active</td>
      </tr>
      <tr>
        <td>Load Balancer 5</td>
        <td>HTTP</td>
        <td>80</td>
        <td>Round Robin</td>
        <td>
          <button class="bx--data-table-cell--editable">
            <span class="bx--data-table-cell__content">
              Maureen's VM Groups
            </span>
            <svg class="bx--data-table-cell__edit-label" width="16" height="16" viewBox="0 0 16 16" fill-rule="evenodd">
              <title>Edit this cell</title>
              <path d="M2.032 10.924l7.99-7.99 2.97 2.97-7.99 7.99zm9.014-8.91l1.98-1.98 2.97 2.97-1.98 1.98zM0 16l3-1-2-2z">
              </path>
            </svg>
          </button>
        </td>
        <td>Active</td>
      </tr>
      <tr>
        <td>Load Balancer 5</td>
        <td>HTTP</td>
        <td>80</td>
        <td>Round Robin</td>
        <td>Maureen's VM Groups</td>
        <td>Active</td>
      </tr>
    </tbody>
  </table>
</div>
