<table class="bx--data-table-v2 bx--data-table-v2--compact">
  <thead>
    <tr>
      <th>Name</th>
      <th>Protocol</th>
      <th>Ports</th>
      <th>Rule</th>
      <th>Attached Groups</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Load Balancer 1</td>
      <td>HTTP</td>
      <td>80</td>
      <td>Round Robin</td>
      <td>Maureen's VM Groups</td>
      <td>Active</td>
    </tr>
    <tr>
      <td>Load Balancer 5</td>
      <td>HTTP</td>
      <td>80</td>
      <td>Round Robin</td>
      <td>Maureen's VM Groups</td>
      <td>Active</td>
    </tr>
    <tr>
      <td>Load Balancer 5</td>
      <td>HTTP</td>
      <td>80</td>
      <td>Round Robin</td>
      <td>Maureen's VM Groups</td>
      <td>Active</td>
    </tr>
    <tr>
      <td>Load Balancer 5</td>
      <td>HTTP</td>
      <td>80</td>
      <td>Round Robin</td>
      <td>Maureen's VM Groups</td>
      <td>Active</td>
    </tr>
    <tr>
      <td>Load Balancer 5</td>
      <td>HTTP</td>
      <td>80</td>
      <td>Round Robin</td>
      <td>Maureen's VM Groups</td>
      <td>Active</td>
    </tr>
  </tbody>
</table>
