<div class="bx--data-table-v2-container" data-table-v2>
  <h4 class="bx--data-table-v2-header">Editable</h4>
  <table class="bx--data-table-v2 bx--data-table-v2--zebra">
    <thead>
      <tr>
        <th>
          <button class="bx--table-sort-v2" data-event="sort">
            <span class="bx--table-header-label">Name</span>
            <svg class="bx--table-sort-v2__icon" width='10' height='5' viewBox='0 0 10 5' fill-rule='evenodd'>
              <path d='M10 0L5 5 0 0z'></path>
            </svg>
          </button>
        </th>
        <th>
          <button class="bx--table-sort-v2" data-event="sort">
            <span>Protocol</span>
            <svg class="bx--table-sort-v2__icon" width='10' height='5' viewBox='0 0 10 5' fill-rule='evenodd'>
              <path d='M10 0L5 5 0 0z'></path>
            </svg>
          </button>
        </th>
        <th>
          <button class="bx--table-sort-v2" data-event="sort">
            <span>Something</span>
            <svg class="bx--table-sort-v2__icon" width='10' height='5' viewBox='0 0 10 5' fill-rule='evenodd'>
              <path d='M10 0L5 5 0 0z'></path>
            </svg>
          </button>
        </th>
        <th>
          <button class="bx--table-sort-v2" data-event="sort">
            <span>Rule</span>
            <svg class="bx--table-sort-v2__icon" width='10' height='5' viewBox='0 0 10 5' fill-rule='evenodd'>
              <path d='M10 0L5 5 0 0z'></path>
            </svg>
          </button>
        </th>
        <th>
          <button class="bx--table-sort-v2" data-event="sort">
            <span>Attached Groups</span>
            <svg class="bx--table-sort-v2__icon" width='10' height='5' viewBox='0 0 10 5' fill-rule='evenodd'>
              <path d='M10 0L5 5 0 0z'></path>
            </svg>
          </button>
        </th>
        <th>
          <button class="bx--table-sort-v2" data-event="sort">
            <span>Status</span>
            <svg class="bx--table-sort-v2__icon" width='10' height='5' viewBox='0 0 10 5' fill-rule='evenodd'>
              <path d='M10 0L5 5 0 0z'></path>
            </svg>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="bx--data-table-cell--editable">
          <div class="bx--data-table-cell__align">
            <span class="bx--data-table-cell__content" title="Load Balance 5">
              Load Balancer 5
            </span>
            <button class="bx--data-table-cell__edit" title="Edit Name: Load Balancer 5">
              <svg
                class="bx--data-table-cell__icon--edit"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill-rule="evenodd"
                aria-hidden="true">
                <path d="M2.032 10.924l7.99-7.99 2.97 2.97-7.99 7.99zm9.014-8.91l1.98-1.98 2.97 2.97-1.98 1.98zM0 16l3-1-2-2z"></path>
              </svg>
            </button>
          </div>
        </td>
        <td class="bx--data-table-cell--editable">
          <div class="bx--data-table-cell__align">
            <span class="bx--data-table-cell__content" title="Load Balance 5">
              HTTP
            </span>
            <button class="bx--data-table-cell__edit" title="Edit Name: Load Balancer 5">
              <svg
                class="bx--data-table-cell__icon--edit"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill-rule="evenodd"
                aria-hidden="true">
                <path d="M2.032 10.924l7.99-7.99 2.97 2.97-7.99 7.99zm9.014-8.91l1.98-1.98 2.97 2.97-1.98 1.98zM0 16l3-1-2-2z"></path>
              </svg>
            </button>
          </div>
        </td>
        <td class="bx--data-table-cell--editable">
          <div class="bx--data-table-cell__align">
            <span class="bx--data-table-cell__content" title="Load Balance 5">
              80
            </span>
            <button class="bx--data-table-cell__edit" title="Edit Name: Load Balancer 5">
              <svg
                class="bx--data-table-cell__icon--edit"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill-rule="evenodd"
                aria-hidden="true">
                <path d="M2.032 10.924l7.99-7.99 2.97 2.97-7.99 7.99zm9.014-8.91l1.98-1.98 2.97 2.97-1.98 1.98zM0 16l3-1-2-2z"></path>
              </svg>
            </button>
          </div>
        </td>
        <td class="bx--data-table-cell--editable">
          <div class="bx--data-table-cell__align">
            <span class="bx--data-table-cell__content" title="Load Balance 5">
              Round Robin
            </span>
            <button class="bx--data-table-cell__edit" title="Edit Name: Load Balancer 5">
              <svg
                class="bx--data-table-cell__icon--edit"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill-rule="evenodd"
                aria-hidden="true">
                <path d="M2.032 10.924l7.99-7.99 2.97 2.97-7.99 7.99zm9.014-8.91l1.98-1.98 2.97 2.97-1.98 1.98zM0 16l3-1-2-2z"></path>
              </svg>
            </button>
          </div>
        </td>
        <td class="bx--data-table-cell--editable">
          <div class="bx--data-table-cell__align">
            <span class="bx--data-table-cell__content" title="Load Balance 5">
              Maureen's VM Group
            </span>
            <button class="bx--data-table-cell__edit" title="Edit Name: Load Balancer 5">
              <svg
                class="bx--data-table-cell__icon--edit"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill-rule="evenodd"
                aria-hidden="true">
                <path d="M2.032 10.924l7.99-7.99 2.97 2.97-7.99 7.99zm9.014-8.91l1.98-1.98 2.97 2.97-1.98 1.98zM0 16l3-1-2-2z"></path>
              </svg>
            </button>
          </div>
        </td>
        <td class="bx--data-table-cell--editable">
          <div class="bx--data-table-cell__align">
            <span class="bx--data-table-cell__content" title="Load Balance 5">
              Active
            </span>
            <button class="bx--data-table-cell__edit" title="Edit Name: Load Balancer 5">
              <svg
                class="bx--data-table-cell__icon--edit"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill-rule="evenodd"
                aria-hidden="true">
                <path d="M2.032 10.924l7.99-7.99 2.97 2.97-7.99 7.99zm9.014-8.91l1.98-1.98 2.97 2.97-1.98 1.98zM0 16l3-1-2-2z"></path>
              </svg>
            </button>
          </div>
        </td>
      </tr>
      <tr>
        <td>Load Balancer 5</td>
        <td>HTTP</td>
        <td>80</td>
        <td>Round Robin</td>
        <td>Maureen's VM Groups</td>
        <td>Active</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="bx--data-table-v2-container" data-table-v2>
  <h4 class="bx--data-table-v2-header">Edit Fields</h4>
  <table class="bx--data-table-v2 bx--data-table-v2--zebra">
    <thead>
      <tr>
        <th>
          <button class="bx--table-sort-v2" data-event="sort">
            <span class="bx--table-header-label">Name</span>
            <svg class="bx--table-sort-v2__icon" width='10' height='5' viewBox='0 0 10 5' fill-rule='evenodd'>
              <path d='M10 0L5 5 0 0z'></path>
            </svg>
          </button>
        </th>
        <th>
          <button class="bx--table-sort-v2" data-event="sort">
            <span>Protocol</span>
            <svg class="bx--table-sort-v2__icon" width='10' height='5' viewBox='0 0 10 5' fill-rule='evenodd'>
              <path d='M10 0L5 5 0 0z'></path>
            </svg>
          </button>
        </th>
        <th>
          <button class="bx--table-sort-v2" data-event="sort">
            <span>Something</span>
            <svg class="bx--table-sort-v2__icon" width='10' height='5' viewBox='0 0 10 5' fill-rule='evenodd'>
              <path d='M10 0L5 5 0 0z'></path>
            </svg>
          </button>
        </th>
        <th>
          <button class="bx--table-sort-v2" data-event="sort">
            <span>Rule</span>
            <svg class="bx--table-sort-v2__icon" width='10' height='5' viewBox='0 0 10 5' fill-rule='evenodd'>
              <path d='M10 0L5 5 0 0z'></path>
            </svg>
          </button>
        </th>
        <th>
          <button class="bx--table-sort-v2" data-event="sort">
            <span>Attached Groups</span>
            <svg class="bx--table-sort-v2__icon" width='10' height='5' viewBox='0 0 10 5' fill-rule='evenodd'>
              <path d='M10 0L5 5 0 0z'></path>
            </svg>
          </button>
        </th>
        <th>
          <button class="bx--table-sort-v2" data-event="sort">
            <span>Status</span>
            <svg class="bx--table-sort-v2__icon" width='10' height='5' viewBox='0 0 10 5' fill-rule='evenodd'>
              <path d='M10 0L5 5 0 0z'></path>
            </svg>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <!-- Text Input -->
        <td class="bx--data-table-cell--editable bx--data-table-cell--editing">
          <div class="bx--data-table__edit-field">
            <label for="text-input-1" class="bx--label">
              Edit Name: Load Balancer 5
            </label>
            <input id="text-input-1" type="text" class="bx--text-input" value="Load Balancer 5">
          </div>
        </td>
        <td>HTTP</td>
        <td>80</td>
        <td>Round Robin</td>
        <td>Maureen's VM Groups</td>
        <td>Active</td>
      </tr>
      <tr>
        <td>Load Balancer 5</td>
        <td>HTTP</td>
        <!-- Number Input -->
        <td class="bx--data-table-cell--editable bx--data-table-cell--editing">
          <div class="bx--data-table__edit-field">
            <label for="number-input-1" class="bx--label">Number Input label</label>
            <div data-numberinput class="bx--number">
              <input
                id="number-input-1"
                type="number"
                min="80"
                max="8000"
                value="80">
              <div class="bx--number__controls">
                <button class="bx--number__control-btn up-icon">
                  <svg viewBox="0 2 10 5" width="10" height="5" fill-rule="evenodd">
                    <path d="M10 5L5 0 0 5z"></path>
                  </svg>
                </button>
                <button class="bx--number__control-btn down-icon">
                  <svg viewBox="0 2 10 5" width="10" height="5" fill-rule="evenodd">
                    <path d="M10 0L5 5 0 0z"></path>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </td>
        <td>Round Robin</td>
        <td>Maureen's VM Groups</td>
        <td>Active</td>
      </tr>
      <tr>
        <td>Load Balancer 5</td>
        <td>HTTP</td>
        <td>80</td>
        <td>Round Robin</td>
        <td>Maureen's VM Groups</td>
        <!-- Select Input -->
        <td class="bx--data-table-cell--editable bx--data-table-cell--editing">
          <div class="bx--data-table__edit-field">
            <label for="select-id" class="bx--label">Select label</label>
            <div class="bx--select">
              <select id="select-id" class="bx--select-input">
                <option class="bx--select-option" selected value="solong">
                  Active
                </option>
                <option class="bx--select-option" selected value="solong">
                  Disabled
                </option>
              </select>
              <svg class="bx--select__arrow" width="10" height="5" viewBox="0 0 10 5" fill-rule="evenodd">
                <path d="M10 0L5 5 0 0z"></path>
              </svg>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="bx--data-table-v2-container" data-table-v2>
  <h4 class="bx--data-table-v2-header">Edit Actions</h4>
  <table class="bx--data-table-v2 bx--data-table-v2--zebra">
    <thead>
      <tr>
        <th>
          <button class="bx--table-sort-v2" data-event="sort">
            <span class="bx--table-header-label">Name</span>
            <svg class="bx--table-sort-v2__icon" width='10' height='5' viewBox='0 0 10 5' fill-rule='evenodd'>
              <path d='M10 0L5 5 0 0z'></path>
            </svg>
          </button>
        </th>
        <th>
          <button class="bx--table-sort-v2" data-event="sort">
            <span>Protocol</span>
            <svg class="bx--table-sort-v2__icon" width='10' height='5' viewBox='0 0 10 5' fill-rule='evenodd'>
              <path d='M10 0L5 5 0 0z'></path>
            </svg>
          </button>
        </th>
        <th>
          <button class="bx--table-sort-v2" data-event="sort">
            <span>Something</span>
            <svg class="bx--table-sort-v2__icon" width='10' height='5' viewBox='0 0 10 5' fill-rule='evenodd'>
              <path d='M10 0L5 5 0 0z'></path>
            </svg>
          </button>
        </th>
        <th>
          <button class="bx--table-sort-v2" data-event="sort">
            <span>Rule</span>
            <svg class="bx--table-sort-v2__icon" width='10' height='5' viewBox='0 0 10 5' fill-rule='evenodd'>
              <path d='M10 0L5 5 0 0z'></path>
            </svg>
          </button>
        </th>
        <th>
          <button class="bx--table-sort-v2" data-event="sort">
            <span>Attached Groups</span>
            <svg class="bx--table-sort-v2__icon" width='10' height='5' viewBox='0 0 10 5' fill-rule='evenodd'>
              <path d='M10 0L5 5 0 0z'></path>
            </svg>
          </button>
        </th>
        <th>
          <button class="bx--table-sort-v2" data-event="sort">
            <span>Status</span>
            <svg class="bx--table-sort-v2__icon" width='10' height='5' viewBox='0 0 10 5' fill-rule='evenodd'>
              <path d='M10 0L5 5 0 0z'></path>
            </svg>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <!-- Text Input -->
        <td class="bx--data-table-cell--editable bx--data-table-cell--editing">
          <div class="bx--data-table__edit-field">
            <label for="text-input-1" class="bx--label">
              Edit Name: Load Balancer 5
            </label>
            <input id="text-input-1" type="text" class="bx--text-input" value="Load Balancer 5">
          </div>
          <div class="bx--data-table__edit-actions">
            <button class="bx--btn bx--btn--secondary bx--btn--sm">
              Cancel
            </button>
            <button class="bx--btn bx--btn--primary bx--btn--sm">
              Save
            </button>
          </div>
        </td>
        <td>HTTP</td>
        <td>80</td>
        <td>Round Robin</td>
        <td>Maureen's VM Groups</td>
        <td>Active</td>
      </tr>
      <tr>
        <td>Load Balancer 5</td>
        <td>HTTP</td>
        <!-- Number Input -->
        <td class="bx--data-table-cell--editable bx--data-table-cell--editing">
          <div class="bx--data-table__edit-field">
            <label for="number-input-1" class="bx--label">Number Input label</label>
            <div data-numberinput class="bx--number">
              <input
                id="number-input-1"
                type="number"
                min="80"
                max="8000"
                value="80">
              <div class="bx--number__controls">
                <button class="bx--number__control-btn up-icon">
                  <svg viewBox="0 2 10 5" width="10" height="5" fill-rule="evenodd">
                    <path d="M10 5L5 0 0 5z"></path>
                  </svg>
                </button>
                <button class="bx--number__control-btn down-icon">
                  <svg viewBox="0 2 10 5" width="10" height="5" fill-rule="evenodd">
                    <path d="M10 0L5 5 0 0z"></path>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <div class="bx--data-table__edit-actions">
            <button class="bx--btn bx--btn--secondary bx--btn--sm">
              Cancel
            </button>
            <button class="bx--btn bx--btn--primary bx--btn--sm">
              Save
            </button>
          </div>
        </td>
        <td>Round Robin</td>
        <td>Maureen's VM Groups</td>
        <td>Active</td>
      </tr>
      <tr>
        <td>Load Balancer 5</td>
        <td>HTTP</td>
        <td>80</td>
        <td>Round Robin</td>
        <td>Maureen's VM Groups</td>
        <!-- Select Input -->
        <td class="bx--data-table-cell--editable bx--data-table-cell--editing">
          <div class="bx--data-table__edit-field">
            <label for="select-id" class="bx--label">Select label</label>
            <div class="bx--select">
              <select id="select-id" class="bx--select-input">
                <option class="bx--select-option" selected value="solong">
                  Active
                </option>
                <option class="bx--select-option" selected value="solong">
                  Disabled
                </option>
              </select>
              <svg class="bx--select__arrow" width="10" height="5" viewBox="0 0 10 5" fill-rule="evenodd">
                <path d="M10 0L5 5 0 0z"></path>
              </svg>
            </div>
          </div>
          <div class="bx--data-table__edit-actions">
            <button class="bx--btn bx--btn--secondary bx--btn--sm">
              Cancel
            </button>
            <button class="bx--btn bx--btn--primary bx--btn--sm">
              Save
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

