<table class="bx--data-table-v2 bx--data-table-v2--zebra bx--data-table--editing">
    <thead>
        <tr>
            <th scope="col">
                <button class="bx--table-sort-v2"><span class="bx--table-header-label">Name</span>
                    <svg class="bx--table-sort-v2__icon" fill-rule="evenodd" height="5" name="caret--down" role="img" viewBox="0 0 10 5" width="10" aria-label="Sort rows by this header in descending order" alt="Sort rows by this header in descending order">
                        <title>Sort rows by this header in descending order</title>
                        <path d="M10 0L5 5 0 0z"></path>
                    </svg>
                </button>
            </th>
            <th scope="col">
                <button class="bx--table-sort-v2"><span class="bx--table-header-label">Protocol</span>
                    <svg class="bx--table-sort-v2__icon" fill-rule="evenodd" height="5" name="caret--down" role="img" viewBox="0 0 10 5" width="10" aria-label="Sort rows by this header in descending order" alt="Sort rows by this header in descending order">
                        <title>Sort rows by this header in descending order</title>
                        <path d="M10 0L5 5 0 0z"></path>
                    </svg>
                </button>
            </th>
            <th scope="col">
                <button class="bx--table-sort-v2"><span class="bx--table-header-label">Port</span>
                    <svg class="bx--table-sort-v2__icon" fill-rule="evenodd" height="5" name="caret--down" role="img" viewBox="0 0 10 5" width="10" aria-label="Sort rows by this header in descending order" alt="Sort rows by this header in descending order">
                        <title>Sort rows by this header in descending order</title>
                        <path d="M10 0L5 5 0 0z"></path>
                    </svg>
                </button>
            </th>
            <th scope="col">
                <button class="bx--table-sort-v2"><span class="bx--table-header-label">Rule</span>
                    <svg class="bx--table-sort-v2__icon" fill-rule="evenodd" height="5" name="caret--down" role="img" viewBox="0 0 10 5" width="10" aria-label="Sort rows by this header in descending order" alt="Sort rows by this header in descending order">
                        <title>Sort rows by this header in descending order</title>
                        <path d="M10 0L5 5 0 0z"></path>
                    </svg>
                </button>
            </th>
            <th scope="col">
                <button class="bx--table-sort-v2"><span class="bx--table-header-label">Attached Groups</span>
                    <svg class="bx--table-sort-v2__icon" fill-rule="evenodd" height="5" name="caret--down" role="img" viewBox="0 0 10 5" width="10" aria-label="Sort rows by this header in descending order" alt="Sort rows by this header in descending order">
                        <title>Sort rows by this header in descending order</title>
                        <path d="M10 0L5 5 0 0z"></path>
                    </svg>
                </button>
            </th>
            <th scope="col">
                <button class="bx--table-sort-v2"><span class="bx--table-header-label">Status</span>
                    <svg class="bx--table-sort-v2__icon" fill-rule="evenodd" height="5" name="caret--down" role="img" viewBox="0 0 10 5" width="10" aria-label="Sort rows by this header in descending order" alt="Sort rows by this header in descending order">
                        <title>Sort rows by this header in descending order</title>
                        <path d="M10 0L5 5 0 0z"></path>
                    </svg>
                </button>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="bx--data-table-cell--editable bx--data-table-cell--editing">
                <div class="bx--data-table__edit-field">
                    <label class="bx--label" for="edit-cell:a:name">Edit Name: Load Balancer 3</label>
                    <input type="text" class="bx--text-input" id="edit-cell:a:name" value="Load Balancer 3">
                </div>
                <div class="bx--data-table__edit-actions">
                    <button class="bx--btn bx--btn--secondary bx--btn--sm">Cancel</button>
                    <button class="bx--btn bx--btn--primary bx--btn--sm">Save</button>
                </div>
            </td>
            <td class="">HTTP</td>
            <td class="">3000</td>
            <td class="">Round robin</td>
            <td class="">Kevins VM Groups</td>
            <td class="">Disabled</td>
        </tr>
        <tr>
            <td class="bx--data-table-cell--editable"><span class="bx--data-table-cell__content">Load Balancer 1</span></td>
            <td class="">HTTP</td>
            <td class="">443</td>
            <td class="">Round robin</td>
            <td class="">Maureens VM Groups</td>
            <td class="">Starting</td>
        </tr>
        <tr>
            <td class="bx--data-table-cell--editable"><span class="bx--data-table-cell__content">Load Balancer 2</span></td>
            <td class="">HTTP</td>
            <td class="">80</td>
            <td class="">DNS delegation</td>
            <td class="">Andrews VM Groups</td>
            <td class="">Active</td>
        </tr>
    </tbody>
</table>
