<div class="bx--data-table-v2-container" data-table-v2>
  <h4 class="bx--data-table-v2-header">Table title</h4>
  <section class="bx--table-toolbar">
    <div class="bx--batch-actions" aria-label="Table Action Bar">
      <div class="bx--action-list">
        <button class="bx--btn bx--btn--sm bx--btn--ghost" type="button">
          Ghost
          <svg class="bx--btn__icon" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
            <path d="M7 7H4v2h3v3h2V9h3V7H9V4H7v3zm1 9A8 8 0 1 1 8 0a8 8 0 0 1 0 16z" fill-rule="evenodd" />
          </svg>
        </button>

        <button class="bx--btn bx--btn--sm bx--btn--ghost" type="button">
          Ghost
          <svg class="bx--btn__icon" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
            <path d="M7 7H4v2h3v3h2V9h3V7H9V4H7v3zm1 9A8 8 0 1 1 8 0a8 8 0 0 1 0 16z" fill-rule="evenodd" />
          </svg>
        </button>

        <button class="bx--btn bx--btn--sm bx--btn--ghost" type="button">
          Ghost
          <svg class="bx--btn__icon" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
            <path d="M7 7H4v2h3v3h2V9h3V7H9V4H7v3zm1 9A8 8 0 1 1 8 0a8 8 0 0 1 0 16z" fill-rule="evenodd" />
          </svg>
        </button>
      </div>
      <div class="bx--batch-summary">
        <p class="bx--batch-summary__para">
          <span data-items-selected>3</span> items selected</p>
        <button data-event="action-bar-cancel" class="bx--batch-summary__cancel">Cancel</button>
      </div>
    </div>

    <div class="bx--toolbar-search-container">
      <div data-search class="bx--search bx--search--sm bx--search--light" role="search">
        <svg class="bx--search-magnifier" width="16" height="16" viewBox="0 0 16 16">
          <path d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zm4.936-1.27l4.563 4.557-.707.708-4.563-4.558a6.5 6.5 0 1 1 .707-.707z"
            fill-rule="nonzero" />
        </svg>
        <label id="search-input-label-1" class="bx--label" for="search__input-2">Search</label>
        <input class="bx--search-input" type="text" id="search__input-2" role="search" placeholder="Search" aria-labelledby="search-input-label-1">
        <button class="bx--search-close bx--search-close--hidden" title="Clear search
        input" aria-label="Clear search input">
          <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 6.586L5.879 4.464 4.464 5.88 6.586 8l-2.122 2.121 1.415 1.415L8 9.414l2.121 2.122 1.415-1.415L9.414 8l2.122-2.121-1.415-1.415L8 6.586zM8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"
              fill-rule="evenodd" />
          </svg>
        </button>
      </div>
    </div>

    <div class="bx--toolbar-content">
      <button class="bx--toolbar-action">
        <svg class="bx--toolbar-action__icon" xmlns="http://www.w3.org/2000/svg" name="download" role="img" width="14" height="16"
          viewBox="0 0 14 16" aria-label="Download" alt="Download">
          <title>Download</title>
          <path d="M7.5 11l4.1-4.4.7.7L7 13 1.6 7.3l.7-.7L6.5 11V0h1v11zM13 15v-2h1v2c0 .6-.4 1-1 1H1c-.6 0-1-.4-1-1v-2h1v2h12z" />
        </svg>
      </button>

      <button class="bx--toolbar-action">
        <svg class="bx--toolbar-action__icon" fill-rule="evenodd" height="16" name="edit" role="img" viewBox="0 0 16 16" width="16"
          aria-label="Edit" alt="Edit">
          <title>Edit</title>
          <path d="M7.926 3.38L1.002 9.72V12h2.304l6.926-6.316L7.926 3.38zm.738-.675l2.308 2.304 1.451-1.324-2.308-2.309-1.451 1.329zM.002 9.28L9.439.639a1 1 0 0 1 1.383.03l2.309 2.309a1 1 0 0 1-.034 1.446L3.694 13H.002V9.28zM0 16.013v-1h16v1z"></path>
        </svg>
      </button>

      <button class="bx--toolbar-action">
        <svg class="bx--toolbar-action__icon" name="settings" role="img" xmlns="http://www.w3.org/2000/svg" width="15" height="16"
          viewBox="0 0 15 16" aria-label="Settings" alt="Settings">
          <title>Settings</title>
          <path d="M7.5 10.5C8.9 10.5 10 9.4 10 8S8.9 5.5 7.5 5.5 5 6.6 5 8s1.2 2.5 2.5 2.5zm0 1C5.6 11.5 4 9.9 4 8s1.6-3.5 3.5-3.5S11 6.1 11 8s-1.5 3.5-3.5 3.5z"
          />
          <path d="M6.3 2.6l-.3.1c-.7.2-1.3.5-1.9 1l-.2.2-1.4-.8-1.3 1.8L2.4 6l-.1.2C2.1 6.8 2 7.4 2 8c0 .3 0 .7.1 1l.1.3-1.2 1L2.2 12l1.1-.6.3.3c.6.8 1.4 1.3 2.4 1.6l.3.1.2 1.6h2.1l.2-1.6.3-.1c.8-.2 1.6-.7 2.2-1.3l.3-.2 1.1.6 1.2-1.7-1.1-1 .1-.3c.1-.5.1-1 .1-1.4 0-.5-.1-1.1-.2-1.6l-.1-.3 1.2-1-1.2-1.7-1.4.6-.3-.2c-.6-.5-1.3-.9-2-1.1l-.2-.1L8.6 1H6.5l-.2 1.6zM5.5.9c0-.5.5-.9 1-.9h2.1c.5 0 .9.4 1 .9l.1 1c.6.2 1.2.5 1.8 1l.7-.4c.4-.2 1-.1 1.3.3l1.2 1.7c.3.4.2 1-.1 1.3l-.7.6c.1.5.1 1.1.1 1.6 0 .4 0 .8-.1 1.3l.6.6c.4.3.4.9.1 1.3l-1.2 1.7c-.3.4-.8.5-1.3.3l-.4-.2c-.6.5-1.3.9-2 1.2l-.1 1c-.1.5-.5.9-1 .9H6.5c-.5 0-.9-.4-1-.9l-.1-1c-.8-.3-1.6-.8-2.3-1.4l-.4.2c-.4.2-1 .1-1.3-.3L.2 11c-.3-.4-.2-1 .1-1.3l.8-.7c0-.4-.1-.7-.1-1 0-.6.1-1.2.2-1.8l-.6-.6C.2 5.3.1 4.7.4 4.3l1.2-1.7c.3-.5.9-.6 1.3-.4l.9.5c.5-.3 1-.6 1.6-.8l.1-1z"
          />
        </svg>
      </button>

      <button class="bx--btn bx--btn--sm bx--btn--primary">Add new</button>
    </div>
  </section>

  <table class="bx--data-table-v2 bx--data-table-v2--zebra">
    <thead>
      <tr>
        <th>
          <input data-event="select-all" id="bx--checkbox-20" class="bx--checkbox" type="checkbox" value="green" name="checkbox-20">
          <label for="bx--checkbox-20" class="bx--checkbox-label" aria-label="Label name"></label>
        </th>
        <th>
          <button class="bx--table-sort-v2" data-event="sort">
            <span class="bx--table-header-label">Name</span>
            <svg class="bx--table-sort-v2__icon" width="10" height="5" viewBox="0 0 10 5">
              <path d="M0 0l5 4.998L10 0z" fill-rule="evenodd" />
            </svg>
          </button>
        </th>
        <th>
          <button class="bx--table-sort-v2" data-event="sort">
            <span>Protocol</span>
            <svg class="bx--table-sort-v2__icon" width="10" height="5" viewBox="0 0 10 5">
              <path d="M0 0l5 4.998L10 0z" fill-rule="evenodd" />
            </svg>
          </button>
        </th>
        <th>
          <button class="bx--table-sort-v2" data-event="sort">
            <span>Something</span>
            <svg class="bx--table-sort-v2__icon" width="10" height="5" viewBox="0 0 10 5">
              <path d="M0 0l5 4.998L10 0z" fill-rule="evenodd" />
            </svg>
          </button>
        </th>
        <th>
          <button class="bx--table-sort-v2" data-event="sort">
            <span>Rule</span>
            <svg class="bx--table-sort-v2__icon" width="10" height="5" viewBox="0 0 10 5">
              <path d="M0 0l5 4.998L10 0z" fill-rule="evenodd" />
            </svg>
          </button>
        </th>
        <th>
          <button class="bx--table-sort-v2" data-event="sort">
            <span>Attached Groups</span>
            <svg class="bx--table-sort-v2__icon" width="10" height="5" viewBox="0 0 10 5">
              <path d="M0 0l5 4.998L10 0z" fill-rule="evenodd" />
            </svg>
          </button>
        </th>
        <th>
          <button class="bx--table-sort-v2" data-event="sort">
            <span>Status</span>
            <svg class="bx--table-sort-v2__icon" width="10" height="5" viewBox="0 0 10 5">
              <path d="M0 0l5 4.998L10 0z" fill-rule="evenodd" />
            </svg>
          </button>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input data-event="select" id="bx--checkbox-13" class="bx--checkbox" type="checkbox" value="green" name="checkbox-13">
          <label for="bx--checkbox-13" class="bx--checkbox-label" aria-label="Label name"></label>
        </td>
        <td>Load Balancer 1</td>
        <td>HTTP</td>
        <td>80</td>
        <td>Round Robin</td>
        <td>Maureen's VM Groups</td>
        <td>Active</td>
        <td class="bx--table-overflow">
          <div data-overflow-menu tabindex="0" aria-label="Overflow menu description" class="bx--overflow-menu">
            <svg class="bx--overflow-menu__icon" width="3" height="15" viewBox="0 0 3 15">
              <g fill-rule="evenodd">
                <circle cx="1.5" cy="1.5" r="1.5" />
                <circle cx="1.5" cy="7.5" r="1.5" />
                <circle cx="1.5" cy="13.5" r="1.5" />
              </g>
            </svg>
            <ul class="bx--overflow-menu-options bx--overflow-menu--flip">
              <li class="bx--overflow-menu-options__option">
                <button class="bx--overflow-menu-options__btn">Stop app</button>
              </li>
              <li class="bx--overflow-menu-options__option">
                <button class="bx--overflow-menu-options__btn">Restart app</button>
              </li>
              <li class="bx--overflow-menu-options__option">
                <button class="bx--overflow-menu-options__btn">Rename app</button>
              </li>
              <li class="bx--overflow-menu-options__option">
                <button class="bx--overflow-menu-options__btn">Edit routes and access, use title when</button>
              </li>
              <li class="bx--overflow-menu-options__option bx--overflow-menu-options__option--danger">
                <button class="bx--overflow-menu-options__btn">Delete app</button>
              </li>
            </ul>
          </div>
        </td>
      </tr>
      <tr class="expandable-row">
        <td>
          <input data-event="select" id="bx--checkbox-14" class="bx--checkbox" type="checkbox" value="green" name="checkbox-14">
          <label for="bx--checkbox-14" class="bx--checkbox-label" aria-label="Label name"></label>
        </td>
        <td>Load Balancer 5</td>
        <td>HTTP</td>
        <td>80</td>
        <td>Round Robin</td>
        <td>Maureen's VM Groups</td>
        <td>Active</td>
        <td class="bx--table-overflow">
          <div data-overflow-menu tabindex="0" aria-label="Overflow menu description" class="bx--overflow-menu">
            <svg class="bx--overflow-menu__icon" width="3" height="15" viewBox="0 0 3 15">
              <g fill-rule="evenodd">
                <circle cx="1.5" cy="1.5" r="1.5" />
                <circle cx="1.5" cy="7.5" r="1.5" />
                <circle cx="1.5" cy="13.5" r="1.5" />
              </g>
            </svg>
            <ul class="bx--overflow-menu-options bx--overflow-menu--flip">
              <li class="bx--overflow-menu-options__option">
                <button class="bx--overflow-menu-options__btn">Stop app</button>
              </li>
              <li class="bx--overflow-menu-options__option">
                <button class="bx--overflow-menu-options__btn">Restart app</button>
              </li>
              <li class="bx--overflow-menu-options__option">
                <button class="bx--overflow-menu-options__btn">Rename app</button>
              </li>
              <li class="bx--overflow-menu-options__option">
                <button class="bx--overflow-menu-options__btn">Edit routes and access, use title when</button>
              </li>
              <li class="bx--overflow-menu-options__option bx--overflow-menu-options__option--danger">
                <button class="bx--overflow-menu-options__btn">Delete app</button>
              </li>
            </ul>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <input data-event="select" id="bx--checkbox-15" class="bx--checkbox" type="checkbox" value="green" name="checkbox-15">
          <label for="bx--checkbox-15" class="bx--checkbox-label" aria-label="Label name"></label>
        </td>
        <td>Load Balancer 5</td>
        <td>HTTP</td>
        <td>80</td>
        <td>Round Robin</td>
        <td>Maureen's VM Groups</td>
        <td>Active</td>
        <td class="bx--table-overflow">
          <div data-overflow-menu tabindex="0" aria-label="Overflow menu description" class="bx--overflow-menu">
            <svg class="bx--overflow-menu__icon" width="3" height="15" viewBox="0 0 3 15">
              <g fill-rule="evenodd">
                <circle cx="1.5" cy="1.5" r="1.5" />
                <circle cx="1.5" cy="7.5" r="1.5" />
                <circle cx="1.5" cy="13.5" r="1.5" />
              </g>
            </svg>
            <ul class="bx--overflow-menu-options bx--overflow-menu--flip">
              <li class="bx--overflow-menu-options__option">
                <button class="bx--overflow-menu-options__btn">Stop app</button>
              </li>
              <li class="bx--overflow-menu-options__option">
                <button class="bx--overflow-menu-options__btn">Restart app</button>
              </li>
              <li class="bx--overflow-menu-options__option">
                <button class="bx--overflow-menu-options__btn">Rename app</button>
              </li>
              <li class="bx--overflow-menu-options__option">
                <button class="bx--overflow-menu-options__btn">Edit routes and access, use title when</button>
              </li>
              <li class="bx--overflow-menu-options__option bx--overflow-menu-options__option--danger">
                <button class="bx--overflow-menu-options__btn">Delete app</button>
              </li>
            </ul>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <input data-event="select" id="bx--checkbox-11" class="bx--checkbox" type="checkbox" value="green" name="checkbox-11">
          <label for="bx--checkbox-11" class="bx--checkbox-label" aria-label="Label name"></label>
        </td>
        <td>Load Balancer 5</td>
        <td>HTTP</td>
        <td>80</td>
        <td>Round Robin</td>
        <td>Maureen's VM Groups</td>
        <td>Active</td>
        <td class="bx--table-overflow">
          <div data-overflow-menu tabindex="0" aria-label="Overflow menu description" class="bx--overflow-menu">
            <svg class="bx--overflow-menu__icon" width="3" height="15" viewBox="0 0 3 15">
              <g fill-rule="evenodd">
                <circle cx="1.5" cy="1.5" r="1.5" />
                <circle cx="1.5" cy="7.5" r="1.5" />
                <circle cx="1.5" cy="13.5" r="1.5" />
              </g>
            </svg>
            <ul class="bx--overflow-menu-options bx--overflow-menu--flip">
              <li class="bx--overflow-menu-options__option">
                <button class="bx--overflow-menu-options__btn">Stop app</button>
              </li>
              <li class="bx--overflow-menu-options__option">
                <button class="bx--overflow-menu-options__btn">Restart app</button>
              </li>
              <li class="bx--overflow-menu-options__option">
                <button class="bx--overflow-menu-options__btn">Rename app</button>
              </li>
              <li class="bx--overflow-menu-options__option">
                <button class="bx--overflow-menu-options__btn">Edit routes and access, use title when</button>
              </li>
              <li class="bx--overflow-menu-options__option bx--overflow-menu-options__option--danger">
                <button class="bx--overflow-menu-options__btn">Delete app</button>
              </li>
            </ul>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <input data-event="select" id="bx--checkbox-12" class="bx--checkbox" type="checkbox" value="green" name="checkbox-12">
          <label for="bx--checkbox-12" class="bx--checkbox-label" aria-label="Label name"></label>
        </td>
        <td>Load Balancer 5</td>
        <td>HTTP</td>
        <td>80</td>
        <td>Round Robin</td>
        <td>Maureen's VM Groups</td>
        <td>Active</td>
        <td class="bx--table-overflow">
          <div data-overflow-menu tabindex="0" aria-label="Overflow menu description" class="bx--overflow-menu">
            <svg class="bx--overflow-menu__icon" width="3" height="15" viewBox="0 0 3 15">
              <g fill-rule="evenodd">
                <circle cx="1.5" cy="1.5" r="1.5" />
                <circle cx="1.5" cy="7.5" r="1.5" />
                <circle cx="1.5" cy="13.5" r="1.5" />
              </g>
            </svg>
            <ul class="bx--overflow-menu-options bx--overflow-menu--flip">
              <li class="bx--overflow-menu-options__option">
                <button class="bx--overflow-menu-options__btn">Stop app</button>
              </li>
              <li class="bx--overflow-menu-options__option">
                <button class="bx--overflow-menu-options__btn">Restart app</button>
              </li>
              <li class="bx--overflow-menu-options__option">
                <button class="bx--overflow-menu-options__btn">Rename app</button>
              </li>
              <li class="bx--overflow-menu-options__option">
                <button class="bx--overflow-menu-options__btn">Edit routes and access, use title when</button>
              </li>
              <li class="bx--overflow-menu-options__option bx--overflow-menu-options__option--danger">
                <button class="bx--overflow-menu-options__btn">Delete app</button>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
