<section class="bx--module" role="region">

  <div class="bx--module--full">
    <h2 class="bx--module__header">Header</h2>
    <div class="bx--module__body">
      <p>Lorem Ipsum is <a href="#" class="bx--link">link</a> dummy text of the printing
      and typesetting industry. Lorem Ipsum has been the industry's standard
      dummy text ever since the 1500s, when an unknown printer took a galley of
      type and scrambled it to make a type specimen book.</p>
      <p>It has survived not only five centuries, but also the leap into
        electronic typesetting, remaining essentially unchanged.</p>
      <button class="bx--btn--secondary">button</button>
    </div>
    <div class="bx--module__footer">Footer</div>
  </div>

  <div class="bx--module--half">
    <h2 class="bx--module__header">Header</h2>
    <div class="bx--module__body">
      <p>Lorem Ipsum is simply dummy text of the printing
      and typesetting industry. Lorem Ipsum has been the industry's standard
      dummy text ever since the 1500s, when an unknown printer took a galley of
      type and scrambled it to make a type specimen book.</p>
      <p>It has survived not only five centuries, but also the leap into
        electronic typesetting, remaining essentially unchanged.</p>
    </div>
    <div class="bx--module__footer">Footer</div>
  </div>

  <div class="bx--module--one-third">
    <h2 class="bx--module__header">Header</h2>
    <div class="bx--module__body">
      <p>Lorem Ipsum is simply dummy text of the printing
      and typesetting industry. Lorem Ipsum has been the industry's standard
      dummy text ever since the 1500s, when an unknown printer took a galley of
      type and scrambled it to make a type specimen book.</p>
      <p>It has survived not only five centuries, but also the leap into
        electronic typesetting, remaining essentially unchanged.</p>
    </div>
    <div class="bx--module__footer">Footer</div>
  </div>

  <div class="bx--module--two-third">
    <h2 class="bx--module__header">Header</h2>
    <div class="bx--module__body">
      <p>Lorem Ipsum is simply dummy text of the printing
      and typesetting industry. Lorem Ipsum has been the industry's standard
      dummy text ever since the 1500s, when an unknown printer took a galley of
      type and scrambled it to make a type specimen book.</p>
      <p>It has survived not only five centuries, but also the leap into
        electronic typesetting, remaining essentially unchanged.</p>
    </div>
    <div class="bx--module__footer">Footer</div>
  </div>

</section>
