.term-class {
  margin: 0;
  padding: 0;
  margin-top: 1em;
  font-weight: bold;
  font-size: 110%;
  border: thin solid transparent;
  background-color: transparent;
  padding-left: 0.125em;
  margin-right: 0.125em;
}

.definition-class {
  border: 2px solid black;
  padding: 0 0.25em 0 0.25em;
  background-color: lightblue;
}

