@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/typography';
@import '../../globals/scss/spacing';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/import-once';
@import 'mixins';
@import '../../globals/scss/css--reset';

@include exports('button') {
  // <button> elements cannot be used as flex containers
  button.#{$prefix}--btn {
    display: inline-block;
  }

  // Reset intrisic padding in Firefox (see #731)
  button.#{$prefix}--btn::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  // Vertically center icon inside <button>
  button.#{$prefix}--btn .#{$prefix}--btn__icon {
    position: relative;
    vertical-align: middle;
    top: -1px;

    // Targets IE10+ browsers: Reset <svg> position for vertical centering
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      top: 0;
    }
  }

  .#{$prefix}--btn {
    @include button-base;
  }

  .#{$prefix}--btn--primary {
    @include button-theme($brand-01, transparent, $inverse-01, $brand-02, $ui-01);
  }

  .#{$prefix}--btn--secondary {
    @include button-theme(transparent, $brand-01, $brand-01, $brand-01, $brand-01);

    &:hover,
    &:focus {
      color: $inverse-01;
    }

    &:active {
      color: $brand-01;
    }

    &:hover > .#{$prefix}--btn__icon,
    &:focus > .#{$prefix}--btn__icon {
      fill: $inverse-01;
    }

    &:hover:disabled,
    &:focus:disabled {
      color: $brand-01;
    }
  }

  .#{$prefix}--btn--tertiary {
    @include button-theme(transparent, $ui-05, $ui-05, $ui-05, $ui-05);

    &:hover,
    &:focus {
      color: $inverse-01;
    }

    &:active {
      color: $ui-05;
    }

    &:hover:disabled,
    &:focus:disabled {
      color: $ui-05;
    }
  }

  .#{$prefix}--btn--ghost {
    @include button-theme(transparent, transparent, $brand-01, $brand-01, $brand-01);

    &:hover,
    &:focus {
      color: $inverse-01;

      .#{$prefix}--btn__icon {
        fill: $inverse-01;
      }
    }

    .#{$prefix}--btn__icon {
      margin-left: $spacing-xs;
    }

    &:hover:disabled,
    &:focus:disabled {
      color: $brand-01;

      .#{$prefix}--btn__icon {
        fill: $brand-01;
      }
    }
  }

  .#{$prefix}--btn--danger {
    @include button-theme(transparent, $support-01, $support-01, $support-01, $support-01);

    &:hover {
      color: $inverse-01;
      border: $button-border-width solid transparent;
    }

    &:focus {
      color: $inverse-01;
    }

    &:hover:disabled,
    &:focus:disabled {
      color: $support-01;
      border: $button-border-width solid $support-01;
    }

    &:hover > .#{$prefix}--btn__icon,
    &:focus > .#{$prefix}--btn__icon {
      fill: $inverse-01;
    }
  }

  .#{$prefix}--btn--danger--primary {
    @include button-theme($support-01, transparent, $inverse-01, darken($support-01, 10%), $ui-01);

    &:hover:disabled,
    &:focus:disabled {
      color: $ui-01;
      border: $button-border-width solid $support-01;
    }
  }

  .#{$prefix}--btn--sm {
    @include letter-spacing;
    height: 2rem;
    padding: $button-padding-sm;
  }

  .#{$prefix}--btn--secondary + .#{$prefix}--btn--primary,
  .#{$prefix}--btn--tertiary + .#{$prefix}--btn--danger--primary {
    margin-left: $spacing-md;
  }

  // Skeleton State
  .#{$prefix}--btn.#{$prefix}--skeleton {
    @include skeleton;
    width: rem(150px);
  }
}
