@mixin button-base {
  @include reset;
  @include font-family;
  @include font-smoothing;
  @include letter-spacing;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  height: rem($button-height);
  padding: $button-padding;
  border-radius: $button-border-radius;
  text-align: center;
  text-decoration: none;
  transition-duration: $transition--base;
  transition-timing-function: ease-in;
  white-space: nowrap;
  line-height: 16px;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  .#{$prefix}--btn__icon {
    width: rem(16px);
    height: rem(16px);
    margin-left: 0.5rem;
    transition-duration: $transition--base;
    transition-timing-function: ease-in;
  }
}

@mixin button-theme($bg-color, $border-color, $font-color, $hover-bg-color, $icon-color) {
  background-color: $bg-color;
  border-width: $button-border-width;
  border-style: solid;
  border-color: $border-color;
  color: $font-color;

  &:focus,
  &:hover {
    background-color: $hover-bg-color;
  }

  &:focus {
    border: $button-border-width solid $ui-02;
    outline: $button-border-width solid $hover-bg-color;
  }

  &:disabled:hover,
  &:disabled:focus {
    background-color: $bg-color;
  }

  &:active {
    background-color: darken($bg-color, 20%);
  }

  .#{$prefix}--btn__icon {
    fill: $icon-color;
  }
}

@mixin button-base--x {
  @include reset;
  @include font-family;
  @include font-smoothing;
  @include letter-spacing;
  cursor: pointer;
  flex-shrink: 0;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  height: auto;
  padding: $button-padding;
  border-radius: $button-border-radius;
  text-align: left;
  text-decoration: none;
  transition-duration: $transition--base;
  transition-timing-function: ease-in;
  line-height: 1.125rem;
  outline: $button-outline-width solid transparent;
  position: relative;
  max-width: rem(320px);
  min-width: rem(80px);

  &:disabled {
    cursor: not-allowed;
    color: $ui-04;
    background: $ibm-colors__gray--30;
    border-color: $ibm-colors__gray--30;
  }

  .#{$prefix}--btn__icon {
    width: rem(16px);
    height: rem(16px);
    transition-duration: $transition--base;
    transition-timing-function: ease-in;
    position: absolute;
    right: rem(16px);
    top: 50%;
    transform: translateY(-50%);
  }
}

@mixin button-theme--x($bg-color, $border-color, $font-color, $hover-bg-color, $icon-color, $active-color) {
  background-color: $bg-color;
  border-width: $button-border-width;
  border-style: solid;
  border-color: $border-color;
  color: $font-color;

  &:hover {
    background-color: $hover-bg-color;
  }

  &:focus {
    border: $button-border-width solid $ui-02;
    outline: $button-outline-width solid $brand-01;
  }

  &:disabled:hover,
  &:disabled:focus {
    color: $ui-04;
    background: $ibm-colors__gray--30;
    border-color: $ibm-colors__gray--30;
    text-decoration: none;
  }

  &:active {
    background-color: $active-color;
  }

  .#{$prefix}--btn__icon {
    fill: $icon-color;
  }
}
