<button class="bx--btn bx--btn--danger" type="button">Danger button</button>
<button class="bx--btn bx--btn--danger" type="button" disabled>Danger button</button>
<button class="bx--btn bx--btn--danger bx--btn--sm" type="button">Small Danger button</button>
<button class="bx--btn bx--btn--danger--primary" type="button">Primary Danger button</button>
<button class="bx--btn bx--btn--danger--primary" type="button" disabled>Primary Danger button</button>
<button class="bx--btn bx--btn--danger--primary bx--btn--sm" type="button">Small Primary Danger button</button>
