<button class="bx--btn bx--btn--danger" type="button">Danger button</button>
<button class="bx--btn bx--btn--danger" type="button" disabled>Danger button</button>
<button class="bx--btn bx--btn--danger" type="button">
  Danger
  <svg class="bx--btn__icon">
    <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v5/img/bluemix-icons.svg#add--glyph"></use>
  </svg>
</button>
<button class="bx--btn bx--btn--danger bx--btn--sm" type="button">Danger button</button>
<button class="bx--btn bx--btn--danger bx--btn--sm" type="button">
  Danger button
  <svg class="bx--btn__icon">
    <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v5/img/bluemix-icons.svg#add--glyph"></use>
  </svg>
</button>
