<button class="bx--btn bx--btn--danger" type="button">Secondary danger button</button>
<button class="bx--btn bx--btn--danger" type="button" disabled>Secondary danger button</button>
<button class="bx--btn bx--btn--danger bx--btn--sm" type="button">Small secondary danger</button>
<button class="bx--btn bx--btn--danger--primary" type="button">Primary Danger button</button>
<button class="bx--btn bx--btn--danger--primary" type="button" disabled>Primary Danger button</button>
<button class="bx--btn bx--btn--danger--primary bx--btn--sm" type="button">Small Primary Danger button</button>
