<button class="bx--btn bx--btn--ghost" type="button">
  Ghost
  <svg class="bx--btn__icon">
    <use xlink:href="/carbon-icons/bluemix-icons.svg#icon--add--glyph"></use>
  </svg>
</button>
<button disabled class="bx--btn bx--btn--ghost" type="button">
  Ghost
  <svg class="bx--btn__icon">
    <use xlink:href="/carbon-icons/bluemix-icons.svg#icon--add--glyph"></use>
  </svg>
</button>
<button class="bx--btn bx--btn--ghost bx--btn--sm" type="button">
  Ghost button
  <svg class="bx--btn__icon">
    <use xlink:href="/carbon-icons/bluemix-icons.svg#icon--add--glyph"></use>
  </svg>
</button>
