<button class="bx--btn bx--btn--primary" type="button">Primary button</button>
<button class="bx--btn bx--btn--primary" type="button" disabled>Primary button</button>
<button class="bx--btn bx--btn--primary" type="button">
  Primary
  <svg class="bx--btn__icon">
    <use xlink:href="/@console/bluemix-icons/bluemix-icons.svg#add--glyph"></use>
  </svg>
</button>
<button class="bx--btn bx--btn--primary bx--btn--sm" type="button">Primary button</button>
<button class="bx--btn bx--btn--primary bx--btn--sm" type="button">
  Primary button
  <svg class="bx--btn__icon">
    <use xlink:href="/@console/bluemix-icons/bluemix-icons.svg#add--glyph"></use>
  </svg>
</button>
