<button class="bx--btn bx--btn--primary" type="button">Primary button</button>
<button class="bx--btn bx--btn--primary" type="button" disabled>Primary button</button>
<button class="bx--btn bx--btn--primary" type="button">
  Primary
  <svg class="bx--btn__icon" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:none;}</style></defs><title>Carbon—Duo</title><g id="Icon"><polygon points="17 15 17 6 15 6 15 15 6 15 6 17 15 17 15 26 17 26 17 17 26 17 26 15 17 15"/></g><g id="Transparent_Rectangle" data-name="Transparent Rectangle"><rect class="cls-1" width="32" height="32"/></g></svg>
</button>
<button class="bx--btn bx--btn--primary bx--btn--sm" type="button">Primary button</button>
<button class="bx--btn bx--btn--primary bx--btn--sm" type="button">
  Primary button
  <svg class="bx--btn__icon" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:none;}</style></defs><title>Carbon—Duo</title><g id="Icon"><polygon points="17 15 17 6 15 6 15 15 6 15 6 17 15 17 15 26 17 26 17 17 26 17 26 15 17 15"/></g><g id="Transparent_Rectangle" data-name="Transparent Rectangle"><rect class="cls-1" width="32" height="32"/></g></svg>
</button>
