<button class="bx--btn bx--btn--secondary" type="button">Secondary button</button>
<button class="bx--btn bx--btn--secondary" type="button" disabled>Secondary button</button>
<button class="bx--btn bx--btn--secondary" type="button">
  Secondary
  <svg class="bx--btn__icon">
    <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v5/img/bluemix-icons.svg#add--glyph"></use>
  </svg>
</button>
<button class="bx--btn bx--btn--secondary bx--btn--sm" type="button">Secondary button</button>
<button class="bx--btn bx--btn--secondary bx--btn--sm" type="button">
  Secondary button
  <svg class="bx--btn__icon">
    <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v5/img/bluemix-icons.svg#add--glyph"></use>
  </svg>
</button>
