$color__content-link: $blue-40;
$color__content-link--hover: $cool-grey-50;

%content-link__transition {
  transition: color, .2s, ease-out;
}

.content-link {
  @extend %helvetica-bold;
  @extend %content-link__transition;

  line-height: em(24px); // from SPSG
  text-decoration: underline;

  &,
  &:visited {
    color: $color__content-link;
  }

  &:active,
  &:hover {
    @extend %content-link__transition;

    color: $color__content-link--hover;
  }
}
