// Modified
$color__navy-gray-1: mod('navy-gray-1');
$color__navy-gray-2: mod('navy-gray-2');
$color__navy-gray-3: mod('navy-gray-3');
$color__navy-gray-4: mod('navy-gray-4');
$color__navy-gray-5: mod('navy-gray-5');
$color__navy-gray-6: mod('navy-gray-6');
$color__navy-gray-7: mod('navy-gray-7');
$color__navy-gray-8: mod('navy-gray-8');
$color__atlas-gray-1: mod('atlas-gray-1');

// IBM Colors

$color__blue-20  : ibm('blue-20');   // #7cc7ff
$color__blue-30  : ibm('blue-30');   // #5aaafa
$color__blue-40  : ibm('blue-40');   // #5596e6
$color__blue-90  : ibm('blue-90');   // #152935
$color__green-30 : ibm('green-30');  // #8cd211
$color__red-40   : ibm('red-40');    // #ff5050
$color__teal-20  : ibm('teal-20');   // #6eedd8
$color__teal-30  : ibm('teal-30');   // #41d6c3
$color__yellow-30: ibm('yellow-30'); // #efc100
$color__orange-30: ibm('orange-30'); // #ff7832
$color__purple-30: ibm('purple-30'); // #ba8ff7
$color__purple-40: ibm('purple-40'); // #af6ee8
$color__purple-60: ibm('purple-60'); // #734098
$color__white    : ibm('white');     // #fff

// Temporary Colors

// base-elements/lists/_partials/_vars.scss
$color__black: #000;
$color__cool-gray-40: #959f9f;
$color__blue: #4178be;
