//-----------------------------
// Tables - DEPRECATED
//-----------------------------

@import '../../global/global';
@import '../../base-elements/checkbox/checkbox';
@import 'vars';
@import '../../import-once';

@include exports('tables') {

.bx--table {
  @include font-size('14');
  width: 100%;
  color: $color__table-text;

  @include light-ui {
    background-color: $color__white;
    color: $color__blue-90;
    border: 1px solid $color__navy-gray-8;
  }

  &__row {
    display: flex;
  }

  &__column-title {
    @include font-size('12');
    display: flex;
    align-items: center;
    text-transform: uppercase;
    padding: 1.5rem;
    font-weight: 400;
    text-align: left;
    letter-spacing: 1.7px;
    background-color: $color__table-bg;
    width: auto;
    cursor: pointer;

    @include light-ui {
      background-color: $color__white;
      font-weight: 600;
    }

    @include breakpoint(bp--lg--major) {
      width: 10%;
    }

    &:nth-child(1) {
      flex-grow: 1;

      @include breakpoint(bp--sm--major) {
        width: 80%;
      }
    }

    &--rotated {

      .bx--table__column-title--filter-icon {
        transform: rotate(180deg);
      }
    }

    &--filter-icon {
      width: rem(15px);
      height: rem(7px);
      fill: $color__table-text;
      margin: 0 .75rem;
      transition: $transition--base;

      @include light-ui {
        fill: $color__blue-90;
      }
    }
  }
}

.bx--table__body {
  &__cell {
    @include font-size('14');
    display: flex;
    padding: 1.05rem 1.2rem 1.05rem 1.5rem;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 200;
    width: auto;
    align-items: center;

    @include breakpoint(bp--sm--major) {
      width: 10%;
    }

    &:nth-child(1) {
      flex-grow: 1;

      @include breakpoint(bp--sm--major) {
        width: 80%;
      }
    }

    &--checked {
      background-color: $color__navy-gray-2;
    }
  }

  .bx--table__row {
    border: 1px solid transparent;

    &:nth-child(odd) {
      background-color: $color__table-row--odd;

      @include light-ui {
        background-color: $color__inputs--bg--light-ui;
      }
    }

    &:nth-child(even) {
      background-color: $color__table-bg;

      @include light-ui {
        background-color: $color__white;
      }
    }

    &:hover,
    &:active {
      cursor: pointer;
      background-color: $color__navy-gray-2;
      border: 1px solid $color__blue-30;

      @include light-ui {
        background-color: none;
        border: 1px solid $color__blue-30;
      }
    }

    &--checked {

      &:nth-child(odd), &:nth-child(even) {
        background-color: $color__navy-gray-2;
        border: 1px solid $color__blue-30;

        @include light-ui {
          background-color: $color__inputs--bg--light-ui;
          border: 1px solid $color__blue-30;
        }
      }
    }
  }
}

}

