@import 'vars';

.bx--table {
  @include font-size('14');
  width: 100%;
  color: $color__table-text;

  &__row {
    display: flex;
  }

  &__main-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: $padding__table;
    font-weight: 700;
    text-align: left;
    background-color: $color__table-bg;
    border-bottom: 1px solid $color__table-border;

    .bx--link {
      color: $color__table-link;
      text-decoration: none;
    }
  }

  &__column-title {
    display: flex;
    flex: 1;
    align-items: baseline;
    padding: $padding__table;
    font-weight: 700;
    text-align: left;
    background-color: $color__table-bg;
  }
}

.bx--table__body {
  &__cell {
    @include font-size('14');
    display: flex;
    flex: 1;
    padding: $padding__table;
    text-align: left;
    overflow: hidden;
  }

  .bx--link {
    color: $color__table-link;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .bx--table__row {

    &:nth-child(odd) {
      background-color: $color__table-row--odd;
    }

    &:nth-child(even) {
      background-color: $color__table-bg;
    }
  }
}

/////////////////////
// Configurations
/////////////////////

.bx--table {

  // Use .cta as a modifier for <th> or <td> classes when including:
  // * Status icon
  // * Checkbox
  // * etc.
  .bx--table--cta {
    flex: none;
  }

  [data-sortable] {
    cursor: pointer;
  }

  // example of a status-icon to use inside `.cta`
  .bx--table--status-icon { // !temporary
    width: 1em;
    height: 1em;
    background-color: $color__green-30;
    border-radius: 100%;

    &--hidden {
      background-color: transparent;
      width: 1em;
      height: 1em;
    }
  }
}
