<div class="colors">
  <div class="colors__container">
    <h1 class="colors__headline">Primary Palette</h1>
    <h2 class="colors__category">Modified Colors</h2>
    <div class="swatch--navy-gray-1">
      <strong class="name">navy-gray-1</strong>
      <ul>
        <li>#0F212E</li>
        <li>Global Header - Background - Dropdown</li>
        <li>Add Menu - Background</li>
        <li>Text in almost everything for Light UI</li>
      </ul>
    </div>
    <div class="swatch--navy-gray-2">
      <strong class="name">navy-gray-2</strong>
      <ul>
        <li>#20343E</li>
        <li>Cards - Background</li>
      </ul>
    </div>
    <div class="swatch--navy-gray-3">
      <strong class="name">navy-gray-3</strong>
      <ul>
        <li>#2D3F49</li>
        <li>Body - Background</li>
        <li>Dropdown - Background</li>
      </ul>
    </div>
    <div class="swatch--navy-gray-4">
      <strong class="name">navy-gray-4</strong>
      <ul>
        <li>#394B54</li>
        <li>Data Module - Background - Details Link</li>
        <li>Item List - Border</li>
      </ul>
    </div>
    <div class="swatch--navy-gray-5">
      <strong class="name">navy-gray-5</strong>
      <ul>
        <li>#42535C</li>
        <li>Activity Log - Background</li>
        <li>Card - Background - Graph</li>
        <li>Data Module - Background</li>
        <li>Buttons - Background - Light UI</li>
        <li>Toggle Switch - Background - Off State</li>
        <li>FAB - Background - Close State</li>
      </ul>
    </div>
    <div class="swatch--navy-gray-6">
      <strong class="name">navy-gray-6</strong>
      <ul>
        <li>#5a6872</li>
        <li>used at 50%, 75%, 25% transparency</li>
        <li>Activity Log - Border - 100%</li>
        <li>Data Module - Border - 100%</li>
        <li>CTA - data module</li>
        <li>data viz - "helper" color</li>
      </ul>
    </div>
    <div class="swatch--navy-gray-7">
      <strong class="name">navy-gray-7</strong>
      <ul>
        <li>#8C9BA5</li>
        <li>Text - routes / IP / detail page header</li>
      </ul>
    </div>
  </div>

  <div class="colors__container">
    <h2 class="colors__category">IBM Colors</h2>
    <div class="swatch--blue-20">
      <strong class="name">blue-20</strong>
      <ul>
        <li>#7cc7ff</li>
        <li>Checkbox - Background - Checked State</li>
        <li>Global Header - Link, Dropdown Text</li>
        <li>Global Header - Background - Taxonomy Icon - Selected State</li>
      </ul>
    </div>
    <div class="swatch--blue-30">
      <strong class="name">blue-30</strong>
      <ul>
        <li>#5aaafa</li>
        <li>Buttons - Background - Hover/Active</li>
        <li>Links - Text</li>
        <li>Alerts - Accent - Running State</li>
        <li>Cards - Text - Metadata</li>
        <li>Detail Page Header - Link</li>
        <li>Dropdown - Text and Link</li>
        <li>Fab-Label - Text</li>
        <li>Global Header - Background - Light UI</li>
        <li>Search - Outline</li>
      </ul>
    </div>
    <div class="swatch--blue-40">
      <strong class="name">blue-40</strong>
      <ul>
        <li>#5596e6</li>
        <li>Button - Background</li>
        <li>Toggle - On State</li>
        <li>FAB - Background</li>
        <li>Global Header - Background - Light UI</li>
        <li>? - Add this as $color__blue-40</li>
      </ul>
    </div>
    <div class="swatch--blue-90">
      <strong class="name">blue-90</strong>
      <ul>
        <li>#152934</li>
        <li>Alerts - Background</li>
        <li>Cards - Border</li>
        <li>Global Header - Background</li>
      </ul>
    </div>
    <div class="swatch--green-30">
      <strong class="name">green-30</strong>
      <ul>
        <li>#8cd211</li>
        <li>Charts - Accent - Will be added Later</li>
      </ul>
    </div>
    <div class="swatch--red-40">
      <strong class="name">red-40</strong>
      <ul>
        <li>#ff5050</li>
        <li>Alerts - Accent - Danger State</li>
        <li>Charts - Accent - Will be added Later</li>
      </ul>
    </div>
    <div class="swatch--teal-20">
      <strong class="name">teal-20</strong>
      <ul>
        <li>#6eedd8</li>
        <li>Charts - Accent - Will be added Later</li>
      </ul>
    </div>
    <div class="swatch--teal-30">
      <strong class="name">teal-30</strong>
      <ul>
        <li>#41d6c3</li>
      </ul>
    </div>
    <div class="swatch--yellow-30">
      <strong class="name">yellow-30</strong>
      <ul>
        <li>#efc100</li>
        <li>Alerts - Accent - Info State</li>
        <li>Charts - Will be added Later</li>
      </ul>
    </div>
    <div class="swatch--orange-30">
      <strong class="name">orange-30</strong>
      <ul>
        <li>#ff7832</li>
        <li>Alerts - Accent</li>
        <li>? Add: $color__orange-30</li>
      </ul>
    </div>
    <div class="swatch--purple-40">
      <strong class="name">purple-40</strong>
      <ul>
        <li>#734098</li>
        <li>Alerts - Accent</li>
        <li>? Add: $color__purple-40</li>
        <li>Ask freemium</li>
      </ul>
    </div>
    <div class="swatch--white">
      <strong class="name">white</strong>
      <ul>
        <li>#fff</li>
        <li>Text in almost everything.</li>
      </ul>
    </div>
  </div>
</div>
