<ul class="major-second">
  <li class="major-second__item"></li>
  <li class="major-second__item"></li>
  <li class="major-second__item"></li>
  <li class="major-second__item"></li>
  <li class="major-second__item"></li>
  <li class="major-second__item"></li>
  <li class="major-second__item"></li>
  <li class="major-second__item"></li>
  <li class="major-second__item"></li>
  <li class="major-second__item"></li>
  <li class="major-second__item"></li>
  <li class="major-second__item"></li>
  <li class="major-second__item"></li>
  <li class="major-second__item"></li>
  <li class="major-second__item"></li>
  <li class="major-second__item"></li>
  <li class="major-second__item"></li>
  <li class="major-second__item"></li>
  <li class="major-second__item"></li>
  <li class="major-second__item"></li>
  <li class="major-second__item"></li>
  <li class="major-second__item"></li>
  <li class="major-second__item"></li>
</ul>

