@import '../../globals/scss/colors';
@import '../../globals/scss/typography';
@import '../../globals/scss/css--reset';
@import '../../globals/scss/import-once';

@include exports('form') {
  .bx--fieldset {
    @include reset;
    margin-bottom: 2rem;
  }

  .bx--form-item {
    @include font-family;
    flex: 1;
    margin-right: 1rem;
    margin-bottom: 1.5rem;

    &:last-of-type {
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  .bx--label {
    @include reset;
    @include font-family;
    @include typescale('zeta');
    font-weight: $input-label-weight;
    display: inline-block;
    vertical-align: baseline;
    margin-bottom: rem(10px);
  }

  .bx--label .bx--tooltip__trigger {
    @include typescale('zeta');
  }

  .bx--label--disabled {
    opacity: 0.5;
  }

  input[data-invalid],
  textarea[data-invalid],
  select[data-invalid] {
    box-shadow: 0 2px 0px 0px $support-01;

    ~ .bx--form-requirement {
      max-height: rem(200px);
    }
  }

  .bx--form-requirement {
    @include reset;
    @include typescale('omega');
    margin: 0.75rem 0 0;
    max-height: 0;
    overflow: hidden;
    font-weight: 600;
    line-height: 1.5;

    &::before {
      content: '*';
      display: inline-block;
      color: $support-01;
    }
  }
}
