<div class="bx--form-item">
  <label for="text1" class="bx--label">Username</label>
  <input data-invalid id="text1" type="text" class="bx--text-input" placeholder="Enter username here" />
  <div class="bx--form-requirement">
    Username is taken.
  </div>
</div>
<div class="bx--form-item">
  <label for="text-area-1" class="bx--label">Text area label</label>
  <textarea data-invalid id="text-area-1" class="bx--text-area" rows="4" cols="50" placeholder="Placeholder text"></textarea>
  <div class="bx--form-requirement">
    Please do not leave blank.
  </div>
</div>
<div class="bx--form-item">
  <button class="bx--btn bx--btn--primary" type="button">Submit</button>
</div>
