.page-header {
  @include grid-padding;
  height: rem(196px);
  background-color: $ui-02;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-bottom: 1px solid $brand-01;
  padding-bottom: 1rem;

  @include breakpoint('768px') {
    padding-bottom: 0;
  }

  @media all and (max-width: 550px) {
    height: rem(250px);
  }
}

.page-header__label {
  @if not feature-flag-enabled('components-x') {
    @include typescale('zeta');
  } @else {
    @include type-style('label-01');
  }
  color: $text-02;
  font-weight: 400;
  margin: 4rem 0 1rem;
  white-space: nowrap;
  text-transform: capitalize;

  @include breakpoint('500px') {
    margin-bottom: 1rem;
    margin-top: 3rem;
  }
}

.page-header__title {
  @if not feature-flag-enabled('components-x') {
    @include typescale('mega');
    @include letter-spacing;
  } @else {
    @include type-style('display-01');
  }
  color: $text-01;
  font-weight: 300;
  margin: -1.15rem 0 0 -3px;
  line-height: 1.25;
  padding: 0;
  transition: $transition--base $bx--standard-easing;

  @include breakpoint('500px') {
    font-size: rem(52px);
  }

  @include breakpoint('840px') {
    font-size: rem(66px);
  }
}
