<a href="#" data-fab data-state="open" class="bx--fab" role="button" alt="Show Content">
  <svg class="bx--fab__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:none;}</style></defs><title>polygon--add</title><g id="Transparent_Rectangle" data-name="Transparent Rectangle"><rect class="cls-1" width="32" height="32"/></g><path class="bx--fab__hexagon" d="M16,0,2,8V24l14,8,14-8V8Zm8,17H17v7H15V17H8V15h7V8h2v7h7Z"/></svg>
  <span class="bx--fab__hidden">show content</span>
</a>
