// General table styles
%table-section {
  &--base {
    width: 100%;
    max-width: 100%;

    background-color: transparent;
    color: $color__table-text;

    border-spacing: 0;
    border-collapse: collapse;
  }

  &__header {
    border-bottom: 4px solid $color__table--blue;
  }
}

%header__row--heading {
  padding: $cell-padding;

  color: color('black');

  text-align: left;
}

%row--cell {
  padding: $cell-padding;
}
