<button class="bx--btn" type="button" data-modal-target="#inputs-modal">Inputs Modal</button>

<div data-modal id="inputs-modal" class="bx--modal bx--modal-tall" tabindex="-1">

  <div class="bx--modal-inner">

    <h2 class="bx--modal-content__heading">Modal with Inputs</h2>
    <button class="bx--modal__close" type="button" data-modal-close>
      <svg class="bx--modal__close--icon">
        <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#common--close"></use>
      </svg>
    </button>

    <div class="bx--modal-content">

        <label for="modal-text1" class="bx--form__label">Text Input</label>
        <input id="modal-text1" type="text" class="bx--text__input">

        <div class="bx--select">
          <label for="modal-select-id" class="bx--form__label">Select</label>
          <span class="bx--select__arrow"></span>
          <select id="modal-select-id" class="bx--select__input">
            <option class="bx--select__option" value="volvo">Volvo</option>
            <option class="bx--select__option" value="solong">A much longer option that is worth having around to check how text flows around the background image</option>
            <option class="bx--select__option" value="saab">Saab</option>
            <option class="bx--select__option" value="opel">Opel</option>
            <option class="bx--select__option" value="audi">Audi</option>
          </select>
          <svg class="bx--select__arrow">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#service--down-arrow"></use>
          </svg>
        </div>

      <input id="modal-radio-1" class="bx--radio" type="radio" value="red" name="radio">
      <label for="modal-radio-1" class="bx--radio__label">
        <span class="bx--radio__appearance"></span>
        Radio label text 1
      </label>
      <br>
      <input checked id="modal-radio-2" class="bx--radio" type="radio" value="blue" name="radio">
      <label for="modal-radio-2" class="bx--radio__label">
        <span class="bx--radio__appearance"></span>
        Radio label text 2
      </label>
      <br>

      <input id="modal-checkbox-1" class="bx--checkbox" type="checkbox" value="red" name="checkbox">
      <label for="modal-checkbox-1" class="bx--checkbox__label">
        <span class="bx--checkbox__appearance"></span>
        Checkbox label text 1
      </label>
      <br>
      <input checked id="modal-checkbox-2" class="bx--checkbox" type="checkbox" value="blue" name="checkbox">
      <label for="modal-checkbox-2" class="bx--checkbox__label">
        <span class="bx--checkbox__appearance"></span>
        Checkbox label text 2
      </label>

      <label data-file-appearance-in-form class="bx--file__label" for="modal-file-in-form">Choose Files...</label>
      <input
        data-file-uploader
        data-multiple-caption="{count} files selected"
        data-label="[data-file-appearance-in-form]"
        class="bx--file__input"
        type="file"
        name="modal-file-in-form"
        id="modal-file-in-form"
        multiple />

      <div class="bx--search" role="search">
        <svg class="bx--search__icon--magnifier">
          <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#common--search" x="" y=""/>
        </svg>
        <label for="modal-search__input" class="bx--search__label">Search</label>
        <input type="search" class="bx--search__input" id="modal-search__input" placeholder="Search Atlas Offerings">
        <button class="bx--search__filter" type="button">
          <svg class="bx--search__icon--filter">
            <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#common--arrows" x="" y=""/>
          </svg>
          <span class="filter__text">Filter</span>
        </button>
      </div>

      <label for="modal-textarea1" class="bx--form__label">Textarea - Label</label>
      <textarea id="modal-textarea1" class="bx--textarea__input" rows="4" cols="50"></textarea>
    </div>

    <div class="bx--modal__buttons">
      <div class="bx--modal__buttons-container">
        <button class="bx--btn--secondary" type="button" data-modal-close>Cancel</button>
        <button class="bx--btn">Save</button>
      </div>
    </div>

  </div>
</div>
