//-----------------------------
// List
//-----------------------------

@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/spacing';
@import '../../globals/scss/css--reset';
@import '../../globals/scss/typography';
@import '../../globals/scss/import-once';

@include exports('lists') {
  .#{$prefix}--list--nested,
  .#{$prefix}--list--unordered,
  .#{$prefix}--list--ordered {
    @include reset;
    @include font-family;
    @include typescale('zeta');
    @include font-smoothing;
    margin-left: $spacing-xl;
    line-height: 1.5;
  }

  .#{$prefix}--list--unordered,
  .#{$prefix}--list--ordered {
    padding: $spacing-md;
  }

  .#{$prefix}--list__item {
    font-weight: 600;
    padding-left: $spacing-2xs;
  }

  .#{$prefix}--list--unordered > .#{$prefix}--list__item {
    list-style-type: disc;
  }

  .#{$prefix}--list--ordered > .#{$prefix}--list__item {
    list-style-type: decimal;
  }

  .#{$prefix}--list--nested {
    margin-left: $spacing-xs;
  }

  .#{$prefix}--list--nested > .#{$prefix}--list__item {
    list-style-type: none;
    font-weight: 400;
  }

  .#{$prefix}--list--nested > .#{$prefix}--list__item:before {
    content: '-';
    padding-right: $spacing-2xs;
  }
}
