<ul class="list--unordered">
  <li class="list__item">{list-item}</li>
  <li class="list__item">
    <ul class="list--unordered">
      <li class="list__item">{nested list-item}</li>
      <li class="list__item">{nested list-item}</li>
    </ul>
  </li>
  <li class="list__item">{list-item}</li>
  <li class="list__item">{list-item}</li>
</ul>

<ol class="list--ordered">
  <li class="list__item">{list-item}</li>
  <li class="list__item">
    <ol class="list--ordered">
      <li class="list__item">{nested list-item}</li>
      <li class="list__item">{nested list-item}</li>
    </ol>
  </li>
  <li class="list__item">{list-item}</li>
  <li class="list__item">{list-item}</li>
</ol>
