<ul class="bx-ulist">
    <li class="bx-ulist__item">{CONTENT}</li>
    <li class="bx-ulist__item">
        <ul class="bx-ulist--level2">
            <li class="bx-ulist__item--level2"></li>
            <li class="bx-ulist__item--level2"></li>
        </ul>
    </li>
    <li class="bx-ulist__item">{CONTENT}</li>
    <li class="bx-ulist__item">{CONTENT}</li>
</ul>

<ol class="bx-olist">
    <li class="bx-olist__item">{CONTENT}</li>
    <li class="bx-olist__item">
        <ol class="bx-olist--level2">
            <li class="bx-olist__item--level2"></li>
            <li class="bx-olist__item--level2"></li>
        </ol>
    </li>
    <li class="bx-olist__item">{CONTENT}</li>
    <li class="bx-olist__item">{CONTENT}</li>
</ol>