@import '_partials/extends';

.module-section {
  display: flex;
  flex-wrap: wrap;
  margin: 1em auto;
  justify-content: space-between;
  max-width: $module--max;
}

.module {
  &--full, .full {
    @extend %module--base;
    flex-basis: 100%;
  }


  &--half, .half {
    @extend %module--base;
    flex-basis: 100%;
    width: 100%;

    @include breakpoint(bp--sm--major) {
      flex-basis: calc(50% - .5em); // $module-margin/2 is .5em -- calc wouldn't allow vars because it is CSS
    }
  }

  &--two-third {
    @extend %module--base;
    flex-basis: 100%;
    width: 100%;

    @include breakpoint(bp--sm--major) {
      flex-basis: 66%;
    }
  }

  &--one-third {
    @extend %module--base;
    flex-basis: 100%;
    width: 100%;

    @include breakpoint(bp--sm--major) {
      flex-basis: calc(33% - .5em);
    }
  }
}
