$ibm-colors__exclude-css-variables: true !default;

//@import '@ibmduo/colors/scss/ibm-colors';
@import 'ibm-colors'; // This will eventually need to come from carbon-elements package

/**
 * Takes two colors and blends an opaque foreground with an solid background using the normal blend mode.
 *
 * @param {string} $foreground The foreground color to blend over the top of the background color.
 * @param {string} $background The background color to use as the "base" to blend the foreground color with.
 *
 * @example scss - blend-mode-normal function
 * background-color: blend-mode-normal(rgba(#0044DE, 0.7), #0F6FFF); // #0551e8
 * background-color: blend-mode-normal(#fff, #000); // white;
 */
@function blend-mode-normal($foreground, $background) {
  // Opacities to utilize when calculating blends
  $foreground-opacity: opacity($foreground);
  $background-opacity: opacity($background);

  // Derived foreground and background colors
  $foreground-red: red($foreground) * $foreground-opacity;
  $background-red: red($background) * $background-opacity;
  $foreground-green: green($foreground) * $foreground-opacity;
  $background-green: green($background) * $background-opacity;
  $foreground-blue: blue($foreground) * $foreground-opacity;
  $background-blue: blue($background) * $background-opacity;

  // Calculate new blended values for RGB colors
  $blended-red: $foreground-red + $background-red * (1 - $foreground-opacity);
  $blended-green: $foreground-green + $background-green * (1 - $foreground-opacity);
  $blended-blue: $foreground-blue + $background-blue * (1 - $foreground-opacity);

  @return rgb($blended-red, $blended-green, $blended-blue);
}
