@import 'colors';
@import 'vars';
@import 'mixins';
@import 'typography';
@import 'css--reset';
@import 'import-once';

@mixin typography {
  // really big
  .bx--type-giga {
    @include singleTypePrescription('k');
    @include reset;
    font-weight: 300;
  }
  .bx--type-mega {
    @include singleTypePrescription('j');
    @include reset;
    font-weight: 300;
  }

  // really small
  .bx--type-omega {
    @include singleTypePrescription('a', false);
    @include reset;
    font-weight: 600;
  }
  .bx--type-caption {
    @include singleTypePrescription('a', false);
    @include reset;
  }
  .bx--type-legal {
    @include singleTypePrescription('a', false);
    @include reset;
  }

  strong,
  .bx--type-strong {
    @include reset;
    font-weight: 600;
  }

  p {
    @include reset;
    @include singleTypePrescription('c', false);
  }

  em {
    @include reset;
    font-style: italic;
  }

  a {
    @include reset;
    color: $brand-01;
  }

  h1,
  .bx--type-alpha {
    @include reset;
    @include singleTypePrescription('h', false);
  }

  h2,
  .bx--type-beta {
    @include reset;
    @include singleTypePrescription('g', false);
  }

  h3,
  .bx--type-gamma {
    @include reset;
    @include singleTypePrescription('e', false);
  }

  h4,
  .bx--type-delta {
    @include reset;
    @include singleTypePrescription('e', false);
  }

  h5,
  .bx--type-epsilon {
    @include reset;
    @include singleTypePrescription('c', false);
  }

  h6,
  .bx--type-zeta {
    @include reset;
    @include singleTypePrescription('b', false);
  }
}

@include exports('css--typography') {
  @if global-variable-exists('css--typography') == false or $css--typography == true {
    @include typography;
  }
}
