@import 'colors';
@import 'vars';
@import 'mixins';
@import 'typography';
@import 'import-once';

@mixin typography {
  h1 {
    @include reset;
    @include font-size('32');
    @include line-height('heading');
    @include letter-spacing;
  }

  h2 {
    @include reset;
    @include font-size('26');
    @include line-height('heading');
    @include letter-spacing;
  }

  h3 {
    @include reset;
    @include font-size('20');
    @include line-height('heading');
    @include letter-spacing;
  }

  h4 {
    @include reset;
    @include font-size('18');
    @include line-height('heading');
  }

  h5 {
    @include reset;
    @include font-size('16');
    @include line-height('heading');
  }

  h6 {
    @include reset;
    @include font-size('14');
    @include line-height('heading');
  }

  p {
    @include reset;
    @include font-size('16');
    @include line-height('body');
  }

  strong {
    @include reset;
    @include font-smoothing;
    @include letter-spacing;
    font-weight: 700;
  }

  em {
    @include reset;
    font-style: italic;
  }

  a {
    @include reset;
    color: $brand-01;
  }
}

@mixin css-body {
  .bx--body {
    @include reset;
    @include helvetica;
    color: $text-01;
    background-color: $ui-02;
    line-height: 1;
  }
}

@include exports('css--body') {
  @if global-variable-exists('css--body') and $css--body == true {
    @include css-body;
    @include typography;
  }
}
