@import 'colors';
@import 'vars';
@import 'mixins';
@import 'typography';
@import 'css--reset';
@import 'import-once';

@mixin css-body {
  body {
    @include reset;
    @include font-family;
    color: $text-01;
    background-color: $ui-02;
    line-height: 1;
  }
}

@include exports('css--body') {
  @if global-variable-exists('css--body') == false or $css--body == true {
    @include css-body;
  }
}
