//----------------------------------------------
// Mixins
// ---------------------------------------------
//
//   Category             ||  Description
//   ===========================================
//   Misc                 ||  General helper @mixins
//   Deprecated           ||  Not used anymore
//   ===========================================


//----------------------------------------------
// Misc
// ---------------------------------------------

@mixin text-overflow($width) {
  display: block;
  width: $width;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin placeholder-colors {
  color: $text-03;
}

@mixin box-shadow($size: 'small') {
  // Large - For dropdowns
  @if ($size == 'large') {
    box-shadow: 6px 6px 6px 0 $box-shadow;
  }

  @if ($size == 'small') {
    box-shadow: 0px 3px 3px 0 $box-shadow;
  }
}

@mixin focus-outline($type: 'border') {
  @if ($type == 'border') {
    outline: 1px solid $brand-01;
  }

  @if ($type == 'blurred') {
    box-shadow: 0 0 0 3px $color__blue-20;
    outline: 1px solid transparent;
  }
}

@mixin rotate($deg, $speed, $origin: center) {
  transform: rotate($deg);
  transition: transform $speed;
  transform-origin: $origin;
}

@mixin hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  visibility: visible;
  white-space: nowrap;
}

//----------------------------------------------
// Deprecated
// ---------------------------------------------

@mixin light-ui {
  .bx--global-light-ui & {
    @content;
  }
}
