@import 'vars';

$base-font-size: 16px !default; // Default, Use with em() and rem() functions

$major-second-typescale-map: (
  '11' : .6875rem,
  '12' : .75rem,
  '14' : .875rem,
  '16' : 1rem,
  '18' : 1.125rem,
  '20' : 1.25rem,
  '23' : 1.4375rem,
  '26' : 1.625rem,
  '29' : 1.8125rem,
  '32' : 2rem,
  '36' : 2.25rem,
  '41' : 2.5625rem,
  '46' : 2.875rem,
  '52' : 3.25rem,
  '58' : 3.625rem,
  '66' : 4.125rem,
  '74' : 4.625rem,
  '83' : 5.1875rem,
  '94' : 5.875rem
);

@function rem($px) {
  @return ($px / $base-font-size) * 1rem;
}

@function em($px) {
  @return ($px / $base-font-size) * 1em;
}

@mixin helvetica {
  font-family: 'IBM Helvetica', Helvetica Neue, HelveticaNeue, Helvetica, sans-serif;
}

@mixin font-size($size) {
  @if map-has-key($major-second-typescale-map, $size) {
    font-size: map-get($major-second-typescale-map, $size);
  }
  @else {
    @warn 'This is not a step of the Bluemix Type Scale!';
  }
}

// There are two line heights to choose from. One for headings and one for body text
@mixin line-height($el) {
  @if $el == 'heading' {
    line-height: 1.25;
  } @else if $el == 'body' {
    line-height: 1.5;
  } @else {
    @warn 'Invalid argument used for @mixin line-height($el). Please use "heading" or "body".';
  }
}

// Only applied to bold weight text
@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Only applied to h1, h2, h3, bold weights and always to All Caps.
@mixin letter-spacing {
  letter-spacing: .5px;
}
