$bx--ease-in: cubic-bezier(.25, 0, 1, 1); // Used primarily for removing elements from the screen.
$bx--ease-out: cubic-bezier(0, 0, .25, 1); // Used for adding elements to the screen or changing on-screen states at a users's input.
$bx--standard-easing: cubic-bezier(.5, 0, .1, 1); // Used for the majority of animations.
$transition--base: 250ms;


// Color Theme Variables
$brand-01: $color__blue-51 !default;
$brand-02: $color__blue-40 !default;
$brand-03: $color__teal-20 !default;
$inverse-01: $color__white !default;
$ui-01: $color__white !default;
$ui-02: $color__gray-3 !default;
$ui-03: $color__gray-2 !default;
$ui-04: $color__gray-1 !default;
$ui-05: $color__navy-gray-7 !default;
$text-01: $color__blue-90 !default;
$text-02: $color__navy-gray-6 !default;
$text-03: $color__navy-gray-6 !default;
$field-01: rgba($color__blue-51, .1) !default;
$support-01: $color__red-50 !default;
$support-02: $color__green-40 !default;
$support-03: $color__yellow-30 !default;
$support-04: $color__blue-30 !default;
$nav-01: $color__navy-gray-1 !default;
$nav-02: $color__blue-90 !default;
$nav-03: $color__purple-30 !default;
$nav-04: $color__purple-60 !default;
$nav-05: $color__teal-40 !default;
$nav-06: $color__teal-50 !default;
$nav-07: $color__blue-30 !default;
$nav-08: $color__blue-51 !default;

// Global
$input-border: 1px solid transparent !default;
$input-label-weight: 700 !default;

// Button Theme Variables
$button-font-weight: 700 !default;
$button-font-size: .875rem !default;
$button-border-radius: 0 !default;
$button-height: 40px !default;
$button-padding: 0 1rem !default;
$button-padding-sm: 0 .5rem !default;
$button-border-width: 2px !default;

// Structured Theme Variables
$structured-list-padding: 2rem !default;
