// SCSS Color Palette Variables
$ibm-color__black-100: #000000;
$ibm-color__blue-10: #edf4ff;
$ibm-color__blue-20: #c9deff;
$ibm-color__blue-30: #97c1ff;
$ibm-color__blue-40: #6ea6ff;
$ibm-color__blue-50: #418cff;
$ibm-color__blue-60: #0062ff;
$ibm-color__blue-70: #054ada;
$ibm-color__blue-80: #0530ad;
$ibm-color__blue-90: #051b75;
$ibm-color__blue-100: #051243;
$ibm-color__cool-gray-10: #f2f4f8;
$ibm-color__cool-gray-20: #d8dce3;
$ibm-color__cool-gray-30: #b9bfc7;
$ibm-color__cool-gray-40: #9fa5ad;
$ibm-color__cool-gray-50: #868d95;
$ibm-color__cool-gray-60: #697077;
$ibm-color__cool-gray-70: #50565b;
$ibm-color__cool-gray-80: #373d42;
$ibm-color__cool-gray-90: #202529;
$ibm-color__cool-gray-100: #13171a;
$ibm-color__cyan-10: #e3f6ff;
$ibm-color__cyan-20: #b3e6ff;
$ibm-color__cyan-30: #6ccaff;
$ibm-color__cyan-40: #30b0ff;
$ibm-color__cyan-50: #1193e8;
$ibm-color__cyan-60: #0072c3;
$ibm-color__cyan-70: #0058a1;
$ibm-color__cyan-80: #003d73;
$ibm-color__cyan-90: #002749;
$ibm-color__cyan-100: #07192b;
$ibm-color__gray-10: #f3f3f3;
$ibm-color__gray-20: #dcdcdc;
$ibm-color__gray-30: #bebebe;
$ibm-color__gray-40: #a4a4a4;
$ibm-color__gray-50: #8c8c8c;
$ibm-color__gray-60: #6f6f6f;
$ibm-color__gray-70: #565656;
$ibm-color__gray-80: #3d3d3d;
$ibm-color__gray-90: #252525;
$ibm-color__gray-100: #171717;
$ibm-color__green-10: #dafbe4;
$ibm-color__green-20: #9deeb2;
$ibm-color__green-30: #56d679;
$ibm-color__green-40: #3dbb61;
$ibm-color__green-50: #24a249;
$ibm-color__green-60: #198038;
$ibm-color__green-70: #10642a;
$ibm-color__green-80: #054719;
$ibm-color__green-90: #012e0e;
$ibm-color__green-100: #081b09;
$ibm-color__magenta-10: #fff0f6;
$ibm-color__magenta-20: #ffcfe1;
$ibm-color__magenta-30: #ffa0c2;
$ibm-color__magenta-40: #fa75a6;
$ibm-color__magenta-50: #ee538b;
$ibm-color__magenta-60: #d12765;
$ibm-color__magenta-70: #a11950;
$ibm-color__magenta-80: #760a3a;
$ibm-color__magenta-90: #4f0027;
$ibm-color__magenta-100: #2a0a16;
$ibm-color__orange-40: #fc7b1e;
$ibm-color__purple-10: #f7f1ff;
$ibm-color__purple-20: #e6d6ff;
$ibm-color__purple-30: #d0b0ff;
$ibm-color__purple-40: #bb8eff;
$ibm-color__purple-50: #a970ff;
$ibm-color__purple-60: #8a3ffc;
$ibm-color__purple-70: #6e32c9;
$ibm-color__purple-80: #4f2196;
$ibm-color__purple-90: #321260;
$ibm-color__purple-100: #1e1033;
$ibm-color__red-10: #fff0f1;
$ibm-color__red-20: #fcd0d3;
$ibm-color__red-30: #ffa4a9;
$ibm-color__red-40: #ff767c;
$ibm-color__red-50: #fb4b53;
$ibm-color__red-60: #da1e28;
$ibm-color__red-70: #a51920;
$ibm-color__red-80: #750e13;
$ibm-color__red-90: #4f0408;
$ibm-color__red-100: #2c080a;
$ibm-color__teal-10: #dbfbfb;
$ibm-color__teal-20: #87eded;
$ibm-color__teal-30: #20d5d2;
$ibm-color__teal-40: #00bab6;
$ibm-color__teal-50: #009e9a;
$ibm-color__teal-60: #007d79;
$ibm-color__teal-70: #006161;
$ibm-color__teal-80: #004548;
$ibm-color__teal-90: #002b30;
$ibm-color__teal-100: #081a1c;
$ibm-color__warm-gray-10: #f7f3f1;
$ibm-color__warm-gray-20: #e0dbda;
$ibm-color__warm-gray-30: #c1bcbb;
$ibm-color__warm-gray-40: #a7a2a2;
$ibm-color__warm-gray-50: #8f8b8b;
$ibm-color__warm-gray-60: #726e6e;
$ibm-color__warm-gray-70: #595555;
$ibm-color__warm-gray-80: #403c3c;
$ibm-color__warm-gray-90: #272424;
$ibm-color__warm-gray-100: #1a1717;
$ibm-color__white-0: #ffffff;
$ibm-color__yellow-20: #fdd13a;

$ibm-color-map: (
  'black': (
    100: $ibm-color__black-100,
  ),
  'blue': (
    10: $ibm-color__blue-10,
    20: $ibm-color__blue-20,
    30: $ibm-color__blue-30,
    40: $ibm-color__blue-40,
    50: $ibm-color__blue-50,
    60: $ibm-color__blue-60,
    70: $ibm-color__blue-70,
    80: $ibm-color__blue-80,
    90: $ibm-color__blue-90,
    100: $ibm-color__blue-100,
  ),
  'cool-gray': (
    10: $ibm-color__cool-gray-10,
    20: $ibm-color__cool-gray-20,
    30: $ibm-color__cool-gray-30,
    40: $ibm-color__cool-gray-40,
    50: $ibm-color__cool-gray-50,
    60: $ibm-color__cool-gray-60,
    70: $ibm-color__cool-gray-70,
    80: $ibm-color__cool-gray-80,
    90: $ibm-color__cool-gray-90,
    100: $ibm-color__cool-gray-100,
  ),
  'cyan': (
    10: $ibm-color__cyan-10,
    20: $ibm-color__cyan-20,
    30: $ibm-color__cyan-30,
    40: $ibm-color__cyan-40,
    50: $ibm-color__cyan-50,
    60: $ibm-color__cyan-60,
    70: $ibm-color__cyan-70,
    80: $ibm-color__cyan-80,
    90: $ibm-color__cyan-90,
    100: $ibm-color__cyan-100,
  ),
  'gray': (
    10: $ibm-color__gray-10,
    20: $ibm-color__gray-20,
    30: $ibm-color__gray-30,
    40: $ibm-color__gray-40,
    50: $ibm-color__gray-50,
    60: $ibm-color__gray-60,
    70: $ibm-color__gray-70,
    80: $ibm-color__gray-80,
    90: $ibm-color__gray-90,
    100: $ibm-color__gray-100,
  ),
  'green': (
    10: $ibm-color__green-10,
    20: $ibm-color__green-20,
    30: $ibm-color__green-30,
    40: $ibm-color__green-40,
    50: $ibm-color__green-50,
    60: $ibm-color__green-60,
    70: $ibm-color__green-70,
    80: $ibm-color__green-80,
    90: $ibm-color__green-90,
    100: $ibm-color__green-100,
  ),
  'magenta': (
    10: $ibm-color__magenta-10,
    20: $ibm-color__magenta-20,
    30: $ibm-color__magenta-30,
    40: $ibm-color__magenta-40,
    50: $ibm-color__magenta-50,
    60: $ibm-color__magenta-60,
    70: $ibm-color__magenta-70,
    80: $ibm-color__magenta-80,
    90: $ibm-color__magenta-90,
    100: $ibm-color__magenta-100,
  ),
  'orange': (
    40: $ibm-color__orange-40,
  ),
  'purple': (
    10: $ibm-color__purple-10,
    20: $ibm-color__purple-20,
    30: $ibm-color__purple-30,
    40: $ibm-color__purple-40,
    50: $ibm-color__purple-50,
    60: $ibm-color__purple-60,
    70: $ibm-color__purple-70,
    80: $ibm-color__purple-80,
    90: $ibm-color__purple-90,
    100: $ibm-color__purple-100,
  ),
  'red': (
    10: $ibm-color__red-10,
    20: $ibm-color__red-20,
    30: $ibm-color__red-30,
    40: $ibm-color__red-40,
    50: $ibm-color__red-50,
    60: $ibm-color__red-60,
    70: $ibm-color__red-70,
    80: $ibm-color__red-80,
    90: $ibm-color__red-90,
    100: $ibm-color__red-100,
  ),
  'teal': (
    10: $ibm-color__teal-10,
    20: $ibm-color__teal-20,
    30: $ibm-color__teal-30,
    40: $ibm-color__teal-40,
    50: $ibm-color__teal-50,
    60: $ibm-color__teal-60,
    70: $ibm-color__teal-70,
    80: $ibm-color__teal-80,
    90: $ibm-color__teal-90,
    100: $ibm-color__teal-100,
  ),
  'warm-gray': (
    10: $ibm-color__warm-gray-10,
    20: $ibm-color__warm-gray-20,
    30: $ibm-color__warm-gray-30,
    40: $ibm-color__warm-gray-40,
    50: $ibm-color__warm-gray-50,
    60: $ibm-color__warm-gray-60,
    70: $ibm-color__warm-gray-70,
    80: $ibm-color__warm-gray-80,
    90: $ibm-color__warm-gray-90,
    100: $ibm-color__warm-gray-100,
  ),
  'white': (
    0: $ibm-color__white-0,
  ),
  'yellow': (
    20: $ibm-color__yellow-20,
  ),
);

// CSS Variables
@mixin ibm-color__css-variables {
  :root {
    --ibm-color__black-100: #000000;
    --ibm-color__blue-10: #edf4ff;
    --ibm-color__blue-20: #c9deff;
    --ibm-color__blue-30: #97c1ff;
    --ibm-color__blue-40: #6ea6ff;
    --ibm-color__blue-50: #418cff;
    --ibm-color__blue-60: #0062ff;
    --ibm-color__blue-70: #054ada;
    --ibm-color__blue-80: #0530ad;
    --ibm-color__blue-90: #051b75;
    --ibm-color__blue-100: #051243;
    --ibm-color__cool-gray-10: #f2f4f8;
    --ibm-color__cool-gray-20: #d8dce3;
    --ibm-color__cool-gray-30: #b9bfc7;
    --ibm-color__cool-gray-40: #9fa5ad;
    --ibm-color__cool-gray-50: #868d95;
    --ibm-color__cool-gray-60: #697077;
    --ibm-color__cool-gray-70: #50565b;
    --ibm-color__cool-gray-80: #373d42;
    --ibm-color__cool-gray-90: #202529;
    --ibm-color__cool-gray-100: #13171a;
    --ibm-color__cyan-10: #e3f6ff;
    --ibm-color__cyan-20: #b3e6ff;
    --ibm-color__cyan-30: #6ccaff;
    --ibm-color__cyan-40: #30b0ff;
    --ibm-color__cyan-50: #1193e8;
    --ibm-color__cyan-60: #0072c3;
    --ibm-color__cyan-70: #0058a1;
    --ibm-color__cyan-80: #003d73;
    --ibm-color__cyan-90: #002749;
    --ibm-color__cyan-100: #07192b;
    --ibm-color__gray-10: #f3f3f3;
    --ibm-color__gray-20: #dcdcdc;
    --ibm-color__gray-30: #bebebe;
    --ibm-color__gray-40: #a4a4a4;
    --ibm-color__gray-50: #8c8c8c;
    --ibm-color__gray-60: #6f6f6f;
    --ibm-color__gray-70: #565656;
    --ibm-color__gray-80: #3d3d3d;
    --ibm-color__gray-90: #252525;
    --ibm-color__gray-100: #171717;
    --ibm-color__green-10: #dafbe4;
    --ibm-color__green-20: #9deeb2;
    --ibm-color__green-30: #56d679;
    --ibm-color__green-40: #3dbb61;
    --ibm-color__green-50: #24a249;
    --ibm-color__green-60: #198038;
    --ibm-color__green-70: #10642a;
    --ibm-color__green-80: #054719;
    --ibm-color__green-90: #012e0e;
    --ibm-color__green-100: #081b09;
    --ibm-color__magenta-10: #fff0f6;
    --ibm-color__magenta-20: #ffcfe1;
    --ibm-color__magenta-30: #ffa0c2;
    --ibm-color__magenta-40: #fa75a6;
    --ibm-color__magenta-50: #ee538b;
    --ibm-color__magenta-60: #d12765;
    --ibm-color__magenta-70: #a11950;
    --ibm-color__magenta-80: #760a3a;
    --ibm-color__magenta-90: #4f0027;
    --ibm-color__magenta-100: #2a0a16;
    --ibm-color__orange-40: #fc7b1e;
    --ibm-color__purple-10: #f7f1ff;
    --ibm-color__purple-20: #e6d6ff;
    --ibm-color__purple-30: #d0b0ff;
    --ibm-color__purple-40: #bb8eff;
    --ibm-color__purple-50: #a970ff;
    --ibm-color__purple-60: #8a3ffc;
    --ibm-color__purple-70: #6e32c9;
    --ibm-color__purple-80: #4f2196;
    --ibm-color__purple-90: #321260;
    --ibm-color__purple-100: #1e1033;
    --ibm-color__red-10: #fff0f1;
    --ibm-color__red-20: #fcd0d3;
    --ibm-color__red-30: #ffa4a9;
    --ibm-color__red-40: #ff767c;
    --ibm-color__red-50: #fb4b53;
    --ibm-color__red-60: #da1e28;
    --ibm-color__red-70: #a51920;
    --ibm-color__red-80: #750e13;
    --ibm-color__red-90: #4f0408;
    --ibm-color__red-100: #2c080a;
    --ibm-color__teal-10: #dbfbfb;
    --ibm-color__teal-20: #87eded;
    --ibm-color__teal-30: #20d5d2;
    --ibm-color__teal-40: #00bab6;
    --ibm-color__teal-50: #009e9a;
    --ibm-color__teal-60: #007d79;
    --ibm-color__teal-70: #006161;
    --ibm-color__teal-80: #004548;
    --ibm-color__teal-90: #002b30;
    --ibm-color__teal-100: #081a1c;
    --ibm-color__warm-gray-10: #f7f3f1;
    --ibm-color__warm-gray-20: #e0dbda;
    --ibm-color__warm-gray-30: #c1bcbb;
    --ibm-color__warm-gray-40: #a7a2a2;
    --ibm-color__warm-gray-50: #8f8b8b;
    --ibm-color__warm-gray-60: #726e6e;
    --ibm-color__warm-gray-70: #595555;
    --ibm-color__warm-gray-80: #403c3c;
    --ibm-color__warm-gray-90: #272424;
    --ibm-color__warm-gray-100: #1a1717;
    --ibm-color__white-0: #ffffff;
    --ibm-color__yellow-20: #fdd13a;
  }
}

// include CSS variables by default
// exclude if $ibm-colors__include-css-variables is false
$ibm-colors__include-css-variables: true !default;
@if ($ibm-colors__include-css-variables == true) {
  @include ibm-color__css-variables;
}
