<div class="bx--grid">
  <div class="bx--row">
    <div class="bx--col-xs-12 bx--col-sm-6 indigo">
      <div class="bx--row">
        <div class="bx--col-xs-12 bx--col-sm-6">
          <div class="col-example">
            <p>Content space for bx--col-xs-12 bx--col-sm-6</p>
          </div>
        </div>
        <div class="bx--col-xs-12 bx--col-sm-6 green">
          <p>Full space for bx--col-xs-12 bx--col-sm-6 (columns naturally have padding on them, adding a background color to
            the column directly will effect the entire column, as opposed to using a child element in the example to the
            left). </p>
        </div>
      </div>

      <p>Columns also expand to match the vertical size of the rest of the row (see red column)</p>
    </div>
    <div class="bx--col-xs-12 bx--col-sm-6 red">
      <p>Background color over entire column, not just content space</p>

    </div>
  </div>
</div>