//-----------------------------
// Tabs
//-----------------------------

@import '../../globals/scss/colors';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/layer';
@import '../../globals/scss/typography';
@import '../../globals/scss/layout';
@import '../../globals/scss/import-once';
@import '../../globals/scss/css--typography';

@include exports('tabs') {
  .bx--tabs {
    @include typescale('zeta');
    @include font-smoothing;
    @include font-family;
    color: $text-01;
    font-weight: 600;
    cursor: pointer;
    height: auto;
    width: 100%;
    position: relative;

    @include breakpoint(bp--sm--major) {
      background: none;
      min-height: rem(49px);
    }
  }

  .bx--tabs-trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(13px) rem(16px);
    cursor: pointer;
    background-color: $field-01;

    svg {
      width: rem(12px);
      height: rem(12px);
      fill: $brand-01;
    }

    &:focus {
      @include focus-outline('border');
    }

    @include breakpoint(bp--sm--major) {
      display: none;
    }
  }

  .bx--tabs-trigger-text {
    text-decoration: none;
    font-weight: 600;
    color: $text-01;

    &:focus {
      @include focus-outline('border');
    }
  }

  .bx--tabs__nav {
    @include layer('overlay');
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;

    @include breakpoint(bp--sm--major) {
      @include typescale('epsilon');
      flex-direction: row;
      margin-right: rem(16px);
      margin-left: rem(16px);
      background: none;
      box-shadow: none;
    }

    @include breakpoint(bp--lg--major) {
      margin-left: 0;
    }
  }

  .bx--tabs__nav--hidden {
    display: none;

    @include breakpoint(bp--sm--major) {
      display: flex;
    }
  }

  .bx--tabs__nav-item {
    @include typescale('zeta');
    background-color: $ui-01;
    padding: 0;

    &:hover,
    &:focus {
      background-color: $brand-01;

      @include breakpoint(bp--sm--major) {
        outline: 1px solid transparent;
        background: transparent;
      }
    }

    @include breakpoint(bp--sm--major) {
      background: transparent;
      padding: 0.725rem 0 rem(10px);

      & + & {
        margin-left: rem(48px);
      }
    }
  }

  .bx--tabs__nav-item--selected {
    border: none;

    @include breakpoint(bp--sm--major) {
      border-bottom: 2px solid $brand-01;

      .bx--tabs__nav-link {
        color: $brand-01;

        &:focus {
          color: $brand-01;
        }
      }
    }
  }

  .bx--tabs__nav-item:hover .bx--tabs__nav-link {
    color: $inverse-01;

    @include breakpoint(bp--sm--major) {
      color: $brand-01;
    }
  }

  .bx--tabs__nav-link {
    display: inline-block;
    color: $text-01;
    text-decoration: none;
    padding: 1rem;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:focus {
      outline: 1px solid transparent;
      background-color: $brand-01;
      color: $inverse-01;
    }

    @include breakpoint(bp--sm--major) {
      padding: 0.05rem;
      width: auto;

      &:hover {
        color: $brand-01;
      }

      &:focus {
        background-color: transparent;
        color: $text-01;
        outline: 1px solid transparent;
        box-shadow: 0 0 0 1px $brand-01;
      }
    }
  }
}
