<nav data-tabs class="bx--tabs">
  <div class="bx--tabs__trigger"><p class="bx--tabs__trigger-text"></p>
    <svg>
      <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#service--down-arrow"></use>
    </svg>
  </div>
  <ul class="bx--tabs__nav bx--tabs--hidden">
    <li class="bx--tabs__nav-item bx--tabs--selected"><a class="bx--tabs__nav-link" href="...">Overview</a></li>
    <li class="bx--tabs__nav-item"><a class="bx--tabs__nav-link" href="...">Containers Files</a></li>
    <li class="bx--tabs__nav-item"><a class="bx--tabs__nav-link" href="...">Connected Objects</a></li>
    <li class="bx--tabs__nav-item"><a class="bx--tabs__nav-link" href="...">Manage</a></li>
  </ul>
</nav>
