.info__name, .info__link, .state__status-text--running, .bx-btn--primary, .bx-btn--secondary, .bx-btn--close {
  font-family: HelveticaNeue, Helvetica Neue, Helvetica, sans-serif; }

.info__name, .info__link, .state__status-text--running {
  font-weight: 200; }

.bx-btn--primary, .bx-btn--secondary, .bx-btn--close {
  font-weight: 700; }

.bx-btn--primary, .bx-btn--secondary, .bx-btn--close, .info__link, .state__status-text--running {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.bx-btn--primary {
  border: 4px solid #00a391;
  cursor: pointer;
  font-size: 1.125rem;
  letter-spacing: 1px;
  min-height: 2.75em;
  min-width: 9.375em;
  padding: 0 1em;
  text-transform: uppercase;
  background-color: #00a391;
  color: #fff; }
  .bx-btn--primary:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

.bx-btn--secondary {
  border: 4px solid #5596e6;
  cursor: pointer;
  font-size: 1.125rem;
  letter-spacing: 1px;
  min-height: 2.75em;
  min-width: 9.375em;
  padding: 0 1em;
  text-transform: uppercase;
  background-color: transparent;
  color: #5596e6;
  -webkit-transition: background-color ease-out 0.15s, color ease-out 0.15s;
     -moz-transition: background-color ease-out 0.15s, color ease-out 0.15s;
       -o-transition: background-color ease-out 0.15s, color ease-out 0.15s;
          transition: background-color ease-out 0.15s, color ease-out 0.15s; }
  .bx-btn--secondary:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
  .bx-btn--secondary:hover,
  .bx-btn--secondary:focus {
    background-color: #5596e6;
    color: #fff; }

.bx-btn--close {
  border: 4px solid #6d7777;
  cursor: pointer;
  font-size: 1.125rem;
  letter-spacing: 1px;
  min-height: 2.75em;
  min-width: 9.375em;
  padding: 0 1em;
  text-transform: uppercase;
  background-color: #6d7777;
  color: #fff; }
  .bx-btn--close:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

.card {
  -webkit-transition: -webkit-box-shadow 0.1s;
     -moz-transition: -moz-box-shadow 0.1s;
       -o-transition: box-shadow 0.1s;
          transition: box-shadow 0.1s; }
  .card:focus,
  .card:hover {
    -webkit-box-shadow: 0 0 2pt 3pt #00aed1;
       -moz-box-shadow: 0 0 2pt 3pt #00aed1;
            box-shadow: 0 0 2pt 3pt #00aed1;
    cursor: pointer; }

.card {
  background-color: #fff;
  display: inline-block;
  height: 15.625em;
  width: 15.3125em; }
  .card__link-wrapper {
    text-decoration: none; }
  .card__info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1.75em 0.625em 0.875em; }
  .card__bindings {
    border-top: 1px solid #e5ebef;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style-type: none;
    padding: 0.875em 0.625em; }
  .card__state {
    background-color: #e9f1f4;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 2.1875em;
    padding: 0 0.625em; }

.info__icon {
  display: block;
  margin: 0 auto 0.875em; }

.info__name {
  color: #152935;
  font-size: 1.125rem;
  line-height: 1.5;
  text-transform: lowercase; }

.info__link {
  color: #94A3AB;
  font-size: 0.75em;
  line-height: 1.5;
  text-decoration: none; }

.bindings__icon {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  border: 0.1875em solid #00bfe5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: 2.25em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0.125em;
  padding: 0.1875em;
  width: 2.25em; }

.state__icon--running {
  background-color: #13dd6d;
  width: 1.0625em;
  height: 1.0625em;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  margin-right: 0.625em; }

.state__status-text--running {
  color: #8697a0;
  font-size: 14px; }
