.links__link, .brand__link__name--normal, .bx-btn--primary, .bx-btn--secondary, .bx-btn--close, .brand__link__name--bold, .cta-links__link--sign-up,
.cta-links__link--log-in {
  font-family: HelveticaNeue, Helvetica Neue, Helvetica, sans-serif; }

.links__link {
  font-weight: 200; }

.brand__link__name--normal {
  font-weight: 400; }

.bx-btn--primary, .bx-btn--secondary, .bx-btn--close, .brand__link__name--bold, .cta-links__link--sign-up,
.cta-links__link--log-in {
  font-weight: 700; }

.bx-btn--primary, .bx-btn--secondary, .bx-btn--close {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.bx-btn--primary {
  border: 4px solid #00a391;
  cursor: pointer;
  font-size: 1.125rem;
  letter-spacing: 1px;
  min-height: 2.75em;
  min-width: 9.375em;
  padding: 0 1em;
  text-transform: uppercase;
  background-color: #00a391;
  color: #fff; }
  .bx-btn--primary:disabled {
    cursor: not-allowed;
    opacity: .5; }

.bx-btn--secondary {
  border: 4px solid #5596e6;
  cursor: pointer;
  font-size: 1.125rem;
  letter-spacing: 1px;
  min-height: 2.75em;
  min-width: 9.375em;
  padding: 0 1em;
  text-transform: uppercase;
  background-color: transparent;
  color: #5596e6;
  -webkit-transition: background-color ease-out 0.15s, color ease-out 0.15s;
     -moz-transition: background-color ease-out 0.15s, color ease-out 0.15s;
       -o-transition: background-color ease-out 0.15s, color ease-out 0.15s;
          transition: background-color ease-out 0.15s, color ease-out 0.15s; }
  .bx-btn--secondary:disabled {
    cursor: not-allowed;
    opacity: .5; }
  .bx-btn--secondary:hover,
  .bx-btn--secondary:focus {
    background-color: #5596e6;
    color: #fff; }

.bx-btn--close {
  border: 4px solid #6d7777;
  cursor: pointer;
  font-size: 1.125rem;
  letter-spacing: 1px;
  min-height: 2.75em;
  min-width: 9.375em;
  padding: 0 1em;
  text-transform: uppercase;
  background-color: #6d7777;
  color: #fff; }
  .bx-btn--close:disabled {
    cursor: not-allowed;
    opacity: .5; }

.header,
.header__brand,
.header__nav, .brand__link, .nav__cta-links {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.brand__menu, .brand__menu:hover,
.brand__menu:focus, .brand__link__logo {
  background-image: url("https://ace-common-production-20150731-141133.ng.bluemix.net/cache/9ec1-3656781102/api/v1/imgs/sprite.png"); }

.header {
  background-color: #1d3649;
  position: fixed;
  z-index: 1;
  height: 3.125em;
  padding: 0 10px;
  width: 100%; }
  .header__brand {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }

.brand__menu {
  background-position: -68px -106px;
  cursor: pointer;
  height: 14px;
  margin: 0 10px;
  width: 12px; }
  .brand__menu:hover,
  .brand__menu:focus {
    background-position: -56px -106px; }
  @media screen and (min-width: 56.25em) {
    .brand__menu {
      display: none; } }

.brand__link {
  text-decoration: none; }

@media screen and (min-width: 56.25em) {
  .brand__link__logo {
    background-position: -40px -50px;
    height: 32px;
    width: 32px; } }

.brand__link__name--bold,
.brand__link__name--normal {
  color: #fff;
  font-size: .875em;
  line-height: 1; }

.brand__link__name--bold {
  display: none; }
  @media screen and (min-width: 56.25em) {
    .brand__link__name--bold {
      display: inline; } }

.brand__link__name--normal {
  margin-left: 0.75em;
  margin-right: 5px; }

.nav__links--mobile,
.nav__links--desktop,
.nav__cta-links {
  list-style-type: none; }

.nav__links {
  background-color: #1d3649;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none; }
  @media screen and (max-width: 56.25em) {
    .nav__links {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
         -moz-box-orient: vertical;
         -moz-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      left: 0px;
      min-height: 1400px;
      opacity: .9;
      padding: 55px;
      position: fixed;
      top: 50px;
      -webkit-transform: translateX(-300px);
         -moz-transform: translateX(-300px);
          -ms-transform: translateX(-300px);
           -o-transform: translateX(-300px);
              transform: translateX(-300px);
      -webkit-transition: -webkit-transform 0.2s ease-out;
         -moz-transition: -moz-transform 0.2s ease-out;
           -o-transition: -o-transform 0.2s ease-out;
              transition: transform 0.2s ease-out;
      width: 300px; }
      .nav__links.visible {
        -webkit-transform: translateX(0px);
           -moz-transform: translateX(0px);
            -ms-transform: translateX(0px);
             -o-transform: translateX(0px);
                transform: translateX(0px);
        -webkit-transition: -webkit-transform 0.2s ease-out;
           -moz-transition: -moz-transform 0.2s ease-out;
             -o-transition: -o-transform 0.2s ease-out;
                transition: transform 0.2s ease-out; } }

.nav__links--desktop {
  display: none; }
  @media screen and (min-width: 56.25em) {
    .nav__links--desktop {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex; } }

.links__link-item {
  margin-bottom: 12px; }
  @media screen and (min-width: 56.25em) {
    .links__link-item {
      margin-bottom: 0; } }

.links__link {
  color: #B3B3B3;
  font-size: 0.875em;
  letter-spacing: 0.0625em;
  text-decoration: none;
  text-transform: uppercase; }
  .links__link:hover,
  .links__link:focus {
    color: #fff;
    -webkit-transition: color 0.2s ease-out;
       -moz-transition: color 0.2s ease-out;
         -o-transition: color 0.2s ease-out;
            transition: color 0.2s ease-out; }
  @media screen and (min-width: 56.25em) {
    .links__link {
      margin: 0 12px; } }

.cta-links__link--sign-up,
.cta-links__link--log-in {
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  font-size: 0.875em;
  letter-spacing: 0.0625em;
  margin: 0 5px;
  padding: 5px 12px;
  text-decoration: none;
  text-transform: uppercase; }

.cta-links__link--sign-up {
  border: 1px solid #00b299;
  color: #00b299; }
  .cta-links__link--sign-up:hover,
  .cta-links__link--sign-up:focus {
    background-color: #00b299;
    color: #1d3649;
    -webkit-transition: background-color 0.2s ease-out, color 0.2s ease-out;
       -moz-transition: background-color 0.2s ease-out, color 0.2s ease-out;
         -o-transition: background-color 0.2s ease-out, color 0.2s ease-out;
            transition: background-color 0.2s ease-out, color 0.2s ease-out; }

.cta-links__link--log-in {
  border: 1px solid #B3B3B3;
  color: #B3B3B3; }
  .cta-links__link--log-in:hover,
  .cta-links__link--log-in:focus {
    background-color: #B3B3B3;
    color: #1d3649;
    -webkit-transition: background-color 0.2s ease-out, color 0.2s ease-out;
       -moz-transition: background-color 0.2s ease-out, color 0.2s ease-out;
         -o-transition: background-color 0.2s ease-out, color 0.2s ease-out;
            transition: background-color 0.2s ease-out, color 0.2s ease-out; }
