@import 'vars';

.bx--overflow-menu {
  display: flex;
  width: 2em;
  height: 3em;
  margin: 1em;
  cursor: pointer;

  // horizontal rule styling
  hr {
    border: none;
    border-bottom: 1px solid $color__navy-gray-6;
  }

  // Initial styling for the options pane
  &__options {
    position: absolute;
    display: none;
    padding: .25em 0;
    margin: 2.5em 0 0 -3em;
    z-index: z('overflowOptions');
    background: $color--list-bg;
    transition-duration: .25s;


    // rectangle to make little arrow
    &:before {
      position: absolute;
      top: -.5em;
      left: 1.6em;
      z-index: z('overflowHidden');
      display: block;
      width: 1em;
      height: 1em;
      background-color: $color--list-bg;
      content: '';
      transform: rotate(45deg);
    }
  }

  &__btn,
  &__btn--delete {
    @include helvetica;
    @include font-size('14');
    width: 100%;
    padding: .5em 1em;
    font-weight: 200;
    color: $color__white;
    text-align: left;
    cursor: pointer;
    background: none;
    border: none;

    &:hover {
      background: $color--list-bg--hover;
    }

    &--delete:hover {
      background-color: $color__red-40;
    }
  }

  &__icon {
    height: 20px;
    fill: $color__navy-gray-7;
  }

  // Focus and hover states for the entire component
  &:focus {
    @include focus-outline;
  }

  &:focus,
  &:active,
  &.bx--overflow-menu--open {
    .bx--overflow-menu__icon {
      color: $color__white;
    }

    .bx--overflow-menu__options {
      display: block;
    }
  }
}
