<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>detail view</title>
  <link rel="stylesheet" href="./css/detail.css" media="screen" title="no title" charset="utf-8">

</head>

<body>
  <header class="detail-page-header--with-tabs">
      <div class="detail-page-header--with-tabs__container">
        <div class="detail-page-header--with-tabs__breadcrumb">
          <a href="#" class="link-wrapper">
            <svg class="arrow">
              <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#service--back"></use>
            </svg>
            <p class="breadcrumb-title">Breadcrumb title</p>
          </a>
        </div>
        <div class="detail-page-header--with-tabs__info">
          <p class="info-title">Detail Page Header</p>
        </div>
      </div>
      <div class="detail-page-header--with-tabs__tabs-container">
        <nav data-tabs class="tabs">
          <div class="tabs__trigger"><p class="trigger__text"></p>
            <svg>
              <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#service--down-arrow"></use>
            </svg>
          </div>
          <ul class="tabs__nav tabs--hidden">
            <li class="nav__item selected"><a class="item__link" href="#">Overview</a></li>
            <li class="nav__item"><a class="item__link" href="#">Containers Files</a></li>
            <li class="nav__item"><a class="item__link" href="#">Connected Objects</a></li>
            <li class="nav__item"><a class="item__link" href="#">Manage</a></li>
          </ul>
        </nav>
      </div>
    </header>

  <section class="tab-content" data-tab-content="overview" data-tab-active="true">
    <div class="data-container">
      <div class="tile data-module--1x">
        <div class="data-module">
          <div class="metrics">
            <div class="metrics__data">
              <h5 class="data__main-heading">Estimated Monthly Charge</h5>
              <p class="data__main-data"><sup>$</sup>22.03</p>
              <p class="data__more-info">October 15 - November 14</p>
            </div>
            <div class="metrics__data">
              <h5 class="data__main-heading">Estimated Monthly Charge</h5>
              <p class="data__main-data"><sup>$</sup>22.03</p>
              <p class="data__more-info">October 15 - November 14</p>
            </div>
          </div>
          <a href="#" class="metrics__details-link">View full usage details</a>
        </div>
      </div>
      <div class="tile data-module--2x">
        <div class="data-module">
          <div class="metrics">
            <div class="metrics__data">
              <h5 class="data__main-heading">Estimated Monthly Charge</h5>
              <p class="data__main-data"><sup>$</sup>22.03</p>
              <p class="data__more-info">October 15 - November 14</p>
            </div>
            <div class="metrics__data">
              <h5 class="data__main-heading">Estimated Monthly Charge</h5>
              <p class="data__main-data"><sup>$</sup>22.03</p>
              <p class="data__more-info">October 15 - November 14</p>
            </div>
          </div>
          <a href="#" class="metrics__details-link">View full usage details</a>
        </div>
      </div>
      <div class="tile data-module--2x">
        <div class="data-module ">
          <div class="metrics">
            <div class="metrics__data">
              <h5 class="data__main-heading">Estimated Monthly Charge</h5>
              <p class="data__main-data"><sup>$</sup>22.03</p>
              <p class="data__more-info">October 15 - November 14</p>
            </div>
            <div class="metrics__data">
              <h5 class="data__main-heading">Estimated Monthly Charge</h5>
              <p class="data__main-data"><sup>$</sup>22.03</p>
              <p class="data__more-info">October 15 - November 14</p>
            </div>
          </div>
          <a href="#" class="metrics__details-link">View full usage details</a>
        </div>
      </div>
      <div class="tile data-module--1x">
        <div class="data-module ">
          <div class="metrics">
            <div class="metrics__data">
              <h5 class="data__main-heading">Estimated Monthly Charge</h5>
              <p class="data__main-data"><sup>$</sup>22.03</p>
              <p class="data__more-info">October 15 - November 14</p>
            </div>
            <div class="metrics__data">
              <h5 class="data__main-heading">Estimated Monthly Charge</h5>
              <p class="data__main-data"><sup>$</sup>22.03</p>
              <p class="data__more-info">October 15 - November 14</p>
            </div>
          </div>
          <a href="#" class="metrics__details-link">View full usage details</a>
        </div>
      </div>
    </div>
  </section>

  <script src="./js/app.js" charset="utf-8"></script>
</body>

</html>
