<nav class="tabs-nav">
  <ul class="tabs-nav--wide">
    <li class="tabs-nav__item"><a class="item__link selected" href="">Overview</a></li>
    <li class="tabs-nav__item"><a class="item__link" href="">Containers&nbsp;&amp;&nbsp;Files</a></li>
    <li class="tabs-nav__item"><a class="item__link" href="">Connected&nbsp;Objects</a></li>
    <li class="tabs-nav__item"><a class="item__link" href="">Manage</a></li>
    <li class="tabs-nav__item"><a class="item__link" href="">DJKhaled</a></li>
  </ul>
  <select class="tabs-nav--mobile" name="" id="">
    <option value="{{value}}">Overview</option>
    <option value="{{value}}">Containers&nbsp;&amp;&nbsp;Files</option>
    <option value="{{value}}">Connected&nbsp;Objects</option>
    <option value="{{value}}">Manage</option>
  </select>
</nav>