@mixin helvetica {
  font-family: 'IBM Helvetica', Helvetica Neue, HelveticaNeue, Helvetica, sans-serif;
}

@mixin font-size($size) {
  @if map-has-key($major-second-typescale-map, $size) {
    font-size: map-get($major-second-typescale-map, $size);
  }
  @else {
    @warn 'This is not a step of the Bluemix Type Scale!';
  }
}

// There are two line heights to choose from. One for headings and one for body text
@mixin line-height($el) {
  @if $el == 'heading' {
    line-height: 1.25;
  } @else if $el == 'body' {
    line-height: 1.5;
  } @else {
    @warn 'Invalid argument used for @mixin line-height($el). Please use "heading" or "body".';
  }
}

// Only applied to bold weight text
@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Only applied to h1, h2, h3, bold weights and always to All Caps.
@mixin letter-spacing {
  letter-spacing: .5px;
}

//-------------------------
// ☠️ Deprecated
//-------------------------

@mixin type($size) {
  @warn 'This mixin is being deprecated in favor of "font-size"';
  @if map-has-key($typescale-map, $size) {
    font-size: map-get($typescale-map, $size);
  }
  @else {
    font-size: $size;
  }
}
