@import '../../global/global';

@import 'vars';

.bx--link {
  @include font-size('14');
  @include font-smoothing;
  font-weight: 700;
  color: $color--link;
  text-decoration: underline;
  transition: $transition--link;

  &:visited {
    color: $color--link;
  }

  &:active,
  &:hover,
  &:focus {
    color: $color--link--hover;
  }
}
