//-----------------------------
// Links
//-----------------------------

// Dependencies
@import '../../global/global';

@import '../../import-once';

@include exports('links') {

.bx--link {
  @include font-size('14');
  @include font-smoothing;
  box-sizing: border-box;
  font-weight: 700;
  color: $color__blue-30;
  text-decoration: underline;
  transition: $transition--base;

  @include light-ui {
    color: $color__blue-51;
  }

  &:visited {
    color: $color__blue-30;

    @include light-ui {
      color: $color__blue-51;
    }
  }

  &:active,
  &:hover,
  &:focus {
    color: $color__blue-20;

    @include light-ui {
      color: $color__blue-40;
    }
  }
}

}
