@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/typography';
@import '../../globals/scss/spacing';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/import-once';
@import '../../globals/scss/css--reset';
@import '../form/form';

@include exports('number-input') {
  .#{$prefix}--number {
    @include reset;
    display: flex;
  }

  .#{$prefix}--number input[type='number'] {
    @include typescale('zeta');
    @include font-family;
    box-sizing: border-box;
    display: inline-flex;
    width: 100%;
    min-width: 9.375rem;
    padding-left: $spacing-md;
    padding-right: $spacing-xl;
    font-weight: 300;
    height: rem(40px);
    color: $text-01;
    background-color: $field-01;
    border: $input-border;
    border-radius: 0;

    &:focus {
      @include focus-outline('border');
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &:disabled ~ .#{$prefix}--number__controls {
      opacity: 0.5;
      cursor: not-allowed;
      pointer-events: none;
    }
  }

  .#{$prefix}--number input[type='number'] {
    appearance: textfield; // Firefox: Hide spinner (up and down buttons)

    &::-ms-clear {
      display: none; // IE: Hide "clear-field" `x` button on input field
    }

    &::-webkit-inner-spin-button {
      appearance: none; // Safari: Hide number spinner
    }
  }

  .#{$prefix}--number__controls {
    @include reset;
    position: relative;
    display: block;
    left: -1.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .#{$prefix}--number__control-btn {
    @include button-reset;
    position: relative;
    bottom: 0;
    width: rem(20px);
    height: rem(10px);

    &:focus {
      @include focus-outline;
    }

    &:hover {
      cursor: pointer;
    }

    &:hover svg {
      fill: $brand-02;
    }
  }

  .#{$prefix}--number__controls svg {
    fill: $brand-01;
    width: rem(9px);
    height: rem(9px);

    // Hover styles for use with old HTML w/o button
    &:hover {
      cursor: pointer;
      fill: $brand-02;
    }
  }

  .#{$prefix}--number[data-invalid] {
    input[type='number'] {
      box-shadow: 0 2px 0px 0px $support-01;
    }
    ~ .#{$prefix}--form-requirement {
      max-height: rem(200px);
    }
  }

  // Skeleton State
  .#{$prefix}--number.#{$prefix}--skeleton {
    @include skeleton;
    width: 100%;
    height: 2.5rem;

    input[type='number'] {
      display: none;
    }
  }
}
