@import '../../globals/scss/colors';
@import '../../globals/scss/typography';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/import-once';
@import '../../globals/scss/css--reset';
@import '../form/form';

@include exports('number-input') {
  .bx--number {
    @include reset;
    display: flex;
  }

  .bx--number input[type='number'] {
    @include font-size('14');
    @include helvetica;
    box-sizing: border-box;
    display: inline-flex;
    width: 100%;
    min-width: 9.375rem;
    padding-left: 1rem;
    font-weight: 300;
    height: rem(40px);
    color: $text-01;
    background-color: $field-01;
    border: $input-border;
    border-radius: 0;

    &:focus {
      @include focus-outline('border');
    }
  }

  .bx--number input[type='number'] {
    appearance: textfield; // Firefox: Hide spinner (up and down buttons)

    &::-ms-clear {
      display: none; // IE: Hide "clear-field" `x` button on input field
    }

    &::-webkit-inner-spin-button {
      appearance: none; // Safari: Hide number spinner
    }
  }

  .bx--number__controls {
    @include reset;
    position: relative;
    display: block;
    left: -1.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bx--number__control-btn {
    @include button-reset;
    position: relative;
    bottom: rem(2px);
    height: rem(14px);
    padding: 0;

    &:focus {
      @include focus-outline;
    }

    &:hover {
      cursor: pointer;
    }

    &:hover svg {
      fill: $brand-02;
    }
  }

  .bx--number__controls svg {
    fill: $brand-01;

    // Hover styles for use with old HTML w/o button
    &:hover {
      cursor: pointer;
      fill: $brand-02;
    }
  }
}
