@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/typography';
@import '../../globals/scss/spacing';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/import-once';
@import '../../globals/scss/css--reset';
@import '../form/form';

@include exports('number-input') {
  .#{$prefix}--number {
    @include reset;
    display: flex;
  }

  .#{$prefix}--number input[type='number'] {
    @include typescale('zeta');
    @include font-family;
    box-sizing: border-box;
    display: inline-flex;
    width: 100%;
    min-width: 9.375rem;
    padding-left: $spacing-md;
    padding-right: $spacing-xl;
    font-weight: 300;
    height: rem(40px);
    color: $text-01;
    background-color: $field-02;
    border: $input-border;
    border-radius: 0;

    &:focus {
      @include focus-outline('border');
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &:disabled ~ .#{$prefix}--number__controls {
      opacity: 0.5;
      cursor: not-allowed;
      pointer-events: none;
    }
  }

  .#{$prefix}--number input[type='number'] {
    appearance: textfield; // Firefox: Hide spinner (up and down buttons)

    &::-ms-clear {
      display: none; // IE: Hide "clear-field" `x` button on input field
    }

    &::-webkit-inner-spin-button {
      appearance: none; // Safari: Hide number spinner
    }
  }

  .#{$prefix}--number__controls {
    @include reset;
    position: relative;
    display: block;
    left: -1.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .#{$prefix}--number__control-btn {
    @include button-reset;
    position: relative;
    bottom: 0;
    width: rem(20px);
    height: rem(10px);

    &:focus {
      @include focus-outline;
    }

    &:hover {
      cursor: pointer;
    }

    &:hover svg {
      fill: $hover-primary;
    }
  }

  .#{$prefix}--number__controls svg {
    fill: $brand-01;
    width: rem(9px);
    height: rem(9px);

    // Hover styles for use with old HTML w/o button
    &:hover {
      cursor: pointer;
      fill: $hover-primary;
    }
  }

  .#{$prefix}--number[data-invalid] {
    input[type='number'] {
      box-shadow: 0 2px 0px 0px $support-01;
    }
    ~ .#{$prefix}--form-requirement {
      max-height: rem(200px);
    }
  }

  .#{$prefix}--number--v2 {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .#{$prefix}--number--v2 .#{$prefix}--number__controls {
    position: absolute;
    left: auto;
    right: 0.5rem;
    bottom: 0.5rem;
  }

  .#{$prefix}--number--v2[data-invalid] .#{$prefix}--number__controls {
    bottom: 0.75rem;
  }

  .#{$prefix}--number--v2 input[type='number'] {
    border: none;
    box-shadow: 0 1px 0 0 $text-02;
    order: 2;
    background: $field-01;

    & ~ .#{$prefix}--label {
      order: 1;
    }

    &:focus {
      outline: none;
      box-shadow: 0 2px 0 0 $brand-01;
    }

    &:focus ~ .#{$prefix}--label {
      color: $brand-01;
    }

    &:focus ~ .#{$prefix}--form__helper-text {
      z-index: 0;
      max-height: 3rem;
      opacity: 1;
      margin-bottom: $spacing-xs;
    }

    & ~ .#{$prefix}--form-requirement {
      order: 3;
      color: $support-01;
      font-weight: 400;
      margin-top: $spacing-2xs;
      overflow: visible;

      &::before {
        display: none;
      }
    }
  }

  .#{$prefix}--number--v2[data-invalid] input[type='number'],
  .#{$prefix}--number--v2[data-invalid] input[type='number']:focus {
    outline: none;
    box-shadow: 0 2px 0 0 $support-01;
  }

  .#{$prefix}--number--v2[data-invalid] input[type='number']:focus ~ .#{$prefix}--label {
    color: $support-01;
  }

  .#{$prefix}--number--light input[type='number'] {
    background-color: $field-02;
  }
}
