<div class="bx--form-item">
  <div data-numberinput class="bx--number{{#if light}} bx--number--light{{/if}}">
    <div class="bx--number__controls">
      <button class="bx--number__control-btn up-icon">
        <svg width="10" height="5" viewBox="0 0 10 5">
          <path d="M0 5L5 .002 10 5z" fill-rule="evenodd" />
        </svg>
      </button>
      <button class="bx--number__control-btn down-icon">
        <svg width="10" height="5" viewBox="0 0 10 5">
          <path d="M0 0l5 4.998L10 0z" fill-rule="evenodd" />
        </svg>
      </button>
    </div>
    <label for="number-input" class="bx--label">Number Input label</label>
    <input id="number-input" type="number" min="0" max="100" value="1">
  </div>
</div>

<div class="bx--form-item">
  <div data-invalid data-numberinput class="bx--number{{#if light}} bx--number--light{{/if}}">
    <label for="number-input" class="bx--label">Number Input label</label>
    <input id="number-input" type="number" min="0" max="100" value="1">
    <div class="bx--number__controls">
      <button class="bx--number__control-btn up-icon">
        <svg width="10" height="5" viewBox="0 0 10 5">
          <path d="M0 5L5 .002 10 5z" fill-rule="evenodd" />
        </svg>
      </button>
      <button class="bx--number__control-btn down-icon">
        <svg width="10" height="5" viewBox="0 0 10 5">
          <path d="M0 0l5 4.998L10 0z" fill-rule="evenodd" />
        </svg>
      </button>
    </div>
    <div class="bx--form-requirement">
      Invalid number
    </div>
  </div>
</div>

<div class="bx--form-item">
  <div data-invalid data-numberinput class="bx--number{{#if light}} bx--number--light{{/if}}">
    <label for="number-input" class="bx--label">Number Input label</label>
    <input id="number-input" type="number" min="0" max="100" value="1">
    <div class="bx--form-requirement--inline" aria-describedby="{{tooltipId}}">
      <div data-tooltip-trigger data-tooltip-supports-hover data-tooltip-target="#{{tooltipId}}" role="tooltip" class="bx--tooltip__trigger">
        <div role="button" tabindex="0" aria-haspopup="true" aria-expanded="false">
          <svg fill-rule="evenodd" height="16" role="img" viewBox="0 0 16 16" width="16" aria-label="tooltip" alt="tooltip">
            <title>tooltip</title>
            <path d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zM3.293 4.707l8 8 1.414-1.414-8-8-1.414 1.414z"></path>
          </svg>
        </div>
      </div>
    </div>
    <div class="bx--number__controls">
      <button class="bx--number__control-btn up-icon">
        <svg width="10" height="5" viewBox="0 0 10 5">
          <path d="M0 5L5 .002 10 5z" fill-rule="evenodd" />
        </svg>
      </button>
      <button class="bx--number__control-btn down-icon">
        <svg width="10" height="5" viewBox="0 0 10 5">
          <path d="M0 0l5 4.998L10 0z" fill-rule="evenodd" />
        </svg>
      </button>
    </div>
  </div>
</div>
<div id="{{tooltipId}}" data-floating-menu-direction="bottom" class="bx--tooltip" data-avoid-focus-on-open>
  <span class="bx--tooltip__caret"></span>
  <p>Invalid number</p>
</div>

<div class="bx--form-item">
  <div data-numberinput class="bx--number{{#if light}} bx--number--light{{/if}}">
    <label for="number-input" class="bx--label">Number Input label</label>
    <input id="number-input" type="number" min="0" max="100" value="1">
    <div class="bx--number__controls">
      <button class="bx--number__control-btn up-icon">
        <svg width="10" height="5" viewBox="0 0 10 5">
          <path d="M0 5L5 .002 10 5z" fill-rule="evenodd" />
        </svg>
      </button>
      <button class="bx--number__control-btn down-icon">
        <svg width="10" height="5" viewBox="0 0 10 5">
          <path d="M0 0l5 4.998L10 0z" fill-rule="evenodd" />
        </svg>
      </button>
    </div>
    <div class="bx--form__helper-text">
      Optional helper text here; if message is more than one line text should wrap (~100 character count maximum)
    </div>
  </div>
</div>
