<div class="bx--form-item">
  <div data-numberinput class="bx--number{{#if light}} bx--number--light{{/if}}">
    <label for="number-input" class="bx--label">Number Input label</label>
    <input id="number-input" type="number" min="0" max="100" value="1">
    <div class="bx--number__controls">
      <button aria-label="increase number input" class="bx--number__control-btn up-icon">
        <svg width="10" height="5" viewBox="0 0 10 5">
          <path d="M0 5L5 .002 10 5z" fill-rule="evenodd" />
        </svg>
      </button>
      <button aria-label="decrease number input" class="bx--number__control-btn down-icon">
        <svg width="10" height="5" viewBox="0 0 10 5">
          <path d="M0 0l5 4.998L10 0z" fill-rule="evenodd" />
        </svg>
      </button>
    </div>
  </div>
</div>

<div class="bx--form-item">
  <div data-invalid data-numberinput class="bx--number{{#if light}} bx--number--light{{/if}}">
    <label for="number-input" class="bx--label">Number Input label</label>
    <input id="number-input" type="number" min="0" max="100" value="1">
    <div class="bx--number__controls">
      <button aria-label="increase number input" class="bx--number__control-btn up-icon">
        <svg width="10" height="5" viewBox="0 0 10 5">
          <path d="M0 5L5 .002 10 5z" fill-rule="evenodd" />
        </svg>
      </button>
      <button aria-label="decrease number input" class="bx--number__control-btn down-icon">
        <svg width="10" height="5" viewBox="0 0 10 5">
          <path d="M0 0l5 4.998L10 0z" fill-rule="evenodd" />
        </svg>
      </button>
    </div>
    <div class="bx--form-requirement">
      Invalid number
    </div>
  </div>
</div>

<div class="bx--form-item">
  <div data-invalid data-numberinput class="bx--number{{#if light}} bx--number--light{{/if}} bx--number--nolabel">
    <input id="number-input" type="number" min="0" max="100" value="1">
    <div class="bx--number__controls">
      <button aria-label="increase number input" class="bx--number__control-btn up-icon">
        <svg width="10" height="5" viewBox="0 0 10 5">
          <path d="M0 5L5 .002 10 5z" fill-rule="evenodd" />
        </svg>
      </button>
      <button aria-label="decrease number input" class="bx--number__control-btn down-icon">
        <svg width="10" height="5" viewBox="0 0 10 5">
          <path d="M0 0l5 4.998L10 0z" fill-rule="evenodd" />
        </svg>
      </button>
    </div>
    <div class="bx--form-requirement">
      Invalid number
    </div>
  </div>
</div>

<div class="bx--form-item">
  <div data-numberinput class="bx--number{{#if light}} bx--number--light{{/if}} bx--number--helpertext">
    <label for="number-input" class="bx--label">Number Input label</label>
    <input id="number-input" type="number" min="0" max="100" value="1">
    <div class="bx--number__controls">
      <button aria-label="increase number input" class="bx--number__control-btn up-icon">
        <svg width="10" height="5" viewBox="0 0 10 5">
          <path d="M0 5L5 .002 10 5z" fill-rule="evenodd" />
        </svg>
      </button>
      <button aria-label="decrease number input" class="bx--number__control-btn down-icon">
        <svg width="10" height="5" viewBox="0 0 10 5">
          <path d="M0 0l5 4.998L10 0z" fill-rule="evenodd" />
        </svg>
      </button>
    </div>
    <div class="bx--form__helper-text">
      Optional helper text here; if message is more than one line text should wrap (~100 character count maximum)
    </div>
  </div>
</div>
