<div class="bx--form-item">
  <label for="number-input" class="bx--label">Instances</label>
  <div data-numberinput class="bx--number">
    <input id="number-input" type="number" min="0" max="100" value="1">
    <div class="bx--number__controls">
      <button class="bx--number__control-btn up-icon">
        <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:none;}</style></defs><title>Carbon—Duo</title><g id="Icon"><polygon points="7 20 16 10 25 20 7 20"/></g><g id="Transparent_Rectangle" data-name="Transparent Rectangle"><rect class="cls-1" width="32" height="32"/></g></svg>
      </button>
      <button class="bx--number__control-btn down-icon">
        <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:none;}</style></defs><title>Carbon—Duo</title><g id="Icon"><polygon points="25 12 16 22 7 12 25 12"/></g><g id="Transparent_Rectangle" data-name="Transparent Rectangle"><rect class="cls-1" width="32" height="32"/></g></svg>
      </button>
    </div>
  </div>
</div>
