@import '../import-once';

// Used for the majority of animations.
$bx--standard-easing: cubic-bezier(.5, 0, .1, 1);

// Used for adding elements to the screen or changing
// on-screen states at a users's input.
$bx---ease-out: cubic-bezier(0, 0, .25, 1);

// Used primarily for removing elements from the screen.
$bx---ease-in: cubic-bezier(.25, 0, 1, 1);

$transition--base: 250ms;
$color__inputs--bg: rgba(255, 255, 255, .1);
$color__inputs--bg--light-ui: rgba($color__blue-51, .1);
$color__box-shadow: rgba(0, 0, 0, .1);

@mixin reset {
  // Main reset block for most elements:
  // http://cssreset.com/scripts/eric-meyer-reset-css/
  @if global-variable-exists(use-reset) and $use-reset == false {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;

    & > *, 
    & > *:before, 
    & > *:after {
      box-sizing: inherit;
    }
  }
}

@mixin placeholder-colors {
  color: $color__navy-gray-7;

  @include light-ui {
    color: $color__navy-gray-6;
  }
}

@mixin text-overflow($width) {
  display: block;
  width: $width;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin box-shadow($size: 'small') {
  // Large - For dropdowns
  @if($size == 'large') {
    box-shadow: 6px 6px 6px 0 $color__box-shadow;
  }

  @if ($size == 'small') {
    box-shadow: 0px 3px 3px 0 $color__box-shadow;
  }
}

@mixin focus-outline {
  outline: 1px dotted; // for non-webkit browsers
  outline: auto 5px -webkit-focus-ring-color; // webkit default
}

@mixin light-ui {
  .bx--global-light-ui & {
    @content;
  }
}

@mixin hidden {
  position:absolute;
  width:1px;
  height:1px;
  padding:0;
  margin:-1px;
  overflow:hidden;
  clip:rect(0, 0, 0, 0);
  border:0;
  visibility: visible;
  white-space: nowrap;
}

//-------------------------
// ☠️ Deprecated
//-------------------------

// $shadow and @rotate are only used in "fab" which is being deprecated.
$shadow: 2px 2px 8px rgba(0, 0, 0, .4);

@mixin font-inherit-reset {
  font: inherit;
}

@mixin rotate($deg, $speed, $origin: center) {
  transform: rotate($deg);
  transition: transform $speed;
  transform-origin: $origin;
}

%hidden {
  position:absolute;
  width:1px;
  height:1px;
  padding:0;
  margin:-1px;
  overflow:hidden;
  clip:rect(0, 0, 0, 0);
  border:0;
  visibility: visible;
}

%focus-outline {
  outline: 1px dotted; // for non-webkit browsers
  outline: auto 5px -webkit-focus-ring-color; // webkit default
}
