@import '../import-once';

@include exports('body') {
  body {
    @include helvetica;

    color: $color__white;
    background-color: $color__blue-90;

    &.bx--global-light-ui {
      color: $color__blue-90;
      background-color: $color__gray-3;
    }
  }
}
