$use-globals: true !default;
$use-fonts: false !default;
$use-reset: true !default;

@import 'reset';
@import 'colors/colors';
@import 'layout/grid';
@import 'layout/z-index';
@import 'typography/typography';
@import 'helpers';
@import 'body';

//-------------------------
// ☠️ Deprecated
//-------------------------
// Remove in version 7.0.0

@import 'colors/maps';
@import 'colors/functions';
