<ul data-accordion class="bx--accordion">
  <li tabindex="0" data-accordion-item class="bx--accordion__item">
    <div class="bx--accordion__heading">
      <svg class="bx--accordion__arrow">
        <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v5/img/bluemix-icons.svg#chevron--right"></use>
      </svg>
      <p class="bx--accordion__title">Label</p>
    </div>
    <div class="bx--accordion__content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </li>
  <li tabindex="0" data-accordion-item class="bx--accordion__item">
    <div class="bx--accordion__heading">
      <svg class="bx--accordion__arrow">
        <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v5/img/bluemix-icons.svg#chevron--right"></use>
      </svg>
      <p class="bx--accordion__title">Label with multiple words</p>
    </div>
    <div class="bx--accordion__content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </li>
  <li tabindex="0" data-accordion-item class="bx--accordion__item">
    <div class="bx--accordion__heading">
      <svg class="bx--accordion__arrow">
        <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v5/img/bluemix-icons.svg#chevron--right"></use>
      </svg>
      <p class="bx--accordion__title">Label</p>
    </div>
    <div class="bx--accordion__content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </li>
  <li tabindex="0" data-accordion-item class="bx--accordion__item">
    <div class="bx--accordion__heading">
      <svg class="bx--accordion__arrow">
        <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v5/img/bluemix-icons.svg#chevron--right"></use>
      </svg>
      <p class="bx--accordion__title">Label</p>
    </div>
    <div class="bx--accordion__content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </li>
</ul>