<ul data-accordion class="bx--accordion">
  <li data-accordion-item class="bx--accordion__item">
    <div class="bx--accordion__heading">
      <svg class="bx--accordion__arrow">
        <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#support--arrow-right"></use>
      </svg>
      <p class="bx--accordion__title">Label</p>
    </div>
    <p class="bx--accordion__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </li>
  <li data-accordion-item class="bx--accordion__item">
    <div class="bx--accordion__heading">
      <svg class="bx--accordion__arrow">
        <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#support--arrow-right"></use>
      </svg>
      <p class="bx--accordion__title">Label with multiple words</p>
    </div>
    <p class="bx--accordion__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </li>
  <li data-accordion-item class="bx--accordion__item">
    <div class="bx--accordion__heading">
      <svg class="bx--accordion__arrow">
        <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#support--arrow-right"></use>
      </svg>
      <p class="bx--accordion__title">Label</p>
    </div>
    <p class="bx--accordion__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </li>
  <li data-accordion-item class="bx--accordion__item">
    <div class="bx--accordion__heading">
      <svg class="bx--accordion__arrow">
        <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#support--arrow-right"></use>
      </svg>
      <p class="bx--accordion__title">Label</p>
    </div>
    <p class="bx--accordion__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </li>
</ul>