//////////////////////////////
// Atlas Card (.object-card)
//////////////////////////////

$color--card-background: #283840; // waiting for final color
$color--card-foreground: $gray--darker;
$color--card-border: $blue-90;
$color--card-content: $white;
$color--card-metadata: $blue--light;
