//////////////////////////////
// Atlas Card (.object-card)
//////////////////////////////

$color--card-foreground: $color__navy-gray-5;
$color--card-border: $color__blue-90;
$color--card-content: $color__white;
$color--card-metadata: $color__blue-30;
