//////////////////////////////
// Atlas Card (.object-card)
//////////////////////////////

$color--card-background: #283840; // waiting for final color
$color--card-foreground: $cool-grey-60-mod-light;
$color--card-border: $blue-90;
$color--card-content: $white;
$color--card-metadata: $blue-30;