<button class="bx--btn bx--btn--primary" type="button" data-modal-target="#lightbox" data-carousel-item-index="0">Open Lightbox</button>

<div id="lightbox" class="bx--modal" data-modal>
  <div class="bx--lightbox" data-lightbox data-lightbox-index="0">
    <div class="bx--lightbox__main">
      <button class="bx--lightbox__btn" data-scroll-left>
        <svg class="bx--pagination__button-icon" width="32" height="32" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:none;}</style></defs><title>Carbon—Duo</title><g id="Icon"><polygon points="10 16 19 7 20.41 8.41 12.83 16 20.41 23.59 19 25 10 16"/></g><g id="Transparent_Rectangle" data-name="Transparent Rectangle"><rect class="cls-1" width="32" height="32"/></g></svg>          
      </button>
      <img src="http://via.placeholder.com/1056x594?text=/0" class="bx--lightbox__item">
      <img src="http://via.placeholder.com/1056x594?text=1" class="bx--lightbox__item">
      <img src="http://via.placeholder.com/1056x594?text=2" class="bx--lightbox__item">
      <img src="http://via.placeholder.com/1056x594?text=3" class="bx--lightbox__item">
      <img src="http://via.placeholder.com/1056x594?text=4" class="bx--lightbox__item">
      <button class="bx--lightbox__btn" data-scroll-right>
        <svg class="bx--pagination__button-icon" width="32" height="32" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:none;}</style></defs><title>Carbon—Duo</title><g id="Icon"><polygon points="22 16 13 25 11.59 23.59 19.17 16 11.59 8.41 13 7 22 16"/></g><g id="Transparent_Rectangle" data-name="Transparent Rectangle"><rect class="cls-1" width="32" height="32" transform="translate(32 0) rotate(90)"/><rect class="cls-1" width="32" height="32" transform="translate(32 0) rotate(90)"/></g></svg>          
      </button>
    </div>
    <div class="bx--lightbox__footer">
      <div class="bx--filmstrip">
        <button class="bx--carousel__item" data-carousel-item-index="0">
          <img src="http://via.placeholder.com/256x144?text=/0">
        </button>
        <button class="bx--carousel__item" data-carousel-item-index="1">
          <img src="http://via.placeholder.com/256x144?text=1">
        </button>
        <button class="bx--carousel__item" data-carousel-item-index="2">
          <img src="http://via.placeholder.com/256x144?text=2">
        </button>
        <button class="bx--carousel__item" data-carousel-item-index="3">
          <img src="http://via.placeholder.com/256x144?text=3">
        </button>
        <button class="bx--carousel__item" data-carousel-item-index="4">
          <img src="http://via.placeholder.com/256x144?text=4">
        </button>
      </div>
      <div class="bx--filmstrip-indicator-ctn">
        <div class="bx--filmstrip-indicator bx--filmstrip-indicator--active"></div>
        <div class="bx--filmstrip-indicator"></div>
        <div class="bx--filmstrip-indicator"></div>
      </div>
    </div>
  </div>
</div>
