.form-section {
  padding-top: 1em;
  padding-bottom: 1em;
}

.form-row {
  display: flex;
  padding-top: 1em;
  padding-bottom: 1em;

  &--two-col {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form-group {
  flex: 1;

  &--two-col {
    min-width: 100%;

    @include breakpoint(bp--sm--major) {
      min-width: auto;
      max-width: 48%;
    }
  }
}
