<table class="table">
  <thead>
    <tr>
      <th class="column" sortable><span>Name</span></th>
      <th class="column"><span>CPU</span></th>
      <th class="column"><span>Memory</span></th>
      <th class="column"><span>Disk</span></th>
      <th class="column" sortable><span>Data Started</span></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="cell"><div><span>VMgroup_DAL-01</span></div></td>
      <td class="cell"><div><span>2</span></div></td>
      <td class="cell"><div><span>4GB</span></div></td>
      <td class="cell"><div><span>2TB</span></div></td>
      <td class="cell"><div><span>Thu Jan 07 2016 21:59:54 GMT+0800 (CST)</span></div></td>
    </tr>

    <tr>
      <td class="cell"><div><span>VMgroup_DAL-02</span></div></td>
      <td class="cell"><div><span>2</span></div></td>
      <td class="cell"><div><span>8GB</span></div></td>
      <td class="cell"><div><span>2TB</span></div></td>
      <td class="cell"><div><span>Thu Jan 07 2016 21:59:54 GMT+0800 (CST)</span></div></td>
    </tr>

    <tr>
      <td class="cell"><div><span>VMgroup_DAL-03</span></div></td>
      <td class="cell"><div><span>4</span></div></td>
      <td class="cell"><div><span>16GB</span></div></td>
      <td class="cell"><div><span>2TB</span></div></td>
      <td class="cell"><div><span>Thu Jan 07 2016 21:59:54 GMT+0800 (CST)</span></div></td>
    </tr>
    <tr>
      <td class="cell"><div><span>VMgroup_DAL-04</span></div></td>
      <td class="cell"><div><span>2</span></div></td>
      <td class="cell"><div><span>2GB</span></div></td>
      <td class="cell"><div><span>2TB</span></div></td>
      <td class="cell"><div><span>Thu Jan 07 2016 21:59:54 GMT+0800 (CST)</span></div></td>
    </tr>
    <tr>
      <td class="cell"><div><span>VMgroup_DAL-05</span></div></td>
      <td class="cell"><div><span>6</span></div></td>
      <td class="cell"><div><span>4GB</span></div></td>
      <td class="cell"><div><span>2TB</span></div></td>
      <td class="cell"><div><span>Thu Jan 07 2016 21:59:54 GMT+0800 (CST)</span></div></td>
    </tr>
    <tr>
      <td class="cell"><div><span>VMgroup_DAL-06</span></div></td>
      <td class="cell"><div><span>8</span></div></td>
      <td class="cell"><div><span>512MB</span></div></td>
      <td class="cell"><div><span>2TB</span></div></td>
      <td class="cell"><div><span>Thu Jan 07 2016 21:59:54 GMT+0800 (CST)</span></div></td>
    </tr>
  </tbody>
</table>
