<nav data-tabs class="tabs">
  <div class="tabs__trigger"><p class="trigger__text"></p>
    <svg>
      <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#service--down-arrow"></use>
    </svg>
  </div>
  <ul class="tabs__nav tabs--hidden">
    <li class="nav__item selected"><a class="item__link" href="">Overview</a></li>
    <li class="nav__item"><a class="item__link" href="">Containers&nbsp;&amp;&nbsp;Files</a></li>
    <li class="nav__item"><a class="item__link" href="">Connected&nbsp;Objects</a></li>
    <li class="nav__item"><a class="item__link" href="">Manage</a></li>
    <li class="nav__item"><a class="item__link" href="">DJKhaled</a></li>
  </ul>
</nav>
