@import '_partials/vars';
@import '_partials/extends';

.radio {
  @extend %radio;
  cursor: pointer;
  line-height: 2;
  font-size: 1rem;

  &__label {
    position: relative;
    margin-left: .5em;
    font-weight: bold;
  }
}
