@use '@carbon/themes/scss/themes';

@use '../../../scss/utility-css' with (
  $colors: (
    interactive-01: themes.$interactive-01,
    interactive-02: themes.$interactive-02,
    interactive-03: themes.$interactive-03,
    interactive-04: themes.$interactive-04,
    danger: themes.$danger,
    ui-01: themes.$ui-01,
    ui-02: themes.$ui-02,
    ui-03: themes.$ui-03,
    ui-04: themes.$ui-04,
    ui-05: themes.$ui-05,
  ),
  $spacing: (
    0: 0,
    1: themes.$spacing-01,
    2: themes.$spacing-02,
    3: themes.$spacing-03,
    4: themes.$spacing-04,
    5: themes.$spacing-05,
    6: themes.$spacing-06,
    7: themes.$spacing-07,
    8: themes.$spacing-08,
    9: themes.$spacing-09,
    10: themes.$spacing-10,
    11: themes.$spacing-11,
    12: themes.$spacing-12,
  ),
  // $variants: (),
);
