@import '../../globals/scss/import-once';

@include exports('account-switcher') {
  .#{$brand-prefix}--account-switcher {
    @include reset;
    list-style: none;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: rem(350px);
  }

  .#{$brand-prefix}--account-switcher__linked-icon {
    fill: $inverse-01;
    height: 1rem;
    width: 1rem;
    margin: 0 0.5rem;
    transform: rotate(45deg);
  }

  .#{$brand-prefix}--account-switcher__toggle {
    z-index: 9000;
    height: rem(36px);
    width: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $inverse-01;
    padding: 0 1rem;
    background-color: $nav-01;
    cursor: pointer;

    &:focus,
    &:hover {
      outline: 0;
      background-color: $color__navy-gray-3; // anna

      .#{$brand-prefix}--account-switcher__toggle--text {
        color: $color__blue-30; // anna
      }

      svg {
        fill: $color__blue-30; // anna
      }
    }
  }

  .#{$brand-prefix}--account-switcher__toggle--hidden {
    opacity: 0;
    visibility: hidden;
  }

  .#{$brand-prefix}--account-switcher__toggle--text {
    @include typescale('legal');
    letter-spacing: 0.5px;
    overflow: hidden;
    display: inline-flex;
    white-space: nowrap;
    padding-right: 0.5rem;
    font-weight: 300;
  }

  .#{$brand-prefix}--account-switcher__toggle--text[data-switcher-account-sl],
  .#{$brand-prefix}--account-switcher__toggle--text[data-switcher-account] {
    @include font-smoothing;
    font-weight: 600;
  }

  .#{$brand-prefix}--account-switcher__toggle--text[data-switcher-account] {
    display: inline-flex;
    align-items: center;
  }

  .#{$brand-prefix}--account-switcher__toggle--text[data-switcher-account] .#{$brand-prefix}--account-switcher__linked-icon {
    margin-right: 0;
  }

  .#{$brand-prefix}--account-switcher__toggle--text > [data-dropdown-account-linked] {
    margin-left: 0.5rem;
    margin-right: 0;
  }

  .#{$brand-prefix}--account-switcher__toggle--text:last-child {
    padding-right: 0;
  }

  .#{$brand-prefix}--account-switcher__menu {
    @include reset;
    list-style: none;
  }

  .#{$brand-prefix}--account-switcher__menu__container {
    @include box-shadow('large');
    transition: $transition--base all $carbon--standard-easing;
    position: absolute;
    width: auto;
    min-width: rem(350px);
    height: auto;
    background-color: $color__navy-gray-3; // anna
    visibility: hidden;
    opacity: 0;
    top: 100%;
    right: 0;
    transform: translateY(-10%);
    color: $inverse-01;
    z-index: 8000;
  }

  .#{$brand-prefix}--account-switcher--open {
    color: $color__blue-30; // anna

    .#{$brand-prefix}--account-switcher__toggle {
      color: $color__blue-30; // anna
      background-color: $color__navy-gray-3; // anna
    }

    .#{$brand-prefix}--account-switcher__linked-icon {
      fill: $color__blue-30; // anna
    }

    .#{$brand-prefix}--account-switcher__menu__container {
      visibility: visible;
      max-height: rem(2000px);
      opacity: 1;
      transform: translateY(0);
    }
  }

  .#{$brand-prefix}--account-switcher__menu__item {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;

    &:first-child {
      border-bottom: 1px solid $color__navy-gray-5; // anna
    }

    &:nth-child(n + 2) {
      padding: 1rem 1rem 0;
    }

    &:last-child {
      display: flex;
      margin-left: auto;
      justify-content: flex-start;
      max-width: 75%;
      padding: 0.75rem 0 1rem 1.5rem;

      a {
        @include typescale('legal');
        padding-right: 1rem;
        color: $color__blue-30; // anna

        &:visited {
          color: $color__blue-30; // anna
        }

        &:hover {
          color: $color__blue-40; // anna
        }
      }
    }
  }

  .#{$brand-prefix}--account-switcher__menu__item--title {
    @include typescale('zeta');
    @include font-smoothing;
    font-weight: 600;
    height: 44px;
    min-width: 100px;
    display: flex;
    align-items: center;
    flex: 1;
  }

  .#{$brand-prefix}--account-switcher__menu__item .#{$brand-prefix}--dropdown {
    @include typescale('zeta');
    flex: 3;
    background-color: $color__navy-gray-5; // anna
    display: block;
    flex-direction: column;
    min-width: 200px;
  }

  .#{$brand-prefix}--account-switcher__menu__item .#{$brand-prefix}--dropdown[data-value=''] .#{$brand-prefix}--dropdown-text {
    color: $color__white; // anna
  }

  .#{$brand-prefix}--account-switcher__menu__item .#{$brand-prefix}--dropdown--scroll {
    max-height: 180px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      background: $color__navy-gray-4; // anna
      width: 0.5rem;
      height: 0.5rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $color__navy-gray-7; // anna
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: $color__navy-gray-8; // anna
    }
  }

  .#{$brand-prefix}--account-switcher__menu__item .#{$brand-prefix}--dropdown li {
    @include font-smoothing;
    font-weight: 400;
    max-width: 400px;
  }

  .#{$brand-prefix}--account-switcher__menu__item .#{$brand-prefix}--dropdown__arrow {
    fill: $color__blue-30; // anna
  }

  .#{$brand-prefix}--account-switcher__menu__item .#{$brand-prefix}--dropdown-text {
    padding-right: 2rem;
    align-self: flex-start;
    background-color: $color__navy-gray-5; // anna

    .#{$brand-prefix}--account-switcher__linked-icon {
      fill: $color__white; // anna
      vertical-align: middle;
    }
  }

  .#{$brand-prefix}--account-switcher__menu__item .#{$brand-prefix}--dropdown-list {
    position: relative;
    transform: translateY(-10px);
    max-height: 0;
    height: auto;
    width: 100%;
    top: 0;
  }

  .#{$brand-prefix}--account-switcher__menu__item .#{$brand-prefix}--dropdown-item {
    background-color: $color__navy-gray-3; // anna

    > .#{$brand-prefix}--dropdown-link:hover,
    .#{$brand-prefix}--dropdown-link:focus {
      background-color: $color__blue-30; // anna
      color: $color__blue-90; // anna

      svg {
        fill: $color__blue-90; // anna
      }
    }
  }

  .#{$brand-prefix}--account-switcher__menu__item .#{$brand-prefix}--dropdown-link {
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;

    span {
      pointer-events: none;
    }

    svg {
      fill: $color__white; // anna
      pointer-events: none;
      vertical-align: middle;
    }
  }

  .#{$brand-prefix}--account-switcher__menu__item .#{$brand-prefix}--dropdown--open {
    .#{$brand-prefix}--dropdown-text {
      color: $color__white; // anna
    }

    .#{$brand-prefix}--dropdown-list {
      display: flex;
      flex-direction: column;
      max-height: 2000px;
      z-index: 10;
    }

    .#{$brand-prefix}--dropdown-item {
      background-color: $color__navy-gray-4; // anna
    }
  }
}
