@import '../../globals/scss/import-once';

@include exports('global-header') {
  .bx--global-header {
    @include layer('sticky-nav');
    @include font-family;
    width: 100%;
    position: fixed;
    top: rem(36px);
    left: 0;
    display: flex;
    justify-content: space-between;
    height: rem(50px);
    line-height: 1.5;
    background-color: $nav-02;
    z-index: 9000;
  }

  .bx--global-header__title {
    display: flex;
    align-items: center;
  }

  .bx--global-header__title--logo {
    display: flex;
    align-items: center;
    padding: 0 rem(8px);
    text-decoration: none;
    color: $color__white; // anna
    position: relative;

    &:hover,
    &:focus {
      .bx--logo__text {
        color: $color__blue-20; // anna
      }
    }
  }

  .bx--global-header__title--current-page {
    @include font-smoothing;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: inherit;
    color: $color__blue-30; // anna

    .bx--unified-header--apps & {
      color: $nav-05;
    }

    .bx--unified-header--infrastructure & {
      color: $nav-07;
    }

    .bx--unified-header--services & {
      color: $nav-03;
    }
  }

  .bx--global-header .bx--logo__image {
    cursor: pointer;
    position: relative;
    margin-right: 1.125rem;
  }

  .bx--global-header .bx--logo__text {
    @include typescale('delta');
    @include font-smoothing;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    color: $color__white; // anna

    &--bold {
      font-weight: 600;
    }
  }

  .bx--global-header__left-container {
    display: flex;
    align-items: center;
  }

  .bx--global-header__right-container {
    display: flex;
    align-items: center;
    padding-right: 1%;
    background-color: $nav-02;
  }

  .bx--global-header__menu {
    @include reset;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .bx--global-header__menu__item {
    @include reset;
    width: 100%;
    flex: 0 1 100px;

    &:focus {
      outline: 0;
      background-color: $color__navy-gray-3; // anna
      color: $color__blue-30; // anna
    }

    &:last-child {
      & .bx--dropdown-list {
        right: 0;
      }
    }
  }

  .bx--global-header__menu__item--link {
    @include reset;
    @include font-smoothing;
    @include typescale('zeta');
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    height: rem(50px);
    text-decoration: none;
    background-color: $nav-02;
    color: $color__white; // anna
    padding: 0 1rem;

    &:hover {
      color: $color__blue-30; // anna
    }

    &:focus {
      outline: 0;
      background-color: $color__navy-gray-3; // anna
      color: $color__blue-30; // anna
    }
  }

  .bx--global-header__menu__item .bx--dropdown {
    height: rem(50px);
    background-color: transparent;

    &:focus {
      outline: 0;
      background-color: $color__navy-gray-3; // anna

      .bx--dropdown__menu-text {
        color: $color__blue-30; // anna
      }

      .bx--dropdown__menu-text,
      .bx--dropdown__list {
        outline: 0;
      }
    }
  }

  .bx--global-header__menu .bx--dropdown-text {
    @include font-smoothing;
    display: flex;
    justify-content: center;
    padding-top: 0;
    padding-right: 1rem;
    padding-bottom: 0;
    align-items: center;
    height: 100%;
    z-index: 1000;
    color: $color__white; // anna

    &:hover {
      color: $color__blue-30; // anna
    }
  }

  .bx--global-header__menu .bx--dropdown-list {
    transition: $transition--base all $bx--standard-easing;
    transform: translateY(-150%);
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: auto;
    z-index: -1;
    padding-bottom: 0.5rem;
  }

  .bx--global-header__menu .bx--dropdown-item {
    min-width: 200px;
    width: 100%;
  }

  .bx--global-header__menu .bx--dropdown-link {
    padding: 0.5rem 0.75rem;
    color: $color__white; // anna

    &:hover {
      color: $color__blue-90; // anna
      background-color: $color__blue-30; // anna
    }
  }

  .bx--global-header__menu .bx--dropdown--open {
    .bx--dropdown-text {
      background-color: $color__navy-gray-3; // anna
      color: $color__blue-30; // anna
    }

    .bx--dropdown-list {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
      background-color: $color__navy-gray-3; // anna
    }
  }
}
