@mixin list {
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

@mixin link-style {
  &:hover {
    .bx--left-nav__main-nav[data-left-nav-list='apps'] & {
      color: $nav-06;

      .bx--left-nav-list__item-link--taxonomy-icon {
        fill: $nav-06;
      }
    }

    .bx--left-nav__main-nav[data-left-nav-list='Services'] & {
      color: $nav-04;

      .bx--left-nav-list__item-link--taxonomy-icon {
        fill: $nav-04;
      }
    }

    .bx--left-nav__main-nav[data-left-nav-list='Infrastructure'] & {
      color: $nav-08;

      .bx--left-nav-list__item-link--taxonomy-icon {
        fill: $nav-08;
      }
    }
  }
}
