@import '../../globals/scss/import-once';

@include exports('topnav') {
  .bx--top-nav {
    @include reset;
    @include font-family;
    display: flex;
    justify-content: space-between;
    background-color: $nav-01;
    width: 100%;
    height: rem(36px);
    padding: 0 1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9500;
  }

  .bx--top-nav__left-container,
  .bx--top-nav__right-container {
    @include reset;
    list-style: none;
    display: flex;
    align-items: center;
    min-width: 50%;
  }

  .bx--top-nav__left-container,
  .bx--top-nav__right-container {
    .bx--dropdown {
      @include typescale('omega');
      list-style: none;
      background-color: $nav-01;
      color: $inverse-01;
      height: 100%;
      display: flex;
      align-items: center;
    }

    .bx--dropdown__arrow {
      fill: $inverse-01;
      right: 0.75rem;
      width: rem(12px);
      height: rem(24px);
    }

    .bx--dropdown-text {
      @include font-smoothing;
      max-width: rem(200px);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-weight: 600;
    }

    .bx--dropdown-list {
      width: auto;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: $color__navy-gray-3; // anna
      transition: $transition--base all $bx--standard-easing;
      display: flex;
      flex-direction: column;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-50%);
      z-index: -1;
    }

    .bx--dropdown-item {
      min-width: rem(170px);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &:hover {
        background-color: $color__blue-30; // anna
        color: $text-01;
      }
    }

    .bx--dropdown-link {
      color: $inverse-01;
    }
  }

  .bx--top-nav__left-container,
  .bx--top-nav__right-container {
    .bx--dropdown--open {
      background-color: $color__navy-gray-3; // anna
    }

    .bx--dropdown--open .bx--dropdown-text {
      color: $color__blue-30; // anna
    }

    .bx--dropdown--open .bx--dropdown__arrow {
      fill: $color__blue-30; // anna
    }

    .bx--dropdown--open .bx--dropdown-list {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
      background-color: $color__navy-gray-3; // anna
    }
  }

  .bx--top-nav__left-container__link {
    @include typescale('legal');
    @include font-smoothing;
    display: flex;
    justify-content: flex-start;
    background-color: $nav-01;
    align-items: flex-start;
    text-decoration: none;
    color: $inverse-01;
    font-weight: 600;
    margin-right: 1rem;

    &:hover,
    &:focus {
      color: $color__blue-30; // anna

      .bx--top-nav__left-container__link--icon {
        fill: $color__blue-30; // anna
      }
    }
  }

  .bx--top-nav__left-container__link--icon {
    width: 0.675rem;
    height: 0.7rem;
    fill: $inverse-01;
    margin-right: 0.3rem;
  }

  .bx--top-nav__left-container__item {
    &:focus {
      outline: 0;
    }
  }

  .bx--top-nav__left-container {
    .bx--dropdown {
      &:focus,
      &:hover {
        outline: 0;

        .bx--dropdown__arrow use {
          fill: $color__blue-30; // anna
        }

        .bx--dropdown-text {
          background-color: $color__navy-gray-3; // anna
          color: $color__blue-30; // anna
        }
      }
    }

    .bx--dropdown-list {
      padding-bottom: 0.5rem;
    }

    .bx--dropdown__arrow {
      top: 0.3rem;
      left: 0.75rem;
      opacity: 0;
      transform: rotate(0);
      animation: $transition--base cubic-bezier(0.64, 0.57, 0.67, 1.53) 650ms 1 normal forwards fade;
    }

    .bx--dropdown-text {
      animation: $transition--base cubic-bezier(0.6, 0.22, 0.38, 2.03) 1 normal forwards pop-in;
      opacity: 0;
      transform: scale(0.5);
      padding: 0.725rem 1rem 0.725rem 2rem;
    }

    .bx--dropdown-link {
      padding: 0.6rem 0.75rem;

      &:hover,
      &:focus {
        background-color: $color__blue-30; // anna
        color: $color__blue-90; // anna
      }
    }
  }

  .bx--top-nav__right-container {
    justify-content: flex-end;
  }

  .bx--top-nav__right-container__item[data-trial],
  .bx--top-nav__right-container__item[data-credit] {
    .bx--dropdown-text {
      padding: 0.75rem 2rem 0.75rem 1rem;
      color: $inverse-01;
    }

    .bx--dropdown-list {
      left: initial;
      outline: 0;
      right: 0;
      min-width: rem(325px);
      transform: translateY(-10%);
    }

    .bx--dropdown__arrow {
      top: 0.5rem;
    }

    .bx--dropdown--open .bx--dropdown-list {
      transform: translateY(0);
    }

    .bx--dropdown--open .bx--dropdown-text {
      color: $color__blue-30; // anna
    }

    .bx--dropdown:hover,
    .bx--dropdown:focus {
      outline: 0;
      background-color: $color__navy-gray-3; // anna

      .bx--dropdown-text {
        color: $color__blue-30; // anna
      }

      .bx--dropdown__arrow use {
        fill: $color__blue-30; // anna
      }
    }

    .bx--dropdown__trial-content,
    .bx--dropdown__credit-content {
      cursor: auto;
      display: flex;
      flex-direction: column;
      padding: 1rem;

      &:focus,
      &:hover {
        outline: 0;
        background-color: initial;
        color: $inverse-01;
      }
    }

    .bx--dropdown__trial-content--desc,
    .bx--dropdown__credit-content--desc {
      margin-bottom: 1rem;
    }

    .bx--dropdown__trial-content .bx--link,
    .bx--dropdown__credit-content .bx--link {
      @include typescale('legal');
      color: $color__blue-30; // anna
      margin-top: 1rem;
      text-align: center;
    }

    .bx--dropdown__trial-content--desc {
      @include typescale('omega');
    }

    .bx--dropdown__credit-content div {
      .bx--dropdown__credit-content--heading {
        @include font-smoothing;
        @include typescale('omega');
        font-weight: 600;
      }

      .bx--dropdown__credit-content--desc {
        @include typescale('zeta');
      }

      &:last-child {
        .bx--dropdown__credit-content--desc {
          margin-bottom: 0;
        }
      }
    }
  }

  .bx--top-nav__right-container__item:last-child {
    .bx--dropdown {
      &:focus,
      &:hover {
        background-color: $color__navy-gray-3; // anna
        outline: 0;
      }
    }

    .bx--dropdown__arrow {
      transform-origin: 50% 40%;

      use {
        fill: $color__blue-30; // anna
      }
    }

    .bx--dropdown-text--profile-image {
      height: rem(36px);
      width: rem(36px);
      min-height: rem(36px);
      min-width: rem(36px);
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0rem 1rem;
    }

    .bx--dropdown-text--profile-image .profile-image {
      display: flex;
      align-items: center;
      border-radius: 50%;
      overflow: hidden;

      svg,
      img {
        fill: $inverse-01;
        max-height: 1.5rem;
        max-width: 1.5rem;
      }
    }

    .bx--dropdown-list {
      right: 0;
      left: inherit;
      padding: 1rem;
      min-width: 225px;
    }

    .bx--dropdown-item {
      display: flex;
      justify-content: space-between;

      svg {
        min-height: 3rem;
        min-width: 3rem;
      }

      &:hover {
        background-color: inherit;
        color: inherit;
      }
    }
  }

  .bx--top-nav__right-container__item[data-credit] .bx--dropdown-list {
    min-width: 0;
    width: 100%;
  }

  .bx--dropdown__profile-dropdown--picture {
    max-width: 3rem;
    max-height: 3rem;
    border-radius: 50%;
    width: 100%;
    fill: $inverse-01;
  }

  .bx--dropdown__profile-dropdown--information {
    margin-left: 1rem;

    p {
      @include font-smoothing;
      @include typescale('zeta');
      font-weight: 600;
    }
  }

  .bx--dropdown__profile-dropdown__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    a {
      @include typescale('omega');
      color: $color__blue-30; // anna

      &:hover {
        color: $color__blue-20; // anna
      }
    }

    p {
      padding: 0 0.5rem;
    }
  }

  @keyframes pop-in {
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes fade {
    100% {
      opacity: 1;
    }
  }

  @for $i from 1 to 4 {
    .bx--top-nav__left-container--item:nth-child(#{$i}) {
      .bx--dropdown-text {
        animation-delay: ($i * 100ms) + 100ms;
      }
    }
  }
}
