@import '../../globals/scss/colors';
@import '../../globals/scss/vars';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/layer';
@import '../../globals/scss/layout';
@import '../../globals/scss/typography';
@import '../../globals/scss/import-once';
@import '../../globals/scss/css--reset';
@import '../../globals/scss/css--typography';
@import 'mixins';
@import 'left-nav-trigger';
@import 'global-header';
@import 'topnav';
@import 'left-nav';
@import 'account-switcher';

@include exports('unified-header') {
  .bx--unified-header {
    @include reset;
    position: fixed;
    z-index: z('header');
  }
}
