@mixin btn--browser-fixes {
  $class: &;

  @at-root button#{$class} {
    // CSS selector becomes: button.& {}, where & === is whatever class the ampersand equals
    // <button> elements cannot be used as flex containers
    display: inline-block;

    svg {
      // Vertically centering icon inside <button>
      position: relative;
      vertical-align: middle;
      top: -1px;
    }

    // Targets IE10+ browsers
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      // Reset <svg> position for vertical centering
      svg { top: 0; }
    }
  }

  &::-moz-focus-inner {
    // Reset intrisic padding in Firefox (see #731)
    padding: 0;
    border: 0;
  }
}

@mixin btn--base {
  @include reset;
  @include btn--browser-fixes;
  @include helvetica;
  @include font-smoothing;
  @include letter-spacing;
  @include font-size('14');
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-weight: 700;
  height: rem(40px);
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition-duration: $transition--base;
  transition-timing-function: ease-in;
  white-space: nowrap;

  &:disabled {
    cursor: not-allowed;
    opacity: .5;
  }

  &:focus {
    @include focus-outline;
  }

  svg {
    width: rem(16px);
    height: rem(16px);
    margin-left: .5rem;
  }
}


@mixin btn--primary(
  $bg: $color__blue-30,
  $hover-bg: $color__blue-20,
  $text: $color__blue-90
) {
  @include btn--base;
  color: $text;
  background-color: $bg;
  border: 2px solid transparent;

  &:hover,
  &:focus {
    background-color: $hover-bg;

    &:disabled {
      background-color: $bg;
    }
  }

  &:active {
    background-color: darken($bg, 20%);
  }

  @include light-ui {
    background-color: $color__blue-51;
    color: $color__white;

    &:hover,
    &:focus {
      background-color: $color__blue-40;
    }

    &:active {
      background-color: darken($color__blue-51, 20%);
    }
  }
}

@mixin btn--secondary(
  $hover-bg: $color__blue-30,
  $text: $hover-bg
) {
  @include btn--base;
  color: $text;
  background-color: transparent;
  border: 2px solid $hover-bg;

  &:hover,
  &:focus {
    color: $color__btn--text;
    background-color: $hover-bg;

    &:disabled {
      color: $text;
      background-color: transparent;
    }
  }

  &:active {
    background-color: darken($hover-bg, 20%);
  }

  @include light-ui {
    border: 2px solid $color__blue-51;
    color: $color__blue-51;

    &:hover {
      border: 2px solid $color__blue-51;
      color: $color__white;
      background-color: $color__blue-51;
    }
  }
}

@mixin btn--danger {
  @include btn--base;
  color: $color__white;
  background-color: transparent;
  border-color: $color__white;
  border: 2px solid currentColor;

  &:hover,
  &:focus {
    color: $color__white;
    border: 2px solid transparent;
    background-color: $color__red-50; // white text on red 50 - AA a11y pass

    &:disabled {
      color: $color__white;
      background-color: transparent;
      border: 2px solid currentColor;
    }
  }
}
