@mixin tag($base-color) {
  @include reset;
  @include font-size('12');
  display: inline-flex;
  align-items: center;
  padding: .835rem 1rem;
  height: 1.25rem;
  margin: .1875rem;
  border-radius: .9375rem;
  background-color: rgba($base-color, .2);
  color: $base-color;

  &:not(:first-child) {
    margin-left: 0;
  }
}
