$color__detail-page-header--bg: $blue-2-mod;
$color__detail-page-header--link-bg: $blue-30;
$color__detail-page-header--selected: $blue-20;
$color__detail-page-header--border: $gray-1-mod;
$color__detail-page-header--docs: rgba($white, .8);
