//-----------------------------
// Text
//-----------------------------

@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/css--reset';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/typography';
@import '../../globals/scss/spacing';
@import '../../globals/scss/import-once';
@import '../form/form';

@include exports('text-input') {
  .#{$prefix}--text-input {
    @include reset;
    @include font-family;
    @include typescale('zeta');
    display: block;
    width: 100%;
    height: rem(40px);
    min-width: rem(300px);
    padding: 0 $spacing-md;
    color: $text-01;
    background-color: $field-01;
    border: $input-border;

    &::-webkit-input-placeholder {
      @include placeholder-colors;
    }

    &:focus {
      @include focus-outline('border');
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &:disabled:hover {
      border: $input-border;
    }
  }

  .#{$prefix}--text-input--v2 {
    border: none;
    box-shadow: 0 1px 0 0 $text-02;
    order: 2;

    & ~ .#{$prefix}--label {
      order: 1;
    }

    &:focus {
      outline: none;
      box-shadow: 0 2px 0 0 $brand-01;
    }

    &[data-invalid]:focus {
      box-shadow: 0 2px 0 0 $support-01;
    }

    &:focus ~ .#{$prefix}--label {
      color: $brand-01;
    }

    &:focus ~ .#{$prefix}--text-input__helper-text {
      z-index: 0;
      max-height: 3rem;
      opacity: 1;
    }

    &[data-invalid]:focus + .#{$prefix}--label {
      color: $support-01;
    }

    &:disabled:hover {
      border: none;
    }

    & ~ .#{$prefix}--form-requirement {
      order: 3;
      color: $support-01;
      font-weight: 400;
      margin-top: $spacing-xs;

      &::before {
        display: none;
      }
    }

    & ~ .#{$prefix}--text-input__helper-text {
      @include typescale('omega');
      color: $text-02;
      z-index: -1;
      transition: $transition--base $carbon--standard-easing;
      order: 1;
      max-height: 0;
      opacity: 0;
      line-height: 1.5;
      margin-bottom: $spacing-xs;
    }
  }
}
