//-----------------------------
// Text
//-----------------------------

@import '../../globals/scss/colors';
@import '../../globals/scss/vars';
@import '../../globals/scss/mixins';
@import '../../globals/scss/typography';
@import '../../globals/scss/import-once';

@include exports('text') {
  .bx--text-input {
    @include reset;
    @include font-size('14');
    display: block;
    width: 100%;
    height: rem(40px);
    min-width: 10rem;
    padding: .825rem 1rem;
    margin: .625rem 0 0;
    color: $text-01;
    background-color: $field-01;
    border: 1px solid transparent;

    &::-webkit-input-placeholder {
      @include placeholder-colors;
    }

    &:focus {
      @include focus-outline;
      outline: auto 2px -webkit-focus-ring-color;
    }

    &:disabled {
      opacity: .5;
      cursor: not-allowed;
    }

    &:disabled:hover {
      border: 1px solid transparent;
    }
  }
}
