<div class="bx--form-item">
  <label for="text-input-1" class="bx--label">Text Input label</label>
  <input id="text-input-1" type="text" class="bx--text-input" placeholder="Placeholder text">
</div>

<div class="bx--form-item">
  <label for="text-input-2" class="bx--label bx--label--disabled">Text Input label</label>
  <input id="text-input-2" type="text" class="bx--text-input" placeholder="Placeholder text" disabled>
</div>

<div class="bx--form-item">
  <input id="text-input-3" type="text" class="bx--text-input bx--text-input--v2" placeholder="Optional placeholder text">
  <label for="text-input-3" class="bx--label">Text Input label</label>
</div>

<div class="bx--form-item">
  <input id="text-input-5" type="text" class="bx--text-input bx--text-input--v2" placeholder="Optional placeholder text" invalid>
  <label for="text-input-5" class="bx--label">Text Input label</label>
</div>

<div class="bx--form-item">
  <input id="text-input-4" type="text" class="bx--text-input bx--text-input--v2" placeholder="Optional placeholder text" disabled>
  <label for="text-input-4" class="bx--label bx--label--disabled">Text Input label</label>
</div>
