<div class="bx--form-item">
  <label for="text-input-3" class="bx--label">Text Input label</label>
  <input id="text-input-3" type="text" class="bx--text-input{{#if light}} bx--text-input--light{{/if}}" placeholder="Optional placeholder text">
</div>

<div class="bx--form-item">
  <label for="text-input-4" class="bx--label">Text Input label</label>
  <input data-invalid id="text-input-4" type="text" class="bx--text-input{{#if light}} bx--text-input--light{{/if}}" placeholder="Optional placeholder text">
  <div class="bx--form-requirement">
    Validation message here
  </div>
</div>

<div class="bx--form-item">
  <label for="text-input-4" class="bx--label">Text Input label</label>
  <input data-invalid id="text-input-4" type="text" class="bx--text-input{{#if light}} bx--text-input--light{{/if}}" placeholder="Optional placeholder text">
  <div class="bx--form-requirement--inline" aria-describedby="{{tooltipId}}">
    <div data-tooltip-trigger data-tooltip-supports-hover data-tooltip-target="#{{tooltipId}}" role="tooltip" class="bx--tooltip__trigger">
      <div role="button" tabindex="0" aria-haspopup="true" aria-expanded="false">
        <svg fill-rule="evenodd" height="16" role="img" viewBox="0 0 16 16" width="16" aria-label="tooltip" alt="tooltip">
          <title>tooltip</title>
          <path d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zM3.293 4.707l8 8 1.414-1.414-8-8-1.414 1.414z"></path>
        </svg>
      </div>
    </div>
  </div>
</div>
<div id="{{tooltipId}}" data-floating-menu-direction="bottom" class="bx--tooltip" data-avoid-focus-on-open>
  <span class="bx--tooltip__caret"></span>
  <p>Validation message here</p>
</div>

<div class="bx--form-item">
  <label for="text-input-5" class="bx--label">Text Input label</label>
  <input id="text-input-5" type="text" class="bx--text-input{{#if light}} bx--text-input--light{{/if}}" placeholder="Optional placeholder text">
  <div class="bx--form__helper-text">
    Optional helper text goes here
  </div>
</div>

<div class="bx--form-item" style="width: 300px">
  <label for="text-input-5" class="bx--label">Text Input label</label>
  <input id="text-input-5" type="text" class="bx--text-input{{#if light}} bx--text-input--light{{/if}}" placeholder="Optional placeholder text">
  <div class="bx--form__helper-text">
    Optional helper text here; if message is more than one line text should wrap (~100 character count maximum)
  </div>
</div>

<div class="bx--form-item">
  <label for="text-input-6" class="bx--label bx--label--disabled">Text Input label</label>
  <input id="text-input-6" type="text" class="bx--text-input{{#if light}} bx--text-input--light{{/if}}" placeholder="Optional placeholder text" disabled>
</div>
