<div class="bx--form-item">
  <input id="text-input-3" type="text" class="bx--text-input bx--text-input--light" placeholder="Optional placeholder text">
  <label for="text-input-3" class="bx--label">Text Input label</label>
</div>

<div class="bx--form-item">
  <input data-invalid id="text-input-4" type="text" class="bx--text-input bx--text-input--light" placeholder="Optional placeholder text">
  <label for="text-input-4" class="bx--label">Text Input label</label>
  <div class="bx--form-requirement">
    Validation message here
  </div>
</div>

<div class="bx--form-item">
  <input id="text-input-5" type="text" class="bx--text-input bx--text-input--light" placeholder="Optional placeholder text">
  <label for="text-input-5" class="bx--label">Text Input label</label>
  <div class="bx--form__helper-text">
    Optional helper text goes here
  </div>
</div>

<div class="bx--form-item" style="width: 300px">
  <input id="text-input-5" type="text" class="bx--text-input bx--text-input--light" placeholder="Optional placeholder text">
  <label for="text-input-5" class="bx--label">Text Input label</label>
  <div class="bx--form__helper-text">
    Optional helper text here; if message is more than one line text should wrap (~100 character count maximum)
  </div>
</div>

<div class="bx--form-item">
  <input id="text-input-6" type="text" class="bx--text-input bx--text-input--light" placeholder="Optional placeholder text"
    disabled>
  <label for="text-input-6" class="bx--label bx--label--disabled">Text Input label</label>
</div>
