$nav--background-color: $blue-80;
$nav--link-color: $bluemix-nav-grey;
$nav--logo-color: $white;
$nav--sign-up-color: #00b299;
$breakpoint--desktop: em(900px);

// https://console.ng.bluemix.net/api/v1/imgs/sprite.png

%flex--horizontal-center {
  align-items: center;
  display: flex;
  flex-direction: row;
}

@keyframes slideRight {
  0%   { transform: translateX(-300px); }
  100% { transform: translateX(0px); }
}

@keyframes slideLeft {
  0%   { transform: translateX(0px); }
  100% { transform: translateX(-300px); }
}

.header {
  background-color: $nav--background-color;
  position: fixed;
  height: 3.125em;
  padding: 0 10px;
  width: 100%;

  &,
  &__brand,
  &__nav {
    @extend %flex--horizontal-center;
  }

  &__brand {
    flex: 1;
  }

}

.nav {
  &__cta-links {
    @extend %flex--horizontal-center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__links {
    background-color: $nav--background-color;
    display: flex;
    flex-direction: column;
    left: 0px;
    line-height: 28px;
    list-style-type: none;
    margin: 0;
    min-height: 822px;
    opacity: .9;
    padding: 0;
    position: fixed;
    top: 48px;
    width: 300px;
    // transform: translateX(-300px);
    // transition: transform 0.3s;
    animation: slideLeft 0.2s forwards;

    &.visible {
      animation: slideRight 0.2s forwards;
      // transform: translateX(0px);
      // transition: transform 0.3s;
    }

    @media screen and (min-width: $breakpoint--desktop) {
      align-items: center;
      display: flex;
      flex-direction: row;  
      position: static;
      opacity: 1;
      min-height: none;
      background-color: transparent;
      min-height: 32px;
      transform: translateX(0px);
      width: 480px;
    }
  }
}

.brand {
  &__menu {
    background-image: url('https://ace-common-production-20150731-141133.ng.bluemix.net/cache/9ec1-3656781102/api/v1/imgs/sprite.png');
    background-position: -68px -106px; 
    cursor: pointer;
    height: 14px;
    margin: 0 10px;
    width: 12px;

    &:hover, 
    &:focus {
      background-position: -56px -106px;
    }

    @media screen and (min-width: $breakpoint--desktop) {
      display: none;
    }
  }
  &__link {
    @extend %flex--horizontal-center;
    text-decoration: none;

    &__logo {
      @media screen and (min-width: $breakpoint--desktop) {
        background-image: url('https://ace-common-production-20150731-141133.ng.bluemix.net/cache/9ec1-3656781102/api/v1/imgs/sprite.png');
        background-position: -40px -50px;
        width: 32px;
        height: 32px;
      }
    }

    &__name,
    &__name--normal {
      color: $nav--logo-color;
      font-size: .875em;
      line-height: 1;
    }

    &__name {
      @extend %helvetica-bold;
    }

    &__name--normal {
      @extend %helvetica-normal;
      margin-left: 0.75em;
      margin-right: 5px;
    }
  }
}

.links {
  &__link {
    @extend %helvetica-light;
    color: $nav--link-color;
    font-size: em(14px);
    letter-spacing: em(1px);
    margin: 0 12px;
    text-decoration: none;
    text-transform: uppercase;

    &:hover,
    &:focus {
      color: $white;
      transition: color .2s ease-out;
    }
  }
}

.cta-links {
  &__link--sign-up,
  &__link--log-in {
    @extend %helvetica-bold;
    border-radius: 3px;
    font-size: em(14px);
    letter-spacing: em(1px);
    margin: 0 5px;
    padding: 5px 12px;
    text-decoration: none;
    text-transform: uppercase;
  }

  &__link--sign-up {
    border: 1px solid $nav--sign-up-color;
    color: $nav--sign-up-color;

    &:hover,
    &:focus {
      background-color: $nav--sign-up-color;
      color: $nav--background-color;
      transition: background-color .2s ease-out, color .2s ease-out;
    }
  }

  &__link--log-in {
    border: 1px solid $nav--link-color;
    color: $nav--link-color;

    &:hover, 
    &:focus {
      background-color: $nav--link-color;
      color: $nav--background-color;
      transition: background-color .2s ease-out, color .2s ease-out;
    }
  }
}
