.glossary-entry {
  padding-top: rem(36px);
}

.glossary-entry__main-heading span {
  text-transform: lowercase;
}

.glossary-entry__subtext {
  @include carbon--type-style('body-short-02');
  color: $text-02;
  font-style: italic;
  margin-top: $spacing-02;
}
