.taxonomy-nav {
  position: absolute;
  z-index: z(header);
  top: em($header-height);
  left: -100vw;

  width: 48%;
  padding: 1em;

  opacity: 0;
  background-color: $color__navy-gray-1;
  height: 70vh;
  overflow-y: scroll;

  @include breakpoint(bp--xs--major) {
    height: auto;
    overflow-y: visible;
    top: em($header-height) + 1em;
    left: 2%;

    width: $item-width * 4 + 2 + em(1px); // IE11 seems to need some slack

    transition: $transition-timing--inverted;
    transform: scale(0);
    transform-origin: 10em -1em;
  }

  @include breakpoint(bp--sm--major) {
    width: $item-width * 6 + 2 + em(1px); // IE11 seems to need some slack
  }

  &--active {
    left: 0;
    opacity: 1;

    @include breakpoint(bp--xs--major) {
      left: 3%;

      transition: $transition-timing;
      transform: scale(1);

      box-shadow: 0 5px 10px 2px $color__navy-gray-1;

      &:before {
        position: absolute;
        top: -.5em;
        left: 10%;

        display: block;

        width: 0;
        height: 0;

        content: '';

        border-width: 0 .5em .5em .5em;
        border-style: solid;
        border-color: $color__navy-gray-1 transparent;
      }
    }

    @include breakpoint(bp--sm--major) {
      &:before {
        left: calc(30px + 15%);
      }
    }

  }
}

.taxonomy-menu {
  display: flex;
  flex-direction: column;

  @include breakpoint(bp--xs--major) {
    flex-direction: row;

    flex-wrap: wrap;
  }

  &:focus {
    outline: 0;
  }

  .taxonomy-item {
    display: flex;
    align-items: stretch;
    padding: .5em;

    &.selected {
      border: none;

      a {
        color: $color__white;
      }

      .taxonomy-item__label {
        padding-left: 1.5em;

        @include breakpoint(bp--xs--major) {
          padding-left: 1em;
        }

        &:before {
          display: block;
          position: absolute;
          top: 50%;
          content: '\0025cf';
          color: $color__taxonomy-nav-item--selected;
          font-size: 1rem;
          width: 1em;
          height: 1em;
          margin-top: -.75em;
          margin-left: -1em;

          @include breakpoint(bp--xs--major) {
            margin-top: -.5em;
          }
        }
      }
    }

    &__icon {
      width: 25px;
      height: 25px;
      margin: 0;

      @include breakpoint(bp--xs--major) {
        width: 75px;
        height: 75px;
      }
    }

    &__label {
      flex: 1;
      position: relative;
      padding-left: .5em;

      text-align: left;

      @include breakpoint(bp--xs--major) {
        max-width: 75px;
        padding-top: .5em;
        padding-left: 0;

        text-align: center;

        flex: 0 0 auto;
      }
    }
  }

  .taxonomy-item--taxonomy-menu {
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    width: auto;
    margin: 0;
    padding: .75em;

    @include breakpoint(bp--xs--major) {
      padding: .25em .75em 1.25em;
    }

    border: solid transparent 1px;
    border-radius: .875em;

    @include breakpoint(bp--xs--major) {
      flex-direction: column;
    }

    &:hover,
    &:focus {
      border: solid $color__blue-30 1px;
      background-color: $color__blue-90;
      outline: 0;
    }

    &,
    &:hover,
    &:focus {
      .taxonomy-item__icon {
        background-color: transparent;
      }
    }
  }
}
