@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/typography';
@import '../../globals/scss/spacing';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/import-once';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/css--reset';
@import 'mixins';

@include exports('snippet') {
  .#{$prefix}--snippet--code {
    @include bx--snippet;
    background-color: $snippet-background-color;
    padding: $spacing-md $spacing-2xl $spacing-md $spacing-md;
  }

  .#{$prefix}--snippet code {
    @include typescale('epsilon');
  }

  .#{$prefix}--snippet--code .#{$prefix}--snippet-container {
    max-height: rem(192px);
    overflow-y: scroll;
    margin-right: $spacing-md;
    position: relative;
  }

  .#{$prefix}--snippet--code .#{$prefix}--snippet-container pre {
    white-space: pre-wrap;
  }

  .#{$prefix}--snippet--terminal {
    @include bx--snippet;
    background-color: $text-01;
    color: $inverse-01;
    height: 3.5rem;
    padding: 0 $spacing-2xl 0 $spacing-md;
  }

  .#{$prefix}--snippet--terminal .#{$prefix}--snippet-container {
    display: flex;
    align-items: center;
    height: 130%;
    white-space: nowrap;
    overflow-x: scroll;
    position: relative;
  }

  .#{$prefix}--snippet__icon {
    fill: $brand-01;
    height: rem(24px);
    width: rem(18px);
    transition: $transition--base;

    &:hover {
      fill: $brand-02;
    }
  }

  .#{$prefix}--snippet--terminal .#{$prefix}--snippet__icon {
    fill: $inverse-01;

    &:hover {
      fill: $brand-02;
    }
  }

  .#{$prefix}--snippet-button {
    @include reset;
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    border: none;
    background-color: transparent;
    outline: none;
    padding: 0;
    height: rem(32px);
    width: rem(32px);

    &:focus {
      @include focus-outline('border');
    }
  }

  .#{$prefix}--snippet .#{$prefix}--btn--copy__feedback {
    @include font-family;
    z-index: z('overlay');
    font-weight: 600;
    left: inherit;
    top: 1rem;
    right: 1.25rem;
  }

  // Skeleton State
  .#{$prefix}--snippet--code.#{$prefix}--skeleton {
    height: rem(98px);
  }

  .#{$prefix}--snippet--terminal.#{$prefix}--skeleton {
    height: rem(56px);
  }

  .#{$prefix}--snippet.#{$prefix}--skeleton .#{$prefix}--snippet-container {
    height: 100%;
  }

  .#{$prefix}--snippet.#{$prefix}--skeleton code {
    @include skeleton;
    width: 100%;
    height: 1rem;
    display: block;
  }
}
