@import '../../globals/scss/colors';
@import '../../globals/scss/typography';
@import '../../globals/scss/import-once';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/css--reset';
@import 'mixins';

@include exports('snippet') {
  .bx--snippet--code {
    @include bx--snippet;
    background-color: $snippet-background-color;
    padding: 1rem 2.5rem 1rem 1rem;
  }

  .bx--snippet code {
    @include typescale('epsilon');
  }

  .bx--snippet--code .bx--snippet-container {
    max-height: rem(192px);
    overflow-y: scroll;
    margin-right: 1rem;
    position: relative;
  }

  .bx--snippet--code .bx--snippet-container pre {
    white-space: pre-wrap;
  }

  .bx--snippet--terminal {
    @include bx--snippet;
    background-color: $text-01;
    color: $inverse-01;
    height: 3.5rem;
    padding: 0 2.5rem 0 1rem;
  }

  .bx--snippet--terminal .bx--snippet-container {
    display: flex;
    align-items: center;
    height: 130%;
    white-space: nowrap;
    overflow-x: scroll;
    position: relative;
  }

  .bx--snippet__icon {
    cursor: pointer;
    fill: $brand-01;
    height: rem(24px);
    width: rem(18px);
    transition: $transition--base;

    &:hover {
      fill: $brand-02;
    }
  }

  .bx--snippet--terminal .bx--snippet__icon {
    fill: $inverse-01;

    &:hover {
      fill: $brand-02;
    }
  }

  .bx--snippet-button {
    @include reset;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    border: none;
    background-color: transparent;
    outline: none;
    padding: 0;
    height: rem(32px);
    width: rem(32px);

    &:focus {
      @include focus-outline('border');
    }
  }

  .bx--snippet .bx--btn--copy__feedback {
    @include font-family;
    z-index: z('overlay');
    font-weight: 600;
    left: inherit;
    top: 1rem;
    right: 1.25rem;
  }
}
