<div class="bx--snippet bx--snippet--terminal">
  <div class="bx--snippet-container">
    <pre><code>node -v Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, veritatis voluptate id incidunt molestiae officia possimus, quasi itaque alias, architecto hic, dicta fugit? Debitis delectus quidem explicabo vitae fuga laboriosam!</code></pre>
  </div>
  <button data-copy-btn class="bx--snippet-button" aria-label="Copy code" tabindex="0">
    <svg class="bx--snippet__icon" width="32" height="32" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:none;}</style></defs><title>Carbon—Duo</title><g id="Icon"><path d="M6,18H4V6A2,2,0,0,1,6,4H18V6H6Z"/><path d="M28,12V28H12V12H28m0-2H12a2,2,0,0,0-2,2V28a2,2,0,0,0,2,2H28a2,2,0,0,0,2-2V12a2,2,0,0,0-2-2Z"/></g><g id="Transparent_Rectangle" data-name="Transparent Rectangle"><rect class="cls-1" width="32" height="32"/></g></svg>
    <div class="bx--btn--copy__feedback" data-feedback="Copied!"></div>
  </button>
</div>
