<div class="bx--snippet bx--snippet--terminal">
  <div class="bx--snippet-container">
    <pre><code>node -v Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, veritatis voluptate id incidunt molestiae officia possimus, quasi itaque alias, architecto hic, dicta fugit? Debitis delectus quidem explicabo vitae fuga laboriosam!</code></pre>
  </div>
  <button data-copy-btn class="bx--snippet-button">
    <svg class="bx--snippet__icon">
      <use xlink:href="/carbon-icons/bluemix-icons.svg#icon--copy"></use>
    </svg>
    <div class="bx--btn--copy__feedback" data-feedback="Copied!"></div>
  </button>
</div>
