
<div style="padding: 20px; background: white;">
<p>Here is an example of a text that a user would be reading. In this paragraph would be <span class="bx--snippet bx--snippet--inline"><code>inline code</code></span> that the user could look at and copy in to their code editor.</p>
</div>

<p>Here is an example of a text that a user would be reading. In this paragraph would be <span class="bx--snippet bx--snippet--inline"><code>inline code</code></span> that the user could look at and copy in to their code editor.</p>
