<div class="bx--snippet bx--snippet--multi">
<!--<div class="bx--snippet bx--snippet--multi bx--snippet--expanded"></div>-->
  <div class="bx--snippet-container">
    <code>
      <pre>
&lt;div class="bx--snippet bx--snippet--multi bx--snippet--expanded"&gt;
  &lt;div class="bx--snippet-container"&gt;
    &lt;code&gt;
      &lt;pre&gt;&lt;/pre&gt;
    &lt;/code&gt;
  &lt;/div&gt;
&lt;button data-copy-btn class="bx--snippet-button" aria-label="Copy code" tabindex="0"&gt;
  &lt;svg class="bx--snippet__icon" width="18" height="24" viewBox="0 0 18 24" fill-rule="evenodd"&gt;
    &lt;path d="M13 5V0H0v19h5v5h13V5h-5zM2 17V2h9v3H5v12H2zm14 5H7V7h9v15z"&gt;&lt;/path&gt;
    &lt;path d="M9 9h5v2H9zM9 12h5v2H9zM9 15h3v2H9z"&gt;&lt;/path&gt;
  &lt;/svg&gt;
  &lt;div class="bx--btn--copy__feedback" data-feedback="Copied!"&gt;&lt;/div&gt;
&lt;/button&gt;
&lt;button class="bx--btn bx--btn--ghost bx--btn--sm bx--snippet-btn--expand" type="button"&gt;
  Show more
  &lt;svg class="bx--icon-chevron--down" width='12' height='8' viewBox='0 0 12 8' fill-rule='evenodd' aria-label="Show more icon" alt="Show more icon"&gt;&lt;title&gt;Show more icon&lt;/title&gt;&lt;path d='M10.6 0L6 4.7 1.4 0 0 1.4l6 6.1 6-6.1z'&gt;&lt;/path&gt;&lt;/svg&gt;
&lt;/button&gt;
&lt;/div&gt;
      </pre>
    </code>
  </div>
  <button data-copy-btn class="bx--snippet-button" aria-label="Copy code" tabindex="0">
    <svg class="bx--snippet__icon" width="18" height="24" viewBox="0 0 18 24" fill-rule="evenodd">
      <path d="M13 5V0H0v19h5v5h13V5h-5zM2 17V2h9v3H5v12H2zm14 5H7V7h9v15z"></path>
      <path d="M9 9h5v2H9zM9 12h5v2H9zM9 15h3v2H9z"></path>
    </svg>
    <div class="bx--btn--copy__feedback" data-feedback="Copied!"></div>
  </button>
  <button class="bx--btn bx--btn--ghost bx--btn--sm bx--snippet-btn--expand" type="button">
    Show more
    <svg class="bx--icon-chevron--down" width='12' height='8' viewBox='0 0 12 8' fill-rule='evenodd' aria-label="Show more icon" alt="Show more icon"><title>Show more icon</title><path d='M10.6 0L6 4.7 1.4 0 0 1.4l6 6.1 6-6.1z'></path></svg>
  </button>
</div>
