$color__tooltip--background: #3b4b54;
$tooltip--accent: $white;

[class ^= 'tooltip'] {
	position: relative;

	display: inline-block;

	font-size: 1rem;

	&:before,
  &:after {
		position: absolute;

		background: $color__tooltip--background;

		transition: all .2s ease-in .3s;
		opacity: 0;
	}

	&:before {
		padding: 1em;
		border: 1px $tooltip--accent solid;
		margin-left: 50%;

		color: $tooltip--accent;

		font-size: .9rem;

		content: attr(data-tooltip);
		transform: translateX(-50%);
		white-space: nowrap;
		pointer-events: none;
	}

	&:after {
		right: 0;
		left: 0;

		width: .6em;
		height: .6em;
		border-right: 1px solid $tooltip--accent;
		border-bottom: 1px solid $tooltip--accent;
		margin: 0 auto;

		content: '';

		backface-visibility: hidden;
	}

	&:hover,
  &:focus {
		&:before,
    &:after {
			opacity: 1;
		}
	}
}

.tooltip {
	&__top {
		&:before {
			bottom: 2em;
		}

		&:after {
			bottom: 1.5em;

			transform:rotate(45deg);
		}
	}

	&__bottom {
		&:before {
			top: 2em;
		}

		&:after {
			top: 1.5em;

			transform:rotate(-135deg);
		}
	}
}
