@import '../../../../colors/scss/colors.scss';

// base of project work area
#root > div:first-child > div:first-child {
  width: 100%;
}

// grid styles
#root .outside {
  min-height: 80px;
  height: 100%;
}

#root .inside {
  background-color: $ibm-color__blue-10;
  min-height: 80px;
  height: 100%;
}

#root [class*='col'] {
  background-color: $ibm-color__blue-20;
  outline: 1px dashed $ibm-color__blue-40;
}

.bleed {
  background-color: $ibm-color__gray-100;
}

// default grid example
.default {
  background-color: $ibm-color__blue-40;
}

// hack to enable zoom feature to trigger
.default.bx--grid--full-width {
  max-width: 100%;
}

.default .bx--col code {
  display: flex;
  justify-content: center;
}
