@use '@carbon/styles/scss/reset';
@use '@carbon/styles/scss/theme';
@use '@carbon/styles/scss/themes';

:root {
  @include theme.theme(themes.$white);
  background-color: var(--cds-background);
  color: var(--cds-text-primary);
}