<header class="bx--detail-page-header--with-tabs">
  <div class="bx--detail-page-header--with-tabs__container">
    <div class="bx--detail-page-header--with-tabs__breadcrumb">
      <a href="#" class="bx--detail-page-header--with-tabs__link-wrapper">
        <svg class="bx--detail-page-header--with-tabs__arrow">
          <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v5/img/bluemix-icons.svg#arrow--left"></use>
        </svg>
        <p class="bx--detail-page-header--with-tabs__breadcrumb-title">Breadcrumb title</p>
      </a>
    </div>
    <div class="bx--detail-page-header--with-tabs__info">
      <p class="bx--detail-page-header--with-tabs__info-title">Detail page header</p>
    </div>
  </div>
  <div class="bx--detail-page-header--with-tabs__tabs-container">
    <nav data-tabs class="bx--tabs" role="navigation">
      <div class="bx--tabs__trigger">
        <a href="javascript:void(0)" class="bx--tabs__trigger-text"></a>
        <svg><use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v5/img/bluemix-icons.svg#caret--down"></use></svg>
      </div>
      <ul class="bx--tabs__nav bx--tabs--hidden" role="tablist">
        <li class="bx--tabs__nav-item bx--tabs--selected" data-target=".demo--panel--overview" role="presentation"><a id="tab-link-1" class="bx--tabs__nav-link" href="javascript:void(0)" role="tab" aria-controls="tab-panel-1" aria-selected="true">Subtab 1</a></li>
        <li class="bx--tabs__nav-item" data-target=".demo--panel--containers" role="presentation"><a id="tab-link-2" class="bx--tabs__nav-link" href="javascript:void(0)" role="tab" aria-controls="tab-panel-2" aria-selected="false">Subtab 2</a></li>
        <li class="bx--tabs__nav-item" data-target=".demo--panel--connected" role="presentation"><a id="tab-link-3" class="bx--tabs__nav-link" href="javascript:void(0)" role="tab" aria-controls="tab-panel-3" aria-selected="false">Subtab 3</a></li>
        <li class="bx--tabs__nav-item" data-target=".demo--panel--manage" role="presentation"><a id="tab-link-4" class="bx--tabs__nav-link" href="javascript:void(0)" role="tab" aria-controls="tab-panel-4" aria-selected="false">Subtab 4</a></li>
        <li class="bx--tabs__nav-item" data-target=".demo--panel--api-reference" role="presentation"><a id="tab-link-5" class="bx--tabs__nav-link" href="javascript:void(0)" role="tab" aria-controls="tab-panel-5" aria-selected="false">Subtab 5</a></li>
      </ul>
    </nav>
  </div>
</header>
