//-------------------------
// 🌍 Global
//-------------------------

$typography-css: true !default;
$use-globals: true !default;
$use-fonts: false !default;
$use-reset: true !default;

@import 'global/global';

//-------------------------
// 🍅 Base Elementss
//-------------------------
@import 'base-elements/buttons/buttons';
@import 'base-elements/file-uploader/file-uploader';
@import 'base-elements/checkbox/checkbox';
@import 'base-elements/radio/radio';
@import 'base-elements/toggle/toggle';
@import 'base-elements/search/search';
@import 'base-elements/select/select';
@import 'base-elements/text/text';
@import 'base-elements/textarea/textarea';
@import 'base-elements/number-input/number-input';
@import 'base-elements/forms/forms';
@import 'base-elements/links/links';
@import 'base-elements/lists/lists';
@import 'base-elements/responsiveTables/responsiveTables';
@import 'base-elements/snippet/snippet';

//-------------------------
// 🍕 Components
//-------------------------
@import 'components/overflow-menu/overflow-menu';
@import 'components/card/card';
@import 'components/content-switcher/content-switcher';
@import 'components/detail-page-header/detail-page-header--no-tabs';
@import 'components/detail-page-header/detail-page-header--with-tabs';
@import 'components/dropdown/dropdown';
@import 'components/loading/loading';
@import 'components/modals/modals';
@import 'components/modules/modules';
@import 'components/notifications/notifications';
@import 'components/tooltips/tooltips';
@import 'components/tabs/tabs';
@import 'components/tags/tags';
@import 'components/unified-header/unified-header';
@import 'components/inline-left-nav/inline-left-nav';
@import 'components/pagination/pagination';
@import 'components/accordion/accordion';
@import 'components/progress-indicator/progress-indicator';
@import 'components/breadcrumb/breadcrumb';

//-------------------------------------
// 🙈 Hidden (Not exposed on website)
//-------------------------------------
@import 'base-elements/footer/footer';
@import 'components/fab/fab';
@import 'components/taxonomy-item/taxonomy-item';

//-------------------------
// ☠️ Deprecated
//-------------------------
@import 'base-elements/tables/tables';
@import 'deprecated/data-module/data-module';
@import 'deprecated/fab-label/fab-label';
@import 'deprecated/item-list/item-list';
@import 'deprecated/toolbars/toolbar-icons';
