@import '_partials/vars';

.table {
  @include type('body');
  width: 100%;
  color: $color__table-text;

  &__row {
    display: flex;
  }

  &__main-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: $padding__table;
    font-weight: 700;
    text-align: left;
    background-color: $color__table-bg;
    border-bottom: 1px solid $color__table-border;

    .link {
      text-decoration: none;
    }
  }

  &__column-title {
    display: flex;
    flex: 1;
    align-items: baseline;
    padding: $padding__table;
    font-weight: 700;
    text-align: left;
    background-color: $color__table-bg;
  }
}

.table__body {
  &__cell {
    display: flex;
    flex: 1;
    padding: $padding__table;
    font-size: .875rem;
    text-align: left;
    overflow: hidden;

    .link {
      color: $color__blue-30;;
    }
  }

  &__link {
    color: $color__blue-30;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .table__row {

    &:nth-child(odd) {
      background-color: $color__table-row--odd;
    }

    &:nth-child(even) {
      background-color: $color__table-bg;
    }
  }
}

/////////////////////
// Configurations
/////////////////////

.table {
  .cta {
    // Use .cta as a modifier for <th> or <td> classes when including:
    // * Status icon
    // * Checkbox
    // * etc.
    flex: none;
  }

  [data-sortable] {
    cursor: pointer;
  }

  .status-icon { // !temporary
    // example of a status-icon to use inside `.cta`
    width: 1em;
    height: 1em;
    background-color: $color__green-30;
    border-radius: 100%;
  }
}
