$css--helpers: true;

@import '../../globals/scss/import-once';
@import '../../globals/scss/colors';
@import '../../globals/scss/typography';
@import '../../globals/scss/vars';
@import '../../globals/scss/css--helpers';
@import '../button/button';
@import '../checkbox/checkbox';
@import '../radio-button/radio-button';
@import '../form/form';
@import '../overflow-menu/overflow-menu';
@import '../search/search';

@include exports('toolbar') {
  .bx--toolbar {
    @include font-family;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 1rem 0;

    > div {
      margin: 0 rem(4px);
    }

    .bx--search-input {
      height: rem(32px);
      background-color: transparent;
      outline: none;
    }

    .bx--search-close {
      display: none;
    }

    .bx--overflow-menu__icon {
      fill: $text-02;
      transition: fill 50ms $bx--standard-easing;
    }

    .bx--search-magnifier {
      fill: $text-02;
      transform: scale(1.3);
      transition: all 175ms $bx--standard-easing;
      top: rem(8px);
      left: rem(6px);
      cursor: pointer;
    }

    fieldset {
      border: 0;
      padding: 0;
    }

    .bx--toolbar-search--active {
      width: rem(250px);

      .bx--search-magnifier {
        transform: scale(1);
        top: rem(9px);
      }

      .bx--search-input {
        background-color: $field-01;
      }

      .bx--search-close {
        display: block;
      }
    }

    .bx--checkbox-label {
      margin-bottom: 0;
    }

    .bx--overflow-menu--open > .bx--overflow-menu__icon {
      fill: $brand-01;
    }
  }

  .bx--toolbar-search {
    width: 1.8rem;
    transition: all 175ms $bx--standard-easing;
  }

  .bx--toolbar-search__btn {
    position: absolute;
    left: 0;
    top: 0;
    background: transparent;
    border: 0;
    height: rem(32px);
    width: rem(32px);

    &:focus {
      @include focus-outline;
    }
  }

  .bx--toolbar-filter-icon {
    padding-left: 0;
    padding-right: 0;
  }

  .bx--toolbar-menu__title {
    @include typescale('omega');
    @include letter-spacing;
    font-weight: 600;
    padding: 0.5rem 1.25rem;
  }

  .bx--toolbar-menu__option {
    padding: 0.5rem 1.25rem;
  }

  .bx--toolbar-menu__divider {
    width: 100%;
    border: 0;
    border-top: 1px solid $ui-04;
  }

  .bx--radio-button-group {
    border: none;
  }
}
