<div class="bx--toolbar" data-toolbar>
  <div class="bx--search bx--search--sm bx--toolbar-search" role="search" data-search data-toolbar-search>
    <label for="search__input" class="bx--label">Search</label>
    <input type="search" class="bx--search-input" id="search__input" placeholder="Search">
    <button class="bx--toolbar-search__btn" aria-label="Toolbar search">
      <svg class="bx--search-magnifier" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:none;}</style></defs><title>Carbon—Duo</title><g id="Icon"><path d="M30,28.59,22.45,21A11,11,0,1,0,21,22.45L28.59,30ZM5,14a9,9,0,1,1,9,9A9,9,0,0,1,5,14Z"/></g><g id="Transparent_Rectangle" data-name="Transparent Rectangle"><rect class="cls-1" width="32" height="32"/></g></svg>
    </button>
    <svg class="bx--search-close bx--search-close--hidden" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:none;}</style></defs><title>Carbon—Duo</title><g id="Icon"><path d="M30,28.59,22.45,21A11,11,0,1,0,21,22.45L28.59,30ZM5,14a9,9,0,1,1,9,9A9,9,0,0,1,5,14Z"/></g><g id="Transparent_Rectangle" data-name="Transparent Rectangle"><rect class="cls-1" width="32" height="32"/></g></svg>
  </div>
  <div data-overflow-menu class="bx--overflow-menu" tabindex="0" aria-label="List of options">
    <svg class="bx--overflow-menu__icon bx--toolbar-filter-icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:none;}</style></defs><title>Carbon—Duo</title><g id="Icon"><path d="M13.87,5A4,4,0,0,0,6.15,5H2V7H6.15a4,4,0,0,0,7.72,0H30V5ZM10,8a2,2,0,1,1,2-2.12v.23A2,2,0,0,1,10,8Z"/><path d="M22,12a4,4,0,0,0-3.86,3H2v2H18.14a4,4,0,0,0,7.72,0H30V15H25.86A4,4,0,0,0,22,12Zm0,6a2,2,0,1,1,2-2A2,2,0,0,1,22,18Z"/><path d="M10,22a4,4,0,0,0-3.86,3H2v2H6.14a4,4,0,0,0,7.72,0H30V25H13.86A4,4,0,0,0,10,22Zm0,6a2,2,0,1,1,2-2.12v.23A2,2,0,0,1,10,28Z"/></g><g id="Transparent_Rectangle" data-name="Transparent Rectangle"><rect class="cls-1" width="32" height="32"/></g></svg>
    <ul class="bx--overflow-menu-options">
      <li class="bx--toolbar-menu__title">FILTER BY</li>
      <li class="bx--toolbar-menu__option">
        <input id="filter-option-1" class="bx--checkbox" type="checkbox" value="filter-option-1" name="checkbox">
        <label for="filter-option-1" class="bx--checkbox-label">
          <span class="bx--checkbox-appearance">
            <svg class="bx--checkbox-checkmark" width="12" height="9" viewBox="0 0 12 9" fill-rule="evenodd">
              <path d="M4.1 6.1L1.4 3.4 0 4.9 4.1 9l7.6-7.6L10.3 0z"></path>
            </svg>
          </span>
          Filter option 1
        </label>
      </li>
      <li class="bx--toolbar-menu__option">
        <input id="filter-option-2" class="bx--checkbox" type="checkbox" value="filter-option-2" name="checkbox">
        <label for="filter-option-2" class="bx--checkbox-label">
          <span class="bx--checkbox-appearance">
            <svg class="bx--checkbox-checkmark" width="12" height="9" viewBox="0 0 12 9" fill-rule="evenodd">
              <path d="M4.1 6.1L1.4 3.4 0 4.9 4.1 9l7.6-7.6L10.3 0z"></path>
            </svg>
          </span>
          Filter option 2
        </label>
      </li>
      <li class="bx--toolbar-menu__option">
        <input id="filter-option-3" class="bx--checkbox" type="checkbox" value="filter-option-3" name="checkbox">
        <label for="filter-option-3" class="bx--checkbox-label">
          <span class="bx--checkbox-appearance">
            <svg class="bx--checkbox-checkmark" width="12" height="9" viewBox="0 0 12 9" fill-rule="evenodd">
              <path d="M4.1 6.1L1.4 3.4 0 4.9 4.1 9l7.6-7.6L10.3 0z"></path>
            </svg>
          </span>
          Filter option 3
        </label>
      </li>
    </ul>
  </div>
  <div data-overflow-menu class="bx--overflow-menu" tabindex="0" aria-label="List of options">
    <svg class="bx--overflow-menu__icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:none;}</style></defs><title>Carbon—Duo</title><g id="Icon"><circle cx="16" cy="6" r="2"/><circle cx="16" cy="16" r="2"/><circle cx="16" cy="26" r="2"/></g><g id="Transparent_Rectangle" data-name="Transparent Rectangle"><rect class="cls-1" width="32" height="32"/></g></svg>
    <ul class="bx--overflow-menu-options">
      <li class="bx--overflow-menu-options__option">
        <button type="button" class="bx--overflow-menu-options__btn">Refresh table</button>
      </li>
      <hr class="bx--toolbar-menu__divider" />
      <li class="bx--toolbar-menu__title">ROW HEIGHT</li>
      <fieldset data-row-height class="bx--radio-button-group">
        <legend class="bx--visually-hidden">Select table row height</legend>
        <li class="bx--toolbar-menu__option">
          <input id="short-rows" class="bx--radio-button" type="radio" value="short" name="radio" checked>
          <label for="short-rows" class="bx--radio-button__label">
            <span class="bx--radio-button__appearance"></span>
            Short
          </label>
        </li>
        <li class="bx--toolbar-menu__option">
          <input id="tall-rows" class="bx--radio-button" type="radio" value="tall" name="radio">
          <label for="tall-rows" class="bx--radio-button__label">
            <span class="bx--radio-button__appearance"></span>
            Tall
          </label>
        </li>
      </fieldset>
    </ul>
  </div>
</div>
