<div class="bx--toolbar" data-toolbar>
  <div class="bx--search bx--search--sm bx--toolbar-search" role="search" data-search data-toolbar-search>
    <label for="search__input" class="bx--label">Search</label>
    <input type="search" class="bx--search-input" id="search__input" placeholder="Search">
    <button class="bx--toolbar-search__btn">
      <svg class="bx--search-magnifier">
        <use xlink:href="/carbon-icons/bluemix-icons.svg#icon--search--glyph"/>
      </svg>
    </button>
    <svg class="bx--search-close bx--search-close--hidden">
      <use xlink:href="/carbon-icons/bluemix-icons.svg#icon--close--glyph"/>
    </svg>
  </div>
  <div data-overflow-menu class="bx--overflow-menu" tabindex="0" aria-label="List of options">
    <svg class="bx--overflow-menu__icon bx--toolbar-filter-icon">
      <use xlink:href="/carbon-icons/bluemix-icons.svg#icon--filter"></use>
    </svg>
    <ul class="bx--overflow-menu-options">
      <li class="bx--toolbar-menu__title">FILTER BY</li>
      <li class="bx--toolbar-menu__option">
        <input id="filter-option-1" class="bx--checkbox" type="checkbox" value="green" name="checkbox">
        <label for="filter-option-1" class="bx--checkbox-label">
          <span class="bx--checkbox-appearance">
            <svg class="bx--checkbox-checkmark">
              <use xlink:href="/carbon-icons/bluemix-icons.svg#icon--checkmark"></use>
            </svg>
          </span>
          Filter option 1
        </label>
      </li>
      <li class="bx--toolbar-menu__option">
        <input id="filter-option-2" class="bx--checkbox" type="checkbox" value="green" name="checkbox">
        <label for="filter-option-2" class="bx--checkbox-label">
          <span class="bx--checkbox-appearance">
            <svg class="bx--checkbox-checkmark">
              <use xlink:href="/carbon-icons/bluemix-icons.svg#icon--checkmark"></use>
            </svg>
          </span>
          Filter option 2
        </label>
      </li>
      <li class="bx--toolbar-menu__option">
        <input id="filter-option-3" class="bx--checkbox" type="checkbox" value="green" name="checkbox">
        <label for="filter-option-3" class="bx--checkbox-label">
          <span class="bx--checkbox-appearance">
            <svg class="bx--checkbox-checkmark">
              <use xlink:href="/carbon-icons/bluemix-icons.svg#icon--checkmark"></use>
            </svg>
          </span>
          Filter option 3
        </label>
      </li>
    </ul>
  </div>
  <div data-overflow-menu class="bx--overflow-menu" tabindex="0" aria-label="List of options">
    <svg class="bx--overflow-menu__icon">
      <use xlink:href="/carbon-icons/bluemix-icons.svg#icon--overflow-menu"></use>
    </svg>
    <ul class="bx--overflow-menu-options">
      <li class="bx--overflow-menu-options__option">
        <button type="button" class="bx--overflow-menu-options__btn">Refresh table</button>
      </li>
      <hr class="bx--toolbar-menu__divider" />
      <li class="bx--toolbar-menu__title">ROW HEIGHT</li>
      <fieldset data-row-height class="bx--radio-button-group">
        <legend class="bx--visually-hidden">Select table row height</legend>
        <li class="bx--toolbar-menu__option">
          <input id="short-rows" class="bx--radio-button" type="radio" value="short" name="radio" checked>
          <label for="short-rows" class="bx--radio-button__label">
            <span class="bx--radio-button__appearance"></span>
            Short
          </label>
        </li>
        <li class="bx--toolbar-menu__option">
          <input id="tall-rows" class="bx--radio-button" type="radio" value="tall" name="radio">
          <label for="tall-rows" class="bx--radio-button__label">
            <span class="bx--radio-button__appearance"></span>
            Tall
          </label>
        </li>
      </fieldset>
    </ul>
  </div>
</div>
