<a href="" class="taxonomy-item--taxonomy-menu">
  <div class="taxonomy-item__icon">
    <svg class="svg--taxonomy--compute-dims">
      <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--compute"></use>
    </svg>
  </div>
  <p class="taxonomy-item__label">Compute</p>
</a>
<a href="#" class="taxonomy-item--taxonomy-menu">
  <div class="taxonomy-item__icon">
    <svg class="svg--taxonomy--network-dims">
      <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--network"></use>
    </svg>
  </div>
  <p class="taxonomy-item__label">Network</p>
</a>
<a href="#" class="taxonomy-item--taxonomy-menu">
  <div class="taxonomy-item__icon">
    <svg class="svg--taxonomy--storage-dims">
      <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--storage"></use>
    </svg>
  </div>
  <p class="taxonomy-item__label">Storage</p>
</a>
<a href="#" class="taxonomy-item--taxonomy-menu">
  <div class="taxonomy-item__icon">
    <svg class="svg--taxonomy--mobile-dims">
      <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--mobile"></use>
    </svg>
  </div>
  <p class="taxonomy-item__label">Mobile</p>
</a>
