@import '../../globals/scss/colors';
@import '../../globals/scss/mixins';
@import '../../globals/scss/typography';
@import '../../globals/scss/import-once';
@import '../../globals/scss/css--typography';
@import '../link/link';

@include exports('breadcrumb') {
  .bx--breadcrumb {
    @include typescale('zeta');
    @include font-family;
    display: none;

    @include breakpoint(bp--xs--major) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .bx--breadcrumb-item {
    margin-right: rem(20.66px);
    display: flex;
    align-items: center;
  }

  .bx--breadcrumb-item::after {
    content: '/';
    margin-left: 1rem;
    color: $text-03;
  }

  .bx--breadcrumb--no-trailing-slash .bx--breadcrumb-item:last-child::after {
    content: '';
  }

  .bx--breadcrumb-item:last-child {
    margin-right: 0;

    &::after {
      margin-right: 0;
    }
  }

  .bx--breadcrumb .bx--link {
    white-space: nowrap;
    font-weight: 400;
    text-decoration: none;
    border-bottom: 1px solid transparent;

    &:hover,
    &:focus {
      outline: none;
      color: $brand-01;
      border-bottom: 1px solid $brand-01;
    }

    // Applies to Firefox only
    @-moz-document url-prefix() {
      & {
        border-bottom: none;
      }
    }
  }
}
