<nav class="bx--breadcrumb bx--breadcrumb--no-trailing-slash" aria-label="breadcrumb">
  {{#each items}}
    <div class="bx--breadcrumb-item">
      {{#if label}}
        <a href="#" class="bx--link">{{label}}</a>
      {{/if}}
    </div>
  {{/each}}
</nav>

<nav class="bx--breadcrumb bx--breadcrumb--no-trailing-slash" aria-label="breadcrumb">
  <div class="bx--breadcrumb-item">
    <a href="#" class="bx--link">Breadcrumb 1</a>
  </div>
  <div class="bx--breadcrumb-item">
    <div data-overflow-menu tabindex="0" aria-label="Overflow menu description" class="bx--overflow-menu">
      <svg class="bx--overflow-menu__icon" width="3" height="15" viewBox="0 0 3 15">
        <g fill-rule="evenodd">
          <circle cx="1.5" cy="1.5" r="1.5" />
          <circle cx="1.5" cy="7.5" r="1.5" />
          <circle cx="1.5" cy="13.5" r="1.5" />
        </g>
      </svg>
      <ul class="bx--overflow-menu-options" tabindex="-1">
        <li>
          <div class="bx--breadcrumb-item">
            <a href="#" class="bx--link">Breadcrumb 2</a>
          </div>
        </li>
        <li>
          <div class="bx--breadcrumb-item">
            <a href="#" class="bx--link">Breadcrumb 3</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="bx--breadcrumb-item">
    <a href="#" class="bx--link">Breadcrumb 4</a>
  </div>
  <div class="bx--breadcrumb-item">
    <a href="#" class="bx--link">Breadcrumb 5</a>
  </div>
</nav>
