//-----------------------------
// Content Switcher
//-----------------------------

// Dependencies
@import '../../global/global';

// Local
@import 'vars';
@import 'extends';
@import 'mixins';

.bx--content-switcher {
  display: flex;


  // No Radio Styles
  &__btn {
    @include content-switcher__btn;
    text-decoration: none;

    &:hover,
    &:focus {
      cursor: pointer;
    }

    &:focus {
      @include focus-outline;
    }

    &.bx--content-switcher--selected {
      @include content-switcher__btn(400, $color__blue-30, $color__blue-90);
    }
  }

  // Original Styles
  &__input {
    @include hidden;

    &:focus + .bx--content-switcher__btn {
      @include focus-outline;
    }

    &:focus + .bx--content-switcher__btn,
    &:hover + .bx--content-switcher__btn {
      cursor: pointer;
    }

    &:checked + .bx--content-switcher__btn {
      @include content-switcher__btn(400, $color__blue-30, $color__blue-90);
    }
  }
}
