//-----------------------------
// Select
//-----------------------------

@import '../../globals/scss/colors';
@import '../../globals/scss/css--reset';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/typography';
@import '../../globals/scss/import-once';
@import '../form/form';

@include exports('select') {
  .bx--select {
    @include reset;
    position: relative;
    display: block;
  }

  .bx--select-input {
    @include font-family;
    @include typescale('zeta');
    appearance: none;
    display: block;
    width: 100%;
    padding: 0.75rem 2.75rem 0.75rem 1rem;
    color: $text-01;
    background-color: $field-01;
    border: $input-border;
    border-radius: 0;
    cursor: pointer;

    // Hide default select arrow in IE10+
    &::-ms-expand {
      display: none;
    }

    &:focus {
      @include focus-outline('border');
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .bx--select__arrow {
    fill: $brand-01;
    position: absolute;
    right: 1rem;
    top: 1.175rem;
    width: rem(10px);
    height: rem(5px);
    pointer-events: none;
  }

  .bx--select-optgroup,
  .bx--select-option {
    color: $text-01; // For the options to show in IE11
  }

  // Override some Firefox user-agent styles
  @-moz-document url-prefix() {
    .bx--select-option {
      background-color: $ui-01;
      color: $text-01;
    }

    .bx--select-optgroup {
      color: $text-01;
    }
  }
}

.bx--select--inline {
  display: flex;
  align-items: center;

  .bx--label {
    white-space: nowrap;
    margin: 0 0.5rem 0 0;
    font-weight: 400;
  }

  .bx--select-input {
    background-color: transparent;
    color: $brand-01;
    font-weight: 600;

    &:disabled ~ * {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
