//-----------------------------
// Select
//-----------------------------

@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/css--reset';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/typography';
@import '../../globals/scss/spacing';
@import '../../globals/scss/import-once';
@import '../form/form';

@include exports('select') {
  .#{$prefix}--select {
    @include reset;
    position: relative;
    display: block;
  }

  .#{$prefix}--select-input {
    @include font-family;
    @include typescale('zeta');
    appearance: none;
    display: block;
    width: 100%;
    padding: $spacing-sm $spacing-2xl $spacing-sm $spacing-md;
    color: $text-01;
    background-color: $field-01;
    border: $input-border;
    border-radius: 0;
    cursor: pointer;

    // Hide default select arrow in IE10+
    &::-ms-expand {
      display: none;
    }

    &:focus {
      @include focus-outline('border');
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .#{$prefix}--select__arrow {
    fill: $brand-01;
    position: absolute;
    right: 1rem;
    top: 1.175rem;
    width: rem(10px);
    height: rem(5px);
    pointer-events: none;
  }

  .#{$prefix}--select-optgroup,
  .#{$prefix}--select-option {
    color: $text-01; // For the options to show in IE11
  }

  // Override some Firefox user-agent styles
  @-moz-document url-prefix() {
    .#{$prefix}--select-option {
      background-color: $ui-01;
      color: $text-01;
    }

    .#{$prefix}--select-optgroup {
      color: $text-01;
    }
  }

  .#{$prefix}--select--inline {
    display: flex;
    align-items: center;

    .#{$prefix}--label {
      white-space: nowrap;
      margin: 0 $spacing-xs 0 0;
      font-weight: 400;
    }

    .#{$prefix}--select-input {
      background-color: transparent;
      color: $brand-01;
      font-weight: 600;

      &:disabled ~ * {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }

  .#{$prefix}--select--v2 {
    display: flex;
    flex-direction: column;

    .#{$prefix}--select__arrow {
      top: 2.625rem;
    }
  }

  .#{$prefix}--select--v2 .#{$prefix}--select-input {
    border: none;
    box-shadow: 0 1px 0 0 $text-02;
    order: 2;

    & ~ .#{$prefix}--label {
      order: 1;
    }

    &:focus {
      outline: none;
      box-shadow: 0 2px 0 0 $brand-01;
    }

    &[data-invalid],
    &[data-invalid]:focus {
      box-shadow: 0 2px 0 0 $support-01;
    }

    &:focus ~ .#{$prefix}--label {
      color: $brand-01;
    }

    &[data-invalid]:focus ~ .#{$prefix}--label {
      color: $support-01;
    }

    &:focus ~ .#{$prefix}--form__helper-text {
      z-index: 0;
      max-height: 3rem;
      opacity: 1;
      margin-bottom: $spacing-xs;
    }

    & ~ .#{$prefix}--form-requirement {
      order: 3;
      color: $support-01;
      font-weight: 400;
      margin-top: $spacing-2xs;

      &::before {
        display: none;
      }
    }
  }

  .#{$prefix}--select--light select {
    background: $field-02;
  }
}
