<div class="bx--form-item">
  <div class="bx--select bx--select--inline">
    <label for="select-id-inline" class="bx--label">Select label</label>
    <select id="select-id-inline" class="bx--select-input">
      <option class="bx--select-option" disabled selected hidden>Pick an option</option>
      <option class="bx--select-option" value="solong">A much longer option that is worth having around to check how text flows</option>
      <optgroup class="bx--select-optgroup" label="Category 1">
        <option class="bx--select-option" value="option1">Option 1</option>
        <option class="bx--select-option" value="option2">Option 2</option>
      </optgroup>
      <optgroup class="bx--select-optgroup" label="Category 2">
        <option class="bx--select-option" value="option1">Option 1</option>
        <option class="bx--select-option" value="option2">Option 2</option>
      </optgroup>
    </select>
    <svg class="bx--select__arrow" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:none;}</style></defs><title>Carbon—Duo</title><g id="Icon"><polygon points="25 12 16 22 7 12 25 12"/></g><g id="Transparent_Rectangle" data-name="Transparent Rectangle"><rect class="cls-1" width="32" height="32"/></g></svg>
  </div>
</div>
