<div class="bx--select">
  <label for="select-id" class="bx--form__label">Select</label>
  <select id="select-id" class="bx--select__input" disabled>
    <option class="bx--select__option" value="" disabled selected hidden>Pick an option</option>
    <option class="bx--select__option" value="volvo">Volvo</option>
    <option class="bx--select__option" value="solong">A much longer option that is worth having around to check how text flows around the background image</option>
    <option class="bx--select__option" value="saab">Saab</option>
    <option class="bx--select__option" value="opel">Opel</option>
    <option class="bx--select__option" value="audi">Audi</option>
  </select>
  <svg class="bx--select__arrow">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#service--down-arrow"></use>
  </svg>
</div>
