$grid-values: (
  prefix: ibm,
  breakpoints: (
    sm: (
      breakpoint: 20,
      columns: 4,
      gutter: 2rem,
      margin: 0,
    ),
    md: (
      breakpoint: 42,
      columns: 8,
      gutter: 2rem,
      margin: 1rem,
    ),
    lg: (
      breakpoint: 66,
      columns: 16,
      gutter: 2rem,
      margin: 1rem,
    ),
    max: (
      breakpoint: 99,
      columns: 16,
      gutter: 2rem,
      margin: 1.5rem,
    ),
  ),
  extraArtboards: (
    xlg: 82,
  ),
  rem: 16,
  rowHeight: 0.5,
  rows: 30,
  paths: null,
);
