@import 'functions';
@import 'values';

$extraBreakpoints: () !default;
$breakpoints: addPadding(map-get($grid-values, 'breakpoints'));
$first: nth(nth($breakpoints, 1), 2);
$last: nth(nth($breakpoints, -1), 2);
$includeFlexFallback: false !default;
$rowHeight: map-get($grid-values, 'rowHeight');
$rows: map-get($grid-values, 'rows');
$allBreakpoints: allBreakpoints($breakpoints, $extraBreakpoints, $first, $last);
