<div class="bx--notification" role="alert">
    <div class="bx--notification--info">
        <div class="bx--notification__title">Inbox Full</div>
        <div class="bx--notification__subtitle">&nbsp;</div>
        <div class="bx--notification__caption">10:47 AM</div>
    </div>
    <button class="bx--notification__close" type="button">
        <span aria-label="close">
          <svg>
            <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#common--cancel"></use>
          </svg>
        </span>
    </button>
</div>
