@mixin dropdown($text: $color__white) {
  @include reset;
  @include font-size('14');
  position: relative;
  list-style: none;
  display: block;
  background-color: $color__inputs--bg;
  width: 100%;
  cursor: pointer;
  color: $color__white;
}
