//-----------------------------
// Dropdown
//-----------------------------

@import '../../global/colors/colors';
@import '../../global/typography/typography';
@import 'mixins';
@import '../../import-once';

@include exports('dropdown') {

.bx--dropdown {
  @include dropdown;
  background-color: $color__inputs--bg;

  @include light-ui {
    background-color: $color__inputs--bg--light-ui;
    color: $color__blue-90;
  }

  &:focus {
    @include focus-outline;
  }

  &__menu-text {
    @include reset;
    padding-top: rem(13px);
    padding-bottom: rem(13px);
    padding-left: 1rem;
    font-weight: 700;
  }

  // Before selection is made, text color is gray (default)
  &[data-value=''] &__menu-text {
    color: rgba(255, 255, 255, .5);

    @include light-ui {
      color: $color__navy-gray-7;
    }
  }

  &__arrow {
    fill: $color__blue-30;
    position: absolute;
    right: .75rem;
    top: .6rem;
    width: .75rem;
    height: 1.5rem;
    pointer-events: none;
    transition: transform $transition--base ease-in-out;
    transform-origin: 50% 45%;

    .bx--dropdown--open & {
      transform: rotate(180deg);
    }

    @include light-ui {
      fill: $color__blue-51;
    }
  }



  &__list {
    @include reset;
    display: none;
    list-style: none;
  }

  .bx--dropdown--open &__list {
    @include reset;
    @include font-size('14');
    @include box-shadow('large');
    display: flex;
    flex-direction: column;
    background-color: $color__navy-gray-3;

    @include light-ui {
      background-color: $color__white;
    }
  }

  &__list-item {
    @include reset;

    &.bx--dropdown--selected {
      display: none;
    }
  }

  &__link {
    @include reset;
    display: block;
    color: currentColor;
    text-decoration: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1.5rem;

    .bx--dropdown--selected & {
      color: $color__white;
    }

    &:hover,
    &:focus {
      background-color: $color__blue-30;
      color: $color__blue-90;

      @include light-ui {
        background-color: $color__blue-51;
        color: $color__white;

        .bx--dropdown__link {
          color: $color__white;
        }
      }
    }

    @include light-ui {
      color: $color__blue-90;
    }
  }
}

.bx--dropdown--selected {
  display: none;
}

}
