//-----------------------------
// Radio
//-----------------------------

@import '../../globals/scss/colors';
@import '../../globals/scss/typography';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/import-once';
@import '../form/form';
@import '../../globals/scss/css--reset';

@include exports('radio-button') {
  .bx--radio-button-group {
    display: flex;
    align-items: center;
    margin-top: rem(6px);
  }

  .bx--radio-button {
    @include hidden;
  }

  .bx--radio-button__label {
    @include typescale('zeta');
    @include font-family;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 1rem;
  }

  .bx--radio-button__appearance {
    @include reset;
    background-color: $inverse-01;
    border-radius: 50%;
    border: $radio-border-width solid $ui-05;
    flex-shrink: 0;
    height: rem(18px);
    width: rem(18px);
    margin-right: rem(10px);
  }

  .bx--radio-button:checked + .bx--radio-button__label .bx--radio-button__appearance {
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: $brand-01;

    &:before {
      content: '';
      display: inline-block;
      position: relative;
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      background-color: $brand-01;
    }
  }

  .bx--radio-button:disabled + .bx--radio-button__label {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .bx--radio-button:focus + .bx--radio-button__label .bx--radio-button__appearance {
    @include focus-outline('blurred');
  }
}
