<div class="bx--form-item">
  <div class="bx--radio-button-group">
    <input id="radio-button-1" class="bx--radio-button" type="radio" value="red" name="radio-button" tabindex="0" checked>
    <label for="radio-button-1" class="bx--radio-button__label">
      <span class="bx--radio-button__appearance"></span>
      Radio label text
    </label>
    <input id="radio-button-2" class="bx--radio-button" type="radio" value="red" name="radio-button" tabindex="0">
    <label for="radio-button-2" class="bx--radio-button__label">
      <span class="bx--radio-button__appearance"></span>
      Radio label text
    </label>
    <input id="radio-button-2" class="bx--radio-button" type="radio" value="red" name="radio-button" tabindex="0" disabled>
    <label for="radio-button-2" class="bx--radio-button__label">
      <span class="bx--radio-button__appearance"></span>
      Disabled radio label text
    </label>
  </div>
</div>
