%form-footer {
  height: em(120px);
  width: 100%;
  background: $color__form-footer--bg;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 2.5em 0;
  z-index: 4;
  border-top: 1px solid $color__form-footer--border-inside;
  outline: 1px solid $color__form-footer--border-outside;
  box-shadow: 0px -7px 7px 5px rgba(0, 0, 0, .25);
}

%form-footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

%container__information {
  display: flex;
}

%container__submit {
  display: flex;
  align-items: center;
}

%submit__price {
  font-weight: 100;
  letter-spacing: 1px; // !temporary
  margin-right: 1em;
}

%information__support {
  margin-right: 2em;
}

%support__question {
  @include type(1rem);
  padding: 0 0 .5em 0;
}

%support__link {
  font-weight: 600;
  color: $color__form-footer--link;
  text-decoration: none;
}

%save-settings__question {
  @include type(1rem);
  padding: 0 0 .5em 0;
}
