$color__form-footer--bg: $color__navy-gray-1;
$color__form-footer--border-inside: $color__navy-gray-3;
$color__form-footer--border-outside: $color__blue-30;
$color__form-footer--link: $color__blue-30;
