@mixin module--base {
  @include line-height('body');
  display: flex;
  flex-direction: column;
  max-height: rem(365px);
  padding-bottom: .5rem;
  margin-bottom: $module--margin;
  background-color: $color__navy-gray-3;

  @include light-ui {
    background-color: $color__white;
    border: 1px solid $color__navy-gray-8;
  }
}
