//-----------------------------
// Modals
//-----------------------------

@import '../../global/layout/grid';
@import '../../base-elements/buttons/buttons';
@import 'vars';
@import 'extends';
@import 'mixins';
@import '../../import-once';

@include exports('modules') {

// This is a section of modules
.bx--module {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: $module--max;
  margin: 1rem auto;

  // Override colors for a11y
  .bx--link {
    color: lighten($color__blue-30, 8%);

    @include light-ui {
      color: $color__blue-51;
    }
  }

  .bx--btn--secondary {
    @include btn--secondary(lighten($color__blue-30, 8%));

    @include light-ui {
      @include btn--secondary($color__blue-51);

      &:hover {
        color: $color__white;
      }
    }
  }
}

.bx--module {
  &--full {
    @include module--base;
    flex-basis: 100%;
    flex-grow: 1;
  }

  &--half {
    @include module--base;
    flex-basis: 100%;
    flex-grow: 1;
    width: 100%;

    @include breakpoint(bp--sm--major) {
      flex-basis: calc(50% - .5rem); // $module-margin/2 is .5rem -- calc wouldn't allow vars because it is CSS
    }
  }

  &--two-third {
    @include module--base;
    flex-basis: 100%;
    flex-grow: 1;
    width: 100%;

    @include breakpoint(bp--sm--major) {
      flex-basis: 66%;
    }
  }

  &--one-third {
    @include module--base;
    flex-basis: 100%;
    flex-grow: 1;
    width: 100%;

    @include breakpoint(bp--sm--major) {
      flex-basis: calc(33% - .5rem);
    }
  }

  &__header {
    @include font-size('14');
    font-weight: 700;
    color: $color__module-header;
    border-bottom: 1px solid $color__navy-gray-2;

    @include light-ui {
      color: $color__blue-90;
      border-bottom: 1px solid $color__navy-gray-8;
    }
  }

  &__footer {
    @include font-size('14');
    border-top: 1px solid $color__navy-gray-2;

    @include light-ui {
      border-top: 1px solid $color__navy-gray-8;
    }
  }

  &__header,
  &__body,
  &__footer {
    padding: $module--margin;
  }
}

}
