@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/import-once';
@import '../../globals/scss/vars';
@import '../../globals/scss/theme';

@include exports('skeleton-icon') {
  .#{$prefix}--icon--skeleton {
    @include skeleton;
    display: inline-block;
    width: rem(16px);
    height: rem(16px);
  }
}
