<ul>
  <li class="card" data-type="deployment">
    <a href="#" class="card__link-wrapper">
      <div class="card__info">
        <img src="images/card--icon.png" alt="card info icon" class="info__icon">
        <h3 class="info__name">deployment-card</h3>
        <a href="#" class="info__link">app-card.mybluemix.net</a>
      </div>
      <div class="card__bindings">
        <img src="images/runtime--js.jpeg" alt="card info icon" class="bindings__icon">
      </div>
      <div class="card__status">
        <span class="status__icon--running"></span>
        <p class="status__text--running">Running</p>
      </div>
    </a>
  </li>
</ul>
