//-----------------------------
// Card
//-----------------------------

@import '../../globals/scss/colors';
@import '../../globals/scss/helpers';
@import '../../globals/scss/typography';
@import '../buttons/mixins';
@import '../overflow-menu/overflow-menu';
@import 'mixins';
@import '../../globals/scss/import-once';

@include exports('card') {

.bx--card {
  @include reset;
  @include layer('raised');
  display: flex;
  flex-direction: column;
  width: rem(200px);
  height: rem(235px);
  background-color: $ui-01;
  border: 1px solid $ui-04;
}

.bx--card {

  &__card-overview {
    @include reset;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    text-align: center;
    height: 12rem;

    .bx--overflow-menu {
      z-index: z('overflowOptions');
      margin: 0;
      padding-top: 1rem;
    }
  }

  &__card-footer {
    @include reset;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: rem(53px);
    background-color: $ui-03;
  }
}

.bx--card-overview__about {
  @include reset;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  margin-right: -2rem;

  .bx--about__title {
    @include reset;
    font-weight: 300;
    padding-top: 1rem;
    margin-bottom: 1rem;

    &--name {
      @include reset;
      @include font-size('18');
      @include font-smoothing;
      @include text-overflow(rem(180px));
      font-weight: 400;
      margin-bottom: .25rem;
    }

    &--link {
      @include reset;
      @include font-size('12');
      @include text-overflow(rem(180px));
      color: $text-02;
      text-decoration: none;
    }

    &--additional-info {
      @include font-size('12');
      @include text-overflow(rem(180px));
      padding: 0;
      color: $text-02;

      &:first-child {
        padding-top: .25rem;
      }
    }
  }

  .bx--about__icon {
    @include reset;
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(55px);
    height: rem(55px);
    background-color: $ui-01;
    border: 1px solid $ui-04;
    border-radius: 100%;


    &--img {
      width: rem(35px);
      height: rem(35px);
      overflow: hidden;
      fill: $brand-02;
    }
  }
}

// APP CARD STYLES
.bx--card-footer__app-status {
  @include reset;

  .active {
    display: flex;
  }

  &--running {
    @include app-status('running');
  }

  &--not-running {
    @include app-status('not-running');
  }

  &--stopped {
    @include app-status('stopped');
  }

  &--limited {
    @include app-status('limited');
  }

  .bx--running__text,
  .bx--not-running__text,
  .bx--stopped__text {
    font-weight: 200;
    color: $text-01;
  }
}

.bx--card-footer__app-actions {
  display: flex;
  margin-right: .5rem;

  .bx--app-actions__button {
    @include font-size('16');
    display: inline-block;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background: none;
    border: none;

    &:hover {
      .bx--app-actions__button--icon {
        fill: $brand-01;
      }
    }

    &--icon {
      width: 1rem;
      height: 1rem;
      margin: 0 .3rem;
      transition: .2s;
      fill: $ui-05;
      cursor: pointer;
    }
  }
}

// SERVICE CARD STYLES
.bx--card--service__card-footer {
  height: 3.3rem;
}

.bx--card--service__card-overview {
  height: 12rem;
}

.bx--card-footer__credentials-button {
  @include btn--primary;
  @include font-size('12');
  margin-left: .5rem;

  &:hover {
    color: $inverse-01;
  }
}

.bx--card-footer__docs-link {
  @include font-size('12');
  padding: 0 .625rem;
  color: $brand-01;
}

// QUOTA CARD STYLES
.bx--card--quota {

  &__overview {
    display: flex;
    flex-direction: column;
    height: 15.325rem;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2rem 2.5rem 2rem;
    text-align: center;
  }
}

.card--quota {
  background-color: $ui-01;

  .bx--overview__description {
    @include font-size('14');
    color: $text-01;
    font-weight: 200;

    .bx--overview__main-number {
      @include font-size('46');
      color: $brand-01;
    }
  }

  .bx--overview__details-button {
    @include btn--secondary;
  }
}

}
