<article class="bx--card" tabindex="0" aria-labelledby="#card-title">
  <div class="bx--card__card-overview">
    <!-- OverflowMenu -->
    <div data-overflow-menu class="bx--overflow-menu" tabindex="0" aria-label="List of options">
      <svg class="bx--overflow-menu__icon">
        <use xlink:href="/@console/bluemix-icons/bluemix-icons.svg#icon--overflow-menu"></use>
      </svg>
      <ul class="bx--overflow-menu-options">
        <li class="bx--overflow-menu-options__option">
          <button type="button" class="bx--overflow-menu-options__btn">Stop App</button>
        </li>
        <li class="bx--overflow-menu-options__option">
          <button type="button" class="bx--overflow-menu-options__btn">Restart App</button>
        </li>
        <li class="bx--overflow-menu-options__option">
          <button type="button" class="bx--overflow-menu-options__btn">Restart App</button>
        </li>
        <li class="bx--overflow-menu-options__option">
          <button type="button" class="bx--overflow-menu-options__btn">Edit Routes and Access</button>
        </li>
        <li class="bx--overflow-menu-options__option bx--overflow-menu--divider">
          <button type="button" class="bx--overflow-menu-options__btn">Delete App</button>
        </li>
      </ul>
    </div>
    <div class="bx--card-overview__about">
      <figure class="bx--about__icon">
        <img src="/globals/assets/images/placeholder-icon-32x32.svg" alt="" class="bx--about__icon--img"/>
      </figure>
      <header class="bx--about__title">
        <h3 id="card-title" class="bx--about__title--name">Card Name</h3>
        <a href="" class="bx--link bx--about__title--link">Secondary Information</a>
      </header>
    </div>
  </div>
  <div class="bx--card-footer">
    <div class="bx--card-footer__app-status">
      <div class="bx--card-footer__app-status--running active">
        <div class="bx--running__text">Running</div>
      </div>
      <div class="bx--card-footer__app-status--not-running">
        <div class="bx--not-running__text">Not Running</div>
      </div>
      <div class="bx--card-footer__app-status--stopped">
        <div class="bx--stopped__text">Stopped</div>
      </div>
    </div>
    <div class="bx--card-footer__app-actions">
      <button class="bx--app-actions__button" id="restart-app" aria-label="restart-app">
        <svg class="bx--app-actions__button--icon">
          <use xlink:href="/@console/bluemix-icons/bluemix-icons.svg#icon--restart--glyph"></use>
        </svg>
      </button>
      <button class="bx--app-actions__button" id="load-app" aria-label="load-app">
        <svg class="bx--app-actions__button--icon">
          <use xlink:href="/@console/bluemix-icons/bluemix-icons.svg#icon--launch--glyph"></use>
        </svg>
      </button>
    </div>
  </div>
</article>
