<article class="bx--card" tabindex="0" aria-labelledby="card-title-2">
  <div class="bx--card__card-overview">
    <!-- OverflowMenu -->
    <div data-overflow-menu class="bx--overflow-menu" tabindex="0" aria-label="List of options">
      <svg class="bx--overflow-menu__icon" width="3" height="15" viewBox="0 0 3 15">
        <title>list of options</title>
        <g fill-rule="evenodd">
          <circle cx="1.5" cy="1.5" r="1.5" />
          <circle cx="1.5" cy="7.5" r="1.5" />
          <circle cx="1.5" cy="13.5" r="1.5" />
        </g>
      </svg>
      <ul class="bx--overflow-menu-options">
        <li class="bx--overflow-menu-options__option">
          <button type="button" class="bx--overflow-menu-options__btn">Stop App</button>
        </li>
        <li class="bx--overflow-menu-options__option">
          <button type="button" class="bx--overflow-menu-options__btn">Restart App</button>
        </li>
        <li class="bx--overflow-menu-options__option">
          <button type="button" class="bx--overflow-menu-options__btn">Restart App</button>
        </li>
        <li class="bx--overflow-menu-options__option">
          <button type="button" class="bx--overflow-menu-options__btn">Edit Routes and Access</button>
        </li>
        <li class="bx--overflow-menu-options__option bx--overflow-menu--divider">
          <button type="button" class="bx--overflow-menu-options__btn">Delete App</button>
        </li>
      </ul>
    </div>
    <section class="bx--card-overview__about">
      <figure class="bx--about__icon">
        <img src="/globals/assets/images/placeholder-icon-32x32.svg" alt="" class="bx--about__icon--img" />
      </figure>
      <header class="bx--about__title">
        <p id="card-title-2" class="bx--about__title--name bx--type-gamma" title="Card Name">Card Name</p>
        <p class="bx--about__title--additional-info bx--type-delta" title="Secondary Information">Secondary Information</p>
      </header>
  </div>
  </section>
  {{#unless hasStatus}}
  <footer class="bx--card-footer">
    <button class="bx--btn bx--btn--primary bx--btn--sm" type="button" title="View credentials">View credentials</button>
    <a href="" class="bx--card-footer__link">Docs</a>
  </footer>
  {{else}}
  <div class="bx--card-footer">
    <div class="bx--card-footer__app-status">
      <div class="bx--card-footer__app-status--running active">
        <div class="bx--running__text">Running</div>
      </div>
      <div class="bx--card-footer__app-status--not-running">
        <div class="bx--not-running__text">Not Running</div>
      </div>
      <div class="bx--card-footer__app-status--stopped">
        <div class="bx--stopped__text">Stopped</div>
      </div>
    </div>
    <div class="bx--card-footer__app-actions">
      <button class="bx--app-actions__button" id="restart-app" aria-label="restart-app">
        <svg class="bx--app-actions__button--icon" fill-rule="evenodd" height="16" name="restart" role="img" viewBox="0 0 13 16" width="13" aria-label="Restart App" alt="Restart App"><title>Restart App</title><path d="M10.948 3L8.542.727 9.23 0 13 3.564 9.228 7.108l-.685-.729L11.075 4H6.5A5.5 5.5 0 1 0 12 9.5h1A6.5 6.5 0 1 1 6.5 3h4.448z"></path></svg>
      </button>
      <button class="bx--app-actions__button" id="load-app" aria-label="load-app">
        <svg class="bx--app-actions__button--icon" fill-rule="evenodd" height="16" name="launch" role="img" viewBox="0 0 16 16" width="16" aria-label="Go To App" alt="Go To App"><title>Go To App</title><path d="M14.293 1H10.5V0H16v5.5h-1V1.707L9.697 7.01l-.707-.707L14.293 1z"></path><path d="M14.293 1H10.5V0H16v5.5h-1V1.707L9.697 7.01l-.707-.707L14.293 1z"></path><path d="M13 9h1v6a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h6.995v1H1v12h12V9z"></path></svg>
      </button>
    </div>
  </div>
  {{/unless}}
</article>
