<ul class='item-list--catalog'>
	<li class='catalog__item'>
		<div class="item__icon--catalog apache__spark"></div>
		<div class='item__text'>
			<p class='text__headline--catalog'>Apache Spark</p>
			<a class="text__action--catalog">More info...</a>
			<p class='text__desc--catalog'>Delivers 100x the performance of Apache Hadoop for certain workloads</p>
		</div>
	</li>
	<li class='catalog__item'>
		<div class="item__icon--catalog apache__spark"></div>
		<div class='item__text'>
			<p class='text__headline--catalog'>Apache Spark</p>
			<a class="text__action--catalog">More info...</a>
			<p class='text__desc--catalog'>Delivers 100x the performance of Apache Hadoop for certain workloads</p>
		</div>
	</li>
	<li class='catalog__item'>
		<div class="item__icon--catalog apache__spark"></div>
		<div class='item__text'>
			<p class='text__headline--catalog'>Apache Spark</p>
			<a class="text__action--catalog">More info...</a>
			<p class='text__desc--catalog'>Delivers 100x the performance of Apache Hadoop for certain workloads</p>
		</div>
	</li>
	<li class='catalog__item'>
		<div class="item__icon--catalog apache__spark"></div>
		<div class='item__text'>
			<p class='text__headline--catalog'>Apache Spark</p>
			<a class="text__action--catalog">More info...</a>
			<p class='text__desc--catalog'>Delivers 100x the performance of Apache Hadoop for certain workloads</p>
		</div>
	</li>
	<li class='catalog__item'>
		<div class="item__icon--catalog apache__spark"></div>
		<div class='item__text'>
			<p class='text__headline--catalog'>Apache Spark</p>
			<a class="text__action--catalog">More info...</a>
			<p class='text__desc--catalog'>Delivers 100x the performance of Apache Hadoop for certain workloads</p>
		</div>
	</li>
	<li class='catalog__item'>
		<div class="item__icon--catalog apache__spark"></div>
		<div class='item__text'>
			<p class='text__headline--catalog'>Apache Spark</p>
			<a class="text__action--catalog">More info...</a>
			<p class='text__desc--catalog'>Delivers 100x the performance of Apache Hadoop for certain workloads</p>
		</div>
	</li>
	<li class='catalog__item'>
		<div class="item__icon--catalog apache__spark"></div>
		<div class='item__text'>
			<p class='text__headline--catalog'>Apache Spark</p>
			<a class="text__action--catalog">More info...</a>
			<p class='text__desc--catalog'>Delivers 100x the performance of Apache Hadoop for certain workloads</p>
		</div>
	</li>
	<li class='catalog__item'>
		<div class="item__icon--catalog apache__spark"></div>
		<div class='item__text'>
			<p class='text__headline--catalog'>Apache Spark</p>
			<a class="text__action--catalog">More info...</a>
			<p class='text__desc--catalog'>Delivers 100x the performance of Apache Hadoop for certain workloads</p>
		</div>
	</li>		
</ul>

<ul class='item-list--summary'>
	<li class='summary__item'>
		<div class="item__icon--summary cloud__foundry"></div>
		<div class='item__text'>
			<p class='text__headline--summary'>Cloud Foundry</p>
			<a class="text__action--catalog">More info...</a>
			<p class='text__desc--summary'>Deploy App-centric runtime environments based on Cloud Foundry.</p>
		</div>
	</li>
	<li class='summary__item'>
		<div class="item__icon--summary cloud__foundry"></div>
		<div class='item__text'>
			<p class='text__headline--summary'>Cloud Foundry</p>
			<a class="text__action--catalog">More info...</a>
			<p class='text__desc--summary'>Deploy App-centric runtime environments based on Cloud Foundry.</p>
		</div>
	</li>
	<li class='summary__item'>
		<div class="item__icon--summary cloud__foundry"></div>
		<div class='item__text'>
			<p class='text__headline--summary'>Cloud Foundry</p>
			<a class="text__action--catalog">More info...</a>
			<p class='text__desc--summary'>Deploy App-centric runtime environments based on Cloud Foundry.</p>
		</div>
	</li>
	<li class='summary__item'>
		<div class="item__icon--summary cloud__foundry"></div>
		<div class='item__text'>
			<p class='text__headline--summary'>Cloud Foundry</p>
			<a class="text__action--catalog">More info...</a>
			<p class='text__desc--summary'>Deploy App-centric runtime environments based on Cloud Foundry.</p>
		</div>
	</li>
	<li class='summary__item'>
		<div class="item__icon--summary cloud__foundry"></div>
		<div class='item__text'>
			<p class='text__headline--summary'>Cloud Foundry</p>
			<a class="text__action--catalog">More info...</a>
			<p class='text__desc--summary'>Deploy App-centric runtime environments based on Cloud Foundry.</p>
		</div>
	</li>
	<li class='summary__item'>
		<div class="item__icon--summary cloud__foundry"></div>
		<div class='item__text'>
			<p class='text__headline--summary'>Cloud Foundry</p>
			<a class="text__action--catalog">More info...</a>
			<p class='text__desc--summary'>Deploy App-centric runtime environments based on Cloud Foundry.</p>
		</div>
	</li>
</ul>