<ul class='item-list--catalog'>
	<li class='catalog__item'>
		<img src='../../images/icon-example.png' class='item__icon--catalog'>
		<div class='item__text'>
			<p class='text__headline--catalog'>Apache Spark</p>
			<p class='text__desc--catalog'>Delivers 100x the performance of Apache Hadoop for certain workloads</p>
		</div>
	</li>
	<li class='catalog__item'>
		<img src='../../images/icon-example.png' class='item__icon--catalog'>
		<div class='item__text'>
			<p class='text__headline--catalog'>Apache Spark</p>
			<p class='text__desc--catalog'>Delivers 100x the performance of Apache Hadoop for certain workloads</p>
		</div>
	</li>
	<li class='catalog__item'>
		<img src='../../images/icon-example.png' class='item__icon--catalog'>
		<div class='item__text'>
			<p class='text__headline--catalog'>Apache Spark</p>
			<p class='text__desc--catalog'>Delivers 100x the performance of Apache Hadoop for certain workloads</p>
		</div>
	</li>
	<li class='catalog__item'>
		<img src='../../images/icon-example.png' class='item__icon--catalog'>
		<div class='item__text'>
			<p class='text__headline--catalog'>Apache Spark</p>
			<p class='text__desc--catalog'>Delivers 100x the performance of Apache Hadoop for certain workloads</p>
		</div>
	</li>
	<li class='catalog__item'>
		<img src='../../images/icon-example.png' class='item__icon--catalog'>
		<div class='item__text'>
			<p class='text__headline--catalog'>Apache Spark</p>
			<p class='text__desc--catalog'>Delivers 100x the performance of Apache Hadoop for certain workloads</p>
		</div>
	</li>
	<li class='catalog__item'>
		<img src='../../images/icon-example.png' class='item__icon--catalog'>
		<div class='item__text'>
			<p class='text__headline--catalog'>Apache Spark</p>
			<p class='text__desc--catalog'>Delivers 100x the performance of Apache Hadoop for certain workloads</p>
		</div>
	</li>
	<li class='catalog__item'>
		<img src='../../images/icon-example.png' class='item__icon--catalog'>
		<div class='item__text'>
			<p class='text__headline--catalog'>Apache Spark</p>
			<p class='text__desc--catalog'>Delivers 100x the performance of Apache Hadoop for certain workloads</p>
		</div>
	</li>
	<li class='catalog__item'>
		<img src='../../images/icon-example.png' class='item__icon--catalog'>
		<div class='item__text'>
			<p class='text__headline--catalog'>Apache Spark</p>
			<p class='text__desc--catalog'>Delivers 100x the performance of Apache Hadoop for certain workloads</p>
		</div>
	</li>		
</ul>

<ul class='item-list--summary'>
	<li class='summary__item'>
		<img src='../../images/icon-example-s.png' class='item__icon--summary'>
		<div class='item__text'>
			<p class='text__headline--summary'>Cloud Foundry</p>
			<p class='text__desc--summary'>Deploy App-centric runtime environments based on Cloud Foundry.</p>
		</div>
	</li>
	<li class='summary__item'>
		<img src='../../images/icon-example-s.png' class='item__icon--summary'>
		<div class='item__text'>
			<p class='text__headline--summary'>Cloud Foundry</p>
			<p class='text__desc--summary'>Deploy App-centric runtime environments based on Cloud Foundry.</p>
		</div>
	</li>
	<li class='summary__item'>
		<img src='../../images/icon-example-s.png' class='item__icon--summary'>
		<div class='item__text'>
			<p class='text__headline--summary'>Cloud Foundry</p>
			<p class='text__desc--summary'>Deploy App-centric runtime environments based on Cloud Foundry.</p>
		</div>
	</li>
	<li class='summary__item'>
		<img src='../../images/icon-example-s.png' class='item__icon--summary'>
		<div class='item__text'>
			<p class='text__headline--summary'>Cloud Foundry</p>
			<p class='text__desc--summary'>Deploy App-centric runtime environments based on Cloud Foundry.</p>
		</div>
	</li>
	<li class='summary__item'>
		<img src='../../images/icon-example-s.png' class='item__icon--summary'>
		<div class='item__text'>
			<p class='text__headline--summary'>Cloud Foundry</p>
			<p class='text__desc--summary'>Deploy App-centric runtime environments based on Cloud Foundry.</p>
		</div>
	</li>
	<li class='summary__item'>
		<img src='../../images/icon-example-s.png' class='item__icon--summary'>
		<div class='item__text'>
			<p class='text__headline--summary'>Cloud Foundry</p>
			<p class='text__desc--summary'>Deploy App-centric runtime environments based on Cloud Foundry.</p>
		</div>
	</li>
</ul>