//-----------------------------
// Tiles
//-----------------------------

@import '../../globals/scss/colors';
@import '../../globals/scss/layer';
@import '../../globals/scss/typography';
@import '../../globals/scss/import-once';
@import '../../globals/scss/css--reset';
@import '../../globals/scss/css--typography';

@include exports('tile') {
  .bx--tile {
    @include layer('raised');
    display: block;
    min-width: 8rem;
    min-height: 4rem;
    background-color: $ui-01;
    border: 1px solid $ui-03;
    position: relative;
    padding: 1rem;

    &:focus {
      @include focus-outline('border');
    }
  }

  .bx--tile--clickable,
  .bx--tile--selectable,
  .bx--tile--expandable {
    transition: $transition--base $bx--standard-easing;
    cursor: pointer;

    &:hover {
      border: 1px solid $ui-04;
    }

    &:hover,
    &:focus {
      .bx--tile__checkmark {
        opacity: 1;
      }

      .bx--tile__chevron svg {
        fill: $brand-01;
      }
    }
  }

  .bx--tile--clickable,
  .bx--tile--expandable {
    &:focus {
      @include focus-outline('border');
    }
  }

  .bx--tile--selectable {
    padding-right: 3rem;
  }

  .bx--tile--selectable:focus {
    outline: none;
    border: 1px solid $brand-01;
  }

  .bx--tile--is-clicked {
    @include layer('flat');
    border: 1px solid $ui-04;
  }

  .bx--tile__checkmark,
  .bx--tile__chevron {
    position: absolute;
    transition: $transition--base $bx--standard-easing;
    border: none;
    background: transparent;

    &:focus {
      @include focus-outline;
    }
  }

  .bx--tile__checkmark {
    height: 1rem;
    top: 1rem;
    right: 1rem;
    opacity: 0;

    svg {
      border-radius: 50%;
      background-color: rgba($ui-01, .25);
      fill: rgba($brand-01, .25);
    }
  }

  .bx--tile__chevron {
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    height: 1rem;

    svg {
      transform-origin: center;
      transition: $transition--base $bx--standard-easing;
      fill: $ui-05;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .bx--tile--expandable {
    overflow: hidden;
    cursor: default;
    transition: $transition--base $bx--standard-easing;
  }

  .bx--tile-content__above-the-fold {
    display: block;
  }

  .bx--tile-content__below-the-fold {
    display: block;
    opacity: 0;
    transition: $transition--base $bx--standard-easing;
  }

  .bx--tile--is-expanded {
    overflow: visible;
    transition: $transition--base $bx--standard-easing;

    .bx--tile__chevron svg {
      transform: rotate(-180deg) translateY(4px);
    }

    .bx--tile-content__below-the-fold {
      opacity: 1;
      transition: $transition--base $bx--standard-easing;
    }
  }

  .bx--tile--is-selected,
  .bx--tile--is-selected:hover,
  .bx--tile--is-selected:focus {
    border: 1px solid $brand-01;
    outline: none;
  }

  .bx--tile-input:checked {
    & + .bx--tile__checkmark {
      opacity: 1;
    }

    & + .bx--tile__checkmark svg {
      fill: $brand-01;
      background-color: $ui-01;
    }
  }

  .bx--tile-content {
    width: 100%;
    height: 100%;
  }

  .bx--tile-input {
    display: none;
  }
}
