<label for="tile-id" aria-label="tile" class="bx--tile bx--tile--selectable" data-tile="selectable" tabindex="0">
  <input tabindex="-1" data-tile-input id="tile-id" class="bx--tile-input" value="tile" type="checkbox" name="tiles" title="tile" />
  <div class="bx--tile__checkmark">
    <svg width='20' height='20' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:none;}</style></defs><title>Carbon—Duo</title><g id="Icon"><path d="M16,2A14,14,0,1,0,30,16,14,14,0,0,0,16,2Zm0,26A12,12,0,1,1,28,16,12,12,0,0,1,16,28Z"/><path d="M23,12.41,21.59,11,14,18.6,10.41,15,9,16.42l5,5Z"/></g><g id="Transparent_Rectangle" data-name="Transparent Rectangle"><rect class="cls-1" x="-0.01" width="32" height="32"/></g></svg>
  </div>
  <div class="bx--tile-content">
  <!-- Tile content here -->
  </div>
</label>
