<label for="tile-id" aria-label="tile" class="bx--tile bx--tile--selectable" data-tile="selectable" tabindex="0">
  <input tabindex="-1" data-tile-input id="tile-id" class="bx--tile-input" value="tile" type="checkbox" name="tiles" title="tile" />
  <div class="bx--tile__checkmark">
    <svg width='16' height='16' viewBox='0 0 16 16' fill-rule='evenodd'>
      <path d='M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zM6.7 11.5L3.4 8.1l1.4-1.4 1.9 1.9 4.1-4.1 1.4 1.4-5.5 5.6z'></path>
    </svg>
  </div>
  <div class="bx--tile-content">
  <!-- Tile content here -->
  </div>
</label>
