<h3 style="margin-top: 400px">Tile Demo</h3>

<div class="bx--tile-container">

  <div class="bx--grid" style="width: 100%">
    <div class="bx--row">
      <div class="bx--col bx--col-md-12">
        <div class="bx--tile" tabindex="0"></div>
      </div>
    </div>
    <div class="bx--row">
      <div class="bx--col bx--col-sm-6 bx--col-xs-6">
        <div data-tile class="bx--tile" tabindex="0"></div>
      </div>
      <div class="bx--col bx--col-sm-6 bx--col-xs-6">
        <div class="bx--tile" tabindex="0"></div>
      </div>
    </div>
    <div class="bx--row">
      <div class="bx--col bx--col-md-4 bx--col-sm-4">
        <div class="bx--tile" tabindex="0"></div>
      </div>
      <div class="bx--col bx--col-md-4 bx--col-sm-4">
        <div class="bx--tile" tabindex="0"></div>
      </div>
      <div class="bx--col bx--col-md-4 bx--col-sm-4">
        <div class="bx--tile" tabindex="0"></div>
      </div>
    </div>
    <div class="bx--row">
      <div class="bx--col bx--col-md-3 bx--col-sm-12">
        <div class="bx--tile" tabindex="0"></div>
      </div>
      <div class="bx--col bx--col-md-3 bx--col-sm-12">
        <div class="bx--tile" tabindex="0"></div>
      </div>
      <div class="bx--col bx--col-md-3 bx--col-sm-12">
        <div class="bx--tile" tabindex="0"></div>
      </div>
      <div class="bx--col bx--col-md-3 bx--col-sm-12">
        <div class="bx--tile" tabindex="0"></div>
      </div>
    </div>
    <div class="bx--row">
      <div class="bx--col bx--col-lg-2 bx--col-md-12">
        <div class="bx--tile" tabindex="0"></div>
      </div>
      <div class="bx--col bx--col-lg-2 bx--col-md-12">
        <div class="bx--tile" tabindex="0"></div>
      </div>
      <div class="bx--col bx--col-lg-2 bx--col-md-12">
        <div class="bx--tile" tabindex="0"></div>
      </div>
      <div class="bx--col bx--col-lg-2 bx--col-md-12">
        <div class="bx--tile" tabindex="0"></div>
      </div>
      <div class="bx--col bx--col-lg-2 bx--col-md-12">
        <div class="bx--tile" tabindex="0"></div>
      </div>
      <div class="bx--col bx--col-lg-2 bx--col-md-12">
        <div class="bx--tile" tabindex="0"></div>
      </div>
    </div>
    <div class="bx--row">
      <div class="bx--col bx--col-md-8 bx--col-sm-8">
        <div class="bx--tile" tabindex="0"></div>
      </div>
      <div class="bx--col bx--col-md-4 bx--col-sm-4">
        <div class="bx--tile" tabindex="0"></div>
      </div>
    </div>
  </div>

</div>
