<div class="bx--grid">

  <div class="bx--tile-container" style="width: 100%">
    <div class="bx--row">
      <div class="bx--col bx--col-md-12">
        <div data-tile="expandable" class="bx--tile bx--tile--expandable" tabindex="0">
          <button class="bx--tile__chevron">
            <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:none;}</style></defs><title>Carbon—Duo</title><g id="Icon"><polygon points="16 22 7 13 8.41 11.59 16 19.17 23.59 11.59 25 13 16 22"/></g><g id="Transparent_Rectangle" data-name="Transparent Rectangle"><rect class="cls-1" width="32" height="32" transform="translate(0 32) rotate(-90)"/></g></svg>              
          </button>
          <div class="bx--tile-content">
            <span data-tile-atf class="bx--tile-content__above-the-fold" style="height: 200px">
              <!-- Above the fold content here -->
              <h2>Above the fold content here</h2>
            </span>
            <span class="bx--tile-content__below-the-fold" style="height: 400px">
              <!-- Rest of the content here -->
              <h2>Below the fold content here</h2>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="bx--row">
      <div class="bx--col bx--col-sm-6 bx--col-xs-6">
        <label for="tile-id-1" aria-label="tile" class="bx--tile bx--tile--selectable" data-tile="selectable" tabindex="0">
          <input tabindex="-1" id="tile-id-1" class="bx--tile-input" data-tile-input value="tile" type="checkbox" name="tiles" title="tile" />
          <div class="bx--tile__checkmark">
            <svg width='20' height='20' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:none;}</style></defs><title>Carbon—Duo</title><g id="Icon"><path d="M16,2A14,14,0,1,0,30,16,14,14,0,0,0,16,2Zm0,26A12,12,0,1,1,28,16,12,12,0,0,1,16,28Z"/><path d="M23,12.41,21.59,11,14,18.6,10.41,15,9,16.42l5,5Z"/></g><g id="Transparent_Rectangle" data-name="Transparent Rectangle"><rect class="cls-1" x="-0.01" width="32" height="32"/></g></svg>              
          </div>
          <div class="bx--tile-content">
          <!-- Tile content here -->
          </div>
        </label>
      </div>
      <div class="bx--col bx--col-sm-6 bx--col-xs-6">
        <label for="tile-id-2" aria-label="tile-2" class="bx--tile bx--tile--selectable" data-tile="selectable" tabindex="0">
          <input tabindex="-1" id="tile-id-2" class="bx--tile-input" data-tile-input value="tile-2" type="checkbox" name="tiles" title="tile-2" />
          <div class="bx--tile__checkmark">
            <svg width='20' height='20' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:none;}</style></defs><title>Carbon—Duo</title><g id="Icon"><path d="M16,2A14,14,0,1,0,30,16,14,14,0,0,0,16,2Zm0,26A12,12,0,1,1,28,16,12,12,0,0,1,16,28Z"/><path d="M23,12.41,21.59,11,14,18.6,10.41,15,9,16.42l5,5Z"/></g><g id="Transparent_Rectangle" data-name="Transparent Rectangle"><rect class="cls-1" x="-0.01" width="32" height="32"/></g></svg>              
          </div>
          <div class="bx--tile-content">
          <!-- Tile content here -->
          </div>
        </label>
      </div>
    </div>
    <div class="bx--row">
      <div class="bx--col bx--col-md-4 bx--col-sm-4">
        <a data-tile="clickable" class="bx--tile bx--tile--clickable" tabindex="0"></a>
      </div>
      <div class="bx--col bx--col-md-4 bx--col-sm-4">
        <a data-tile="clickable" class="bx--tile bx--tile--clickable" tabindex="0"></a>
      </div>
      <div class="bx--col bx--col-md-4 bx--col-sm-4">
        <a data-tile="clickable" class="bx--tile bx--tile--clickable" tabindex="0"></a>
      </div>
    </div>
    <div class="bx--row">
      <div class="bx--col bx--col-md-3 bx--col-sm-12">
        <div class="bx--tile"></div>
      </div>
      <div class="bx--col bx--col-md-3 bx--col-sm-12">
        <div class="bx--tile"></div>
      </div>
      <div class="bx--col bx--col-md-3 bx--col-sm-12">
        <div class="bx--tile"></div>
      </div>
      <div class="bx--col bx--col-md-3 bx--col-sm-12">
        <div class="bx--tile"></div>
      </div>
    </div>
    <div class="bx--row">
      <div class="bx--col bx--col-lg-2 bx--col-md-12">
        <div class="bx--tile"></div>
      </div>
      <div class="bx--col bx--col-lg-2 bx--col-md-12">
        <div class="bx--tile"></div>
      </div>
      <div class="bx--col bx--col-lg-2 bx--col-md-12">
        <div class="bx--tile"></div>
      </div>
      <div class="bx--col bx--col-lg-2 bx--col-md-12">
        <div class="bx--tile"></div>
      </div>
      <div class="bx--col bx--col-lg-2 bx--col-md-12">
        <div class="bx--tile"></div>
      </div>
      <div class="bx--col bx--col-lg-2 bx--col-md-12">
        <div class="bx--tile"></div>
      </div>
    </div>
    <div class="bx--row">
      <div class="bx--col bx--col-md-8 bx--col-sm-8">
        <div class="bx--tile"></div>
      </div>
      <div class="bx--col bx--col-md-4 bx--col-sm-4">
        <div class="bx--tile"></div>
      </div>
    </div>
  </div>

</div>
