// General table styles
%table-section {
  @extend %helvetica-normal;

  width: 100%;
  max-width: 100%;

  color: $color__table-text;
  background-color: transparent;

  border-collapse: collapse;
  border-spacing: 0;

  &__header {
    border-bottom: 4px solid $color__table--blue;
  }
}

%header__row--heading {
  padding: $cell-padding;

  color: $color__header-text;

  text-align: left;
}

// Commented code is not being used, remove later
// %body__row {
//   &:hover,
//     &:focus {
//       background-color: $color__table--light-blue;
//     }
//
//     &--cell {
//       padding: $cell-padding;
//   }
// }

%footer__row {
  &--cell {
    padding: $cell-padding;
  }
}
