////////////////////
// Variables
///////////////////

// Colors
$color__table--blue: color('blue');
$color__table--light-blue: #d5eaff;
$color__table-text: color('cool-gray', 40);

// Spacing
$cell-padding: em(8px);
