@import '../../globals/scss/colors';
@import '../../globals/scss/css--reset';
@import '../../globals/scss/typography';
// @import '../../globals/scss/css--helpers';
@import '../../globals/scss/mixins';
@import '../../globals/scss/vars';
@import '../../globals/scss/layout';
@import '../../globals/scss/import-once';

.bx--descriptive-list-input {
  @include hidden;
}

.bx--descriptive-list {
  @include reset;
  @include helvetica;
  display: table;
  overflow-x: auto;
  overflow-y: hidden;
  border-collapse: separate;
  border-spacing: 2px;
  background-color: $ui-01;
  width: 100%;
  min-width: 500px;
  border-collapse: collapse;
  border-spacing: 0;
}

.bx--descriptive-list-row {
  cursor: pointer;
  display: table-row;
  padding-left: 1rem;

  &.bx--descriptive-list-row--header-row {
    border-bottom: 1px solid $brand-01;
  }

  &:hover:not(.bx--descriptive-list-row--header-row) {
    background-color: rgba($brand-02, .1);
  }
}

.bx--descriptive-list-thead {
  display: table-header-group;
  vertical-align: middle;
}

.bx--descriptive-list-th {
  @include reset;
  display: table-cell;
  font-size: rem(12px);
  font-weight: 700;
  height: rem(40px);
  letter-spacing: 1px;
  padding: rem(9px) rem(6px);
  text-align: left;
  text-transform: uppercase;
  vertical-align: middle;
}

.bx--descriptive-list-tbody {
  display: table-row-group;
  vertical-align: middle;
}

.bx--descriptive-list-td {
  position: relative;
  display: table-cell;
  padding: 1rem .5rem;
  vertical-align: middle;
  font-size: rem(14px);
}

.bx--descriptive-list-content {
  @include line-height('body');
}

.bx--descriptive-list-content--nowrap {
  white-space: nowrap;
}

.bx--descriptive-list-svg {
  display: inline-block;
  fill: transparent;
  padding: 0 .4rem;

  .bx--descriptive-list-row:hover & {
    fill: rgba($brand-02, .1);
  }

  .bx--descriptive-list-input:checked + .bx--descriptive-list-row & {
    fill: $brand-02;
  }
}
