<section class="bx--descriptive-list">
  <div class="bx--descriptive-list-thead">
    <div class="bx--descriptive-list-row bx--descriptive-list-row--header-row">
      <div class="bx--descriptive-list-th">service</div>
      <div class="bx--descriptive-list-th">type</div>
    </div>
  </div>
  <div class="bx--descriptive-list-tbody">
    <div class="bx--descriptive-list-row" tabindex="0">
      <div class="bx--descriptive-list-td bx--descriptive-list-content--nowrap"><strong>Apache Spark</strong></div>
      <div class="bx--descriptive-list-td">IBM</div>
    </div>
    <div class="bx--descriptive-list-row" tabindex="0">
      <div class="bx--descriptive-list-td bx--descriptive-list-content--nowrap"><strong>Cloudant</strong></div>
      <div class="bx--descriptive-list-td">
        <p class="bx--descriptive-list-content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem quia adipisci velit cum nesciunt officia voluptatum delectus
          facilis tenetur quidem ex, unde qui dignissimos voluptatibus magnam mollitia tempora nostrum. Similique?
        </p>
      </div>
    </div>
  </div>
</section>
