<div class="bx--responsive-table-container bx--select-list-container">
  <fieldset class="bx--fieldset">
    <legend class="bx--visually-hidden" aria-label="choose a service"></legend>
    <table class="bx--responsive-table bx--select-list">
      <thead class="bx--table-head">
        <tr class="bx--table-row bx--select-list__header-row">
          <th class="bx--table-header"></th>
          <th class="bx--table-header">service</th>
          <th class="bx--table-header">type</th>
        </tr>
      </thead>
      <tbody class="bx--table-body">
        <label for="first-row">
          <input class="" type="radio" id="first-row" name="services" checked />
          <tr class="bx--table-row bx--select-list__row">
            <td>
              <svg
                class="bx--select-list-svg"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill-rule="evenodd">
                <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zM6.7 11.5L3.4 8.1l1.4-1.4 1.9 1.9 4.1-4.1 1.4 1.4-5.5 5.6z">
                </path>
              </svg>
            </td>
            <td>
              Apache Spark
            </td>
            <td>
              IBM
            </td>
          </tr>
        </label>
        <tr class="bx--table-row bx--select-list__row">
          <td>
            <input class="bx--visually-hidden" type="radio" id="second-row" name="services" />
            <label for="second-row" aria-label="apache spark">
              <svg
                class="bx--select-list-svg"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill-rule="evenodd">
                <path
                   d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zM6.7 11.5L3.4 8.1l1.4-1.4 1.9 1.9 4.1-4.1 1.4 1.4-5.5 5.6z">                </path>
              </svg>
            </label>
          </td>
          <td>
            <label for="second-row">BigInsights for Hadoop</label>
          </td>
          <td>
            <label for="second-row">Community</label>
          </td>
        </tr>
      </tbody>
    </table>
  </fieldset>
</div>
