<div data-overflow-menu class="bx--overflow-menu" tabindex="0" aria-label="List of options">
  <svg class="bx--overflow-menu__icon">
    <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v5/img/bluemix-icons.svg#overflow-menu"></use>
  </svg>
  <ul class="bx--overflow-menu__options">
    <li><button type="button" class="bx--overflow-menu__btn">Stop app</button></li>
    <li><button type="button" class="bx--overflow-menu__btn">Restart app</button></li>
    <li><button type="button" class="bx--overflow-menu__btn">Rename app</button></li>
    <li><button type="button" class="bx--overflow-menu__btn">Edit routes and access</button></li>
    <hr/>
    <li><button type="button" class="bx--overflow-menu__btn--delete">Delete app</button></li>
  </ul>
</div>
