<nav data-tabs class="bx--tabs" role="navigation">
  <div class="bx--tabs__trigger">
    <a href="javascript:void(0)" class="bx--tabs__trigger-text"></a>
    <svg><use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v5/img/bluemix-icons.svg#caret--down"></use></svg>
  </div>
  <ul class="bx--tabs__nav bx--tabs--hidden" role="tablist">
    <li class="bx--tabs__nav-item bx--tabs--selected" data-target=".demo--panel--overview" role="presentation"><a id="tab-link-1" class="bx--tabs__nav-link" href="javascript:void(0)" role="tab" aria-controls="tab-panel-1" aria-selected="true">Subtab 1</a></li>
    <li class="bx--tabs__nav-item" data-target=".demo--panel--containers" role="presentation"><a id="tab-link-2" class="bx--tabs__nav-link" href="javascript:void(0)" role="tab" aria-controls="tab-panel-2" aria-selected="false">Subtab 2</a></li>
    <li class="bx--tabs__nav-item" data-target=".demo--panel--connected" role="presentation"><a id="tab-link-3" class="bx--tabs__nav-link" href="javascript:void(0)" role="tab" aria-controls="tab-panel-3" aria-selected="false">Subtab 3</a></li>
    <li class="bx--tabs__nav-item" data-target=".demo--panel--manage" role="presentation"><a id="tab-link-4" class="bx--tabs__nav-link" href="javascript:void(0)" role="tab" aria-controls="tab-panel-4" aria-selected="false">Subtab 4</a></li>
    <li class="bx--tabs__nav-item" data-target=".demo--panel--api-reference" role="presentation"><a id="tab-link-5" class="bx--tabs__nav-link" href="javascript:void(0)" role="tab" aria-controls="tab-panel-5" aria-selected="false">Subtab 5</a></li>
  </ul>
</nav>
<!-- The markup below is for demonstration purposes only -->
<div class="demo--panels">
  <div id="tab-panel-1" class="demo--panel demo--panel--overview bx--tabs--selected" role="tabpanel" aria-labelledby="tab-link-1" aria-hidden="false">
    <div class="bx--module--full">
      <h2 class="bx--module__header">Overview</h2>
      <div class="bx--module__body">
        <p>Lorem Ipsum is the dummy text of the printing
        and typesetting industry. Lorem Ipsum has been the industry's standard
        dummy text ever since the 1500s, when an unknown printer took a galley of
        type and scrambled it to make a type specimen book.</p>
        <p>It has survived not only five centuries, but also the leap into
          electronic typesetting, remaining essentially unchanged.</p>
      </div>
    </div>
  </div>
  <div id="tab-panel-2" class="demo--panel demo--panel--containers" role="tabpanel" aria-labelledby="tab-link-2" aria-hidden="true">
    <div class="bx--module--full">
      <h2 class="bx--module__header">Containers Files</h2>
      <div class="bx--module__body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
           eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
           enim ad minim veniam, quis nostrud exercitation ullamco laboris
           nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
           reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
           Excepteur sint occaecat cupidatat non proident.</p>
      </div>
    </div>
  </div>
  <div id="tab-panel-3" class="demo--panel demo--panel--connected" role="tabpanel" aria-labelledby="tab-link-3" aria-hidden="true">
    <div class="bx--module--full">
      <h2 class="bx--module__header">Connected Objects</h2>
      <div class="bx--module__body">
        <p>Lorem Ipsum is the dummy text of the printing
        and typesetting industry. Lorem Ipsum has been the industry's standard
        dummy text ever since the 1500s, when an unknown printer took a galley of
        type and scrambled it to make a type specimen book.</p>
        <p>It has survived not only five centuries, but also the leap into
          electronic typesetting, remaining essentially unchanged.</p>
      </div>
    </div>
  </div>
  <div id="tab-panel-4" class="demo--panel demo--panel--manage" role="tabpanel" aria-labelledby="tab-link-4" aria-hidden="true">
    <div class="bx--module--full">
      <h2 class="bx--module__header">Manage</h2>
      <div class="bx--module__body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
           eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
           enim ad minim veniam, quis nostrud exercitation ullamco laboris
           nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
           reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
           Excepteur sint occaecat cupidatat non proident.</p>
      </div>
    </div>
  </div>
  <div id="tab-panel-5" class="demo--panel demo--panel--api-reference" role="tabpanel" aria-labelledby="tab-link-5" aria-hidden="true">
    <div class="bx--module--full">
      <h2 class="bx--module__header">API Reference</h2>
      <div class="bx--module__body">
        <p>Lorem Ipsum is the dummy text of the printing
        and typesetting industry. Lorem Ipsum has been the industry's standard
        dummy text ever since the 1500s, when an unknown printer took a galley of
        type and scrambled it to make a type specimen book.</p>
        <p>It has survived not only five centuries, but also the leap into
          electronic typesetting, remaining essentially unchanged.</p>
      </div>
    </div>
  </div>
</div>
