// @import '_partials/mixins';

// body {
//   @include body;
// }

// .light-theme {
//   @include body('light');
// }

body {
  @extend %helvetica;

  background-color: $blue--dark;
  color: $white;

  &.light-theme {
    background-color: $white; // !temporary
    color: $black; // !temporary
  }
}
