@import '~carbon-components/scss/globals/scss/vars';
@import '~carbon-components/scss/globals/scss/colors';
@import '~carbon-components/scss/globals/scss/typography';

p {
  @include type-style('body-short-02');

  margin-top: $spacing-05;
}

// Grid modes
.bx--css-grid {
  background-color: $blue-20;
  outline: 1px dashed $blue-40;
}

.bx--css-grid p {
  @include type-style('code-02');
}

p:first-of-type:not(.bx--progress-label) {
  //messing up progress indicator stories
  margin-top: 0;
}

.bx--css-grid.bx--css-grid--narrow {
  background-color: $teal-20;
  outline: 1px dashed $teal-40;
}

.bx--css-grid.bx--css-grid--condensed {
  background-color: $purple-20;
  outline: 1px dashed $purple-40;
}

// Only use background for subgrid example, not other subgrids in "mixed modes" story or others
.bx--subgrid.example {
  background-color: $green-20;
}

// Columns
.bx--css-grid > [class*='col'],
.bx--subgrid > [class*='col'] {
  min-height: 80px;
}

.bx--css-grid > [class*='col'] {
  background: $blue-10;
}

.bx--subgrid > [class*='col'] {
  background: $green-10;
  outline: 1px dashed $green-30;
}

.bx--css-grid.bx--css-grid--narrow > [class*='col'] {
  background: $teal-10;
}

.bx--css-grid.bx--css-grid--condensed > [class*='col'] {
  background: $purple-10;
}
