@use '../../../../scss/config' with (
  $prefix: 'cds'
);
@use '../../../../scss/grid';
@use '../../../../scss/colors' as *;
@use '../../../../scss/spacing' as *;
@use '../../../../scss/type' as *;

p {
  @include type-style('body-short-02');

  margin-top: $spacing-05;
}

// Gutter modes
.cds--css-grid {
  background-color: $blue-20;
  outline: 1px dashed $blue-40;
}

.cds--css-grid p {
  @include type-style('code-02');
}

p:first-of-type:not(.cds--progress-label) {
  //messing up progress indicator stories
  margin-top: 0;
}

.cds--css-grid.cds--css-grid--condensed {
  background-color: $purple-20;
  outline: 1px dashed $purple-40;
}

// Only use background for subgrid example, not other subgrids in "mixed modes" story or others
.cds--subgrid.example {
  background-color: $green-20;
}

// Columns
.cds--css-grid > [class*='col'],
.cds--subgrid > [class*='col'] {
  min-height: 80px;
}

.cds--css-grid > [class*='col'] {
  background: $blue-10;
}

.cds--subgrid > [class*='col'] {
  background: $green-10;
  outline: 1px dashed $green-30;
}

.cds--css-grid.cds--css-grid--condensed > [class*='col'] {
  background: $purple-10;
}
