@use '../../config' as *;
@use '../../colors' as *;
@use '../../motion' as *;
@use '../../theme' as *;
@use '../../type' as *;
@use '../../utilities/convert';

$sizes: (
  mini: (
    height: convert.to-rem(16px),
    width: convert.to-rem(16px),
    font-size: convert.to-rem(9px),
    line-height: convert.to-rem(12px),
    background: $slug-background,
  ),
  2xs: (
    height: convert.to-rem(20px),
    width: convert.to-rem(20px),
    font-size: convert.to-rem(12px),
    line-height: convert.to-rem(16px),
    background: $slug-background,
  ),
  xs: (
    height: convert.to-rem(24px),
    width: convert.to-rem(24px),
    font-size: convert.to-rem(12px),
    line-height: convert.to-rem(16px),
    background: $slug-gradient,
  ),
  sm: (
    height: convert.to-rem(32px),
    width: convert.to-rem(32px),
    font-size: convert.to-rem(16px),
    line-height: convert.to-rem(21px),
    background: $slug-gradient,
  ),
  md: (
    height: convert.to-rem(40px),
    width: convert.to-rem(40px),
    font-size: convert.to-rem(16px),
    line-height: convert.to-rem(21px),
    background: $slug-gradient,
  ),
  lg: (
    height: convert.to-rem(48px),
    width: convert.to-rem(48px),
    font-size: convert.to-rem(16px),
    line-height: convert.to-rem(21px),
    background: $slug-gradient,
  ),
  xl: (
    height: convert.to-rem(64px),
    width: convert.to-rem(64px),
    font-size: convert.to-rem(20px),
    line-height: convert.to-rem(26px),
    background: $slug-gradient,
  ),
);

/// Slug styles
/// @access public
/// @group slider
@mixin slug {
  .#{$prefix}--ai-slug {
    display: flex;
  }

  .#{$prefix}--ai-slug .#{$prefix}--ai-slug__button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $text-inverse;
    font-weight: 600;
    transition: box-shadow $duration-fast-01 motion(entrance, productive);

    @each $group, $size in $sizes {
      // Create a class for each size slug
      &--#{$group} {
        @each $property, $value in $size {
          // Set correct properties for each size
          #{$property}: $value;
        }
      }
    }
  }

  .#{$prefix}--ai-slug .#{$prefix}--ai-slug__button:focus {
    box-shadow: inset 0 0 0 2px $focus, inset 0 0 0 3px $focus-inset;
    outline: none;
  }

  .#{$prefix}--ai-slug__text {
    z-index: 1;
  }

  // pseudo element to animate the hover transition
  .#{$prefix}--ai-slug__button::before {
    position: absolute;
    background: $slug-gradient-hover;
    block-size: 100%;
    content: '';
    inline-size: 100%;
    opacity: 0;
    transition: opacity $duration-fast-01 motion(entrance, productive);
  }

  .#{$prefix}--ai-slug__button:hover::before {
    opacity: 1;
  }

  // Focus styles
  .#{$prefix}--ai-slug .#{$prefix}--ai-slug__button:focus::before {
    block-size: calc(100% - 6px);
    inline-size: calc(100% - 6px);
  }

  .#{$prefix}--ai-slug__button.#{$prefix}--ai-slug__button--mini::before,
  .#{$prefix}--ai-slug__button.#{$prefix}--ai-slug__button--2xs::before {
    background: $slug-background-hover;
  }

  .#{$prefix}--ai-slug__button.#{$prefix}--ai-slug__button--mini:focus,
  .#{$prefix}--ai-slug__button.#{$prefix}--ai-slug__button--2xs:focus {
    box-shadow: inset 0 0 0 1px $focus, inset 0 0 0 2px $focus-inset;
  }

  .#{$prefix}--ai-slug__button.#{$prefix}--ai-slug__button--mini:focus::before,
  .#{$prefix}--ai-slug__button.#{$prefix}--ai-slug__button--2xs:focus::before {
    block-size: calc(100% - 4px);
    inline-size: calc(100% - 4px);
  }

  // Hollow slug
  // Only allow mini, 2xs, and xs sizes
  .#{$prefix}--ai-slug__button--hollow.#{$prefix}--ai-slug__button--sm,
  .#{$prefix}--ai-slug__button--hollow.#{$prefix}--ai-slug__button--md,
  .#{$prefix}--ai-slug__button--hollow.#{$prefix}--ai-slug__button--lg,
  .#{$prefix}--ai-slug__button--hollow.#{$prefix}--ai-slug__button--xl {
    block-size: convert.to-rem(24px);
    font-size: convert.to-rem(12px);
    inline-size: convert.to-rem(24px);
    line-height: convert.to-rem(16px);
  }

  .#{$prefix}--ai-slug__button--hollow::before {
    display: none;
  }

  .#{$prefix}--ai-slug .#{$prefix}--ai-slug__button--hollow {
    border: 1px solid $border-inverse;
    background: transparent;
    color: $text-primary;
    transition: color $duration-fast-01 motion(entrance, productive),
      border-color $duration-fast-01 motion(entrance, productive),
      box-shadow $duration-fast-01 motion(entrance, productive);
  }

  .#{$prefix}--ai-slug__button--hollow:hover {
    border-color: $slug-hollow-hover;
    color: $slug-hollow-hover;
  }

  .#{$prefix}--ai-slug__button--hollow:focus {
    border-color: $focus;
    box-shadow: inset 0 0 0 1px $focus;
  }

  // Inline slug
  .#{$prefix}--ai-slug .#{$prefix}--ai-slug__button--inline {
    background: transparent;
    block-size: initial;
    color: $text-primary;
    font-size: convert.to-rem(14px);
    inline-size: initial;
    line-height: initial;
  }

  .#{$prefix}--ai-slug__button--inline::before {
    display: none;
  }

  // Only allow sm, md, and lg sizes
  .#{$prefix}--ai-slug__button--inline.#{$prefix}--ai-slug__button--mini,
  .#{$prefix}--ai-slug__button--inline.#{$prefix}--ai-slug__button--2xs,
  .#{$prefix}--ai-slug__button--inline.#{$prefix}--ai-slug__button--xs,
  .#{$prefix}--ai-slug__button--inline.#{$prefix}--ai-slug__button--sm {
    font-size: convert.to-rem(12px);
  }

  .#{$prefix}--ai-slug__button--inline.#{$prefix}--ai-slug__button--lg,
  .#{$prefix}--ai-slug__button--inline.#{$prefix}--ai-slug__button--xl {
    font-size: convert.to-rem(16px);
  }
}
