@use '../../config' as *;
@use '../../colors' as *;
@use '../../motion' as *;
@use '../../theme' as *;
@use '../../type' as *;
@use '../../utilities/convert';

$sizes: (
  3xs: (
    height: convert.to-rem(16px),
    width: convert.to-rem(16px),
    font-size: convert.to-rem(9px),
    line-height: convert.to-rem(12px),
    background: $slug-background,
  ),
  2xs: (
    height: convert.to-rem(20px),
    width: convert.to-rem(20px),
    font-size: convert.to-rem(12px),
    line-height: convert.to-rem(16px),
    background: $slug-background,
  ),
  xs: (
    height: convert.to-rem(24px),
    width: convert.to-rem(24px),
    font-size: convert.to-rem(12px),
    line-height: convert.to-rem(16px),
    background: $slug-gradient,
  ),
  sm: (
    height: convert.to-rem(32px),
    width: convert.to-rem(32px),
    font-size: convert.to-rem(16px),
    line-height: convert.to-rem(21px),
    background: $slug-gradient,
  ),
  md: (
    height: convert.to-rem(40px),
    width: convert.to-rem(40px),
    font-size: convert.to-rem(16px),
    line-height: convert.to-rem(21px),
    background: $slug-gradient,
  ),
  lg: (
    height: convert.to-rem(48px),
    width: convert.to-rem(48px),
    font-size: convert.to-rem(16px),
    line-height: convert.to-rem(21px),
    background: $slug-gradient,
  ),
  xl: (
    height: convert.to-rem(64px),
    width: convert.to-rem(64px),
    font-size: convert.to-rem(20px),
    line-height: convert.to-rem(26px),
    background: $slug-gradient,
  ),
);

/// Slug styles
/// @access public
/// @group slider
@mixin slug {
  .#{$prefix}--ai-slug .#{$prefix}--ai-slug__button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $text-inverse;
    font-weight: 600;

    @each $group, $size in $sizes {
      // Create a class for each size slug
      &--#{$group} {
        @each $property, $value in $size {
          // Set correct properties for each size
          #{$property}: $value;
        }
      }
    }
  }

  .#{$prefix}--ai-slug__text {
    z-index: 1;
  }

  .#{$prefix}--ai-slug__button::before {
    position: absolute;
    background: $slug-gradient-hover;
    block-size: 100%;
    content: '';
    inline-size: 100%;
    opacity: 0;
    transition: opacity $duration-fast-02 motion(standard, productive);
  }

  .#{$prefix}--ai-slug__button.#{$prefix}--ai-slug__button--3xs::before,
  .#{$prefix}--ai-slug__button.#{$prefix}--ai-slug__button--2xs::before {
    background: $slug-background-hover;
  }

  .#{$prefix}--ai-slug__button:hover::before {
    opacity: 1;
  }
}
