// 7.0.0 Styles
@import 'overrides';

// Base Elements
@import 'bluemix-components/consumables/scss/base-elements/text/text';

// Components
@import 'bluemix-components/consumables/scss/components/header/header';
@import 'bluemix-components/consumables/scss/components/detail-page-header/detail-page-header--with-tabs';

.bx--module {
  &__body {
    height: 100%;

    &--image {
      justify-content: center;

      img {
        width: 100%;
      }
    }

    &--data {
      justify-content: center;

      &:first-child {
        border-bottom: 1px solid $color__module-border;
      }
    }
  }

  &__header,
  &__label {
    font-weight: 600;
    display: flex;
    align-items: center;

    span {
      margin-left: .25rem;
      font-weight: 300;
    }
  }

  &__data {
    &--alt-color {
      color: $color__teal-20;
    }

    span {
      @include font-size('20');
      font-weight: 200;
    }

    sup {
      @include font-size('20');
      font-weight: 200;
      vertical-align: super;
      margin-right: .25rem;
    }
  }

  &__list {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      

      a {
        margin-left: 1rem;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
        flex: 1;
      }

      p {
        padding: 0;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
        flex: 1;
      }
    }
  }

  &__icon-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    li {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: .5rem 1rem;

      &:nth-child(even) {
        background-color: $color__navy-gray-5;
      }
    }

    p {
      font-weight: 200;
      padding: 0 0 0 1rem;
    }
  }

  &__footer {
    border-top: 0;
    display: flex;
    align-items: center;
  }
}

.bx--module__body--centered-content {
  width: 80%;
  margin: 0 auto;
  justify-content: flex-start;

  h4 {
    margin: 1rem 0 .25rem;
    align-self: flex-start;
  }
}


