.bx--textarea {

  &__input {
    font-size: .889rem;
    display: block;
    font-family: inherit;
    font-weight: 300;
    width: 100%;
    min-height: 9.375em;
    min-width: 9.375em;
    padding: .5em 0 .5em 1em;
    margin: .25em 0;
    color: $color__white;
    background-color: $color__inputs--bg;
    border: none;
    border-radius: 0;

    &:focus {
      @include focus-outline;
      outline: auto 2px -webkit-focus-ring-color; // webkit default
    }

    &::-webkit-input-placeholder {
      color: darken($color__navy-gray-8, 12%);
    }
  }
}
