<ul class="list--unordered">
    <li class="card">{CONTENT}</li>
    <li class="card">
        <ul class="list--unordered">
            <li class="card"></li>
            <li class="card"></li>
        </ul>
    </li>
    <li class="card">{CONTENT}</li>
    <li class="card">{CONTENT}</li>
</ul>

<ol class="list--ordered">
    <li class="card">{CONTENT}</li>
    <li class="card">
        <ol class="list--ordered">
            <li class="card"></li>
            <li class="card"></li>
        </ol>
    </li>
    <li class="card">{CONTENT}</li>
    <li class="card">{CONTENT}</li>
</ol>
