<ul class="list--unordered">
    <li class="list__item">{CONTENT}</li>
    <li class="list__item">
        <ul class="list--unordered">
            <li class="list__item"></li>
            <li class="list__item"></li>
        </ul>
    </li>
    <li class="list__item">{CONTENT}</li>
    <li class="list__item">{CONTENT}</li>
</ul>

<ol class="list--ordered">
    <li class="list__item">{CONTENT}</li>
    <li class="list__item">
        <ol class="list--ordered">
            <li class="list__item"></li>
            <li class="list__item"></li>
        </ol>
    </li>
    <li class="list__item">{CONTENT}</li>
    <li class="list__item">{CONTENT}</li>
</ol>
