//-----------------------------
// Checkbox
//-----------------------------

// Dependencies
@import '../../global/global';

// import-once
@import '../../import-once';

@include exports('checkbox') {

  // Input Element - visually hidden
  .bx--checkbox {
    @include hidden;

    // Label Element - fonts and positioning
    &__label {
      @include font-smoothing;
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    // Box Styles - default state
    &__appearance {
      @include font-size('16');
      display: inline-block;
      width: rem(18px);
      height: rem(18px);
      background-color: $color__inputs--bg;
      border: 2px solid $color__navy-gray-7;
      margin-right: .75rem;
      border-radius: 2px;
      overflow: hidden;
    }

    // Box Styles - checked state - background
    &:checked + &__appearance,
    &:checked + &__label &__appearance {
      display: flex;
      align-items: baseline;
      background-color: $color__blue-30;
      border-color: $color__blue-30;

      // Box Styles - checked state - checkmark
      &:before {
        content: '';
        width: rem(12px);
        height: rem(6px);
        background: transparent;
        border: 2px solid $color__navy-gray-2;
        border-top: none;
        border-right: none;
        transform: rotate(-45deg);

        @include light-ui {
          border: 2px solid $color__white;
          border-top: none;
          border-right: none;
        }
      }
    }

    // Disabled
    &:disabled + &__label,
    &__label &:disabled,
    &:disabled + &__appearance,
    &:disabled + &__appearance + &__label-text {
      opacity: .5;
      cursor: not-allowed;
    }

    // Focus
    &:focus + &__label &__appearance,
    &:focus + &__appearance {
      @include focus-outline;
    }
  }

  // SVG Checkmark - default
  .bx--checkbox__checkmark {
    display: none;
    fill: $color__blue-90;
    width: rem(15px);
    height: rem(15px);

    @include light-ui {
      fill: $color__white;
    }
  }

  // SVG Checkmark - checked
  .bx--checkbox--svg {
    &:checked + .bx--checkbox__appearance:before,
    &:checked + .bx--checkbox__label .bx--checkbox__appearance:before {
      content: none;
    }

    &:checked + .bx--checkbox__appearance .bx--checkbox__checkmark,
    &:checked + .bx--checkbox__label .bx--checkbox__appearance .bx--checkbox__checkmark {
      display: block;
    }
  }
}
