<div class="bx--global-header__left-nav bx--left-nav--active" data-left-nav-container aria-expanded="false">
  <div class="bx--left-nav__close-row"></div>
  <div data-left-nav-current-section="apps" class="bx--left-nav__header">
    <svg data-left-nav-current-section-icon="apps" class="bx--left-nav__header--taxonomy-icon">
      <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--compute"></use>
    </svg>
    <a data-left-nav-current-section-title tabindex="0" class="bx--left-nav__header--title">Applications</a>
  </div>
  <nav class="bx--left-nav" data-left-nav role="navigation" aria-label="Left Navigation">
    <ul data-left-nav-sections class="bx--left-nav__sections">
      <li data-left-nav-section="services" class="bx--left-nav__section bx--left-nav__section--services" tabindex="0">
        <svg data-left-nav-section-icon="services" class="bx--left-nav__section--taxonomy-icon">
          <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--compute"></use>
        </svg>
        <a data-left-nav-section-link class="bx--left-nav__section--link">Services</a>
      </li>
      <li data-left-nav-section="infrastructure" class="bx--left-nav__section bx--left-nav__section--infrastructure" tabindex="0">
        <svg data-left-nav-section-icon="infrastructure" class="bx--left-nav__section--taxonomy-icon">
          <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--compute"></use>
        </svg>
        <a data-left-nav-section-link class="bx--left-nav__section--link">Infrastructure</a>
      </li>
    </ul>
    <!-- APPLICATIONS MENU -->
    <ul role="menubar" class="bx--left-nav__main-nav bx--left-nav__main-nav--hidden" data-left-nav-list="apps" aria-hidden="false">
      <li role="menuitem" class="main-nav__parent-item main-nav__parent-item--active" data-left-nav-item tabindex="0">
        <a class="parent-item__link" href="#" title="Example Item" tabindex="-1" data-left-nav-item-link>
          <svg class="parent-item__link--icon">
            <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--compute"></use>
          </svg>
          Example Parent Item
        </a>
      </li>
      <li role="menuitem" class="main-nav__parent-item" data-left-nav-item tabindex="0">
        <a class="parent-item__link" href="#" title="Example Item" tabindex="-1" data-left-nav-item-link>
          <svg class="parent-item__link--icon">
            <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--compute"></use>
          </svg>
          Example Parent Item
        </a>
      </li>
      <li role="menuitem" class="main-nav__parent-item" data-left-nav-item tabindex="0">
        <a class="parent-item__link" href="#" title="Example Item" tabindex="-1" data-left-nav-item-link>
          <svg class="parent-item__link--icon">
            <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--compute"></use>
          </svg>
          Example Parent Item
        </a>
      </li>
      <li role="menuitem" class="main-nav__parent-item" data-left-nav-item tabindex="0">
        <a class="parent-item__link" href="#" title="Example Item" tabindex="-1" data-left-nav-item-link>
          <svg class="parent-item__link--icon">
            <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--compute"></use>
          </svg>
          Example Parent Item
        </a>
      </li>
    </ul>
    <!-- END APPLICATIONS MENU -->

    <!-- SERVICES MENU -->
    <ul role="menubar" class="bx--left-nav__main-nav bx--left-nav__main-nav--hidden" data-left-nav-list="services" aria-hidden="false">
      <li role="menuitem" class="main-nav__parent-item" data-left-nav-item tabindex="0">
        <a class="parent-item__link" href="#" title="Example Item" tabindex="-1" data-left-nav-item-link>
          <svg class="parent-item__link--icon">
            <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--compute"></use>
          </svg>
          Example Parent Item
        </a>
      </li>
      <li role="menuitem" class="main-nav__parent-item" data-left-nav-item tabindex="0">
        <a class="parent-item__link" href="#" title="Example Item" tabindex="-1" data-left-nav-item-link>
          <svg class="parent-item__link--icon">
            <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--compute"></use>
          </svg>
          Example Parent Item
        </a>
      </li>
      <li role="menuitem" class="main-nav__parent-item" data-left-nav-item tabindex="0">
        <a class="parent-item__link" href="#" title="Example Item" tabindex="-1" data-left-nav-item-link>
          <svg class="parent-item__link--icon">
            <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--compute"></use>
          </svg>
          Example Parent Item
        </a>
      </li>
      <li role="menuitem" class="main-nav__parent-item" data-left-nav-item tabindex="0">
        <a class="parent-item__link" href="#" title="Example Item" tabindex="-1" data-left-nav-item-link>
          <svg class="parent-item__link--icon">
            <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--compute"></use>
          </svg>
          Example Parent Item
        </a>
      </li>
    </ul>
    <!-- END SERVICES MENU -->

    <!-- INFRASTRUCTURE MENU -->
    <ul role="menubar" class="bx--left-nav__main-nav" data-left-nav-list="infrastructure" aria-hidden="false">
      <li role="menuitem" class="main-nav__parent-item main-nav__parent-item--expanded active-list-item" data-left-nav-item data-left-nav-item-with-children tabindex="0">
        <a class="parent-item__link" href="#" title="Example Item" tabindex="-1" data-left-nav-item-link>
          <svg class="parent-item__link--taxonomy-icon">
            <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--compute"></use>
          </svg>
          Example Parent Item
          <div class="parent-item__link--down-icon">
            <svg>
              <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#support--chevron-down"></use>
            </svg>
          </div>
        </a>
        <ul role="menu" class="main-nav__nested-list" aria-hidden="true" data-left-nav-nested-list>
          <li role="menuitem" class="nested-list__item active-list-item" data-left-nav-nested-item tabindex="-1">
            <a href="#" class="nested-list__item--link" tabindex="-1" data-left-nav-item-link>Example Child Item</a>
          </li>
          <li role="menuitem" class="nested-list__item" data-left-nav-nested-item tabindex="-1">
            <a href="#" class="nested-list__item--link" tabindex="-1" data-left-nav-item-link>Example Child Item</a>
          </li>
          <li role="menuitem" class="nested-list__item" data-left-nav-nested-item data-left-nav-has-flyout tabindex="-1" aria-haspopup="true">
            <a href="#" class="nested-list__item--link" tabindex="-1" data-left-nav-item-link>Example Child Item
              <div class="nested-list__item--icon">
                <svg>
                  <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#service--chevron"></use>
                </svg>
              </div>
            </a>
            <ul role="menu" class="nested-list__flyout-menu" data-left-nav-flyout aria-hidden="true">
              <li role="menuitem" class="flyout-menu__item" data-left-nav-flyout-item tabindex="-1">
                <a href="#" class="flyout-menu__item--link">Example Flyout Item</a>
              </li>
              <li role="menuitem" class="flyout-menu__item" data-left-nav-flyout-item tabindex="-1">
                <a href="#" class="flyout-menu__item--link">Example Flyout Item</a>
              </li>
              <li role="menuitem" class="flyout-menu__item" data-left-nav-flyout-item tabindex="-1">
                <a href="#" class="flyout-menu__item--link">Example Flyout Item</a>
              </li>
              <li role="menuitem" class="flyout-menu__item" data-left-nav-flyout-item tabindex="-1">
                <a href="#" class="flyout-menu__item--link">Example Flyout Item</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li role="menuitem" class="main-nav__parent-item" data-left-nav-item tabindex="0">
        <a class="parent-item__link" href="#" title="Example Item" tabindex="-1" aria-haspopup="true" data-left-nav-item-link>
          <svg class="parent-item__link--taxonomy-icon">
            <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--compute"></use>
          </svg>
          Example Parent Item
        </a>
      </li>
      <li role="menuitem" class="main-nav__parent-item" data-left-nav-item tabindex="0">
        <a class="parent-item__link" href="#" title="Example Item" tabindex="-1" data-left-nav-item-link>
          <svg class="parent-item__link--taxonomy-icon">
            <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--compute"></use>
          </svg>
          Example Parent Item
        </a>
      </li>
      <li role="menuitem" class="main-nav__parent-item" data-left-nav-item tabindex="0">
        <a class="parent-item__link" href="#" title="Example Item" tabindex="-1" data-left-nav-item-link>
          <svg class="parent-item__link--taxonomy-icon">
            <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--compute"></use>
          </svg>
          Example Parent Item
        </a>
      </li>
    </ul>
    <!-- END INFRASTRUCTURE MENU -->

  </nav>
</div>
