<nav role="navigation" class="bx--top-nav" aria-label="Top Header">
    <ul role="menubar" class="bx--top-nav__left-container" aria-hidden="false">
      <a class="bx--top-nav__left-container__link" href="#" tabindex="0">
        <svg class="bx--top-nav__left-container__link--icon">
          <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#support--help-fill-circle-with-outline"></use>
        </svg>
        Docs
      </a>
      <li role="menuitem" class="bx--top-nav__left-container__item">
        <ul role="menu" data-dropdown class="bx--dropdown" tabindex="0">
          <li class="bx--dropdown__menu-text">Docs</li>
          <li>
            <svg class="bx--dropdown__arrow">
              <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#common--search"></use>
            </svg>
          </li>
          <li aria-haspopup="true">
            <ul role="menu" aria-hidden="true" class="bx--dropdown__list">
              <li role="menuitem" data-option data-value="all" class="bx--dropdown__list-item"><a tabindex="0" class="bx--dropdown__link" href="javascript:void(0)">All</a></li>
              <li role="menuitem" data-option data-value="cloudFoundry" class="bx--dropdown__list-item"><a tabindex="0" class="bx--dropdown__link" href="javascript:void(0)">Cloud Foundry API</a></li>
              <li role="menuitem" data-option data-value="staging" class="bx--dropdown__list-item"><a tabindex="0" class="bx--dropdown__link" href="javascript:void(0)">Staging</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <ul role="menubar" class="bx--top-nav__right-container">
      <li role="menuitem" class="bx--top-nav__right-container__item">
        <ul role="menu" data-profile-switcher class="bx--account-switcher">
          <li tabindex="0" data-profile-switcher-toggle class="bx--account-switcher__toggle">
            <p data-switcher-account class="bx--account-switcher__toggle--text"></p>
            <p class="bx--account-switcher__toggle--text">|</p>
            <p data-switcher-region class="bx--account-switcher__toggle--text"></p>
            <p data-switcher-org class="bx--account-switcher__toggle--text"></p>
            <p data-switcher-space class="bx--account-switcher__toggle--text"></p>
          </li>
          <li role="menuitem" data-switcher-menu class="bx--account-switcher__menu__container">
            <ul role="menu" class="bx--account-switcher__menu">
              <li role="menuitem" class="bx--account-switcher__menu__item">
                <p class="bx--account-switcher__menu__item--title">Account</p>
                <ul role="menu" data-dropdown data-value="Logans_account_123456789_1234" class="bx--dropdown" tabindex="0">
                  <li data-dropdown-account class="bx--dropdown__menu-text">Logans_account_123456789_1234</li>
                  <li>
                    <svg class="bx--dropdown__arrow">
                      <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#service--down-arrow"></use>
                    </svg>
                  </li>
                  <li aria-haspopup="true" class="bx--dropdown--scroll">
                    <ul role="menu" aria-hidden="true" class="bx--dropdown__list">
                      <li role="menuitem" data-option data-value="all" class="bx--dropdown__list-item"><span class="bx--dropdown__link" href="javascript:void(0)" tabindex="0">someone_at_a_company@email.com</span></li>
                      <li role="menuitem" data-option data-value="all" class="bx--dropdown__list-item"><span class="bx--dropdown__link" href="javascript:void(0)" tabindex="0">TJs_accoqwejqwhekjqwgehgunt_54321</span></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="bx--account-switcher__menu__item">
                <p class="bx--account-switcher__menu__item--title">Region</p>
                <ul data-dropdown data-value="US South" class="bx--dropdown" tabindex="0">
                  <li data-dropdown-region class="bx--dropdown__menu-text">US South</li>
                  <svg class="bx--dropdown__arrow">
                    <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#service--down-arrow"></use>
                  </svg>
                  <li class="bx--dropdown--scroll">
                    <ul class="bx--dropdown__list">
                      <li data-option data-value="all" class="bx--dropdown__list-item"><span class="bx--dropdown__link" href="javascript:void(0)" tabindex="0">US South</span></li>
                      <li data-option data-value="all" class="bx--dropdown__list-item"><span  class="bx--dropdown__link" href="javascript:void(0)" tabindex="0">Sydney</span></li>
                      <li data-option data-value="cloudFoundry" class="bx--dropdown__list-item"><span  class="bx--dropdown__link" href="javascript:void(0)" tabindex="0">United Kingdom</span></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="bx--account-switcher__menu__item">
                <p class="bx--account-switcher__menu__item--title">Organization</p>
                <ul data-dropdown data-value="Organization 1" class="bx--dropdown" tabindex="0">
                  <li data-dropdown-org class="bx--dropdown__menu-text">Organization 1</li>
                  <svg class="bx--dropdown__arrow">
                    <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#service--down-arrow"></use>
                  </svg>
                  <li class="bx--dropdown--scroll">
                    <ul class="bx--dropdown__list">
                      <li data-option data-value="all" class="bx--dropdown__list-item"><span  class="bx--dropdown__link" href="javascript:void(0)" tabindex="0">someone_at_a_company@email.com</span></li>
                      <li data-option data-value="cloudFoundry" class="bx--dropdown__list-item"><span  class="bx--dropdown__link" href="javascript:void(0)" tabindex="0">Organization q2332434341sddsf2</span></li>
                      <li data-option data-value="staging" class="bx--dropdown__list-item"><span  class="bx--dropdown__link" href="javascript:void(0)" tabindex="0">Organization 3</span></li>
                      <li data-option data-value="dea" class="bx--dropdown__list-item"><span  class="bx--dropdown__link" href="javascript:void(0)" tabindex="0">Organization 4</span></li>
                      <li data-option data-value="router" class="bx--dropdown__list-item"><span  class="bx--dropdown__link" href="javascript:void(0)" tabindex="0">Organization 5</span></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="bx--account-switcher__menu__item">
                <p class="bx--account-switcher__menu__item--title">Space</p>
                <ul data-dropdown data-value="Space 2" class="bx--dropdown" tabindex="0">
                  <li data-dropdown-space class="bx--dropdown__menu-text">Space 2</li>
                  <svg class="bx--dropdown__arrow">
                    <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#service--down-arrow"></use>
                  </svg>
                  <li class="bx--dropdown--scroll">
                    <ul class="bx--dropdown__list">
                      <li data-option data-value="all" class="bx--dropdown__list-item"><span  class="bx--dropdown__link" href="javascript:void(0)" tabindex="0">Dev</span></li>
                      <li data-option data-value="all" class="bx--dropdown__list-item"><span  class="bx--dropdown__link" href="javascript:void(0)" tabindex="0">Space 2</span></li>
                      <li data-option data-value="cloudFoundry" class="bx--dropdown__list-item"><span  class="bx--dropdown__link" href="javascript:void(0)" tabindex="0">Space 3</span></li>
                      <li data-option data-value="staging" class="bx--dropdown__list-item"><span  class="bx--dropdown__link" href="javascript:void(0)" tabindex="0">Space 4</span></li>
                      <li data-option data-value="dea" class="bx--dropdown__list-item"><span  class="bx--dropdown__link" href="javascript:void(0)" tabindex="0">Space 5</span></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="bx--account-switcher__menu__item">
                <a href="#" class="bx--link">Manage Organizations</a>
                <a href="#" class="bx--link">Create A Space</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="bx--top-nav__right-container__item">
        <ul data-dropdown data-value class="bx--dropdown" tabindex="0">
          <li data-top-nav-profile-image class="bx--dropdown__menu-text--profile-image">
            <div class="profile-image">
              <svg class="bx--dropdown__profile-dropdown--picture">
                <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#support--user-stroke-circle"></use>
              </svg>
            </div>
          </li>
          <li class="bx--dropdown__profile-dropdown">
            <ul class="bx--dropdown__list">
              <li data-option data-value="all" class="bx--dropdown__list-item">
                <svg class="bx--dropdown__profile-dropdown--picture">
                  <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#support--user-stroke-circle"></use>
                </svg>
                <div class="bx--dropdown__profile-dropdown--information">
                  <p>Erlich Bachman Erlich Bachman</p>
                  <div class="bx--dropdown__profile-dropdown__container">
                    <a class="bx--link" href="javascript:void(0)">Profile</a>
                    <p>|</p>
                    <a class="bx--link" href="javascript:void(0)">Log Out</a>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
