<button class="bx--btn bx--btn--primary" type="button" data-modal-target="#modal">Transactional</button>

<div data-modal id="modal" class="bx--modal" tabindex="-1">
  <div class="bx--modal-container">
    <div class="bx--modal-header">
      <p class="bx--modal-header__label bx--type-delta">Optional label</p>
      <p class="bx--modal-header__heading bx--type-beta">Modal heading</p>
      <button class="bx--modal-close" type="button" data-modal-close aria-label="close modal">
        <svg class="bx--modal-close__icon" width="10" height="10" viewBox="0 0 10 10" fill-rule="evenodd">
           <title>Close Modal</title>
          <path d="M9.8 8.6L8.4 10 5 6.4 1.4 10 0 8.6 3.6 5 .1 1.4 1.5 0 5 3.6 8.6 0 10 1.4 6.4 5z"></path>
        </svg>
      </button>
    </div>

    <div class="bx--modal-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean id accumsan augue. Phasellus consequat augue vitae tellus tincidunt posuere. Curabitur justo urna, consectetur vel elit iaculis, ultrices condimentum risus. Nulla facilisi. Etiam venenatis molestie tellus. Quisque consectetur non risus eu rutrum. </p>
    </div>

    <div class="bx--modal-footer">
      <button class="bx--btn bx--btn--secondary" type="button" data-modal-close>Secondary button</button>
      <button class="bx--btn bx--btn--primary" type="button" data-modal-primary-focus>Primary button</button>
    </div>
  </div>
</div>
