<button class="bx--btn bx--btn--primary" type="button" data-modal-target="#modal">Transactional</button>

<div data-modal id="modal" class="bx--modal" tabindex="-1">
  <div class="bx--modal-container">
    <div class="bx--modal-header">
      <p class="bx--modal-header__label bx--type-delta">Label (Optional)</p>
      <p class="bx--modal-header__heading bx--type-beta">Modal Title</p>
      <button class="bx--modal-close" type="button" data-modal-close aria-label="close modal">
        <svg class="bx--modal-close__icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:none;}</style></defs><title>Carbon—Duo</title><g id="Icon"><polygon points="26 7.41 24.59 6 16 14.59 7.41 6 6 7.41 14.59 16 6 24.59 7.41 26 16 17.41 24.59 26 26 24.59 17.41 16 26 7.41"/></g><g id="Transparent_Rectangle" data-name="Transparent Rectangle"><rect class="cls-1" width="32" height="32"/></g></svg>
      </button>
    </div>

    <div class="bx--modal-content">
      <p>Modal text description</p>
    </div>

    <div class="bx--modal-footer">
      <button class="bx--btn bx--btn--secondary" type="button" data-modal-close>Cancel</button>
      <button class="bx--btn bx--btn--primary" type="button" data-modal-primary-focus>Save</button>
    </div>
  </div>
</div>
