<button class="bx--btn bx--btn--primary" type="button" data-modal-target="#modal">Transactional</button>

<div data-modal id="modal" class="bx--modal" tabindex="-1">
  <div class="bx--modal-container">
    <div class="bx--modal-header">
      <h4 class="bx--modal-header__label">Label (Optional)</h4>
      <h2 class="bx--modal-header__heading">Modal Title</h2>
      <button class="bx--modal-close" type="button" data-modal-close>
        <svg
          class="bx--modal-close__icon"
        >
          <use xlink:href="/@console/bluemix-icons/bluemix-icons.svg#close"></use>
        </svg>
      </button>
    </div>

    <div class="bx--modal-content">
      <p>Modal text description</p>
    </div>

    <div class="bx--modal-footer">
      <button class="bx--btn bx--btn--secondary" type="button" data-modal-close>Cancel</button>
      <button class="bx--btn bx--btn--primary" type="button">Save</button>
    </div>
  </div>
</div>
