.bx--list--unordered {
  margin-left: 2em;
  line-height: 1.5;

  &__item {
    list-style: initial;
  }
}

.bx--list--ordered {
  margin-left: 2em;
  line-height: 1.5;

  &__item {
    list-style-type: decimal;
  }
}
