.list {
  &--unordered {
    margin-left: 2em;
    line-height: 1.5;

    .list__item {
      list-style: initial;
    }
  }

  &--ordered {
    margin-left: 2em;
    line-height: 1.5;

    .list__item {
      list-style-type: decimal;
    }
  }
}
