%radio {
  [type='radio'] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
  }

  [type='radio'] + .radio__label {
    display: inline-block;
  }

  [type='radio'] + .radio__label:before {
    display: inline-block;
    width: .75em;
    height: .75em;
    margin-right: .5em;
    vertical-align: -.1em;
    background-color: $color__radio--bg;
    border: 2px solid $color__radio--border;
    border-radius: 50%;
    content: '';
  }

  [type='radio']:focus + .radio__label:before {
    box-shadow: 0px 0px 1px 1px $color__box-shadow;
  }

  [type='radio']:checked + .radio__label:before {
    border-color: $color__radio--bg--selected;
  }

  [type='radio']:checked + .radio__label:after {
    position: absolute;
    top: em(12px);
    left: em(4px);
    width: em(8px);
    height: em(8px);
    background-color: $color__radio--bg--selected;
    border-color: $color__radio--bg--selected;
    border-radius: 50%;
    content: '';
  }

  [type='radio']:hover + .radio__label:before {
    background-color: #222222; //temporary
  }

  [type='radio']:checked:hover + .radio__label:after {
    background-color: $color__radio--hover;
    border-color: $color__radio--hover;
  }

  // disabled
  [type='radio']:disabled + .radio__label:before {
    display: inline-block;
    width: .75em;
    height: .75em;
    margin-right: .5em;
    vertical-align: -.1em;
    background-color: $color__radio--bg;
    border: 2px solid $color__radio--border;
    border-radius: 50%;
    content: '';
    opacity: .5;
  }

  [type='radio']:disabled + .radio__label:after {
    background-color: transparent;
  }

  [type='radio']:disabled + .radio__label {
    cursor: not-allowed;
  }
}
