// IMPORTANT: This import path should _not_ be used outside our source tree
// as `src` directory is _not_ meant to be shipped in our NPM package.
// Use e.g. `@import '~carbon-components/scss/globals/scss/styles.scss'` instead.

$css--font-face: false;
$css--body: false;
$css--reset: false;

// SEE THE NOTE ABOVE
@import '~carbon-components/src/globals/scss/css--helpers';

.bx--tabs--container ~ div {
  min-height: 320px;
  background-color: $ui-01;
}

.bx--tabs--container.bx--tabs--light ~ div {
  background-color: $ui-background;
}

.tabs-story-wrapper--light {
  background-color: $ui-01;
}

.container-tabs-story-wrapper--light {
  padding: 2rem 1rem;
  background-color: $ui-01;
}
