<div class="bx--notification-inline--error" role="alert">
  <div class="bx--notification-inline__details">
      <svg class="bx--notification-inline__icon--left" aria-label="close">
        <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#notifications--error"></use>
      </svg>
    <div class="bx--notification-inline__text">
      <p class="bx--notification-inline__title">Error Notification:</h3>
      <p class="bx--notification-inline__subtitle">Here is a clear explaination of the warning</p>
    </div>
  </div>
  <button class="bx--notification-inline__close-button" type="button">
    <svg class="bx--notification-inline__icon--right" aria-label="close">
      <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#common--close"></use>
    </svg>
  </button>
</div>
