<div class="bx--notification-inline--warning" role="alert">
  <div class="bx--notification-inline__details">
    <svg class="bx--notification-inline__icon--left" aria-label="close">
      <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v5/img/bluemix-icons.svg#warning"></use>
    </svg>
    <div class="bx--notification-inline__text">
      <p class="bx--notification-inline__title">Warning notification: &nbsp;</p>
      <p class="bx--notification-inline__subtitle">Here is a clear explanation. It drops to next line if the content is long enough</p>
    </div>
  </div>
  <button class="bx--notification-inline__close-button" type="button">
    <svg class="bx--notification-inline__icon--right" aria-label="close">
      <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v5/img/bluemix-icons.svg#close"></use>
    </svg>
  </button>
</div>
