<div class="bx--notification-inline--info" role="alert">
  <div class="bx--notification-inline__details">
    <svg class="bx--notification-inline__icon--left" aria-label="close">
      <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v5/img/bluemix-icons.svg#info"></use>
    </svg>
    <div class="bx--notification-inline__text">
      <p class="bx--notification-inline__title">Informational notification:</p>
      <p class="bx--notification-inline__subtitle">Here is the information or directions</p>
    </div>
  </div>
  <button class="bx--notification-inline__close-button" type="button">
    <svg class="bx--notification-inline__icon--right" aria-label="close">
      <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v5/img/bluemix-icons.svg#close"></use>
    </svg>
  </button>
</div>
