<div class="bx--notification--info" role="alert">
  <div class="bx--notification__details">
    <h3 class="bx--notification__title">Title: 'App Name' is stopped</h3>
    <p class="bx--notification__subtitle">Subtitle: Your application was stopped.</p>
    <caption class="bx--notification__caption">Caption: 10:47 AM</caption>
  </div>
  <button class="bx--notification__close-button" type="button">
    <svg class="bx--notification__icon" aria-label="close">
      <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v5/img/bluemix-icons.svg#close--outline"></use>
    </svg>
  </button>
</div>
