@import '../../scss/type';
@import '../../scss/font-face/sans';
@import '../../scss/font-face/serif';
@import '../../scss/font-face/mono';

//------------------------------------------------------------------------------
// Font-face
//------------------------------------------------------------------------------
.type-sans,
.type-serif,
.type-mono {
  @include font-weight('regular');
  @include type-scale(8);
}

.type-sans {
  @include font-family('sans');
}

.type-serif {
  @include font-family('serif');
}

.type-mono {
  @include font-family('mono');
}

.type-weight-light {
  @include font-weight('light');
}

.type-weight-semibold {
  @include font-weight('semibold');
}

.type-style-italic {
  font-style: italic;
}

//------------------------------------------------------------------------------
// Type-scale
//------------------------------------------------------------------------------
@each $value in $type-scale {
  $step: index($type-scale, $value);

  .type-scale-#{$step} {
    @include type-scale($step);
  }
}

//------------------------------------------------------------------------------
// Type styles
//------------------------------------------------------------------------------
@each $name, $value in $tokens {
  .type-#{$name} {
    @include type-style($name, map-has-key($value, breakpoints));
  }
}

//------------------------------------------------------------------------------
// Spacing
//------------------------------------------------------------------------------
.type-margin-01 {
  @include type-spacing(margin-01);
}

.type-margin-02 {
  @include type-spacing(margin-02);
}

.type-margin-03 {
  @include type-spacing(margin-03);
}

.type-layout-01 {
  @include type-spacing(layout-01, top);
}

//------------------------------------------------------------------------------
// Demo-specific
//------------------------------------------------------------------------------
.samples {
  max-width: 560px;
}
