// Full token list: https://github.com/carbon-design-system/carbon/blob/main/packages/themes/docs/sass.md#api

@use '@carbon/react/scss/themes' as *;

//overriding theme tokens and adding a custom token
@use '@carbon/react/scss/theme' with (
  $theme: (
    // add a completely new token
    custom-token: #bada44,
    // redefine existing tokens to new values
    text-error: rebeccapurple,
    focus: pink,
  )
);

// override a component token
@use '@carbon/react/scss/components/button/tokens' as button-tokens with (
  $button-primary: #3f51b5
);
@use '@carbon/react';

:root {
  @include theme.theme();
}

.color {
  padding: 1rem;
  margin: 1rem;
  height: 3rem;
  width: 20rem;
}

.background {
  background: theme.$background;
  border: 2px solid rgba(theme.get('custom-token'), 0.95);
}

.background-active {
  background: theme.$background-active;
}

.background-inverse {
  background: theme.$background-inverse;
  color: theme.$focus;
}

.focus {
  background: theme.$focus;
}

.interactive {
  background: theme.$interactive;
  color: white;
}

.text-error {
  background: theme.$text-error;
  color: white;
}

.button-primary {
  background: button-tokens.$button-primary;
  color: white;
}

// You can access a custom variable via the theme.get() mixin
.custom-token {
  background: rgba(theme.get('custom-token'), 0.95);
}
