<div class="alert" role="alert">
    <div class="alert--warning">
        <div class="alert__title">Service Notification (Maintenance)</div>
        <div class="alert__subtitle">Cloudant is going down for maintenance.</div>
        <div class="alert__caption">10:47 AM</div>
    </div>
    <button class="alert__close" type="button">
        <span aria-label="close">
          <svg>
            <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#common--cancel"></use>
          </svg>
        </span>
    </button>
</div>
