// COLORS
$nav--background-color: $blue-80;
$nav--link-color: $bluemix-nav-grey;
$nav--logo-color: $white;
$nav--sign-up-color: #00b299;

// Breakpoints
$breakpoint--global-nav: em(900px);

// Extends
%flex--horizontal-center {
  align-items: center;
  display: flex;
  flex-direction: row;
}

%sprite {
  background-image: url('https://ace-common-production-20150731-141133.ng.bluemix.net/cache/9ec1-3656781102/api/v1/imgs/sprite.png');
}

// Mixins
@mixin bluemix-icon {
  @extend %sprite;
  background-position: -40px -50px;
}

@mixin hamburger-icon {
  @extend %sprite;
  background-position: -68px -106px;
}

@mixin hamburger-icon--hover {
  @extend %sprite;
  background-position: -56px -106px;
}

// Styles
.header {
  background-color: $nav--background-color;
  height: 3.125em;
  padding: 0 10px;
  position: fixed;
  width: 100%;
  z-index: 1;

  &,
  &__brand,
  &__nav {
    @extend %flex--horizontal-center;
  }

  &__brand {
    flex: 1;
  }
}

.brand {
  &__hamburger-icon {
    @include hamburger-icon;
    cursor: pointer;
    height: 14px;
    margin: 0 10px;
    width: 12px;

    &:hover,
    &:focus {
      @include hamburger-icon--hover;
    }

    @media screen and (min-width: $breakpoint--global-nav) {
      display: none;
    }
  }

  &__link {
    @extend %flex--horizontal-center;
    text-decoration: none;
  }

  &__link__logo {
    @media screen and (min-width: $breakpoint--global-nav) {
      @include bluemix-icon;
      height: 32px;
      width: 32px;
    }
  }

  &__link__name--bold,
  &__link__name--normal {
    color: $nav--logo-color;
    font-size: .875em;
    line-height: 1;
  }

  &__link__name--bold {
    display: none;

    @media screen and (min-width: $breakpoint--global-nav) {
      @extend %helvetica-bold;
      display: inline;
    }
  }

  &__link__name--normal {
    @extend %helvetica-normal;
    margin-left: .75em;
    margin-right: 5px;
  }
}

.nav {
  &__links--mobile,
  &__links--desktop,
  &__cta-links {
    list-style-type: none;
  }

  &__cta-links {
    @extend %flex--horizontal-center;
  }

  &__links {
    background-color: $nav--background-color;
    display: flex;
    flex-direction: row;
    list-style-type: none;

    @media screen and (max-width: $breakpoint--global-nav) {
      flex-direction: column;
      left: 0;
      min-height: 1400px;
      opacity: .9;
      padding: 20px 55px 0;
      position: fixed;
      top: 50px;
      transform: translateX(-300px);
      transition: transform .2s ease-out;
      width: 300px;

      &.visible {
        transform: translateX(0);
        transition: transform .2s ease-out;
      }
    }
  }

  &__links--desktop {
    display: none;

    @media screen and (min-width: $breakpoint--global-nav) {
      display: flex;
    }
  }
}

.links {
  &__link-item {
    margin-bottom: 12px;

    @media screen and (min-width: $breakpoint--global-nav) {
      margin-bottom: 0;
    }
  }

  &__link {
    @extend %helvetica-light;
    color: $nav--link-color;
    font-size: em(14px);
    letter-spacing: em(1px);
    text-decoration: none;
    text-transform: uppercase;

    &:hover,
    &:focus {
      color: $white;
      transition: color .2s ease-out;
    }

    @media screen and (min-width: $breakpoint--global-nav) {
      margin: 0 12px;
    }
  }
}

.cta-links {
  &__link--sign-up,
  &__link--log-in {
    @extend %helvetica-bold;
    border-radius: 3px;
    font-size: em(14px);
    letter-spacing: em(1px);
    margin: 0 5px;
    padding: 5px 12px;
    text-decoration: none;
    text-transform: uppercase;
  }

  &__link--sign-up {
    border: 1px solid $nav--sign-up-color;
    color: $nav--sign-up-color;

    &:hover,
    &:focus {
      background-color: $nav--sign-up-color;
      color: $nav--background-color;
      transition: background-color .2s ease-out, color .2s ease-out;
    }
  }

  &__link--log-in {
    border: 1px solid $nav--link-color;
    color: $nav--link-color;

    &:hover,
    &:focus {
      background-color: $nav--link-color;
      color: $nav--background-color;
      transition: background-color .2s ease-out, color .2s ease-out;
    }
  }
}
