<a href="#" class="bx--tooltip__top" data-tooltip="This is some tooltip text lorem">Tooltip - hover
  <svg class="bx--tooltip__icon">
  <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#notifications--info"></use>
  </svg>
</a>
<div class="bx--tooltip__bottom" data-tooltip="This is some tooltip text">Tooltip - hover
  <svg class="bx--tooltip__icon">
  <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#notifications--info"></use>
  </svg>
</div>

<!-- ☠️ deprecated html -->
<tooltip class="bx--tooltip__bottom" data-tooltip="This is some tooltip text">Tooltip - hover</tooltip>
