@import '../../globals/scss/colors';
@import '../../globals/scss/css--helpers';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/typography';
@import '../../globals/scss/vars';
@import 'functions';

// Side-nav panel background
$shell-side-nav-bg-01: $ibm-colors__gray--90;

// Selected category background
// Select L2 flatted item background
// Item hover background
// Footer-bar background
$shell-side-nav-bg-02: $ibm-colors__gray--80;

// Selected L2 nested item
$shell-side-nav-bg-03: $ibm-colors__gray--70;

// Primary text in side-nav
// L2 Flatten item text
// L2 Nested item text
// L1 title text
$shell-side-nav-text-01: $ibm-colors__gray--10;

// Secondary text in side nav
// L2 Category label
$shell-side-nav-text-02: $ibm-colors__gray--30;

// side-nav icon color
$shell-side-nav-icon-01: $ibm-colors__gray--10;

// item highlight bar
$shell-side-nav-accent-01: $ibm-colors__blue--60;

@mixin platform-side-nav {
  //----------------------------------------------------------------------------
  // Side-nav
  //----------------------------------------------------------------------------
  .#{$prefix}--side-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: get-fixed-size(6);
    max-width: get-fixed-size(32);
    color: $shell-side-nav-text-01;
    background-color: $shell-side-nav-bg-01;
    will-change: width;
    transition: width 0.11s cubic-bezier(0.2, 0, 1, 0.9);
    // Useful to toggle this property to see what's going on when not expanded
    overflow: hidden;
    border-top: 1px solid $ibm-colors__gray--80;
  }

  .#{$prefix}--side-nav:hover,
  .#{$prefix}--side-nav--expanded {
    width: get-fixed-size(32);
  }

  .#{$prefix}--platform-header ~ .#{$prefix}--side-nav {
    top: get-fixed-size(6);
  }

  //----------------------------------------------------------------------------
  // Content + Scrollable
  //----------------------------------------------------------------------------
  .#{$prefix}--side-nav__content {
    display: flex;
    flex-direction: column;
    width: get-fixed-size(32);
    height: 100%;
  }

  .#{$prefix}--side-nav__scroll {
    flex: 1 1 0%;
    overflow-y: auto;
  }

  //----------------------------------------------------------------------------
  // Title bar
  //----------------------------------------------------------------------------
  .#{$prefix}--side-nav__title-bar {
    display: flex;
    align-items: stretch;
  }

  .#{$prefix}--side-nav:hover .#{$prefix}--side-nav__title-bar,
  .#{$prefix}--side-nav--expanded .#{$prefix}--side-nav__title-bar {
    border-bottom: 1px solid $shell-side-nav-bg-02;
  }

  // Only show a bottom border for the Icon in the Title bar if we do not have a
  // sub-menu
  .#{$prefix}--side-nav__title-bar:not(.#{$prefix}--side-nav__title-bar--sub-menu) > .#{$prefix}--side-nav__icon {
    border-bottom: 1px solid $shell-side-nav-bg-02;
  }

  .#{$prefix}--side-nav__title-details {
    display: none;
  }

  .#{$prefix}--side-nav:hover .#{$prefix}--side-nav__title-details,
  .#{$prefix}--side-nav--expanded .#{$prefix}--side-nav__title-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 0%;
  }

  .#{$prefix}--side-nav__title-bar--sub-menu .#{$prefix}--side-nav__title-details {
    justify-content: space-between;
  }

  .#{$prefix}--side-nav__title {
    color: $shell-side-nav-text-01;
    font-size: rem(14px);
    font-weight: 600;
    letter-spacing: 0.1px;
    line-height: rem(32px);
    user-select: none;
    margin-left: get-fixed-size(1);
  }

  .#{$prefix}--side-nav__title-bar--sub-menu .#{$prefix}--side-nav__title {
    position: relative;
    top: get-fixed-size(1);
  }

  .#{$prefix}--side-nav__sub-menu {
    position: relative;
    display: flex;
    align-items: center;
    height: get-fixed-size(4);
    padding-right: get-fixed-size(2);
  }

  .#{$prefix}--side-nav__sub-menu__input {
    @include font-family();

    appearance: none;
    flex: 1 1 0%;
    background-color: $shell-header-bg-01;
    color: $shell-header-text-01;
    height: 100%;
    border: none;
    border-radius: 0;
    cursor: pointer;
    font-size: rem(12px);
    padding: 0 get-fixed-size(1);
  }

  .#{$prefix}--side-nav__sub-menu__input:focus {
    box-shadow: inset 0 0 0 4px $shell-side-nav-accent-01;
    outline: none;
  }

  .#{$prefix}--side-nav__sub-menu__arrow {
    position: absolute;
    right: get-fixed-size(3);
  }

  .#{$prefix}--side-nav__sub-menu__arrow > svg {
    fill: $shell-side-nav-icon-01;
  }

  //----------------------------------------------------------------------------
  // Nav
  //----------------------------------------------------------------------------
  .#{$prefix}--side-nav__nav-item {
    height: get-fixed-size(6);
    overflow: hidden;
  }

  .#{$prefix}--side-nav:hover .#{$prefix}--side-nav__nav-item,
  .#{$prefix}--side-nav--expanded .#{$prefix}--side-nav__nav-item {
    height: unset;
  }

  //----------------------------------------------------------------------------
  // Categories
  //----------------------------------------------------------------------------
  .#{$prefix}--side-nav__category {
    position: relative;
  }

  .#{$prefix}--side-nav:hover .#{$prefix}--side-nav__category,
  .#{$prefix}--side-nav--expanded .#{$prefix}--side-nav__category {
    padding-top: get-fixed-size(1);
  }

  .#{$prefix}--side-nav__category--active {
    background-color: $shell-side-nav-bg-02;
  }

  .#{$prefix}--side-nav__category-header {
    display: flex;
    align-items: center;
  }

  .#{$prefix}--side-nav__category-title {
    // TODO: sync with tokens
    color: $ibm-colors__gray--10;
    font-size: rem(14px);
    font-weight: 600;
    line-height: rem(20px);
    margin-left: get-fixed-size(1);
    user-select: none;
    opacity: 0;
  }

  .#{$prefix}--side-nav:hover .#{$prefix}--side-nav__category-title,
  .#{$prefix}--side-nav--expanded .#{$prefix}--side-nav__category-title {
    opacity: 1;
  }

  .#{$prefix}--side-nav__category-items {
    display: none;
    opacity: 0;
  }

  .#{$prefix}--side-nav:hover .#{$prefix}--side-nav__category-items,
  .#{$prefix}--side-nav--expanded .#{$prefix}--side-nav__category-items {
    display: block;
    opacity: 1;
  }

  .#{$prefix}--side-nav__category-item {
    position: relative;
  }

  .#{$prefix}--side-nav__category-item--active::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 4px;
    background-color: $shell-side-nav-accent-01;
  }

  .#{$prefix}--side-nav__category-item > a {
    display: inline-block;
    font-size: rem(14px);
    letter-spacing: 0.1px;
    line-height: rem(32px);
    color: $shell-side-nav-text-01;
    text-decoration: none;
    font-weight: 400;
    width: 100%;
    padding-left: get-fixed-size(7);
  }

  .#{$prefix}--side-nav__category-item--active > a {
    font-weight: 600;
    color: $ibm-colors__white;
  }

  .#{$prefix}--side-nav__category-item > a:hover {
    background-color: $shell-side-nav-bg-02;
    color: $shell-side-nav-text-01;
  }

  .#{$prefix}--side-nav__category-item > a:focus {
    box-shadow: inset 0 0 0 4px $shell-side-nav-accent-01;
    outline: none;
  }

  .#{$prefix}--side-nav__category--active .#{$prefix}--side-nav__category-item > a:hover {
    background-color: $shell-side-nav-bg-03;
  }

  .#{$prefix}--side-nav__category-item--active > a {
    background-color: $shell-side-nav-bg-03;
  }

  //----------------------------------------------------------------------------
  // Footer
  //----------------------------------------------------------------------------
  .#{$prefix}--side-nav__footer {
    flex: 0 0 rem(48px);
    width: 100%;
    background-color: $shell-side-nav-bg-02;
  }

  .#{$prefix}--side-nav__toggle {
    @include button-reset($width: true);
    height: 100%;
    text-align: left;
  }

  .#{$prefix}--side-nav__toggle:hover {
    background-color: $shell-side-nav-bg-03;
  }

  .#{$prefix}--side-nav__toggle:focus {
    outline: none;
    box-shadow: inset 0 0 0 4px $shell-side-nav-accent-01;
  }

  .#{$prefix}--side-nav__toggle:active {
    background-color: $shell-side-nav-accent-01;
  }

  //----------------------------------------------------------------------------
  // Icons
  //----------------------------------------------------------------------------
  .#{$prefix}--side-nav__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: get-fixed-size(6);
    height: get-fixed-size(6);
  }

  .#{$prefix}--side-nav__icon > svg {
    fill: $shell-side-nav-icon-01;
  }

  .#{$prefix}--side-nav__icon--small {
    width: get-fixed-size(6);
    height: get-fixed-size(4);
  }
}

@include exports('platform-side-nav') {
  @if feature-flag-enabled('ui-shell') {
    @include platform-side-nav;
  }
}
