<nav class="bx--platform-header__nav">
  <ul class="bx--platform-header__links">
    {{#each header.navLinks}}
      {{#if href}}
        <li class="bx--platform-header__link-item">
          <a href="{{this.href}}" class="bx--platform-header__link">
            {{this.title}}
          </a>
        </li>
      {{else}}
      <li class="bx--platform-header__dropdown-item" tabindex="0">
          {{this.title}}
          <svg class="bx--platform-header__arrow" width="12" height="7">
            <path d="M6.002 5.55L11.27 0l.726.685L6.003 7 0 .685.726 0z"/>
          </svg>
          <ul class="bx--dropdown-item__menu">
            <li class="bx--dropdown-item__menu-item"><a href="#">Link 1</a></li>
            <li class="bx--dropdown-item__menu-item"><a href="#">Link 2</a></li>
            <li class="bx--dropdown-item__menu-item"><a href="#">Link 3</a></li>
          </ul>
      </li>
      {{/if}}
    {{/each}}
  </ul>
</nav>