<nav class="bx--platform-header__nav">
  <ul class="bx--platform-header__links">
    {{#each headernav.links}}
      {{#if href}}
        <a href="{{this.href}}" class="bx--platform-header__link">
          {{this.title}}
        </a>
      {{else}}
      <li class="bx--platform-header__link-item" tabindex="0">
          {{this.title}}
          <svg class="bx--platform-header__arrow--down" width="12" height="7">
            <path d="M6.002 5.55L11.27 0l.726.685L6.003 7 0 .685.726 0z"/>
          </svg>
          <svg class="bx--platform-header__arrow--up" width="12" height="7">
            <path d="M5.994 1.45L.726 7 0 6.315 5.994 0l6.002 6.315L11.27 7z"/>
          </svg>
          <ul class="bx--link-item__menu">
            <li class="bx--link-item__menu-item"><a href="#">Link 1</a></li>
            <li class="bx--link-item__menu-item"><a href="#">Link 2</a></li>
            <li class="bx--link-item__menu-item"><a href="#">Link 3</a></li>
          </ul>
      </li>
      {{/if}}
    {{/each}}
  </ul>
</nav>