<nav class="bx--platform-header__nav">
  <ul class="bx--platform-header__links">
    {{#each header.links}}
    <li class="bx--platform-header__link-item">
      <a class="bx--platform-header__link">
        {{this.title}}
      </a>
    </li>
    {{/each}}
  </ul>
</nav>
