//-----------------------------
// Text area
//-----------------------------

@import '../../globals/scss/colors';
@import '../../globals/scss/typography';
@import '../../globals/scss/css--reset';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/import-once';
@import '../form/form';


@include exports('text-area') {
  .bx--text-area {
    @include reset;
    @include helvetica;
    @include font-size('14');
    width: 100%;
    min-width: 10rem;
    padding: 1rem;
    margin-top: .625rem;
    color: $text-01;
    background-color: $field-01;
    border: 1px solid transparent;

    &:focus {
      @include focus-outline;
      outline: auto 2px -webkit-focus-ring-color; // webkit default
    }

    &::-webkit-input-placeholder {
      @include placeholder-colors;
    }

    &:disabled {
      opacity: .5;
      cursor: not-allowed;
    }

    &:disabled:hover {
      border: 1px solid transparent;
    }
  }
}
