<div class="bx--form-item">
  <textarea id="text-area-2" class="bx--text-area bx--text-area--v2 bx--text-area--light" rows="4" cols="50" placeholder="Placeholder text."></textarea>
  <label for="text-area-2" class="bx--label">Text Area label</label>
</div>

<div class="bx--form-item">
  <textarea data-invalid id="text-area-3" class="bx--text-area bx--text-area--v2 bx--text-area--light" rows="4" cols="50" placeholder="Placeholder text."></textarea>
  <label for="text-area-3" class="bx--label">Text Area label</label>
  <div class="bx--form-requirement">
    Validation message here
  </div>
</div>

<div class="bx--form-item">
  <textarea id="text-area-4" class="bx--text-area bx--text-area--v2 bx--text-area--light" rows="4" cols="50" placeholder="Placeholder text."></textarea>
  <label for="text-area-4" class="bx--label">Text Area label</label>
  <div class="bx--form__helper-text">
    Optional helper text goes here
  </div>
</div>
