<header class='global-header'>
	<a class='global-header__logo' href='#'>atlas</a>
	<ul class="global-header__dropdown">
		<li class="global-header__dropdown__item"><a href='#'>Menu</a>
			<ul class="global-header__dropdown-menu">
				<li class='global-header__dropdown-menu__item'><a href='#'>Home</a></li>
				<li class='global-header__dropdown-menu__item'><a href='#'>Compute</a></li>
				<li class='global-header__dropdown-menu__item'><a href='#'>Network</a></li>
				<li class='global-header__dropdown-menu__item'><a href='#'>Storage</a></li>
				<li class='global-header__dropdown-menu__item'><a href='#'>Media & CDN</a></li>
				<li class='global-header__dropdown-menu__item'><a href='#'>Data & Analytics</a></li>
				<li class='global-header__dropdown-menu__item'><a href='#'>Watson</a></li>
				<li class='global-header__dropdown-menu__item'><a href='#'>Integrate</a></li>
				<li class='global-header__dropdown-menu__item'><a href='#'>DevOps</a></li>
				<li class='global-header__dropdown-menu__item'><a href='#'>Security</a></li>
				<li class='global-header__dropdown-menu__item'><a href='#'>Application Services</a></li>
				<li class='global-header__dropdown-menu__item'><a href='#'>Mobile</a></li>
				<li class='global-header__dropdown-menu__item'><a href='#'>Internet of Things</a></li>
				<li class='global-header__dropdown-menu__item'><a href='#'>Private APIs</a></li>
			</ul>
		</li>
	</ul>
	<ul class='global-header__nav'>
		<li class='global-header__nav--item active'>MANAGE</li>
		<li class='global-header__nav--item'>LEARN</li>
		<li class='global-header__nav--item'>Erlich Bahman</li>
	</ul>
</header>