<header class="global-header--ghost">
 <div class="global-header__container">
      <nav class="global-header__nav">
        <a class="nav__wordmark" href="#">atlas</a>
        <ul class="nav__dropdown">
          <li class="dropdown__item"><a href="#" id="current">Menu</a>
            <!-- taxonomy dropdown here -->
          </li>
        </ul>
      </nav>
      <nav class="global-header__nav--secondary">
        <ul class="nav--secondary__list">
          <li class="nav--secondary__item"><a class="nav--secondary__link" href="#">docs</a></li>
        </ul>
        <ul class="global-profile">
          <li><a class="global-profile__avatar"href="#"></a></li>
          <li><a class="global-profile__full-name" href="#">Erlich Bachman</a></li>
        </ul>
      </nav>
    </div>
</header>
