<header class='global-header'>
	<a class='global-header__logo' href='#'>atlas</a>
	<ul class="global-header__dropdown">
		<li class="global-header__dropdown__item"><p class="current">Menu</p>
			<ul class="global-header__dropdown-menu">
				<li class='global-header__dropdown-menu__item'><a href='#'>Home</a></li>
				<li class='global-header__dropdown-menu__item'><a href='#Compute'>Compute</a></li>
				<li class='global-header__dropdown-menu__item'><a href='#Network'>Network</a></li>
				<li class='global-header__dropdown-menu__item'><a href='#Storage'>Storage</a></li>
				<li class='global-header__dropdown-menu__item'><a href='#Media'>Media & CDN</a></li>
				<li class='global-header__dropdown-menu__item'><a href='#Data'>Data & Analytics</a></li>
				<li class='global-header__dropdown-menu__item'><a href='#Watson'>Watson</a></li>
				<li class='global-header__dropdown-menu__item'><a href='#Integrate'>Integrate</a></li>
				<li class='global-header__dropdown-menu__item'><a href='#DevOps'>DevOps</a></li>
				<li class='global-header__dropdown-menu__item'><a href='#Security'>Security</a></li>
				<li class='global-header__dropdown-menu__item'><a href='#Application'>Application Services</a></li>
				<li class='global-header__dropdown-menu__item'><a href='#Mobile'>Mobile</a></li>
				<li class='global-header__dropdown-menu__item'><a href='#Internet of Things'>Internet of Things</a></li>
				<li class='global-header__dropdown-menu__item'><a href='#Private APIs'>Private APIs</a></li>
			</ul>
		</li>
	</ul>
	<nav class='global-header__nav'>
		<ul class='nav__list'>
			<li class='nav__item active'>MANAGE</li>
			<li class='nav__item'>LEARN</li>
			<li class='nav__item'>Erlich Bahman</li>
		</ul>
	</nav>
</header>