<!-- Unified Header -->
<div data-unified-header class="bx--unified-header bx--unified-header--applications" tabindex="0">

  <!-- Super Global Header -->
  <nav role="navigation" class="bx--top-nav" aria-label="Top Header">
    <ul role="menubar" class="bx--top-nav__left-container" aria-hidden="false">
      <a class="bx--top-nav__left-container__link" href="#" tabindex="0">
        <svg class="bx--top-nav__left-container__link--icon">
          <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#support--help-fill-circle-with-outline"></use>
        </svg>
        Docs
      </a>
      <!-- <li role="menuitem" class="bx--top-nav__left-container__item">
        <ul role="menu" data-dropdown class="bx--dropdown" tabindex="0">
          <li class="bx--dropdown__menu-text">Docs</li>
          <li>
            <svg class="bx--dropdown__arrow">
              <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#common--search"></use>
            </svg>
          </li>
          <li aria-haspopup="true">
            <ul role="menu" aria-hidden="true" class="bx--dropdown__list">
              <li role="menuitem" data-option data-value="all" class="bx--dropdown__list-item"><a tabindex="0" class="bx--dropdown__link" href="javascript:void(0)">All</a></li>
              <li role="menuitem" data-option data-value="cloudFoundry" class="bx--dropdown__list-item"><a tabindex="0" class="bx--dropdown__link" href="javascript:void(0)">Cloud Foundry API</a></li>
              <li role="menuitem" data-option data-value="staging" class="bx--dropdown__list-item"><a tabindex="0" class="bx--dropdown__link" href="javascript:void(0)">Staging</a></li>
            </ul>
          </li>
        </ul>
      </li> -->
      <!-- <li role="menuitem" class="bx--top-nav__left-container__item">
        <ul role="menu" data-dropdown class="bx--dropdown" tabindex="0">
          <li class="bx--dropdown__menu-text">Contact</li>
          <li>
            <svg class="bx--dropdown__arrow">
              <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#common--user"></use>
            </svg>
          </li>
          <li aria-haspopup="true">
            <ul role="menu" aria-hidden="true" class="bx--dropdown__list">
              <li role="menuitem" data-option data-value="all" class="bx--dropdown__list-item"><a tabindex="0" class="bx--dropdown__link" href="javascript:void(0)">Sales</a></li>
              <li role="menuitem" data-option data-value="cloudFoundry" class="bx--dropdown__list-item"><a tabindex="0" class="bx--dropdown__link" href="javascript:void(0)">DW Answers</a></li>
              <li role="menuitem" data-option data-value="staging" class="bx--dropdown__list-item"><a tabindex="0" class="bx--dropdown__link" href="javascript:void(0)">StackOverflow</a></li>
            </ul>
          </li>
        </ul>
      </li> -->
      <!-- <li role="menuitem" class="bx--top-nav__left-container__item">
        <ul role="menu" data-dropdown class="bx--dropdown" tabindex="0">
          <li class="bx--dropdown__menu-text">Notifications</li>
          <li>
            <svg class="bx--dropdown__arrow">
              <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#notifications--info"></use>
            </svg>
          </li>
          <li aria-haspopup="true">
            <ul role="menu" aria-hidden="true" class="bx--dropdown__list">
              <li role="menuitem" data-option data-value="all" class="bx--dropdown__list-item"><a tabindex="0" class="bx--dropdown__link" href="javascript:void(0)">System Status</a></li>
              <li role="menuitem" data-option data-value="cloudFoundry" class="bx--dropdown__list-item"><a tabindex="0" class="bx--dropdown__link" href="javascript:void(0)">Application Status</a></li>
            </ul>
          </li>
        </ul>
      </li> -->
    </ul>
    <ul role="menubar" class="bx--top-nav__right-container">
      <li role="menuitem" class="bx--top-nav__right-container__item">
        <ul role="menu" data-profile-switcher class="bx--account-switcher">
          <li tabindex="0" data-profile-switcher-toggle class="bx--account-switcher__toggle">
            <p data-switcher-account class="bx--account-switcher__toggle--text"></p>
            <p class="bx--account-switcher__toggle--text">|</p>
            <p data-switcher-region class="bx--account-switcher__toggle--text"></p>
            <p data-switcher-org class="bx--account-switcher__toggle--text"></p>
            <p data-switcher-space class="bx--account-switcher__toggle--text"></p>
          </li>
          <li role="menuitem" data-switcher-menu class="bx--account-switcher__menu__container">
            <ul role="menu" class="bx--account-switcher__menu">
              <li role="menuitem" class="bx--account-switcher__menu__item">
                <p class="bx--account-switcher__menu__item--title">Account</p>
                <ul role="menu" data-dropdown data-value="Logans_account_123456789_1234" class="bx--dropdown" tabindex="0">
                  <li data-dropdown-account class="bx--dropdown__menu-text">Logans_account_123456789_1234</li>
                  <li>
                    <svg class="bx--dropdown__arrow">
                      <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#service--down-arrow"></use>
                    </svg>
                  </li>
                  <li aria-haspopup="true" class="bx--dropdown--scroll">
                    <ul role="menu" aria-hidden="true" class="bx--dropdown__list">
                      <li role="menuitem" data-option data-value="all" class="bx--dropdown__list-item"><a class="bx--dropdown__link" href="javascript:void(0)" tabindex="0">someone_at_a_company@email.com</a></li>
                      <li role="menuitem" data-option data-value="all" class="bx--dropdown__list-item"><a class="bx--dropdown__link" href="javascript:void(0)" tabindex="0">TJs_accoqwejqwhekjqwgehgunt_54321</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="bx--account-switcher__menu__item">
                <p class="bx--account-switcher__menu__item--title">Region</p>
                <ul data-dropdown data-value="US South" class="bx--dropdown" tabindex="0">
                  <li data-dropdown-region class="bx--dropdown__menu-text">US South</li>
                  <svg class="bx--dropdown__arrow">
                    <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#service--down-arrow"></use>
                  </svg>
                  <li class="bx--dropdown--scroll">
                    <ul class="bx--dropdown__list">
                      <li data-option data-value="all" class="bx--dropdown__list-item"><a class="bx--dropdown__link" href="javascript:void(0)">US South</a></li>
                      <li data-option data-value="all" class="bx--dropdown__list-item"><a  class="bx--dropdown__link" href="javascript:void(0)">Sydney</a></li>
                      <li data-option data-value="cloudFoundry" class="bx--dropdown__list-item"><a  class="bx--dropdown__link" href="javascript:void(0)">United Kingdom</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="bx--account-switcher__menu__item">
                <p class="bx--account-switcher__menu__item--title">Organization</p>
                <ul data-dropdown data-value="Organization 1" class="bx--dropdown" tabindex="0">
                  <li data-dropdown-org class="bx--dropdown__menu-text">Organization 1</li>
                  <svg class="bx--dropdown__arrow">
                    <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#service--down-arrow"></use>
                  </svg>
                  <li class="bx--dropdown--scroll">
                    <ul class="bx--dropdown__list">
                      <li data-option data-value="all" class="bx--dropdown__list-item"><a  class="bx--dropdown__link" href="javascript:void(0)">someone_at_a_company@email.com</a></li>
                      <li data-option data-value="cloudFoundry" class="bx--dropdown__list-item"><a  class="bx--dropdown__link" href="javascript:void(0)">Organization q2332434341sddsf2</a></li>
                      <li data-option data-value="staging" class="bx--dropdown__list-item"><a  class="bx--dropdown__link" href="javascript:void(0)">Organization 3</a></li>
                      <li data-option data-value="dea" class="bx--dropdown__list-item"><a  class="bx--dropdown__link" href="javascript:void(0)">Organization 4</a></li>
                      <li data-option data-value="router" class="bx--dropdown__list-item"><a  class="bx--dropdown__link" href="javascript:void(0)">Organization 5</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="bx--account-switcher__menu__item">
                <p class="bx--account-switcher__menu__item--title">Space</p>
                <ul data-dropdown data-value="Space 2" class="bx--dropdown" tabindex="0">
                  <li data-dropdown-space class="bx--dropdown__menu-text">Space 2</li>
                  <svg class="bx--dropdown__arrow">
                    <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#service--down-arrow"></use>
                  </svg>
                  <li class="bx--dropdown--scroll">
                    <ul class="bx--dropdown__list">
                      <li data-option data-value="all" class="bx--dropdown__list-item"><a  class="bx--dropdown__link" href="javascript:void(0)">Dev</a></li>
                      <li data-option data-value="all" class="bx--dropdown__list-item"><a  class="bx--dropdown__link" href="javascript:void(0)">Space 2</a></li>
                      <li data-option data-value="cloudFoundry" class="bx--dropdown__list-item"><a  class="bx--dropdown__link" href="javascript:void(0)">Space 3</a></li>
                      <li data-option data-value="staging" class="bx--dropdown__list-item"><a  class="bx--dropdown__link" href="javascript:void(0)">Space 4</a></li>
                      <li data-option data-value="dea" class="bx--dropdown__list-item"><a  class="bx--dropdown__link" href="javascript:void(0)">Space 5</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="bx--account-switcher__menu__item">
                <a href="#" class="bx--link">Manage Organizations</a>
                <a href="#" class="bx--link">Create A Space</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="bx--top-nav__right-container__item">
        <ul data-dropdown data-value class="bx--dropdown" tabindex="0">
          <li data-top-nav-profile-image class="bx--dropdown__menu-text--profile-image">
            <div class="profile-image">
              <svg class="bx--dropdown__profile-dropdown--picture">
                <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#support--user-stroke-circle"></use>
              </svg>
            </div>
          </li>
          <li class="bx--dropdown__profile-dropdown">
            <ul class="bx--dropdown__list">
              <li data-option data-value="all" class="bx--dropdown__list-item">
                <svg class="bx--dropdown__profile-dropdown--picture">
                  <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#support--user-stroke-circle"></use>
                </svg>
                <div class="bx--dropdown__profile-dropdown--information">
                  <p>Erlich Bachman</p>
                  <div class="bx--dropdown__profile-dropdown__container">
                    <a class="bx--link" href="javascript:void(0)">Profile</a>
                    <p>|</p>
                    <a class="bx--link" href="javascript:void(0)">Log Out</a>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <!-- End Super Global Header -->

  <!-- Global Header -->
  <header role="banner" class="bx--global-header">
    <div class="bx--global-header__left-container">
      <div class="bx--left-nav__trigger" data-left-nav-toggle="open" tabindex="0">
        <div class="bx--left-nav__trigger--btn">
          <span></span>
        </div>
      </div>
      <div class="bx--global-header__left-nav" data-left-nav-container>
        <div data-left-nav-toggle="close" data-left-nav-current-section="Applications" class="bx--left-nav__header">
          <a data-left-nav-current-section-title class="bx--left-nav__header--title">Applications</a>
          <svg tabindex="0" class="bx--left-nav__header--close-icon">
            <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#common--close"></use>
          </svg>
        </div>
        <nav class="bx--left-nav" data-left-nav role="navigation" aria-label="Left Navigation">
          <ul data-left-nav-sections class="bx--left-nav__sections" tabindex="0">
            <li data-left-nav-section="Infrastructure" class="bx--left-nav__section bx--left-nav__section--infrastructure"><a class="bx--left-nav__section--link" href="./unified-header-infrastructure">Infrastructure</a></li>
            <li data-left-nav-section="Services" class="bx--left-nav__section bx--left-nav__section--services"><a class="bx--left-nav__section--link" href="./unified-header-services">Services</a></li>
          </ul>
          <ul role="menubar" class="bx--left-nav-list" data-left-nav-list aria-hidden="false">
            <li role="menuitem" tabindex="0" class="bx--left-nav-list__item" data-left-nav-item>
              <a href="#" title="Item without children" class="bx--left-nav-list__item-link" tabindex="-1">
                <svg class="bx--left-nav-list__item-link--taxonomy-icon">
                  <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--compute"></use>
                </svg>
                Dashboard
              </a>
            </li>
            <li role="menuitem" tabindex="0" class="bx--left-nav-list__item" data-left-nav-item>
              <a href="#" class="bx--left-nav-list__item-link" tabindex="-1">
                <svg class="bx--left-nav-list__item-link--taxonomy-icon">
                  <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--compute"></use>
                </svg>
                Compute
              </a>
            </li>
            <li role="menuitem" tabindex="0" class="bx--left-nav-list__item" data-left-nav-item>
              <a href="#" title="Item without children" class="bx--left-nav-list__item-link" tabindex="-1">
                <svg class="bx--left-nav-list__item-link--taxonomy-icon">
                  <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--compute"></use>
                </svg>
                Network
              </a>
            </li>
            <li role="menuitem" tabindex="0" class="bx--left-nav-list__item" data-left-nav-item>
              <a href="#" class="bx--left-nav-list__item-link" tabindex="-1">
                <svg class="bx--left-nav-list__item-link--taxonomy-icon">
                  <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--compute"></use>
                </svg>
                Storage
              </a>
            </li>
            <li role="menuitem" tabindex="0" class="bx--left-nav-list__item" data-left-nav-item>
              <a href="#" title="Item without children" class="bx--left-nav-list__item-link" tabindex="-1">
                <svg class="bx--left-nav-list__item-link--taxonomy-icon">
                  <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--compute"></use>
                </svg>
                Data & Analytics
              </a>
            </li>
            <li role="menuitem" tabindex="0" class="bx--left-nav-list__item" data-left-nav-item>
              <a href="#" class="bx--left-nav-list__item-link" tabindex="-1">
                <svg class="bx--left-nav-list__item-link--taxonomy-icon">
                  <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--compute"></use>
                </svg>
                Watson
              </a>
            </li>
            <li role="menuitem" tabindex="0" class="bx--left-nav-list__item" data-left-nav-item>
              <a href="#" title="Item without children" class="bx--left-nav-list__item-link" tabindex="-1">
                <svg class="bx--left-nav-list__item-link--taxonomy-icon">
                  <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--compute"></use>
                </svg>
                Internet of Things
              </a>
            </li>
            <li role="menuitem" tabindex="0" class="bx--left-nav-list__item" data-left-nav-item>
              <a href="#" class="bx--left-nav-list__item-link" tabindex="-1">
                <svg class="bx--left-nav-list__item-link--taxonomy-icon">
                  <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--compute"></use>
                </svg>
                APIs
              </a>
            </li>
            <li role="menuitem" tabindex="0" class="bx--left-nav-list__item" data-left-nav-item>
              <a href="#" class="bx--left-nav-list__item-link" tabindex="-1">
                <svg class="bx--left-nav-list__item-link--taxonomy-icon">
                  <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--compute"></use>
                </svg>
                DevOps
              </a>
            </li>
            <li role="menuitem" tabindex="0" class="bx--left-nav-list__item" data-left-nav-item>
              <a href="#" class="bx--left-nav-list__item-link" tabindex="-1">
                <svg class="bx--left-nav-list__item-link--taxonomy-icon">
                  <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--compute"></use>
                </svg>
                Security
              </a>
            </li>
            <li role="menuitem" tabindex="0" class="bx--left-nav-list__item" data-left-nav-item>
              <a href="#" class="bx--left-nav-list__item-link" tabindex="-1">
                <svg class="bx--left-nav-list__item-link--taxonomy-icon">
                  <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--compute"></use>
                </svg>
                Application Services
              </a>
            </li>
            <li role="menuitem" tabindex="0" class="bx--left-nav-list__item" data-left-nav-item>
              <a href="#" class="bx--left-nav-list__item-link" tabindex="-1">
                <svg class="bx--left-nav-list__item-link--taxonomy-icon">
                  <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--compute"></use>
                </svg>
                Mobile
              </a>
            </li>
            <li role="menuitem" tabindex="0" class="bx--left-nav-list__item" data-left-nav-item>
              <a href="#" class="bx--left-nav-list__item-link" tabindex="-1">
                <svg class="bx--left-nav-list__item-link--taxonomy-icon">
                  <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--compute"></use>
                </svg>
                Integrate
              </a>
            </li>
            <!-- <li class="bx--left-nav-list__item bx--left-nav-list__item--has-children" data-left-nav-item-with-children data-left-nav-item tabindex="0" aria-haspopup="true">
              <a class="bx--left-nav-list__item-link" tabindex="-1">
                <svg class="bx--left-nav-list__item-link--taxonomy-icon">
                  <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--compute"></use>
                </svg>
                Item with children
                <div class="bx--left-nav-list__item-link--icon">
                  <svg class="icon">
                    <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#support--chevron-down"></use>
                  </svg>
                </div>
              </a>
              <ul role="menu" aria-hidden="true" class="bx--left-nav-list bx--left-nav-list--nested" data-left-nav-nested-list>
                <li class="bx--left-nav-list__item" data-left-nav-nested-item data-left-nav-has-flyout role="menuitem" tabindex="-1" aria-haspopup="true">
                  <a href="#example-item-1A" class="bx--left-nav-list__item-link" data-left-nav-item-link tabindex="-1">Item with Flyout
                    <div class="bx--left-nav-list--flyout--icon">
                      <svg class="bx--left-nav-list--flyout--arrow-icon">
                        <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#service--chevron"></use>
                      </svg>
                    </div>
                  </a>
                    <ul role="menu" aria-hidden="true" class="bx--left-nav-list bx--left-nav-list--flyout" data-left-nav-flyout>
                      <li class="bx--left-nav-list__item" data-left-nav-flyout-item role="menuitem" tabindex="-1">
                        <a href="#example-item-1Aa" class="bx--left-nav-list__item-link" data-left-nav-item-link>Example Item 1Aa</a>
                      </li>
                      <li class="bx--left-nav-list__item" data-left-nav-flyout-item role="menuitem" tabindex="-1">
                        <a href="#example-item-1Ab" class="bx--left-nav-list__item-link" data-left-nav-item-link>Example Item 1Ab</a>
                      </li>
                      <li class="bx--left-nav-list__item" data-left-nav-flyout-item role="menuitem" tabindex="-1">
                        <a href="#example-item-1Ac" class="bx--left-nav-list__item-link" data-left-nav-item-link>Example Item 1Ac</a>
                      </li>
                      <li class="bx--left-nav-list__item" data-left-nav-flyout-item role="menuitem" tabindex="-1">
                        <a href="#example-item-1Ad" class="bx--left-nav-list__item-link" data-left-nav-item-link>Example Item 1Ad</a>
                      </li>
                      <li class="bx--left-nav-list__item" data-left-nav-flyout-item role="menuitem" tabindex="-1">
                        <a href="#example-item-1Ae" class="bx--left-nav-list__item-link" data-left-nav-item-link>Example Item 1Ae</a>
                      </li>
                    </ul>
                </li>
                <li class="bx--left-nav-list__item" data-left-nav-nested-item role="menuitem" tabindex="-1">
                  <a href="#example-item-1B" class="bx--left-nav-list__item-link" data-left-nav-item-link tabindex="-1">Example Item 1B</a>
                </li>
                <li class="bx--left-nav-list__item" data-left-nav-nested-item role="menuitem" tabindex="-1">
                  <a href="#example-item-1C" class="bx--left-nav-list__item-link" data-left-nav-item-link tabindex="-1">Example Item 1C</a>
                </li>
                <li class="bx--left-nav-list__item" data-left-nav-nested-item role="menuitem" tabindex="-1">
                  <a href="#example-item-1D" class="bx--left-nav-list__item-link" data-left-nav-item-link tabindex="-1">Example Item 1D</a>
                </li>
              </ul>
            </li>
            <li class="bx--left-nav-list__item bx--left-nav-list__item--has-children" data-left-nav-item-with-children data-left-nav-item tabindex="0" aria-haspopup="true">
              <a class="bx--left-nav-list__item-link" tabindex="-1">
                <svg class="bx--left-nav-list__item-link--taxonomy-icon">
                  <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--compute"></use>
                </svg>
                Item with children
                <div class="bx--left-nav-list__item-link--icon">
                  <svg class="icon">
                    <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#support--chevron-down"></use>
                  </svg>
                </div>
              </a>
              <ul role="menu" aria-hidden="true" class="bx--left-nav-list bx--left-nav-list--nested" data-left-nav-nested-list>
                <li class="bx--left-nav-list__item" data-left-nav-nested-item data-left-nav-has-flyout role="menuitem" tabindex="-1" aria-haspopup="true">
                  <a href="#example-item-1A" class="bx--left-nav-list__item-link" data-left-nav-item-link tabindex="-1">Item with Flyout
                    <div class="bx--left-nav-list--flyout--icon">
                      <svg class="bx--left-nav-list--flyout--arrow-icon">
                        <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#service--chevron"></use>
                      </svg>
                    </div>
                  </a>
                  <ul role="menu" aria-hidden="true" class="bx--left-nav-list bx--left-nav-list--flyout" data-left-nav-flyout>
                    <li class="bx--left-nav-list__item" data-left-nav-flyout-item role="menuitem" tabindex="-1">
                      <a href="#example-item-1Aa" class="bx--left-nav-list__item-link" data-left-nav-item-link>Example Item 1Aa</a>
                    </li>
                    <li class="bx--left-nav-list__item" data-left-nav-flyout-item role="menuitem" tabindex="-1">
                      <a href="#example-item-1Ab" class="bx--left-nav-list__item-link" data-left-nav-item-link>Example Item 1Ab</a>
                    </li>
                    <li class="bx--left-nav-list__item" data-left-nav-flyout-item role="menuitem" tabindex="-1">
                      <a href="#example-item-1Ac" class="bx--left-nav-list__item-link" data-left-nav-item-link>Example Item 1Ac</a>
                    </li>
                    <li class="bx--left-nav-list__item" data-left-nav-flyout-item role="menuitem" tabindex="-1">
                      <a href="#example-item-1Ad" class="bx--left-nav-list__item-link" data-left-nav-item-link>Example Item 1Ad</a>
                    </li>
                    <li class="bx--left-nav-list__item" data-left-nav-flyout-item role="menuitem" tabindex="-1">
                      <a href="#example-item-1Ae" class="bx--left-nav-list__item-link" data-left-nav-item-link>Example Item 1Ae</a>
                    </li>
                  </ul>
                </li>
                <li class="bx--left-nav-list__item" data-left-nav-nested-item role="menuitem" tabindex="-1">
                  <a href="#example-item-1B" class="bx--left-nav-list__item-link" data-left-nav-item-link tabindex="-1">Example Item 1B</a>
                </li>
                <li class="bx--left-nav-list__item" data-left-nav-nested-item role="menuitem" tabindex="-1">
                  <a href="#example-item-1C" class="bx--left-nav-list__item-link" data-left-nav-item-link tabindex="-1">Example Item 1C</a>
                </li>
                <li class="bx--left-nav-list__item" data-left-nav-nested-item role="menuitem" tabindex="-1">
                  <a href="#example-item-1D" class="bx--left-nav-list__item-link" data-left-nav-item-link tabindex="-1">Example Item 1D</a>
                </li>
              </ul>
            </li>
            <li class="bx--left-nav-list__item bx--left-nav-list__item--has-children" data-left-nav-item-with-children data-left-nav-item tabindex="0" aria-haspopup="true">
              <a class="bx--left-nav-list__item-link" tabindex="-1">
                <svg class="bx--left-nav-list__item-link--taxonomy-icon">
                  <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--compute"></use>
                </svg>
                Item with children
                <div class="bx--left-nav-list__item-link--icon">
                  <svg class="icon">
                    <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#support--chevron-down"></use>
                  </svg>
                </div>
              </a>
              <ul role="menu" aria-hidden="true" class="bx--left-nav-list bx--left-nav-list--nested" data-left-nav-nested-list>
                <li class="bx--left-nav-list__item" data-left-nav-nested-item data-left-nav-has-flyout role="menuitem" tabindex="-1" aria-haspopup="true">
                  <a href="#example-item-1A" class="bx--left-nav-list__item-link" data-left-nav-item-link tabindex="-1">Item with Flyout
                    <div class="bx--left-nav-list--flyout--icon">
                      <svg class="bx--left-nav-list--flyout--arrow-icon">
                        <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#service--chevron"></use>
                      </svg>
                    </div>
                  </a>
                  <ul role="menu" aria-hidden="true" class="bx--left-nav-list bx--left-nav-list--flyout" data-left-nav-flyout>
                    <li class="bx--left-nav-list__item" data-left-nav-flyout-item role="menuitem" tabindex="-1">
                      <a href="#example-item-1Aa" class="bx--left-nav-list__item-link" data-left-nav-item-link>Example Item 1Aa</a>
                    </li>
                    <li class="bx--left-nav-list__item" data-left-nav-flyout-item role="menuitem" tabindex="-1">
                      <a href="#example-item-1Ab" class="bx--left-nav-list__item-link" data-left-nav-item-link>Example Item 1Ab</a>
                    </li>
                    <li class="bx--left-nav-list__item" data-left-nav-flyout-item role="menuitem" tabindex="-1">
                      <a href="#example-item-1Ac" class="bx--left-nav-list__item-link" data-left-nav-item-link>Example Item 1Ac</a>
                    </li>
                    <li class="bx--left-nav-list__item" data-left-nav-flyout-item role="menuitem" tabindex="-1">
                      <a href="#example-item-1Ad" class="bx--left-nav-list__item-link" data-left-nav-item-link>Example Item 1Ad</a>
                    </li>
                    <li class="bx--left-nav-list__item" data-left-nav-flyout-item role="menuitem" tabindex="-1">
                      <a href="#example-item-1Ae" class="bx--left-nav-list__item-link" data-left-nav-item-link>Example Item 1Ae</a>
                    </li>
                  </ul>
                </li>
                <li class="bx--left-nav-list__item" data-left-nav-nested-item role="menuitem" tabindex="-1">
                  <a href="#example-item-1B" class="bx--left-nav-list__item-link" data-left-nav-item-link tabindex="-1">Example Item 1B</a>
                </li>
                <li class="bx--left-nav-list__item" data-left-nav-nested-item role="menuitem" tabindex="-1">
                  <a href="#example-item-1C" class="bx--left-nav-list__item-link" data-left-nav-item-link tabindex="-1">Example Item 1C</a>
                </li>
                <li class="bx--left-nav-list__item" data-left-nav-nested-item role="menuitem" tabindex="-1">
                  <a href="#example-item-1D" class="bx--left-nav-list__item-link" data-left-nav-item-link tabindex="-1">Example Item 1D</a>
                </li>
              </ul>
            </li>
            <li class="bx--left-nav-list__item bx--left-nav-list__item--has-children" data-left-nav-item-with-children data-left-nav-item tabindex="0" aria-haspopup="true">
              <a class="bx--left-nav-list__item-link" tabindex="-1">
                <svg class="bx--left-nav-list__item-link--taxonomy-icon">
                  <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--compute"></use>
                </svg>
                Item with children
                <div class="bx--left-nav-list__item-link--icon">
                  <svg class="icon">
                    <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#support--chevron-down"></use>
                  </svg>
                </div>
              </a>
              <ul role="menu" aria-hidden="true" class="bx--left-nav-list bx--left-nav-list--nested" data-left-nav-nested-list>
                <li class="bx--left-nav-list__item" data-left-nav-nested-item data-left-nav-has-flyout role="menuitem" tabindex="-1" aria-haspopup="true">
                  <a href="#example-item-1A" class="bx--left-nav-list__item-link" data-left-nav-item-link tabindex="-1">Item with Flyout
                    <div class="bx--left-nav-list--flyout--icon">
                      <svg class="bx--left-nav-list--flyout--arrow-icon">
                        <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#service--chevron"></use>
                      </svg>
                    </div>
                  </a>
                  <ul role="menu" aria-hidden="true" class="bx--left-nav-list bx--left-nav-list--flyout" data-left-nav-flyout>
                    <li class="bx--left-nav-list__item" data-left-nav-flyout-item role="menuitem" tabindex="-1">
                      <a href="#example-item-1Aa" class="bx--left-nav-list__item-link" data-left-nav-item-link>Example Item 1Aa</a>
                    </li>
                    <li class="bx--left-nav-list__item" data-left-nav-flyout-item role="menuitem" tabindex="-1">
                      <a href="#example-item-1Ab" class="bx--left-nav-list__item-link" data-left-nav-item-link>Example Item 1Ab</a>
                    </li>
                    <li class="bx--left-nav-list__item" data-left-nav-flyout-item role="menuitem" tabindex="-1">
                      <a href="#example-item-1Ac" class="bx--left-nav-list__item-link" data-left-nav-item-link>Example Item 1Ac</a>
                    </li>
                    <li class="bx--left-nav-list__item" data-left-nav-flyout-item role="menuitem" tabindex="-1">
                      <a href="#example-item-1Ad" class="bx--left-nav-list__item-link" data-left-nav-item-link>Example Item 1Ad</a>
                    </li>
                    <li class="bx--left-nav-list__item" data-left-nav-flyout-item role="menuitem" tabindex="-1">
                      <a href="#example-item-1Ae" class="bx--left-nav-list__item-link" data-left-nav-item-link>Example Item 1Ae</a>
                    </li>
                  </ul>
                </li>
                <li class="bx--left-nav-list__item" data-left-nav-nested-item role="menuitem" tabindex="-1">
                  <a href="#example-item-1B" class="bx--left-nav-list__item-link" data-left-nav-item-link tabindex="-1">Example Item 1B</a>
                </li>
                <li class="bx--left-nav-list__item" data-left-nav-nested-item role="menuitem" tabindex="-1">
                  <a href="#example-item-1C" class="bx--left-nav-list__item-link" data-left-nav-item-link tabindex="-1">Example Item 1C</a>
                </li>
                <li class="bx--left-nav-list__item" data-left-nav-nested-item role="menuitem" tabindex="-1">
                  <a href="#example-item-1D" class="bx--left-nav-list__item-link" data-left-nav-item-link tabindex="-1">Example Item 1D</a>
                </li>
              </ul>
            </li> -->
          </ul>
        </nav>
      </div>
      <div class="bx--global-header__title">
        <a href="#" class="bx--global-header__title--logo" tabindex="0">
          <img class="logo__image" src="http://ace-common-test-20160914-093307.ng.bluemix.net/cache/784-1688551103/api/v4/img/bluemix-logo-2016-feb.svg"></img>
          <h1 class="logo__text">
            IBM <span class="logo__text--bold">Bluemix</span>
          </h1>
        </a>
        <h4 class="bx--global-header__title--current-page">Applications</h4>
      </div>
      <!-- End Left Navigation -->
    </div>

    <!-- Global Header - Right Nav -->
    <div class="bx--global-header__right-container">
      <ul data-global-header-menu role="menubar" class="bx--global-header__menu" aria-hidden="false">
        <li role="menuitem" class="bx--global-header__menu__item">
          <a class="bx--global-header__menu__item--link" tabindex="0" href="javascript:void(0)">Catalog</a>
        </li>
        <li role="menuitem" class="bx--global-header__menu__item">
          <a class="bx--global-header__menu__item--link" tabindex="0" href="javascript:void(0)">Support</a>
        </li>
        <!-- <li role="menuitem" class="bx--global-header__menu__item">
          <ul role="menu" data-dropdown class="bx--dropdown" tabindex="0">
            <li class="bx--dropdown__menu-text">Support</li>
            <li aria-haspopup="true">
              <ul role="menu" aria-hidden="true" class="bx--dropdown__list">
                <li role="menuitem" tabindex="0" data-option data-value="all" class="bx--dropdown__list-item"><a class="bx--dropdown__link" href="javascript:void(0)">Add Ticket</a></li>
                <li role="menuitem" tabindex="0" data-option data-value="cloudFoundry" class="bx--dropdown__list-item"><a class="bx--dropdown__link" href="javascript:void(0)">Tickets</a></li>
                <li role="menuitem" tabindex="0" data-option data-value="staging" class="bx--dropdown__list-item"><a class="bx--dropdown__link" href="javascript:void(0)">Events</a></li>
                <li role="menuitem" tabindex="0" data-option data-value="staging" class="bx--dropdown__list-item"><a class="bx--dropdown__link" href="javascript:void(0)">SSL VPN Login</a></li>
              </ul>
            </li>
          </ul>
        </li> -->
        <li role="menuitem" class="bx--global-header__menu__item">
          <ul role="menu" data-dropdown="navigation" class="bx--dropdown" tabindex="0">
            <li class="bx--dropdown__menu-text">Account</li>
            <li aria-haspopup="true">
              <ul role="menu" aria-hidden="true" class="bx--dropdown__list">
                <li role="menuitem" tabindex="0" data-option class="bx--dropdown__list-item"><a class="bx--dropdown__link" href="javascript:void(0)">Make A Payment</a></li>
                <li role="menuitem" tabindex="0" data-option class="bx--dropdown__list-item"><a data-account-link class="bx--dropdown__link" href="javascript:void(0)">Sales</a></li>
                <li role="menuitem" tabindex="0" data-option class="bx--dropdown__list-item"><a data-account-link class="bx--dropdown__link" href="javascript:void(0)">Billing</a></li>
                <li role="menuitem" tabindex="0" data-option class="bx--dropdown__list-item"><a data-account-link class="bx--dropdown__link" href="javascript:void(0)">Users</a></li>
                <li role="menuitem" tabindex="0" data-option class="bx--dropdown__list-item"><a data-account-link class="bx--dropdown__link" href="javascript:void(0)">VPN Access</a></li>
                <li role="menuitem" tabindex="0" data-option class="bx--dropdown__list-item"><a data-account-link class="bx--dropdown__link" href="javascript:void(0)">Manage</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </header>
  <!-- End Global Header -->

</div>
<!-- End Unified Header -->
