<div data-unified-header class="unified-header">
  <nav class="bx--top-nav">
    <ul class="bx--top-nav__account">
      <li class="bx--top-nav__account--item">
        <ul data-dropdown class="bx--dropdown" tabindex="1">
          <li class="bx--dropdown__menu-text">Docs</li>
          <svg class="bx--dropdown__arrow">
            <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#common--search"></use>
          </svg>
          <li>
            <ul class="bx--dropdown__list">
              <!-- `href` in `<li>` would typically be actual links of routes -->
              <li data-option data-value="all" class="bx--dropdown__list-item"><a class="bx--dropdown__link" href="javascript:void(0)">All</a></li>
              <li data-option data-value="cloudFoundry" class="bx--dropdown__list-item"><a class="bx--dropdown__link" href="javascript:void(0)">Cloud Foundry API</a></li>
              <li data-option data-value="staging" class="bx--dropdown__list-item"><a class="bx--dropdown__link" href="javascript:void(0)">Staging</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="bx--top-nav__account--item">
        <ul data-dropdown class="bx--dropdown" tabindex="2">
          <li class="bx--dropdown__menu-text">Contact</li>
          <svg class="bx--dropdown__arrow">
            <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#common--user"></use>
          </svg>
          <li>
            <ul class="bx--dropdown__list">
              <!-- `href` in `<li>` would typically be actual links of routes -->
              <li data-option data-value="all" class="bx--dropdown__list-item"><a class="bx--dropdown__link" href="javascript:void(0)">Sales</a></li>
              <li data-option data-value="cloudFoundry" class="bx--dropdown__list-item"><a class="bx--dropdown__link" href="javascript:void(0)">DW Answers</a></li>
              <li data-option data-value="staging" class="bx--dropdown__list-item"><a class="bx--dropdown__link" href="javascript:void(0)">StackOverflow</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="bx--top-nav__account--item">
        <ul data-dropdown class="bx--dropdown" tabindex="3">
          <li class="bx--dropdown__menu-text">Notifications</li>
          <svg class="bx--dropdown__arrow">
            <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#notifications--info"></use>
          </svg>
          <li>
            <ul class="bx--dropdown__list">
              <!-- `href` in `<li>` would typically be actual links of routes -->
              <li data-option data-value="all" class="bx--dropdown__list-item"><a class="bx--dropdown__link" href="javascript:void(0)">System Status</a></li>
              <li data-option data-value="cloudFoundry" class="bx--dropdown__list-item"><a class="bx--dropdown__link" href="javascript:void(0)">Application Status</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="bx--top-nav__profile">
      <li class="bx--top-nav__profile--item">
        <ul data-dropdown data-value class="bx--dropdown" tabindex="4">
          <li class="bx--dropdown__menu-text">US South</li>
          <svg class="bx--dropdown__arrow">
            <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#service--down-arrow"></use>
          </svg>
          <li>
            <ul class="bx--dropdown__list">
              <!-- `href` in `<li>` would typically be actual links of routes -->
              <li data-option data-value="all" class="bx--dropdown__list-item"><a class="bx--dropdown__link" href="javascript:void(0)">All</a></li>
              <li data-option data-value="cloudFoundry" class="bx--dropdown__list-item"><a class="bx--dropdown__link" href="javascript:void(0)">Cloud Foundry API</a></li>
              <li data-option data-value="staging" class="bx--dropdown__list-item"><a class="bx--dropdown__link" href="javascript:void(0)">Staging</a></li>
              <li data-option data-value="dea" class="bx--dropdown__list-item"><a class="bx--dropdown__link" href="javascript:void(0)">Droplet Execution Agent</a></li>
              <li data-option data-value="router" class="bx--dropdown__list-item"><a class="bx--dropdown__link" href="javascript:void(0)">Router</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="bx--top-nav__profile--item">
        <ul data-dropdown data-value class="bx--dropdown" tabindex="5">
          <li class="bx--dropdown__menu-text">Choose something...</li>
          <svg class="bx--dropdown__arrow">
            <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#service--down-arrow"></use>
          </svg>
          <li>
            <ul class="bx--dropdown__list">
              <!-- `href` in `<li>` would typically be actual links of routes -->
              <li data-option data-value="all" class="bx--dropdown__list-item"><a class="bx--dropdown__link" href="javascript:void(0)">All</a></li>
              <li data-option data-value="cloudFoundry" class="bx--dropdown__list-item"><a class="bx--dropdown__link" href="javascript:void(0)">Cloud Foundry API</a></li>
              <li data-option data-value="staging" class="bx--dropdown__list-item"><a class="bx--dropdown__link" href="javascript:void(0)">Staging</a></li>
              <li data-option data-value="dea" class="bx--dropdown__list-item"><a class="bx--dropdown__link" href="javascript:void(0)">Droplet Execution Agent</a></li>
              <li data-option data-value="router" class="bx--dropdown__list-item"><a class="bx--dropdown__link" href="javascript:void(0)">Router</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="bx--top-nav__profile--item">
        <ul data-dropdown data-value class="bx--dropdown" tabindex="6">
          <li class="bx--dropdown__menu-text">Choose something...</li>
          <svg class="bx--dropdown__arrow">
            <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#service--down-arrow"></use>
          </svg>
          <li>
            <ul class="bx--dropdown__list">
              <!-- `href` in `<li>` would typically be actual links of routes -->
              <li data-option data-value="all" class="bx--dropdown__list-item"><a class="bx--dropdown__link" href="javascript:void(0)">All</a></li>
              <li data-option data-value="cloudFoundry" class="bx--dropdown__list-item"><a class="bx--dropdown__link" href="javascript:void(0)">Cloud Foundry API</a></li>
              <li data-option data-value="staging" class="bx--dropdown__list-item"><a class="bx--dropdown__link" href="javascript:void(0)">Staging</a></li>
              <li data-option data-value="dea" class="bx--dropdown__list-item"><a class="bx--dropdown__link" href="javascript:void(0)">Droplet Execution Agent</a></li>
              <li data-option data-value="router" class="bx--dropdown__list-item"><a class="bx--dropdown__link" href="javascript:void(0)">Router</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="bx--top-nav__profile--item">
        <ul data-dropdown data-value class="bx--dropdown" tabindex="7">
          <li class="bx--dropdown__menu-text--icon">
            <svg class="bx--top-nav__item--icon">
              <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#support--user-stroke-circle"></use>
            </svg>
          </li>
          <li>
            <ul class="bx--dropdown__list">
              <!-- `href` in `<li>` would typically be actual links of routes -->
              <li data-option data-value="all" class="bx--dropdown__list-item"><a class="bx--dropdown__link" href="javascript:void(0)">All</a></li>
              <li data-option data-value="cloudFoundry" class="bx--dropdown__list-item"><a class="bx--dropdown__link" href="javascript:void(0)">Cloud Foundry API</a></li>
              <li data-option data-value="staging" class="bx--dropdown__list-item"><a class="bx--dropdown__link" href="javascript:void(0)">Staging</a></li>
              <li data-option data-value="dea" class="bx--dropdown__list-item"><a class="bx--dropdown__link" href="javascript:void(0)">Droplet Execution Agent</a></li>
              <li data-option data-value="router" class="bx--dropdown__list-item"><a class="bx--dropdown__link" href="javascript:void(0)">Router</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

  <header role="header" class="bx--global-header">

    <div class="bx--global-header__left-container">

      <div class="bx--global-header__left-nav" data-left-nav-container>

        <div class="left-nav__header">

          <div class="left-nav__trigger">
            <a class="left-nav__trigger--btn" data-left-nav-toggle>
              <span></span>
            </a>
          </div>

          <ul data-dropdown data-section-dropdown data-value class="bx--dropdown" tabindex="0">
            <li class="bx--dropdown__menu-text">
              Applications
            </li>
            <svg class="bx--dropdown__menu-arrow">
              <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#service--down-arrow"></use>
            </svg>
            <li>
              <ul class="bx--dropdown__list">
                <li data-option data-value="applications" class="bx--dropdown__list-item"><a class="bx--dropdown__link" href="javascript:void(0)">Applications</a></li>
                <li data-option data-value="infrastructure" class="bx--dropdown__list-item"><a class="bx--dropdown__link" href="javascript:void(0)">Infrastructure</a></li>
                <li data-option data-value="services" class="bx--dropdown__list-item"><a class="bx--dropdown__link" href="javascript:void(0)">Services</a></li>
              </ul>
            </li>
          </ul>
        </div>

        <nav class="left-nav" data-left-nav>
          <ul class="left-nav-list" data-left-nav-list>
            <li class="left-nav-list__item left-nav-list__item--has-children" data-left-nav-item>
              <a class="left-nav-list__item-link">
                Devices
              </a>
              <ul class="left-nav-list left-nav-list--nested" data-left-nav-nested-list>
                <li class="left-nav-list__item" data-left-nav-nested-item>
                  <a href="#example-item-1A" class="left-nav-list__item-link" data-left-nav-item-link>Manage</a>
                  <ul class="left-nav-list left-nav-list--flyout" data-left-nav-flyout>
                    <li class="left-nav-list__item" data-left-nav-flyout-item>
                      <a href="#example-item-1Aa" class="left-nav-list__item-link" data-left-nav-item-link>Passwords</a>
                    </li>
                    <li class="left-nav-list__item" data-left-nav-flyout-item>
                      <a href="#example-item-1Ab" class="left-nav-list__item-link" data-left-nav-item-link>Images</a>
                    </li>
                    <li class="left-nav-list__item" data-left-nav-flyout-item>
                      <a href="#example-item-1Ac" class="left-nav-list__item-link" data-left-nav-item-link>SSH Keys</a>
                    </li>
                    <li class="left-nav-list__item" data-left-nav-flyout-item>
                      <a href="#example-item-1Ad" class="left-nav-list__item-link" data-left-nav-item-link>Provisioning Scripts</a>
                    </li>
                    <li class="left-nav-list__item" data-left-nav-flyout-item>
                      <a href="#example-item-1Ae" class="left-nav-list__item-link" data-left-nav-item-link>Control Panel Licenses</a>
                    </li>
                  </ul>
                </li>
                <li class="left-nav-list__item" data-left-nav-nested-item>
                  <a href="#example-item-1B" class="left-nav-list__item-link" data-left-nav-item-link>Example Item 1B</a>
                </li>
                <li class="left-nav-list__item" data-left-nav-nested-item>
                  <a href="#example-item-1C" class="left-nav-list__item-link" data-left-nav-item-link>Example Item 1C</a>
                </li>
                <li class="left-nav-list__item" data-left-nav-nested-item>
                  <a href="#example-item-1D" class="left-nav-list__item-link" data-left-nav-item-link>Example Item 1D</a>
                </li>
              </ul>
            </li>
            <li class="left-nav-list__item left-nav-list__item--has-children" data-left-nav-item>
              <a class="left-nav-list__item-link">
                Storages
              </a>
              <ul class="left-nav-list left-nav-list--nested" data-left-nav-nested-list>
                <li class="left-nav-list__item" data-left-nav-nested-item>
                  <a href="#example-item-2A" class="left-nav-list__item-link" data-left-nav-item-link>Example Item 2A</a>
                </li>
                <li class="left-nav-list__item" data-left-nav-nested-item>
                  <a href="#example-item-2B" class="left-nav-list__item-link" data-left-nav-item-link>Example Item 2B</a>
                  <ul class="left-nav-list left-nav-list--flyout" data-left-nav-flyout>
                    <li class="left-nav-list__item" data-left-nav-flyout-item>
                      <a href="#example-item-2Ba" class="left-nav-list__item-link" data-left-nav-item-link>Example Item 2Ba</a>
                    </li>
                    <li class="left-nav-list__item" data-left-nav-flyout-item>
                      <a href="#example-item-2Bb" class="left-nav-list__item-link" data-left-nav-item-link>Example Item 2Bb</a>
                    </li>
                    <li class="left-nav-list__item" data-left-nav-flyout-item>
                      <a href="#example-item-2Bc" class="left-nav-list__item-link" data-left-nav-item-link>Example Item 2Bc</a>
                    </li>
                    <li class="left-nav-list__item" data-left-nav-flyout-item>
                      <a href="#example-item-2Bd" class="left-nav-list__item-link" data-left-nav-item-link>Example Item 2Bd</a>
                    </li>
                    <li class="left-nav-list__item" data-left-nav-flyout-item>
                      <a href="#example-item-2Be" class="left-nav-list__item-link" data-left-nav-item-link>Example Item 2Be</a>
                    </li>
                  </ul>
                </li>
                <li class="left-nav-list__item" data-left-nav-nested-item>
                  <a href="#example-item-2C" class="left-nav-list__item-link" data-left-nav-item-link>Example Item 2C</a>
                </li>
                <li class="left-nav-list__item" data-left-nav-nested-item>
                  <a href="#example-item-2D" class="left-nav-list__item-link" data-left-nav-item-link>Example Item 2D</a>
                </li>
              </ul>
            </li>
            <li class="left-nav-list__item left-nav-list__item--has-children" data-left-nav-item>
              <a class="left-nav-list__item-link">
                Network
              </a>
              <ul class="left-nav-list left-nav-list--nested" data-left-nav-nested-list>
                <li class="left-nav-list__item" data-left-nav-nested-item>
                  <a href="#example-item-3A" class="left-nav-list__item-link" data-left-nav-item-link>Example Item 3A</a>
                </li>
                <li class="left-nav-list__item" data-left-nav-nested-item>
                  <a href="#example-item-3B" class="left-nav-list__item-link" data-left-nav-item-link>Example Item 3B</a>
                </li>
              </ul>
            </li>
            <li class="left-nav-list__item left-nav-list__item--has-children" data-left-nav-item>
              <a class="left-nav-list__item-link">
                Security
              </a>
              <ul class="left-nav-list left-nav-list--nested" data-left-nav-nested-list>
                <li class="left-nav-list__item" data-left-nav-nested-item>
                  <a href="#example-item-4A" class="left-nav-list__item-link" data-left-nav-item-link>Example Item 4A</a>
                </li>
                <li class="left-nav-list__item" data-left-nav-nested-item>
                  <a href="#example-item-4B" class="left-nav-list__item-link" data-left-nav-item-link>Example Item 4B</a>
                </li>
                <li class="left-nav-list__item" data-left-nav-nested-item>
                  <a href="#example-item-4C" class="left-nav-list__item-link" data-left-nav-item-link>Example Item 4C</a>
                </li>
                <li class="left-nav-list__item" data-left-nav-nested-item>
                  <a href="#example-item-4D" class="left-nav-list__item-link" data-left-nav-item-link>Example Item 4D</a>
                </li>
              </ul>
            </li>
            <li class="left-nav-list__item" data-left-nav-item>
              <a href="#sub-category-5" class="left-nav-list__item-link" data-left-nav-item-link>
                Services
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="bx--global-header__title">
        <a class="bx--global-header__title--logo" href="#">
          <img class="logo__image" src="https://new-console.ng.bluemix.net/api/v4/img/bluemix-logo-2016-feb.svg" />
          <span class="logo__text">IBM <span class="logo__text--bold">Bluemix</span></span>
        </a>
        <h4 class="bx--global-header__title--current-page">Applications</h4>
      </div>
    </div>
  </header>
</div>
