<!-- Unified Header -->
<div data-unified-header class="bx--unified-header bx--unified-header--apps" tabindex="0">

  <!-- Super Global Header -->
  <nav role="navigation" class="bx--top-nav" aria-label="Top Header">
      <ul role="menubar" class="bx--top-nav__left-container" aria-hidden="false">
        <a class="bx--top-nav__left-container__link" href="#" tabindex="0">
          <svg class="bx--top-nav__left-container__link--icon">
            <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#support--help-fill-circle-with-outline"></use>
          </svg>
          Docs
        </a>
        <li role="menuitem" class="bx--top-nav__left-container__item">
          <ul role="menu" data-dropdown class="bx--dropdown" tabindex="0">
            <li class="bx--dropdown__menu-text">Docs</li>
            <li>
              <svg class="bx--dropdown__arrow">
                <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#support--help-fill-circle-with-outline"></use>
              </svg>
            </li>
            <li aria-haspopup="true">
              <ul role="menu" aria-hidden="true" class="bx--dropdown__list">
                <li role="menuitem" data-option data-value="all" class="bx--dropdown__list-item"><a tabindex="0" class="bx--dropdown__link" href="javascript:void(0)">All</a></li>
                <li role="menuitem" data-option data-value="cloudFoundry" class="bx--dropdown__list-item"><a tabindex="0" class="bx--dropdown__link" href="javascript:void(0)">Cloud Foundry API</a></li>
                <li role="menuitem" data-option data-value="staging" class="bx--dropdown__list-item"><a tabindex="0" class="bx--dropdown__link" href="javascript:void(0)">Staging</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      <ul role="menubar" class="bx--top-nav__right-container">
        <li data-trial class="bx--top-nav__right-container__item">
          <ul data-dropdown data-value class="bx--dropdown" tabindex="0">
            <li class="bx--dropdown__menu-text">29 Trial Days Remaining</li>
            <li>
              <svg class="bx--dropdown__arrow">
                <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#service--down-arrow"></use>
              </svg>
            </li>
            <li>
              <ul class="bx--dropdown__list">
                <li class="bx--dropdown__trial-content">
                  <p class="bx--dropdown__trial-content--desc">Keep your account going by adding your credit card. Don’t worry. We won’t charge you unless you go over your free monthly allowance.</p>
                  <button class='bx--btn' type='button'>Add credit card</button>
                  <a href="#" class="bx--link">Apply promo code</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li data-credit class="bx--top-nav__right-container__item">
          <ul data-dropdown data-value class="bx--dropdown" tabindex="0">
            <li class="bx--dropdown__menu-text">$132 Credit Expires 12/6</li>
            <li>
              <svg class="bx--dropdown__arrow">
                <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#service--down-arrow"></use>
              </svg>
            </li>
            <li>
              <ul class="bx--dropdown__list">
                <li class="bx--dropdown__credit-content">
                  <div>
                    <p class="bx--dropdown__credit-content--heading">Initial Credit Value</p>
                    <p class="bx--dropdown__credit-content--desc">$200</p>
                  </div>
                  <div>
                    <p class="bx--dropdown__credit-content--heading">Expires</p>
                    <p class="bx--dropdown__credit-content--desc">12/25/2016</p>
                  </div>
                  <div>
                    <p class="bx--dropdown__credit-content--heading">Spend Rate</p>
                    <p class="bx--dropdown__credit-content--desc">$1.33/day</p>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li role="menuitem" class="bx--top-nav__right-container__item">
          <ul role="menu" data-profile-switcher class="bx--account-switcher">
            <li tabindex="0" data-profile-switcher-toggle class="bx--account-switcher__toggle">
              <p data-switcher-account-sl class="bx--account-switcher__toggle--text"></p>
              <p data-switcher-account class="bx--account-switcher__toggle--text"></p>
              <p class="bx--account-switcher__toggle--text">|</p>
              <p data-switcher-region class="bx--account-switcher__toggle--text"></p>
              <p data-switcher-org class="bx--account-switcher__toggle--text"></p>
              <p data-switcher-space class="bx--account-switcher__toggle--text"></p>
            </li>
            <li role="menuitem" data-switcher-menu class="bx--account-switcher__menu__container">
              <ul role="menu" class="bx--account-switcher__menu">
                <li role="menuitem" class="bx--account-switcher__menu__item">
                  <p class="bx--account-switcher__menu__item--title">Account</p>
                  <ul role="menu" data-dropdown data-value="Logans_account_123456789_1234" class="bx--dropdown" tabindex="0">
                    <li data-dropdown-account class="bx--dropdown__menu-text">Logans_account_123456789_1234</li>
                    <li>
                      <svg class="bx--dropdown__arrow">
                        <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#service--down-arrow"></use>
                      </svg>
                    </li>
                    <li aria-haspopup="true" class="bx--dropdown--scroll">
                      <ul role="menu" aria-hidden="true" class="bx--dropdown__list">
                        <li role="menuitem" data-option data-value="all" class="bx--dropdown__list-item"><span class="bx--dropdown__link" href="javascript:void(0)" tabindex="0">someone_at_a_company@email.com</span></li>
                        <li role="menuitem" data-option data-value="all" class="bx--dropdown__list-item"><span class="bx--dropdown__link" href="javascript:void(0)" tabindex="0">TJs_accoqwejqwhekjqwgehgunt_54321</span></li>
                        <li role="menuitem" data-option data-value="all" class="bx--dropdown__list-item">
                          <span class="bx--dropdown__link" href="javascript:void(0)" tabindex="0">
                            <span data-dropdown-account-sl-linked>sl123456</span>
                            <svg class="bx--account-switcher__linked-icon">
                              <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v5/img/bluemix-icons.svg#link"></use>
                            </svg>
                            <span data-dropdown-account-linked>Logans_account_123456789_1234</span>
                          </span>
                        </li>
                        <li role="menuitem" data-option data-value="all" class="bx--dropdown__list-item">
                          <span class="bx--dropdown__link" href="javascript:void(0)" tabindex="0">
                            <span data-dropdown-account-sl-linked>s7777</span>
                            <svg class="bx--account-switcher__linked-icon">
                              <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v5/img/bluemix-icons.svg#link"></use>
                            </svg>
                            <span data-dropdown-account-linked>TJs_account_123456789_1234</span>
                          </span>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="bx--account-switcher__menu__item">
                  <p class="bx--account-switcher__menu__item--title">Region</p>
                  <ul data-dropdown data-value="US South" class="bx--dropdown" tabindex="0">
                    <li data-dropdown-region class="bx--dropdown__menu-text">US South</li>
                    <svg class="bx--dropdown__arrow">
                      <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#service--down-arrow"></use>
                    </svg>
                    <li class="bx--dropdown--scroll">
                      <ul class="bx--dropdown__list">
                        <li data-option data-value="all" class="bx--dropdown__list-item"><span class="bx--dropdown__link" href="javascript:void(0)" tabindex="0">US South</span></li>
                        <li data-option data-value="all" class="bx--dropdown__list-item"><span  class="bx--dropdown__link" href="javascript:void(0)" tabindex="0">Sydney</span></li>
                        <li data-option data-value="cloudFoundry" class="bx--dropdown__list-item"><span  class="bx--dropdown__link" href="javascript:void(0)" tabindex="0">United Kingdom</span></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="bx--account-switcher__menu__item">
                  <p class="bx--account-switcher__menu__item--title">Organization</p>
                  <ul data-dropdown data-value="Organization 1" class="bx--dropdown" tabindex="0">
                    <li data-dropdown-org class="bx--dropdown__menu-text">Organization 1</li>
                    <svg class="bx--dropdown__arrow">
                      <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#service--down-arrow"></use>
                    </svg>
                    <li class="bx--dropdown--scroll">
                      <ul class="bx--dropdown__list">
                        <li data-option data-value="all" class="bx--dropdown__list-item"><span  class="bx--dropdown__link" href="javascript:void(0)" tabindex="0">someone_at_a_company@email.com</span></li>
                        <li data-option data-value="cloudFoundry" class="bx--dropdown__list-item"><span  class="bx--dropdown__link" href="javascript:void(0)" tabindex="0">Organization q2332434341sddsf2</span></li>
                        <li data-option data-value="staging" class="bx--dropdown__list-item"><span  class="bx--dropdown__link" href="javascript:void(0)" tabindex="0">Organization 3</span></li>
                        <li data-option data-value="dea" class="bx--dropdown__list-item"><span  class="bx--dropdown__link" href="javascript:void(0)" tabindex="0">Organization 4</span></li>
                        <li data-option data-value="router" class="bx--dropdown__list-item"><span  class="bx--dropdown__link" href="javascript:void(0)" tabindex="0">Organization 5</span></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="bx--account-switcher__menu__item">
                  <p class="bx--account-switcher__menu__item--title">Space</p>
                  <ul data-dropdown data-value="Space 2" class="bx--dropdown" tabindex="0">
                    <li data-dropdown-space class="bx--dropdown__menu-text">Space 2</li>
                    <svg class="bx--dropdown__arrow">
                      <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#service--down-arrow"></use>
                    </svg>
                    <li class="bx--dropdown--scroll">
                      <ul class="bx--dropdown__list">
                        <li data-option data-value="all" class="bx--dropdown__list-item"><span  class="bx--dropdown__link" href="javascript:void(0)" tabindex="0">Dev</span></li>
                        <li data-option data-value="all" class="bx--dropdown__list-item"><span  class="bx--dropdown__link" href="javascript:void(0)" tabindex="0">Space 2</span></li>
                        <li data-option data-value="cloudFoundry" class="bx--dropdown__list-item"><span  class="bx--dropdown__link" href="javascript:void(0)" tabindex="0">Space 3</span></li>
                        <li data-option data-value="staging" class="bx--dropdown__list-item"><span  class="bx--dropdown__link" href="javascript:void(0)" tabindex="0">Space 4</span></li>
                        <li data-option data-value="dea" class="bx--dropdown__list-item"><span  class="bx--dropdown__link" href="javascript:void(0)" tabindex="0">Space 5</span></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="bx--account-switcher__menu__item">
                  <a href="#" class="bx--link">Manage Organizations</a>
                  <a href="#" class="bx--link">Create A Space</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="bx--top-nav__right-container__item">
          <ul data-dropdown data-value class="bx--dropdown" tabindex="0">
            <li data-top-nav-profile-image class="bx--dropdown__menu-text--profile-image">
              <div class="bx--profile-image">
                <svg class="bx--dropdown__profile-dropdown--picture">
                  <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#support--user-stroke-circle"></use>
                </svg>
              </div>
            </li>
            <li class="bx--dropdown__profile-dropdown">
              <ul class="bx--dropdown__list">
                <li data-option data-value="all" class="bx--dropdown__list-item">
                  <svg class="bx--dropdown__profile-dropdown--picture">
                    <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#support--user-stroke-circle"></use>
                  </svg>
                  <div class="bx--dropdown__profile-dropdown--information">
                    <p>Erlich Bachman Erlich Bachman</p>
                    <div class="bx--dropdown__profile-dropdown__container">
                      <a class="bx--link" href="javascript:void(0)">Profile</a>
                      <p>|</p>
                      <a class="bx--link" href="javascript:void(0)">Log Out</a>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  <!-- End Super Global Header -->

  <!-- Global Header -->
  <header role="banner" class="bx--global-header">
    <div class="bx--global-header__left-container">
      <button class="bx--left-nav__trigger" data-left-nav-toggle="open" aria-haspopup="true" aria-label="Navigation" aria-expanded="false">
        <div class="bx--left-nav__trigger--btn">
          <span></span>
        </div>
      </button>
      <div class="bx--global-header__left-nav" data-left-nav-container aria-expanded="false" tabindex="-1" role="menu">
        <div class="bx--left-nav__close-row"></div>
        <nav class="bx--left-nav" data-left-nav role="navigation" aria-label="Left Navigation">
          <label class='bx--left-nav__section-label'>Something title</label>
          <ul role="menubar" class="bx--left-nav__main-nav" data-left-nav-list>
            <li role="menuitem" class="bx--main-nav__parent-item" data-left-nav-item>
              <a class="bx--parent-item__link" href="#" title="Example Item" data-left-nav-item-link>
                <svg class="bx--parent-item__link--taxonomy-icon">
                  <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--console"></use>
                </svg>
                Example nav Item
              </a>
            </li>
            <li role="menuitem" class="bx--main-nav__parent-item" data-left-nav-item>
              <a class="bx--parent-item__link" href="#" title="Example Item" aria-haspopup="true" data-left-nav-item-link>
                <svg class="bx--parent-item__link--taxonomy-icon">
                  <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--compute"></use>
                </svg>
                Lorem ipsum
              </a>
            </li>
            <li role="menuitem" class="bx--main-nav__parent-item" data-left-nav-item>
              <a class="bx--parent-item__link" href="#" title="Example Item" data-left-nav-item-link>
                <svg class="bx--parent-item__link--taxonomy-icon">
                  <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--data"></use>
                </svg>
                Dolor sit amet
              </a>
            </li>
            <li role="menuitem" class="bx--main-nav__parent-item" data-left-nav-item>
              <a class="bx--parent-item__link" href="#" title="Example Item" data-left-nav-item-link>
                <svg class="bx--parent-item__link--taxonomy-icon">
                  <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--devops"></use>
                </svg>
                Consectetur adipiscing
              </a>
            </li>
          </ul>

          <label class='bx--left-nav__section-label'>Something title</label>
          <ul role="menubar" class="bx--left-nav__main-nav" data-left-nav-list>
            <li role="menuitem" class="bx--main-nav__parent-item " data-left-nav-item>
              <a class="bx--parent-item__link" href="#" title="Example Item" data-left-nav-item-link>
                <svg class="bx--parent-item__link--taxonomy-icon">
                  <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--console"></use>
                </svg>
                Example nav item
              </a>
            </li>
            <li role="menuitem" class="bx--main-nav__parent-item" data-left-nav-item>
              <a class="bx--parent-item__link" href="#" title="Example Item" aria-haspopup="true" data-left-nav-item-link>
                <svg class="bx--parent-item__link--taxonomy-icon">
                  <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--compute"></use>
                </svg>
                Lorem ipsum
              </a>
            </li>
            <li role="menuitem" class="bx--main-nav__parent-item" data-left-nav-item>
              <a class="bx--parent-item__link" href="#" title="Example Item" data-left-nav-item-link>
                <svg class="bx--parent-item__link--taxonomy-icon">
                  <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--data"></use>
                </svg>
                Dolor sit amet
              </a>
            </li>
            <li role="menuitem" class="bx--main-nav__parent-item" data-left-nav-item>
              <a class="bx--parent-item__link" href="#" title="Example Item" data-left-nav-item-link>
                <svg class="bx--parent-item__link--taxonomy-icon">
                  <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#taxonomy--devops"></use>
                </svg>
                Consectetur adipiscing
              </a>
            </li>
          </ul>
        </nav>
      </div>


    <div class="bx--global-header__title">
      <a href="#" class="bx--global-header__title--logo" tabindex="0">
        <img class="bx--logo__image" src="//ace-common-production-black.cdn.us-south.s-bluemix.net/cache/784-1688551103/api/v4/img/bluemix-logo-2016-feb.svg"></img>
        <h1 class="bx--logo__text">
          IBM <span class="bx--logo__text--bold">Bluemix</span>
        </h1>
      </a>
      <h4 class="bx--global-header__title--current-page">Applications</h4>
    </div>
    </div>

    <!-- Global Header - Right Nav -->
    <div class="bx--global-header__right-container">
    <ul data-global-header-menu role="menubar" class="bx--global-header__menu" aria-hidden="false">
      <li role="menuitem" class="bx--global-header__menu__item">
        <a class="bx--global-header__menu__item--link" tabindex="0" href="javascript:void(0)">Catalog</a>
      </li>
      <li role="menuitem" class="bx--global-header__menu__item">
        <a class="bx--global-header__menu__item--link" tabindex="0" href="javascript:void(0)">Support</a>
      </li>
      <li role="menuitem" class="bx--global-header__menu__item">
        <ul role="menu" data-dropdown-type="navigation" class="bx--dropdown" tabindex="0">
          <li class="bx--dropdown__menu-text">Account</li>
          <li aria-haspopup="true">
            <ul role="menu" aria-hidden="true" class="bx--dropdown__list">
              <li role="menuitem" tabindex="0" data-option class="bx--dropdown__list-item"><a class="bx--dropdown__link" href="javascript:void(0)">Make A Payment</a></li>
              <li role="menuitem" tabindex="0" data-option class="bx--dropdown__list-item"><a data-account-link class="bx--dropdown__link" href="javascript:void(0)">Sales</a></li>
              <li role="menuitem" tabindex="0" data-option class="bx--dropdown__list-item"><a data-account-link class="bx--dropdown__link" href="javascript:void(0)">Billing</a></li>
              <li role="menuitem" tabindex="0" data-option class="bx--dropdown__list-item"><a data-account-link class="bx--dropdown__link" href="javascript:void(0)">Users</a></li>
              <li role="menuitem" tabindex="0" data-option class="bx--dropdown__list-item"><a data-account-link class="bx--dropdown__link" href="javascript:void(0)">VPN Access</a></li>
              <li role="menuitem" tabindex="0" data-option class="bx--dropdown__list-item"><a data-account-link class="bx--dropdown__link" href="javascript:void(0)">Manage</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    </div>
  </header>
  <!-- End Global Header -->

</div>
<!-- End Unified Header -->
