@import '../../global/colors/colors';
@import '../../global/layout/grid';
@import '../../global/typography/typography';
@import '../../import-once';

@include exports('progress-indicator') {

.bx--progress-indicator {
  @include reset;
  list-style: none;
  display: flex;
  flex-direction: column;
  width: auto;

  @include breakpoint(700px) {
    flex-direction: row;
    width: 100%;
  }

  &__step {
    @include reset;
    display: flex;
    align-items: center;
    width: auto;
    min-width: 7rem;
    position: relative;
    padding: 1.5rem 0;
    transition: $transition--base all $bx--standard-easing;
    overflow: visible;

    @include breakpoint(700px) {
      flex-direction: column;
      padding: 0 1.5rem;
      overflow: hidden;
    }

    &::after,
    &::before {
      @include light-ui {
        background-color: $color__navy-gray-7;
      }
      content: '';
      position: absolute;
      background-color: $color__navy-gray-7;
      top: 50%;
      left: .5rem;
      width: 1px;
      height: calc(100% - .25rem);

      @include breakpoint(700px) {
        left: initial;
        top: .5rem;
        height: 1px;
        width: calc(100% - .25rem);
      }
    }

    &::before {
      left: .5rem;
      display: none;

      @include breakpoint(700px) {
        left: -50%;
        display: block;
      }
    }

    &::after {
      @include breakpoint(700px) {
        right: -50%;
      }
    }

    &:first-child {
      &::before {
        display: none;
      }
    }

    &:last-child {
      &::after {
        display: none;
      }
    }

    &--active {
      .bx--progress-indicator__icon {
        @include light-ui {
          background-color: $color__blue-51;
          fill: $color__blue-51;
        }
        fill: $color__blue-30;
        transform: scale(1);
        background-color: $color__blue-30;
        z-index: 2;
      }

      &::before {
        @include light-ui {
          background-color: $color__blue-51;
        }
        background-color: $color__blue-30;
      }

      .bx--progress-indicator__label {
        @include light-ui {
          color: $color__blue-51;
        }
        color: $color__blue-30;
        font-weight: 700;
      }
    }

    &--complete {
      .bx--progress-indicator__icon {
        @include light-ui {
          background-color: transparent;
          fill: $color__blue-51;
        }
        fill: $color__blue-30;
        transform: scale(1);
        background-color: transparent;
      }

      &::after,
      &::before {
        @include light-ui {
          background-color: $color__blue-51;
        }
        background-color: $color__blue-30;
        top: calc(50% + .5rem);
        width: 1px;
        height: calc(100% - 1rem);

        @include breakpoint(700px) {
          top: .5rem;
          width: calc(100% - .5rem);
          height: 1px;
        }
      }

      .bx--progress-indicator__label {
        @include light-ui {
          color: $color__blue-51;
        }
        color: $color__blue-30;
      }
    }
  }

  &__icon {
    transform: scale(.5);
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    fill: $color__navy-gray-7;
    background-color: $color__navy-gray-7;
  }

  &__label {
    @include reset;
    @include font-smoothing;
    text-align: center;
    display: block;
    padding: 0 0 0 .5rem;
    color: $color__navy-gray-7;

    @include light-ui {
      color: $color__navy-gray-6;
    }

    @include breakpoint(700px) {
      padding: .5rem 0;
    }
  }

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .bx--progress-indicator__step::after {
      left: .5rem;

      @include breakpoint(700px) {
        left: calc(50% + .25rem);
      }
    }

    .bx--progress-indicator__step--complete::after,
    .bx--progress-indicator__step--active::after {
      @include breakpoint(700px) {
        left: calc(50% + .5rem);
      }
    }
  }
}

}

