%btn--base {
  @extend %p;

  cursor: pointer;
  display: inline-block;
  width: em(200px);
  height: em(40px);
  border-width: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
