// Background Color
$color__btn--bg: $color__blue-40;
$color__btn--bg--active: $color__blue-30;
$color__btn--bg--light: $color__navy-gray-5;
$color__btn--bg--active--light: lighten($color__navy-gray-5, 5);

// Text Color
$color__btn--text: $color__white;
