// Background Color
$color__btn--bg: $blue-40;
$color__btn--bg--active: $blue-30;
$color__btn--bg--light: $gray-1-mod;
$color__btn--bg--active--light: lighten($gray-1-mod, 5);

// Text Color
$color__btn--text: $white;
