@import '../scss/functions';
@import './classic/classic';
@import './experimental';

@include exports('grid') {
  @if feature-flag-enabled('grid') {
    @include grid--x;
  } @else {
    @include grid;
  }
}
