<div class='search-field'>
	<!-- !temporary -->
	<svg class='search-field__icon' version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
		<g>
		  <path d="M12,1C5.926,1,1,5.926,1,12c0,6.074,4.926,11,11,11s11-4.926,11-11C23,5.926,18.074,1,12,1z M12,21c-4.962,0-9-4.038-9-9 s4.038-9,9-9s9,4.038,9,9S16.962,21,12,21z"/>
		  <rect x="23.879" y="21.05" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -10.7696 26)" width="4.243" height="9.899"/>
		  <circle cx="21" cy="21" r="1"/>
		</g>
	</svg>
	<input type='search' class='search-field__input' id='search-field__input' placeholder='Search Atlas Offerings'>
	<button class='search-field__filter' type='button'>
	<!-- !temporary -->
	<svg width="18px" height="16px" viewBox="0 0 16 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
	    <title>Triangle 1 + Rectangle 914 + Triangle 1 Copy + Rectangle 914 Copy</title>
	    <desc>Created with Sketch.</desc>
	    <defs></defs>
	    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
	        <g id="Compute-Add-Menu" sketch:type="MSArtboardGroup" transform="translate(-1131.000000, -127.000000)" fill="#868F99">
	            <g id="Triangle-1-+-Rectangle-914-+-Triangle-1-Copy-+-Rectangle-914-Copy" sketch:type="MSLayerGroup" transform="translate(1131.500000, 126.744000)">
	                <g id="Triangle-1-+-Rectangle-914" transform="translate(0.000000, 1.000000)" sketch:type="MSShapeGroup">
	                    <polygon id="Triangle-1" points="3.75 0 7.5 4.33333333 0 4.33333333 "></polygon>
	                    <rect id="Rectangle-914" x="2.5" y="4.33333333" width="2.5" height="8.66666667"></rect>
	                </g>
	                <g id="Triangle-1-Copy-+-Rectangle-914-Copy" transform="translate(10.642857, 7.500000) rotate(-180.000000) translate(-10.642857, -7.500000) translate(6.642857, 1.000000)" sketch:type="MSShapeGroup">
	                    <polygon id="Triangle-1-Copy" points="3.75 0 7.5 4.33333333 2.59348099e-13 4.33333333 "></polygon>
	                    <rect id="Rectangle-914-Copy" x="2.5" y="4.33333333" width="2.5" height="8.66666667"></rect>
	                </g>
	            </g>
	        </g>
	    </g>
	</svg>
	<span class='filter__text'>Filter</span></button>

</div>