$loading__gap: 40;
$loading__size: 10.5rem;

@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/css--reset';
@import '../../globals/scss/import-once';
@import 'keyframes';
@import 'mixins';

@include exports('loading') {
  .#{$prefix}--loading {
    @include reset;
    @include animation__loading--spin;
    width: $loading__size;
    height: $loading__size;
  }

  // Animation (Spin by default)
  .#{$prefix}--loading__svg {
    fill: transparent;
    stroke: $brand-03;
    stroke-width: 7;
    stroke-linecap: butt;
    stroke-dasharray: 240;
    stroke-dashoffset: $loading__gap;
  }

  .#{$prefix}--loading--stop {
    @include animation__loading--stop;
  }

  .#{$prefix}--loading--small {
    width: 2rem;
    height: 2rem;

    .#{$prefix}--loading__svg {
      stroke: $ui-05;
    }
  }

  .#{$prefix}--loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($ui-01, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 2000ms $carbon--standard-easing;
    z-index: z('overlay');
  }

  .#{$prefix}--loading-overlay--stop {
    display: none;
  }
}
