{{#if overlay}}<div class="bx--loading-overlay">{{/if}}
<div data-loading class="bx--loading{{#if small}} bx--loading--small{{/if}}">
  <svg class="bx--loading__svg" viewBox="-75 -75 150 150">
    <title>Loading</title>
    <circle cx="0" cy="0" r="37.5" />
  </svg>
</div>
{{#if overlay}}</div>{{/if}}
