<section class="bx--structured-list">
  <div class="bx--structured-list-thead">
    <div class="bx--structured-list-row bx--structured-list-row--header-row">
      <div class="bx--structured-list-th">Service</div>
      <div class="bx--structured-list-th">Type</div>
      <div class="bx--structured-list-th">Description</div>
    </div>
  </div>
  <div class="bx--structured-list-tbody">
    <div class="bx--structured-list-row">
      <div class="bx--structured-list-td bx--structured-list-content--nowrap">Apache Spark</div>
      <div class="bx--structured-list-td">IBM</div>
      <div class="bx--structured-list-td">
        Apache Spark is an open source cluster computing framework optimized for extremely fast and large scale data processing,
        which you can access via the newly integrated notebook interface IBM Analytics for Apache Spark.
      </div>
    </div>
    <div class="bx--structured-list-row">
      <div class="bx--structured-list-td bx--structured-list-content--nowrap">Cloudant</div>
      <div class="bx--structured-list-td">
        IBM
      </div>
      <div class="bx--structured-list-td">
        Cloudant NoSQL DB is a fully managed data layer designed for modern web and mobile applications that leverages a flexible
        JSON schema.
      </div>
    </div>
  </div>
</section>
