<section class="bx--structured-list bx--structured-list--border bx--structured-list--selection" data-structured-list>
  <div class="bx--structured-list-thead">
    <div class="bx--structured-list-row bx--structured-list-row--header-row">
      <div class="bx--structured-list-th"></div>
      <div class="bx--structured-list-th">Service</div>
      <div class="bx--structured-list-th">Type</div>
      <div class="bx--structured-list-th">Description</div>
    </div>
  </div>
  <div class="bx--structured-list-tbody">
    <label for="apache-id" aria-label="apache spark" class="bx--structured-list-row bx--structured-list-row--selected" tabindex="0">
      <input tabindex="-1" id="apache-id" class="bx--structured-list-input" value="apache spark" type="radio" name="services" title="apache spark"
        checked />
      <div class="bx--structured-list-td">
        <svg class="bx--structured-list-svg" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:none;}</style></defs><title>Carbon—Duo</title><g id="Icon"><path d="M16,2A14,14,0,1,0,30,16,14,14,0,0,0,16,2Zm0,26A12,12,0,1,1,28,16,12,12,0,0,1,16,28Z"/><path d="M23,12.41,21.59,11,14,18.6,10.41,15,9,16.42l5,5Z"/></g><g id="Transparent_Rectangle" data-name="Transparent Rectangle"><rect class="cls-1" x="-0.01" width="32" height="32"/></g></svg>
      </div>
      <div class="bx--structured-list-td bx--structured-list-content--nowrap">Apache Spark</div>
      <div class="bx--structured-list-td">IBM</div>
      <div class="bx--structured-list-td">
        Apache Spark is an open source cluster computing framework optimized for extremely fast and large scale data processing, which you can access via the newly integrated notebook interface IBM Analytics for Apache Spark.
      </div>
    </label>
    <label for="cloudant-id" aria-label="Cloudant" class="bx--structured-list-row" tabindex="0">
      <input tabindex="-1" id="cloudant-id" class="bx--structured-list-input" value="Cloudant" type="radio" name="services" title="Cloudant"
      />
      <div class="bx--structured-list-td">
        <svg class="bx--structured-list-svg" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:none;}</style></defs><title>Carbon—Duo</title><g id="Icon"><path d="M16,2A14,14,0,1,0,30,16,14,14,0,0,0,16,2Zm0,26A12,12,0,1,1,28,16,12,12,0,0,1,16,28Z"/><path d="M23,12.41,21.59,11,14,18.6,10.41,15,9,16.42l5,5Z"/></g><g id="Transparent_Rectangle" data-name="Transparent Rectangle"><rect class="cls-1" x="-0.01" width="32" height="32"/></g></svg>          
      </div>
      <div class="bx--structured-list-td bx--structured-list-content--nowrap">Cloudant</div>
      <div class="bx--structured-list-td">IBM</div>
      <div class="bx--structured-list-td">Cloudant NoSQL DB is a fully managed data layer designed for modern web and mobile applications that leverages a flexible JSON schema.</div>
    </label>
    <label for="block-storate-id" aria-label="Cloudant" class="bx--structured-list-row" tabindex="0">
      <input tabindex="-1" id="block-storate-id" class="bx--structured-list-input" value="block-storage" type="radio" name="services"
        title="block-storage" />
      <div class="bx--structured-list-td">
        <svg class="bx--structured-list-svg" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:none;}</style></defs><title>Carbon—Duo</title><g id="Icon"><path d="M16,2A14,14,0,1,0,30,16,14,14,0,0,0,16,2Zm0,26A12,12,0,1,1,28,16,12,12,0,0,1,16,28Z"/><path d="M23,12.41,21.59,11,14,18.6,10.41,15,9,16.42l5,5Z"/></g><g id="Transparent_Rectangle" data-name="Transparent Rectangle"><rect class="cls-1" x="-0.01" width="32" height="32"/></g></svg>          
      </div>
      <div class="bx--structured-list-td bx--structured-list-content--nowrap">Block Storage</div>
      <div class="bx--structured-list-td">IBM</div>
      <div class="bx--structured-list-td">Get local disk performance with SAN persistence and durability. Increase storage capacity available to your Bluemix Virtual and Bare Metal Servers with a maximum of 48k IOPs.*</div>
    </label>
    <label for="open-whisk-id" aria-label="Cloudant" class="bx--structured-list-row" tabindex="0">
      <input tabindex="-1" id="open-whisk-id" class="bx--structured-list-input" value="open-whisk" type="radio" name="services" title="open-whisk" />
      <div class="bx--structured-list-td">
        <svg class="bx--structured-list-svg" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:none;}</style></defs><title>Carbon—Duo</title><g id="Icon"><path d="M16,2A14,14,0,1,0,30,16,14,14,0,0,0,16,2Zm0,26A12,12,0,1,1,28,16,12,12,0,0,1,16,28Z"/><path d="M23,12.41,21.59,11,14,18.6,10.41,15,9,16.42l5,5Z"/></g><g id="Transparent_Rectangle" data-name="Transparent Rectangle"><rect class="cls-1" x="-0.01" width="32" height="32"/></g></svg>          
      </div>
      <div class="bx--structured-list-td bx--structured-list-content--nowrap">Open Whisk</div>
      <div class="bx--structured-list-td">IBM</div>
      <div class="bx--structured-list-td">OpenWhisk is an open-source server less compute platform. It executes your functions (actions) in response to events from triggers. It costs nothing when not in use.</div>
    </label>
  </div>
</section>
