@use '../../../../styles/scss/utilities/ai-gradient' as *;

.gradient-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gradient-container > * {
  margin: 0 0.5rem;
}

.gradient-container > .cds--tile {
  min-height: 250px;
  min-width: 150px;
}

.top {
  @include ai-gradient('top');
}

.right {
  @include ai-gradient('right');
}

.bottom {
  @include ai-gradient('bottom');
}

.left {
  @include ai-gradient('left');
}

.full-width .cds--text-input {
  @include ai-gradient('right', 100%);
}

.half-width .cds--text-input {
  @include ai-gradient('right', 50%);
}

.third-width .cds--text-input {
  @include ai-gradient('right', 33%);
}

.quarter-width .cds--text-input {
  @include ai-gradient('right', 25%);
}
