@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/typography';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/import-once';
@import '../form/form';
@import '../../globals/scss/css--reset';

@include exports('checkbox') {
  .#{$brand-prefix}--form-item.#{$brand-prefix}--checkbox-wrapper {
    margin-bottom: 1rem;

    &:first-of-type {
      margin-top: rem(6px);
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .#{$brand-prefix}--checkbox {
    @include hidden;
  }

  .#{$brand-prefix}--checkbox-label {
    @include reset;
    @include font-family;
    @include font-smoothing;
    @include typescale('zeta');
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding-left: rem(25px);
  }

  .#{$brand-prefix}--checkbox-label::before {
    box-sizing: border-box;
    content: '';
    position: absolute;
    left: 0;
    top: -2px;
    height: rem(18px);
    width: rem(18px);
    border: $checkbox-border-width solid $ui-05;
    background-color: $ui-01;
  }

  .#{$brand-prefix}--checkbox-label::after {
    content: '';
    width: 10px;
    height: 5px;
    background: none;
    border-left: 2px solid $inverse-01;
    border-bottom: 2px solid $inverse-01;
    transform: scale(0) rotate(-45deg);
    position: absolute;
    top: 2px;
    left: 3px;
  }

  .#{$brand-prefix}--checkbox:checked + .#{$brand-prefix}--checkbox-label::before,
  .#{$brand-prefix}--checkbox:indeterminate + .#{$brand-prefix}--checkbox-label::before,
  .#{$brand-prefix}--checkbox-label[data-contained-checkbox-state='true']::before,
  .#{$brand-prefix}--checkbox-label[data-contained-checkbox-state='mixed']::before {
    background-color: $brand-01;
    border-color: $brand-01;
  }

  .#{$brand-prefix}--checkbox:checked + .#{$brand-prefix}--checkbox-label::after,
  .#{$brand-prefix}--checkbox-label[data-contained-checkbox-state='true']::after {
    opacity: 1;
    transform: scale(1) rotate(-45deg);
  }

  .#{$brand-prefix}--checkbox:not(:checked) + .#{$brand-prefix}--checkbox-label::after {
    opacity: 0;
    transform: scale(0) rotate(-45deg);
  }

  .#{$brand-prefix}--checkbox:focus + .#{$brand-prefix}--checkbox-label::before,
  .#{$brand-prefix}--checkbox-label__focus::before {
    @include focus-outline('blurred');
  }

  .#{$brand-prefix}--checkbox:indeterminate + .#{$brand-prefix}--checkbox-label::after,
  .#{$brand-prefix}--checkbox-label[data-contained-checkbox-state='mixed']::after {
    transform: scale(1) rotate(0deg);
    border-left: 0 solid $inverse-01;
    border-bottom: 2px solid $inverse-01;
    opacity: 1;
    width: rem(12px);
    top: rem(1px);
  }

  .#{$brand-prefix}--checkbox-appearance {
    position: absolute;
    left: 0;
    display: inline-block;
    height: rem(18px);
    width: rem(18px);
    margin-right: 0.5rem;
    background-color: $ui-01;
    border: $checkbox-border-width solid $ui-05;
    min-width: 18px;
  }

  .#{$brand-prefix}--checkbox:checked + .#{$brand-prefix}--checkbox-appearance,
  .#{$brand-prefix}--checkbox:checked + .#{$brand-prefix}--checkbox-label .#{$brand-prefix}--checkbox-appearance {
    display: flex;
    align-items: baseline;
    background-color: $brand-01;
    border-color: $brand-01;
  }

  .#{$brand-prefix}--checkbox:disabled + .#{$brand-prefix}--checkbox-label,
  .#{$brand-prefix}--checkbox:disabled + .#{$brand-prefix}--checkbox-appearance,
  .#{$brand-prefix}--checkbox:disabled ~ .#{$brand-prefix}--checkbox-label-text {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .#{$brand-prefix}--checkbox:focus + .#{$brand-prefix}--checkbox-label .#{$brand-prefix}--checkbox-appearance,
  .#{$brand-prefix}--checkbox:focus + .#{$brand-prefix}--checkbox-appearance {
    @include focus-outline('blurred');
  }

  .#{$brand-prefix}--checkbox-checkmark {
    display: none;
    fill: $inverse-01;
    width: 100%;
    height: 100%;
  }

  .#{$brand-prefix}--checkbox:checked + .#{$brand-prefix}--checkbox-appearance .#{$brand-prefix}--checkbox-checkmark,
  .#{$brand-prefix}--checkbox:checked + .#{$brand-prefix}--checkbox-label .#{$brand-prefix}--checkbox-appearance .#{$brand-prefix}--checkbox-checkmark {
    display: block;

    @-moz-document url-prefix() {
      & {
        stroke: $brand-01;
      }
    }
  }
}