@import '../../globals/scss/colors';
@import '../../globals/scss/typography';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/import-once';
@import '../form/form';
@import '../../globals/scss/css--reset';

@include exports('checkbox') {
  .bx--form-item.bx--checkbox-wrapper {
    margin-bottom: 1rem;

    &:first-of-type {
      margin-top: rem(6px);
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .bx--checkbox {
    @include hidden;
  }

  .bx--checkbox-label {
    @include reset;
    @include font-family;
    @include font-smoothing;
    @include typescale('zeta');
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .bx--checkbox-appearance {
    display: inline-block;
    height: rem(18px);
    width: rem(18px);
    margin-right: 0.5rem;
    background-color: $ui-01;
    border: $checkbox-border-width solid $ui-05;
    min-width: 18px;
  }

  .bx--checkbox:checked + .bx--checkbox-appearance,
  .bx--checkbox:checked + .bx--checkbox-label .bx--checkbox-appearance {
    display: flex;
    align-items: baseline;
    background-color: $brand-01;
    border-color: $brand-01;
  }

  .bx--checkbox:disabled + .bx--checkbox-label,
  .bx--checkbox:disabled + .bx--checkbox-appearance,
  .bx--checkbox:disabled ~ .bx--checkbox-label-text {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .bx--checkbox:focus + .bx--checkbox-label .bx--checkbox-appearance,
  .bx--checkbox:focus + .bx--checkbox-appearance {
    @include focus-outline('blurred');
  }

  .bx--checkbox-checkmark {
    display: none;
    fill: $inverse-01;
    width: 100%;
    height: 100%;
  }

  .bx--checkbox:checked + .bx--checkbox-appearance .bx--checkbox-checkmark,
  .bx--checkbox:checked + .bx--checkbox-label .bx--checkbox-appearance .bx--checkbox-checkmark {
    display: block;

    @-moz-document url-prefix() {
      & {
        stroke: $brand-01;
      }
    }
  }
}
