<fieldset class="bx--fieldset">
  <legend class="bx--label">Favorite Colors</legend>
  <!-- input + label -->
  <div class="bx--form-item bx--checkbox-wrapper">
    <input id="bx--checkbox-red" class="bx--checkbox" type="checkbox" value="red" name="checkbox">
    <label for="bx--checkbox-red" class="bx--checkbox-label">
      <span>
        <span class="bx--checkbox-appearance">
          <svg class="bx--checkbox-checkmark" width="24" height="24" viewBox="0 0 30 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>Carbon—Duo</title><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="checkmark" transform="translate(-1.000000, -5.000000)"><g id="Icon" transform="translate(1.000000, 5.000000)" fill-rule="nonzero" fill="#fff"><polygon id="Shape" points="30 3.02142857 26.9785714 0 10.7142857 16.2857143 3.02142857 8.57142857 0 11.6142857 10.7142857 22.3285714"></polygon></g><g id="Transparent_Rectangle"><rect id="Rectangle-path" x="0" y="0" width="32" height="32"></rect></g></g></g></svg>
        </span>
      </span>
      Red
    </label>
  </div>
  <!-- label > input -->
  <div class="bx--form-item bx--checkbox-wrapper">
    <label for="bx--checkbox-blue" class="bx--checkbox-label">
      <input id="bx--checkbox-blue" class="bx--checkbox" type="checkbox" value="yellow" name="checkbox">
      <span class="bx--checkbox-appearance">
        <svg class="bx--checkbox-checkmark" width="24" height="24" viewBox="0 0 30 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>Carbon—Duo</title><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="checkmark" transform="translate(-1.000000, -5.000000)"><g id="Icon" transform="translate(1.000000, 5.000000)" fill-rule="nonzero" fill="#fff"><polygon id="Shape" points="30 3.02142857 26.9785714 0 10.7142857 16.2857143 3.02142857 8.57142857 0 11.6142857 10.7142857 22.3285714"></polygon></g><g id="Transparent_Rectangle"><rect id="Rectangle-path" x="0" y="0" width="32" height="32"></rect></g></g></g></svg>          
      </span>
      <span class="bx--checkbox-label-text">Blue</span>
    </label>
  </div>
</fieldset>
