@import 'vars';
@import 'extends';
@import 'mixins';

.bx--search {
  display: flex;
  align-items: center;
  position: relative;

  &__label {
    @include hidden;
  }

  &__input {
    @include type(.889rem);
    width: 100%;
    padding: 1em 1em 1em 2.5em;
    color: $color__white;
    background-color: $color__inputs--bg;
    border: none;
    appearance: none;
    z-index: z('overflowOptions');

    &:focus {
      @include focus-outline;
    }

    &::placeholder {
      @include font-smoothing;
      font-style: italic;
      color: darken($color__navy-gray-8, 15%);
    }

    @include breakpoint(bp--sm--major) {
      font-size: 1rem;
    }

    // light ui styles intentionally commented out for now
    // .light-ui & {
    //   &::placeholder {
    //     color: $color__navy-gray-7;
    //   }

    //   color: $color__navy-gray-6;
    //   background-color: mix($color__white, $color__navy-gray-7, 50%);
    // }
  }

  &__icon {
    &--magnifier {
      @include icon--search;
      width: 1.2em;
      height: 1.2em;
      left: .75em;
      top: .85em;

      @include breakpoint(500px) {
        width: 1.4em;
        height: 1.4em;
      }
    }

    &--filter {
      @include icon--search;
      right: .85em;
      width: 1em;
      height: 1em;
      transition-duration: .25s;
      top: 1em;

      @include breakpoint(500px) {
        width: 1em;
        height: 1em;
      }
    }
  }

  &__filter {
    @include type(1rem);
    padding: 1.4em;
    font-weight: 600;
    color: $color__navy-gray-8;
    cursor: pointer;
    background-color: $color--filter-bg;
    border: none;
    position: relative;
    transition-duration: .25s;

    @include breakpoint(bp--sm--major) {
      padding: 1em 2.5em 1em 0;
      margin-left: 0;
    }

    &:hover,
    &:focus {
      background-color: mix($color__white, $color--filter-bg, 10%);
      color: $color__white;

      .bx--search__icon--filter {
        fill: $color__white;
      }
    }

    // light ui styles commented out for now
    // .light-ui & {
    //   color: $color__navy-gray-6;
    //   background-color: mix($color__white, $color__navy-gray-7, 30%);

    //   &:hover,
    //   &:focus {
    //     background-color: mix($color__white, $color__navy-gray-7, 40%);
    //   }
    // }

    .filter__text {
      display: none;
      padding-left: 1em;

      @include breakpoint(bp--sm--major) {
        display: inline-block;
      }
    }
  }
}

// Styles for Firefox

body:not(:-moz-handler-blocked) .bx--search__filter {
  padding: 1.7em 2.5em 1em 0;

  @include breakpoint(bp--sm--major) {
    padding: .86em 2.5em 1em 0;
  }
}

body:not(:-moz-handler-blocked) .bx--search__icon--filter {
  top: .89em;

  @include breakpoint(bp--sm--major) {
    top: 1em;
  }
}

body:not(:-moz-handler-blocked) .bx--search__input {
  padding-left: 2.75em;
}

// Styles for Safari

_::-webkit-full-page-media, _:future, :root .bx--search__input {
  padding-right: 0;
}
