$base-font-size: 16px !default; // Default, Use with em() and rem() functions

$typescale: (
  0.75rem,
  0.875rem,
  1rem,
  1.125rem,
  1.25rem,
  1.5rem,
  1.75rem,
  2rem,
  2.25rem,
  2.625rem,
  3rem,
  3.375rem,
  3.75rem,
  4.25rem,
  4.75rem,
  5.25rem,
  5.75rem
);

@function get-type-size($step) {
  @return nth($typescale, $step);
}

@function rem($px) {
  @return ($px / $base-font-size) * 1rem;
}
