<div data-overflow-menu class="overflow-menu">
  <div class="overflow-menu__icon"></div>
  <ul class="overflow-menu__options">
    <li><button type="button" class="overflow-menu__btn">Stop App</button></li>
    <li><button type="button" class="overflow-menu__btn">Restart App</button></li>
    <li><button type="button" class="overflow-menu__btn">Restart App</button></li>
    <li><button type="button" class="overflow-menu__btn">Edit Routes and Access</button></li>
    <hr/>
    <li><button type="button" class="overflow-menu__btn" data-state="delete">Delete App</button></li>
  </ul>
</div>
