<div class="bx--form-item">
  <label for="time-picker-1" class="bx--label">Select a time</label>
  <div class="bx--time-picker">
    <div class="bx--time-picker__input">
      <input id="time-picker-1" type="text" class="bx--time-picker__input-field" pattern="(1[012]|[1-9]):[0-5][0-9](\\s)?(?i)"
        placeholder="hh:mm" maxlength="5" />
      <div class="bx--form-requirement">
        Invalid time.
      </div>
    </div>
    <div class="bx--time-picker__select bx--select bx--select--inline">
      <label for="select-id-1" class="bx--label bx--visually-hidden">Select AM/PM</label>
      <select id="select-id-1" class="bx--select-input">
        <option class="bx--select-option" value="AM">AM</option>
        <option class="bx--select-option" value="PM">PM</option>
      </select>
      <svg class="bx--select__arrow" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:none;}</style></defs><title>Carbon—Duo</title><g id="Icon"><polygon points="25 12 16 22 7 12 25 12"/></g><g id="Transparent_Rectangle" data-name="Transparent Rectangle"><rect class="cls-1" width="32" height="32"/></g></svg>
    </div>
    <div class="bx--time-picker__select bx--select bx--select--inline">
      <label for="select-id-2" class="bx--label bx--visually-hidden">Select timezone</label>
      <select id="select-id-2" class="bx--select-input">
        <option class="bx--select-option" value="option-1">Timezone 1</option>
        <option class="bx--select-option" value="option-2">Timezone 2</option>
        <option class="bx--select-option" value="option-3">Timezone 3</option>
      </select>
      <svg class="bx--select__arrow" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:none;}</style></defs><title>Carbon—Duo</title><g id="Icon"><polygon points="25 12 16 22 7 12 25 12"/></g><g id="Transparent_Rectangle" data-name="Transparent Rectangle"><rect class="cls-1" width="32" height="32"/></g></svg>      
    </div>
  </div>
</div>
