@import '_partials/vars';
@import '_partials/extends';

.search {
  display: flex;
  position: relative;
  align-items: center;
  width: 80%;
  margin: 2em;

  @include breakpoint(992px) {
    width: 50%;
  }

  &__input {
    @include type(.875rem);
    flex: 2;
    padding: 1em 1em 1em 2.5em;
    margin-right: -3.9em;
    color: $color__white;
    background-color: $color--search-bg;
    border: none;
    appearance: none;

    &::placeholder {
      font-style: italic;
    }

    @include breakpoint(500px) {
      font-size: 1rem;
      font-weight: 500;
    }

    // light ui styles
    .light-ui & {
      &::placeholder {
        color: $color__navy-gray-7;
      }

      color: $color__navy-gray-6;
      background-color: mix($color__white, $color__navy-gray-7, 50%);
    }
  }

  &__icon {
    &--magnifier {
      @extend %icon--search;
      left: .9em;
    }

    &--filter {
      @extend %icon--search;
      left: .75em;
    }
  }

  &__filter {
    @include type(1rem);
    padding: 1.4em;
    margin-left: 1em;
    font-weight: bold;
    color: $color--filter-text;
    cursor: pointer;
    background-color: $color--filter-bg;
    border: none;
    position: relative;
    transition-duration: .25s;

    @include breakpoint(500px) {
      padding: 1em 1em 1em 2em;
      margin-left: 0;
    }

    &:hover,
    &:focus {
      background-color: mix($color__white, $color--filter-bg, 10%);
    }

    // light ui styles
    .light-ui & {
      color: $color__navy-gray-6;
      background-color: mix($color__white, $color__navy-gray-7, 30%);

      &:hover,
      &:focus {
        background-color: mix($color__white, $color__navy-gray-7, 40%);
      }
    }

    .filter__text {
      display: none;
      padding-left: .7em;

      @include breakpoint(500px) {
        display: inline-block;
      }
    }
  }
}
