@use '@carbon/react/scss/components/tile';

.experimental-tile {
  @include tile.tile($enable-experimental-tile-contrast: true);
}

div .bx--tile--selectable:not(:last-child) {
  margin-bottom: 1rem;
}
