@use '@carbon/react/scss/components/tile';
@use '@carbon/react/scss/type';

.experimental-tile {
  @include tile.tile(
    $enable-experimental-tile-contrast: true,
    $enable-v12-tile-radio-icons: true
  );
}

div .cds--tile--selectable:not(:last-child) {
  margin-block-end: 1rem;
}
