//-------------------------
// ☠️ Deprecated
//-------------------------

/////////////////
// DATA-MODULE //
/////////////////

@mixin data-module($data-module-type) {
  @if ($data-module-type == 'activity-log') {
    .activity-log {
      @include activity-log;
    }
  }

  @elseif ($data-module-type == 'metrics') {
    .metrics {
      @extend %metrics;
    }
  }
}

//////////////////
// ACTIVITY LOG //
//////////////////

@mixin activity-log {
  &__headline {
    @include font-size('14');

    width: 100%;
    padding: 2em;
    font-weight: 600;
    color: $color--headline;
    border-bottom: 1px solid $color__navy-gray-6;
  }

  &__feed {
    max-height: em(295px);
    padding: 0em 1em 1em 2em;
    overflow: scroll;
    list-style-type: none;

    .feed__item {
      position: relative;
      padding: 0 0 0 1em;

      &::before {
        position: relative;
        top: em(7px);
        left: em(-17px);
        color: $color__white;
        content: '\2022'; // Filled circle
      }

      &--activity {
        @extend %p;
        padding-left: em(15px);
        margin: em(-10px);
      }

      &--user-activity {
        padding-left: em(15px);

        &::before {
          position: relative;
          top: 14px;
          left: -27px;
          display: inline-block;
          width: em(25px);
          height: em(25px);
          margin-right: 1em;
          color: $color__white;
          text-decoration: none;
          background-image: url('http://bit.ly/1QWOZe2'); // !temporary
          background-repeat: no-repeat;
          background-size: 100%;
          border: 2px solid $color__white;
          border-radius: 50%;
          content: '';
       }

        &::after {
          position: relative;
          top: em(-15px);
          left: em(-15px);
          padding-top: .6em;
          border: 1px solid $color--border;
          content: ' ';
        }
      }
    }

    .item {
      &__activity-desc {
        position: relative;
        top: em(-21px);
        padding-left: 5em;
        font-weight: 200;
        line-height: 2;
      }

      &__line {
        display: inline-block;
        padding: .8em 0;
        border-left: 2px solid $color--border;
      }
    }

    .activity-desc {
      &__time {
        padding-left: .5em;
        color: $color--desc;
      }
    }
  }
}
