//-------------------------
// ☠️ Deprecated
//-------------------------

$color--module-bg: rgba($color__navy-gray-5, .5);
$color--headline: rgba($color__white, .8);
$color--border: $color__navy-gray-6;
$color--desc: $color__blue-20;

$module--margin: 1em;
$module--max: 1200px;
