<!--//////////////////////////-->
<!-- Use <button> or <a> tags -->
<!--//////////////////////////-->

<!-- Secondary Button -->
<button class="btn--secondary" type="button">Secondary Button</button>
<a href="#" class="btn--secondary" role="button">Secondary Link</a>

<!-- Icon Secondary Button -->
<button class="btn--secondary icon--cancel" type="button">secondary button + icon</button>
<a href="" class="btn--secondary icon--cancel" role="button">secondary link + icon</a>

<!--///////////////////////////////-->
<!-- Must always be a <button> tag -->
<!--///////////////////////////////-->

<!-- Reset Secondary Button -->
<button class="btn--secondary" type="reset">reset</button>

<!-- Disabled Secondary Button -->
<button disabled class="btn--secondary" type="button">disabled</button>
