@mixin footer {
  @include reset;
  // position: fixed;
  bottom: 0;
  left: 0;
  z-index: z('footer');
  width: 100%;
  height: 3.5rem;
  padding: 2.5rem 0;
  background-color: $color__navy-gray-1;
  border-top: 2px solid $color__blue-30;
  box-shadow: 0px -7px 7px 5px rgba(0, 0, 0, .25);
  
  @include light-ui {
    background-color: $color__white;
    border-top: 2px solid $color__blue-51;
  }
}

@mixin form__container {
  @include reset;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
