<footer class="bx--footer bx--footer--bottom-fixed" role="contentinfo">
  <div class="bx--footer-info">
    <div class="bx--footer-info__item">
      <p class="bx--footer-label">Need Help?</p>
      <a class="bx--link" href="#">Contact Bluemix Sales</a>
    </div>
    <div class="bx--footer-info__item">
      <p class="bx--footer-label">Estimate Monthly Cost</p>
      <a class="bx--link" href="#">Cost Calculator</a>
    </div>
  </div>
  <div class="bx--footer-cta">
    <button class="bx--btn bx--btn--primary" type="submit">Create</button>
  </div>
</footer>
