<footer class="bx--footer bx--footer--bottom-fixed" role="contentinfo">
  <div class="bx--footer-info">
    {{#each items}}
      <div class="bx--footer-info__item">
        <p class="bx--footer-label">{{title}}</p>
        <a class="bx--link" href="#">{{label}}Contact Bluemix Sales</a>
      </div>
    {{/each}}
  </div>
  <div class="bx--footer-cta">
    <button class="bx--btn bx--btn--primary" type="submit">Create</button>
  </div>
</footer>
