@import '_partials/vars';
@import '_partials/extends';

.tooltip {
  display: none;
  &__top {
    display: none;
    @extend %tooltip--setup;
    &:before {
      bottom: 2em;
    }

    &:after {
      bottom: 1.5em;

      transform:rotate(45deg);
    }
  }

  &__bottom {
    display: none;
    @extend %tooltip--setup;
    &:before {
      top: 2em;
    }

    &:after {
      top: 1.5em;

      transform:rotate(-135deg);
    }
  }
}
