// UI Color Scheme
$color__blue-20    : #7cc7ff;
$color__blue-30    : #5aaafa;
$color__blue-40    : #5596e6;
$color__blue-50    : #4178be;
$color__navy-gray-3: #2d3f49;
$color__navy-gray-2: #20343e;
$color__blue-90    : #152935;
$color__navy-gray-1: #0f212e;
$color__navy-gray-7: #8c9ba5;
$color__navy-gray-6: #5a6872;
$color__navy-gray-5: #42535c;
$color__navy-gray-4: #394b54;
$color__white      : #fff;
$color__navy-gray-9: #eff2f5;
$color__navy-gray-8: #dfe6eb;

// Accent Colors
$color__teal-20  : #6eedd8;
$color__teal-30  : #41d6c3;
$color__teal-40  : #00b4a0;
$color__green-30 : #8cd211;
$color__yellow-30: #efc100;
$color__orange-30: #ff7832;
$color__red-40   : #ff5050;
$color__red-50   : #e71d32;
$color__purple-40: #af6ee8;
