<!-- The `name` attribute identifies radio buttons that are part of the same group. -->

<label class="bx-radio">
  <input type="radio" name="group" value="value1" class="bx-radio-input" checked>
  <span class="bx-radio-label">Button Pair Primary Checked</span>
</label>
<label class="bx-radio">
  <input type="radio" name="group" value="value2" class="bx-radio-input">
  <span class="bx-radio-label">Button Pair Primary</span>
</label>
<label class="bx-radio">
  <input type="radio" name="group" value="value3" class="bx-radio-input">
  <span class="bx-radio-label">Button Pair Primary</span>
</label>
<label class="bx-radio">
  <input type="radio" name="group" value="value4" class="bx-radio-input" disabled>
  <span class="bx-radio-label">Button Pair Primary Disabled</span>
</label>
