//-------------------------
// ☠️ Deprecated
//-------------------------

%btn--base {
  @include helvetica;
  @include font-smoothing;
  @include letter-spacing;  
  @include font-size('14');
  font-weight: 700;
  display: inline-block;
  height: rem(40px);
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: $transition--base;
  transition-timing-function: ease-in;

  &:disabled {
    cursor: not-allowed;
    opacity: .5;
  }

  &:focus {
    @include focus-outline;
  }

  &::-moz-focus-inner {
    // Buttons in Firefox have
    // some intrinsic, browser-specific extra padding.
    // This removes that. Discovered and fixed in #731
    padding: 0;
    border: 0;
  }
}

%btn--primary {
  @extend %btn--base;
  @include btn--primary($color__btn--bg, $color__btn--bg--hover);
}

%btn--secondary {
  @extend %btn--base;
  @include btn--secondary($color__btn--bg);
}

%btn--danger {
  @extend %btn--base;
  color: $color__white;
  background-color: transparent;
  border-color: $color__white;
  border: 2px solid currentColor;

  &:hover,
  &:focus {
    color: $color__white;
    border: 2px solid transparent;
    background-color: $color__red-50; // white text on red 50 - AA a11y pass

    &:disabled {
      color: $color__white;
      background-color: transparent;
      border: 2px solid currentColor;
    }
  }
}
