@mixin btn--primary($background, $active-background, $color--text: $color__btn--text) {
  color: $color--text;
  background-color: $background;
  border: 2px solid transparent;

  &:hover,
  &:focus {
    background-color: $active-background;

    &:disabled {
      background-color: $background;
    }
  }
}

@mixin btn--secondary($active-background, $color--text: $active-background) {
  color: $color--text;
  background-color: transparent;
  border: 2px solid $active-background;

  &:hover,
  &:focus {
    color: $color__btn--text;
    background-color: $active-background;

    &:disabled {
      color: $color--text;
      background-color: transparent;
    }
  }
}
