@mixin btn--base {
  @include helvetica;
  @include font-smoothing;
  @include letter-spacing;
  @include font-size('14');
  font-weight: 700;
  height: rem(40px);
  padding: 0 1rem;
  flex-shrink: 0;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: $transition--base;
  transition-timing-function: ease-in;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:disabled {
    cursor: not-allowed;
    opacity: .5;
  }

  &:focus {
    @include focus-outline;
  }

  &::-moz-focus-inner {
    // Buttons in Firefox have
    // some intrinsic, browser-specific extra padding.
    // This removes that. Discovered and fixed in #731
    padding: 0;
    border: 0;
  }

  // With Icons
  .bx--btn--right-icon__icon {
    display: inline-flex;
    width: rem(16px);
    height: rem(16px);
    margin-left: .5rem;
  }
}


@mixin btn--primary(
  $bg: $color__blue-30,
  $hover-bg: $color__blue-20,
  $text: $color__blue-90
) {
  @include btn--base;
  color: $text;
  background-color: $bg;
  border: 2px solid transparent;

  &:hover,
  &:focus {
    background-color: $hover-bg;

    &:disabled {
      background-color: $bg;
    }
  }

  &:active {
    background-color: darken($bg, 20%);
  }

  @include light-ui {
    background-color: $color__blue-51;
    color: $color__white;

    &:hover,
    &:focus {
      background-color: $color__blue-40;
    }

    &:active {
      background-color: darken($color__blue-51, 20%);
    }
  }
}

@mixin btn--secondary(
  $hover-bg: $color__blue-30,
  $text: $hover-bg
) {
  @include btn--base;
  color: $text;
  background-color: transparent;
  border: 2px solid $hover-bg;

  &:hover,
  &:focus {
    color: $color__btn--text;
    background-color: $hover-bg;

    &:disabled {
      color: $text;
      background-color: transparent;
    }
  }

  &:active {
    background-color: darken($hover-bg, 20%);
  }

  @include light-ui {
    border: 2px solid $color__blue-51;
    color: $color__blue-51;

    &:hover {
      border: 2px solid $color__blue-51;
      color: $color__white;
      background-color: $color__blue-51;
    }
  }
}

@mixin btn--danger {
  @include btn--base;
  color: $color__white;
  background-color: transparent;
  border-color: $color__white;
  border: 2px solid currentColor;

  &:hover,
  &:focus {
    color: $color__white;
    border: 2px solid transparent;
    background-color: $color__red-50; // white text on red 50 - AA a11y pass

    &:disabled {
      color: $color__white;
      background-color: transparent;
      border: 2px solid currentColor;
    }
  }
}
