// Dark UI - default
$color__btn--bg: $color__blue-30;
$color__btn--text: $color__blue-90;
$color__btn--bg--hover: lighten($color__blue-30, 5%);

// Light UI
// $color__btn--bg--light-ui: $color__navy-gray-5;
// $color__btn--bg--hover--light-ui: lighten($color__navy-gray-5, 5%);
