@import 'vars';
@import 'mixins';
@import 'extends';

// Light UI is not meant to be used yet until later

.bx--btn {
  @extend %btn--primary;

  // .light-ui & {
  //   @extend %btn--base;
  //   @include btn--primary($color__btn--bg--light, $color__btn--bg--active--light);
  // }
}

.bx--btn--secondary {
  @extend %btn--secondary;

  // .light-ui & {
  //   @extend %btn--base;
  //   @include btn--secondary($color__btn--bg--light);
  // }
}

.bx--btn--danger {
  @extend %btn--danger;
}

.bx--btn--right-icon {
  @extend %btn--right-icon;

  &__wrapper {
    // a wrapping element is needed
    // Firefox does _not_ like `display: flex;` on buttons
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__icon {
    width: rem(24px);
    height: rem(24px);
  }

  &__use {
    fill: $color__white;
  }
}
