@import '~carbon-components/scss/globals/scss/typography';

.container-welcome {
  /* stylelint-disable-next-line declaration-no-important */
  padding: 0 !important;
}

.welcome__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 3rem;
}

.welcome__heading {
  @include type-style('productive-heading-07');

  color: $inverse-01;
}

.welcome__heading--subtitle {
  font-weight: 600;
}
