<!-- Passive Modal -->
<div data-modal-id="passive-modal" class="modal" tabindex="-1">
  <div class="modal-inner">
    <div class="modal-content">

      <div class="modal__header">
        <button class="modal__close" data-modal-close>
          <svg class="modal__close--icon">
            <use xlink:href="../../images/sprite.svg#common--cancel"></use>
          </svg>
        </button>

        <h2 class="modal-content__heading">Passive Modal</h2>
      </div>
      <p class="modal-content__text">There is a close button for this modal because it is informational or passive. You can also close with ESC for accessibility. You can use the modal as a lightbox for images or videos, give alerts or notices, and give help or tips.</p>

    </div>
  </div>
</div>
<!-- end of Passive Modal -->
