<!-- Transactional Modal -->
<div data-modal data-modal-type="transactional" class="modal modal--transactional" tabindex="0">
  <div class="modal-inner">
    <div class="modal-content">

      <h2 class="modal-content__heading">Transactional Modal</h2>
      <p class="modal-content__text">Dialogs that require an action shouldn't have a close button or be closed by clicking anywhere.</p>

      <div class="modal__buttons">
        <button class="buttons__cancel" data-modal-close>Cancel</button>
        <button class="buttons__save">Save</button>
      </div>

    </div>
  </div>
</div>
<!-- end of Transactional Modal -->
