//-----------------------------
// Search
//-----------------------------

@import '../../globals/scss/colors';
@import '../../globals/scss/layout';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/css--reset';
@import '../../globals/scss/typography';
@import '../../globals/scss/layout';
@import '../../globals/scss/import-once';

@include exports('search') {

  .bx--search {
    display: flex;
    position: relative;
    width: 100%;
  }

  .bx--search .bx--label {
    @include hidden;
  }

  .bx--search-input {
    @include reset;
    @include helvetica;
    appearance: none;
    border: none;
    background-color: $field-01;
    color: $text-01;
    font-weight: 700;
    padding: 0 2.5rem 0 2.5rem;
    text-overflow: ellipsis;
    width: 100%;

    &:focus {
      @include focus-outline('border');
    }

    &::placeholder {
      @include placeholder-colors;
      font-style: italic;
      font-weight: 400;
    }
  }

  .bx--search--sm .bx--search-input {
    @include font-size('14');
    height: rem(32px);
  }

  .bx--search--lg .bx--search-input {
    @include font-size('14');
    height: rem(40px);
  }

  .bx--search-magnifier,
  .bx--search-close {
    position: absolute;
    height: 1rem;
    width: 1rem;
    top: calc(50% - .5rem);
  }

  .bx--search-magnifier {
    left: .75rem;
    fill: $ui-05;
  }

  .bx--search-close {
    transition: $transition--base;
    fill: $ui-05;
    cursor: pointer;
    visibility: visible;
    opacity: 1;
  }

  .bx--search--sm .bx--search-close {
    right: .75rem;
  }

  .bx--search--lg .bx--search-close {
    right: rem(100px);
  }

  .bx--search-button {
    @include reset;
    border: 0;
    transition: $transition--base;
    height: rem(40px);
    width: rem(40px);
    min-width: rem(40px);
    margin-left: .25rem;
    background-color: $ui-01;
    position: relative;
    padding: 0;
  }

  .bx--search-button svg {
    position: relative;
    top: -1px;
    box-sizing: border-box;
    vertical-align: middle;
    transition: $transition--base;
    fill: $brand-01;
    height: 1rem;
    width: 1rem;
  }

  .bx--search-button:hover,
  .bx--search-button:focus {
    cursor: pointer;
    background-color: $brand-01;
    outline: 1px solid transparent;
  }

  .bx--search-button:hover svg,
  .bx--search-button:focus svg {
    fill: $ui-01;
  }

  .bx--search-close--hidden {
    visibility: hidden;
    opacity: 0;
  }

  .bx--search-view--hidden {
    display: none;
  }
}
