<div data-search class="bx--search bx--search--sm" role="search">
  <svg class="bx--search-magnifier">
    <use xlink:href="/carbon-icons/bluemix-icons.svg#icon--search--glyph"/>
  </svg>
  <label id="search-input-label-1" class="bx--label" for="search__input-2">Search</label>
  <input class="bx--search-input" type="text" id="search__input-2" role="search" placeholder="Search" aria-labelledby="search-input-label-1">
  <svg class="bx--search-close bx--search-close--hidden">
    <use xlink:href="/carbon-icons/bluemix-icons.svg#icon--close--glyph"/>
  </svg>
</div>
