<div data-search class="bx--search bx--search--lg" role="search">
  <svg class="bx--search-magnifier">
    <use xlink:href="/@console/bluemix-icons/bluemix-icons.svg#search--glyph"/>
  </svg>
  <label class="bx--label" for="search__input">Search</label>
  <input class="bx--search-input" type="text" id="search__input" placeholder="Search">
  <svg class="bx--search-close bx--search-close--hidden">
    <use xlink:href="/@console/bluemix-icons/bluemix-icons.svg#close--glyph"/>
  </svg>
  <button class="bx--search-button" type="button">
    <svg class="bx--search-filter">
      <use xlink:href="/@console/bluemix-icons/bluemix-icons.svg#filter--glyph"/>
    </svg>
  </button>
  <button class="bx--search-button" type="button" data-search-toggle>
    <div data-search-view="grid">
      <svg class="bx--search-view">
        <use xlink:href="/@console/bluemix-icons/bluemix-icons.svg#grid"/>
      </svg>
    </div>
    <div class="bx--search-view--hidden" data-search-view="list">
      <svg class="bx--search-view">
        <use xlink:href="/@console/bluemix-icons/bluemix-icons.svg#list"/>
      </svg>
    </div>
  </button>
</div>