{
  "root": true,
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "extends": [
    "carbon-base"
  ],
  "globals": {
    "describe": true,
    "before": true,
    "beforeEach": true,
    "after": true,
    "afterEach": true,
    "it": true,
    "expect": true,
    "sinon": true
  },
  "rules": {
    "comma-dangle": [
      2,
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never"
      }
    ],
    "max-len": [2, 130, 4],
    "func-names": 0,
    "no-new": 0,
    "no-underscore-dangle": 0,
    "no-unused-expressions": 0,
    "prefer-arrow-callback": 0
  }
}
