// Theme Switcher
// sass-lint:disable variable-name-format, class-name-format, no-vendor-prefixes, nesting-depth
@import 'carbon-components/consumables/scss/global/colors/colors';

$color-3d72b3: #3d72b3;
$color-5aaafa: #5aaafa;
$color-8c9ba5: #8c9ba5;
$color-white85: rgba($color__white, .85);
$color-navy-gray85: rgba($color__navy-gray-1, .85);

.theme-switcher-btns {
  background: $color-navy-gray85;
  border-radius: 3px;
  bottom: 1rem;
  padding: 1rem;
  position: fixed;
  right: 1rem;
  z-index: 1000;

  &__btn {
    background: none;
    border: 0;
    cursor: pointer;
    margin: 0;
    padding: 0 0 .3rem;

    svg {
      -webkit-transition: 0s;
      height: 1.25rem;
      transition: 0s;
      width: 1.25rem;
    }
  }

  &__btn--dark {
    border-bottom: 2px solid $color-5aaafa;

    svg {
      fill: $color-5aaafa;
    }
  }

  &__btn--light {
    border-bottom: 2px solid transparent;
    margin-right: .5rem;

    svg {
      fill: $color-8c9ba5;

      circle {
        fill: none;
        stroke: $color-8c9ba5;
      }
    }
  }
}

.bx--global-light-ui {
  .theme-switcher-btns {
    background: $color-white85;

    &__btn--dark {
      border-bottom: 2px solid transparent;

      svg {
        fill: none;

        path {
          stroke: $color-8c9ba5;
        }
      }
    }

    &__btn--light {
      border-bottom: 2px solid $color-3d72b3;

      svg {
        fill: $color-3d72b3;

        circle {
          fill: $color-3d72b3;
          stroke: none;
        }
      }
    }
  }
}
