<ul class="bx--progress-indicator">
  <li class="bx--progress-indicator__step bx--progress-indicator__step--complete">
    <svg class="bx--progress-indicator__icon">
      <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v5/img/bluemix-icons.svg#checkmark--outline"></use>
    </svg>
    <p class="bx--progress-indicator__label">Step 1</p>
  </li>
  <li class="bx--progress-indicator__step bx--progress-indicator__step--complete">
    <svg class="bx--progress-indicator__icon">
      <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v5/img/bluemix-icons.svg#checkmark--outline"></use>
    </svg>
    <p class="bx--progress-indicator__label">Step 2</p>
  </li>
  <li class="bx--progress-indicator__step bx--progress-indicator__step--active">
    <svg class="bx--progress-indicator__icon">
      <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v5/img/bluemix-icons.svg#checkmark--outline"></use>
    </svg>
    <p class="bx--progress-indicator__label">Step 3</p>
  </li>
  <li class="bx--progress-indicator__step">
    <svg class="bx--progress-indicator__icon">
      <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v5/img/bluemix-icons.svg#checkmark--outline"></use>
    </svg>
    <p class="bx--progress-indicator__label">Step 4</p>
  </li>
  <li class="bx--progress-indicator__step">
    <svg class="bx--progress-indicator__icon">
      <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v5/img/bluemix-icons.svg#checkmark--outline"></use>
    </svg>
    <p class="bx--progress-indicator__label">Step 5</p>
  </li>
</ul>