<header class="bx--detail-page-header--with-tabs">
  <div class="bx--detail-page-header--with-tabs__container">
    <div class="bx--detail-page-header--with-tabs__breadcrumb">
      <a href="#" class="bx--detail-page-header--with-tabs__link-wrapper">
        <svg class="bx--detail-page-header--with-tabs__arrow">
          <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#service--back"></use>
        </svg>
        <p class="bx--detail-page-header--with-tabs__breadcrumb-title">Breadcrumb title</p>
      </a>
    </div>
    <div class="bx--detail-page-header--with-tabs__info">
      <p class="bx--detail-page-header--with-tabs__info-title">Detail Page Header</p>
    </div>
  </div>
  <div class="bx--detail-page-header--with-tabs__tabs-container">
    <nav data-tabs class="bx--tabs">
      <div class="bx--tabs__trigger"><p class="bx--tabs__trigger-text"></p>
        <svg>
          <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#service--down-arrow"></use>
        </svg>
      </div>
      <ul class="bx--tabs__nav bx--tabs--hidden">
        <li class="bx--tabs__nav-item bx--tabs--selected"><a class="bx--tabs__nav-link" href="#">Overview</a></li>
        <li class="bx--tabs__nav-item"><a class="bx--tabs__nav-link" href="#">Containers Files</a></li>
        <li class="bx--tabs__nav-item"><a class="bx--tabs__nav-link" href="#">Connected Objects</a></li>
        <li class="bx--tabs__nav-item"><a class="bx--tabs__nav-link" href="#">Manage</a></li>
      </ul>
    </nav>
  </div>
</header>
