<div class="bx--card" tabindex="0" aria-labelledby="#card-service-title">
  <!-- Card Overview -->
  <div class="bx--card__card-overview">
    <!-- OverflowMenu -->
    <div data-overflow-menu class="bx--overflow-menu" tabindex="0" aria-label="List of options">
      <svg class="bx--overflow-menu__icon">
        <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v5/img/bluemix-icons.svg#overflow-menu"></use>
      </svg>
      <ul class="bx--overflow-menu__options">
        <li><button type="button" class="bx--overflow-menu__btn">Stop App</button></li>
        <li><button type="button" class="bx--overflow-menu__btn">Restart App</button></li>
        <li><button type="button" class="bx--overflow-menu__btn">Restart App</button></li>
        <li><button type="button" class="bx--overflow-menu__btn">Edit Routes and Access</button></li>
        <hr/>
        <li><button type="button" class="bx--overflow-menu__btn--delete">Delete App</button></li>
      </ul>
    </div>
    <div class="bx--card-overview__about">
      <div class="bx--about__icon">
        <svg class="bx--about__icon--img">
          <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v5/img/bluemix-icons.svg#app-services"></use>
        </svg>
      </div>
      <div class="bx--about__title">
        <p id="card-service-title" class="bx--about__title--name">Service Name 1</p>
        <p class="bx--about__title--additional-info">Cloudant NoSQL DB</p>
        <p class="bx--about__title--additional-info">Shared</p>
      </div>
    </div>
  </div>
  <!-- Card Footerw -->
  <div class="bx--card__card-footer">
    <button class="bx--card-footer__credentials-button">View Credentials</button>
    <a href="#" class="bx--card-footer__docs-link">Docs</a>
  </div>
</div>
