@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/spacing';
@import '../../globals/scss/typography';
@import '../../globals/scss/css--reset';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/import-once';
@import '../../globals/scss/layer';
@import '../form/form';
@import 'flatpickr.scss';

@include exports('date-picker') {
  .#{$prefix}--date-picker {
    display: flex;
    align-items: flex-start;
  }

  .#{$prefix}--date-picker-container {
    position: relative;
  }

  .#{$prefix}--date-picker.#{$prefix}--date-picker--simple {
    .#{$prefix}--date-picker__input {
      width: 7.125rem;
    }
  }

  .#{$prefix}--date-picker.#{$prefix}--date-picker--simple.#{$prefix}--date-picker--short {
    .#{$prefix}--date-picker__input {
      width: 5.7rem;
    }
  }

  .#{$prefix}--date-picker.#{$prefix}--date-picker--single {
    .#{$prefix}--date-picker__input {
      width: 9rem;
    }
  }

  .#{$prefix}--date-picker__input {
    @include reset;
    @include font-family;
    @include typescale('zeta');
    display: block;
    position: relative;
    height: rem(40px);
    max-width: 9rem;
    padding: 0 $spacing-md;
    background-color: $field-01;
    color: $text-01;
    border: 1px solid transparent;

    &:focus,
    &.#{$prefix}--focused {
      @include focus-outline('border');
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &:disabled:hover {
      border: 1px solid transparent;
    }

    &::-webkit-input-placeholder {
      color: $text-03;
    }
  }

  .#{$prefix}--date-picker__icon {
    position: absolute;
    top: 2.25rem;
    left: 1rem;
    fill: $brand-01;
    cursor: pointer;
    z-index: 1;
  }

  .#{$prefix}--date-picker__icon + .#{$prefix}--date-picker__input {
    padding-left: $spacing-3xl;
  }

  .#{$prefix}--date-picker--range {
    display: flex;
    position: relative;
  }

  .#{$prefix}--date-picker--range > .#{$prefix}--date-picker-container:first-child {
    margin-right: $spacing-xs;
  }

  .#{$prefix}--date-picker--range .#{$prefix}--date-picker__icon {
    right: -1.75rem;
    left: auto;
  }

  .#{$prefix}--date-picker--range .#{$prefix}--date-picker__input {
    width: 7.075rem;
  }

  .#{$prefix}--date-picker__calendar,
  .flatpickr-calendar.open {
    @include layer('pop-out');
    background-color: $ui-01;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: $spacing-md $spacing-md $spacing-2xs;
    width: rem(285px) !important;
    height: rem(230px);
    border-radius: 0;
    border: none;
    overflow: hidden;
    margin-top: -1px;

    &:before,
    &:after {
      display: none;
    }

    &:focus {
      outline: 1px solid $brand-01;
    }
  }

  .#{$prefix}--date-picker__month,
  .flatpickr-month {
    width: 100%;
    margin-bottom: $spacing-2xs;
  }

  .#{$prefix}--date-picker__month .flatpickr-prev-month,
  .#{$prefix}--date-picker__month .flatpickr-next-month,
  .flatpickr-month .flatpickr-prev-month,
  .flatpickr-month .flatpickr-next-month {
    padding: 0;
    line-height: rem(20px);
    fill: $text-01;

    &:hover svg {
      fill: $brand-01;
    }
  }

  .#{$prefix}--date-picker__month .flatpickr-current-month,
  .flatpickr-month .flatpickr-current-month {
    @include typescale('omega');
    text-transform: uppercase;
    padding: 0;
  }

  .#{$prefix}--date-picker__month .flatpickr-current-month svg,
  .flatpickr-month .flatpickr-current-month svg {
    fill: $text-01;
  }

  .#{$prefix}--date-picker__month .flatpickr-current-month .cur-month,
  .flatpickr-month .flatpickr-current-month .cur-month {
    margin-right: 0.25rem;
    color: $text-01;
  }

  .numInputWrapper,
  .flatpickr-current-month .numInputWrapper {
    min-width: rem(38px);
    width: rem(38px);
  }

  .#{$prefix}--date-picker__month .numInputWrapper .numInput,
  .flatpickr-month .numInputWrapper .numInput {
    font-weight: 600;
    color: $text-01;
    background-color: $field-01;
    border: none;
    border-radius: 0;
    min-width: rem(38px);
    width: rem(38px);
    padding: $spacing-2xs;

    &:focus {
      outline: 1px solid $brand-01;
    }
  }

  .#{$prefix}--date-picker__month .numInputWrapper span.arrowUp,
  .#{$prefix}--date-picker__month .numInputWrapper span.arrowDown,
  .flatpickr-month .numInputWrapper span.arrowUp,
  .flatpickr-month .numInputWrapper span.arrowDown {
    left: 2.6rem;
    border: none;
    width: rem(12px);

    &:hover {
      background: none;

      &:after {
        border-bottom-color: $brand-02;
        border-top-color: $brand-02;
      }
    }

    &:after {
      border-bottom-color: $brand-01;
      border-top-color: $brand-01;
    }
  }

  .#{$prefix}--date-picker__month .numInputWrapper span.arrowUp,
  .flatpickr-month .numInputWrapper span.arrowUp {
    top: 1px;
  }

  .#{$prefix}--date-picker__month .numInputWrapper span.arrowDown,
  .flatpickr-month .numInputWrapper span.arrowDown {
    top: 9px;
  }

  span.#{$prefix}--date-picker__weekday,
  span.flatpickr-weekday {
    @include typescale('omega');
    font-weight: 600;
    color: $text-01;
  }

  .#{$prefix}--date-picker__day,
  .flatpickr-day {
    @include typescale('omega');
    height: rem(25px);
    width: 1.8rem;
    line-height: rem(25px);
    flex-basis: 1.8rem;
    margin: rem(0.5px) 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $text-01;
    border-radius: 0;

    &:hover {
      background: $ui-04;
    }

    &:focus {
      outline: none;
      background: $ui-04;
    }
  }

  .#{$prefix}--date-picker__day.today,
  .flatpickr-day.today {
    border: 2px solid $brand-01;
  }

  .#{$prefix}--date-picker__day.today.no-border,
  .flatpickr-day.today.no-border {
    border: none;
  }

  .#{$prefix}--date-picker__day.disabled,
  .flatpickr-day.disabled {
    cursor: not-allowed;
    color: $ui-05;

    &:hover {
      background: transparent;
    }
  }

  .#{$prefix}--date-picker__day.inRange,
  .flatpickr-day.inRange {
    background: $brand-02;
    box-shadow: -6px 0 0 $brand-02, 6px 0 0 $brand-02;
    border: 2px solid transparent;
  }

  .#{$prefix}--date-picker__day.selected,
  .flatpickr-day.selected {
    background: $brand-01;
    color: $inverse-01;
    border: 2px solid transparent;
  }

  .#{$prefix}--date-picker__day.startRange.selected,
  .flatpickr-day.startRange.selected {
    box-shadow: none;
    z-index: 2;
  }

  .#{$prefix}--date-picker__day.endRange.inRange,
  .flatpickr-day.endRange.inRange {
    background: $ui-01;
    color: $text-01;
    border: 2px solid $brand-01;
    z-index: 3;
    box-shadow: none;
  }

  .#{$prefix}--date-picker__day.endRange.inRange.selected,
  .flatpickr-day.endRange.inRange.selected {
    background: $brand-01;
    border: none;
    color: $inverse-01;
    box-shadow: none;
  }

  .#{$prefix}--date-picker__day.startRange.inRange:not(.selected),
  .flatpickr-day.startRange.inRange:not(.selected) {
    box-shadow: none;
    background: $ui-01;
    border: 2px solid $brand-01;
    z-index: 3;
  }

  .#{$prefix}--date-picker__days,
  .dayContainer {
    width: rem(225px);
    min-width: rem(225px);
    max-width: rem(225px);
    height: rem(132px);
  }

  .flatpickr-innerContainer,
  .flatpickr-rContainer {
    width: rem(225px);
    height: rem(168px);
  }

  .#{$prefix}--date-picker__weekdays,
  .flatpickr-weekdays,
  .flatpickr-weekdaycontainer {
    width: rem(225px);
    margin-bottom: $spacing-2xs;
  }

  .flatpickr-weekdaycontainer {
    display: flex;
  }

  .flatpickr-months {
    display: flex;
    width: 100%;
    position: relative;
  }

  .flatpickr-prev-month,
  .flatpickr-next-month {
    padding-top: 5px;
  }

  // Skeleton State
  .#{$prefix}--date-picker.#{$prefix}--skeleton input,
  .#{$prefix}--date-picker__input.#{$prefix}--skeleton {
    @include skeleton;
    width: 100%;

    &::-webkit-input-placeholder {
      color: transparent;
    }
  }

  .#{$prefix}--date-picker.#{$prefix}--skeleton .#{$prefix}--label {
    @include skeleton;
    width: rem(75px);
    height: rem(14px);
  }
}
