<!-- Basic without calendar (mm/yy only) -->
<div class="bx--form-item">
  <div data-date-picker="no-calendar" data-date-picker-mm-yy class="bx--date-picker">
    <div class="bx--date-picker__container">
      <label for="date-picker-4" class="bx--label">Label</label>
      <input type="text" id="date-picker-4" class="bx--date-picker__input" pattern="\d{1,2}/\d{4}" placeholder="mm / yyyy" data-date-picker-input />
    </div>
  </div>
</div>

<!-- Basic without calendar -->
<div class="bx--form-item">
  <div data-date-picker="no-calendar" class="bx--date-picker">
    <div class="bx--date-picker__container">
      <label for="date-picker-5" class="bx--label">Label</label>
      <input type="text" id="date-picker-5" class="bx--date-picker__input" pattern="\d{1,2}/\d{1,2}/\d{4}" placeholder="mm / dd / yyyy" data-date-picker-input />
    </div>
  </div>
</div>
