<!-- Basic without calendar (mm/yy only) -->
<div class="bx--form-item">
  <div data-date-picker="no-calendar" data-date-picker-mm-yy class="bx--date-picker">
    <div class="bx--date-picker__container">
      <label for="date-picker-1" class="bx--label">Label</label>
      <input type="text" id="date-picker-1" class="bx--date-picker__input" pattern="\d{1,2}/\d{4}" placeholder="mm / yyyy" data-date-picker-input />
    </div>
  </div>
</div>

<!-- Basic without calendar -->
<div class="bx--form-item">
  <div data-date-picker="no-calendar" class="bx--date-picker">
    <div class="bx--date-picker__container">
      <label for="date-picker-1" class="bx--label">Label</label>
      <input type="text" id="date-picker-1" class="bx--date-picker__input" pattern="\d{1,2}/\d{1,2}/\d{4}" placeholder="mm / dd / yyyy" data-date-picker-input />
    </div>
  </div>
</div>

<!-- Basic with calendar -->
<div class="bx--form-item">
  <div data-date-picker="basic" class="bx--date-picker">
    <div class="bx--date-picker__container">
      <label for="date-picker-1" class="bx--label">Label</label>
      <svg data-date-picker-icon class="bx--date-picker__icon" width="17" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 17.7">
        <path d="M14.1 1.7V0h-2v1.7h-8V0h-2v1.7H0v16h16v-16h-1.9zm-.1 14H2v-10h12v10z"/>
        <path d="M8.8 9.7v5.6H7.7v-3.6H6.3v-.9h.1c.9 0 1.4-.4 1.6-1.1h.8z"/>
      </svg>
      <input type="text" id="date-picker-1" class="bx--date-picker__input" placeholder="mm / dd / yyyy" data-date-picker-input />
    </div>
  </div>
</div>

<!-- Ranged -->
<div class="bx--form-item">
  <div data-date-picker="range" class="bx--date-picker bx--date-picker-range">
    <div class="bx--date-picker__container">
      <label for="date-picker-1" class="bx--label">Label</label>
      <input type="text" id="date-picker-1" class="bx--date-picker__input"  placeholder="mm / dd / yyyy" data-date-picker-input-from />
    </div>
    <div class="bx--date-picker__container">
      <label for="date-picker-2" class="bx--label">Label</label>
      <input type="text" id="date-picker-2" class="bx--date-picker__input"  placeholder="mm / dd / yyyy" data-date-picker-input-to />
    </div>
      <svg data-date-picker-icon class="bx--date-picker__icon" width="17" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 17.7">
        <path d="M14.1 1.7V0h-2v1.7h-8V0h-2v1.7H0v16h16v-16h-1.9zm-.1 14H2v-10h12v10z"/>
        <path d="M8.8 9.7v5.6H7.7v-3.6H6.3v-.9h.1c.9 0 1.4-.4 1.6-1.1h.8z"/>
      </svg>
  </div>
</div>
