@import 'vars';
@import 'keyframes';
@import 'extends';

.spinner {
  @extend %animation--spin;
  width: $spinner__size;
  height: $spinner__size;

  &.is-stopping {
    @extend %animation--stop;
  }

  &.is--ie {
    @extend %animation--spin--ie;
  }

  &.is-stopping--ie {
    @extend %animation--stop--ie;
  }
}

.spinner__svg {
  fill: transparent;
  stroke: $color__teal-30;
  stroke-width: 8;
  stroke-linecap: butt;
  stroke-dasharray: 240;
  stroke-dashoffset: $spinner__gap;
}
