<ul data-dropdown data-value class="bx--dropdown" tabindex="0">
  <li class="bx--dropdown__menu-text">Choose something...</li>
  <li>
    <svg class="bx--dropdown__arrow">
      <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v5/img/bluemix-icons.svg#caret--down"></use>
    </svg>
  </li>
  <li>
    <ul class="bx--dropdown__list">
      <!-- `href` in `<li>` would typically be actual links of routes -->
      <li data-option data-value="all" class="bx--dropdown__list-item"><a class="bx--dropdown__link" href="javascript:void(0)">All</a></li>
      <li data-option data-value="cloudFoundry" class="bx--dropdown__list-item"><a class="bx--dropdown__link" href="javascript:void(0)">Cloud Foundry API</a></li>
      <li data-option data-value="staging" class="bx--dropdown__list-item"><a class="bx--dropdown__link" href="javascript:void(0)">Staging</a></li>
      <li data-option data-value="dea" class="bx--dropdown__list-item"><a class="bx--dropdown__link" href="javascript:void(0)">Droplet Execution Agent</a></li>
      <li data-option data-value="router" class="bx--dropdown__list-item"><a class="bx--dropdown__link" href="javascript:void(0)">Router</a></li>
    </ul>
  </li>
</ul>
