// Animation
$transition-timing: .2s cubic-bezier(0, .63, 0, 1);
$transition-timing--inverted: .2s cubic-bezier(1.0, 0, 1.0, .37);

// Hard heights / widths
// real sloppy
$header-height: 50px;
// (width of anchor) + 2 * (padding of list item)
$item-width: 7.375;

$color__taxonomy-nav-item--selected: #5dcfb7;

$border-color__global-profile__avatar: #e6e6e6;
