.taxonomy-nav {
  position: absolute;
  z-index: z(header);
  top: rem($header-height);
  left: -100vw;

  width: 48%;
  padding: 0;

  opacity: 0;
  background-color: $color__navy-gray-1;
  height: 70vh;
  overflow-y: scroll;

  @include breakpoint(bp--xs--major) {
    height: auto;
    overflow-y: visible;
    top: rem($header-height) + 1rem;
    left: 2%;
    padding: 1rem;

    width: $item-width * 4 + 2 + rem(1px); // IE11 seems to need some slack

    transition: $transition-timing--inverted;
    transform: scale(0);
    transform-origin: 10rem -1rem;
  }

  @include breakpoint(bp--sm--major) {
    width: $item-width * 6 + 2 + rem(1px); // IE11 seems to need some slack
  }

  &--active {
    left: 0;
    opacity: 1;

    @include breakpoint(bp--xs--major) {
      left: 3%;

      transition: $transition-timing;
      transform: scale(1);

      box-shadow: 0 5px 10px 2px $color__navy-gray-1;

      &:before {
        position: absolute;
        top: -.5rem;
        left: 10%;

        display: block;

        width: 0;
        height: 0;

        content: '';

        border-width: 0 .5rem .5rem .5rem;
        border-style: solid;
        border-color: $color__navy-gray-1 transparent;
      }
    }

    @include breakpoint(bp--sm--major) {
      &:before {
        left: calc(30px + 15%);
      }
    }

  }
}

.taxonomy-menu {
  display: flex;
  flex-direction: column;

  @include breakpoint(bp--xs--major) {
    flex-direction: row;

    flex-wrap: wrap;
  }

  &:focus {
    outline: 0;
  }

  .taxonomy-item {
    display: flex;
    align-items: stretch;
    padding: 0;

    @include breakpoint(bp--xs--major) {
      align-items: flex-start;
      padding: .5rem;
    }

    &.selected {
      border: none;

      a {
        color: $color__white;
      }

      .taxonomy-item__label {
        padding-left: 1.75rem;

        @include breakpoint(bp--xs--major) {
          padding-left: 1rem;
        }

        &:before {
          @include font-size('16');
          display: block;
          position: absolute;
          top: 50%;
          content: '\0025cf';
          color: $color__taxonomy-nav-item--selected;
          width: 1rem;
          height: 1rem;
          margin-top: -.5rem;
          margin-left: -1rem;
          line-height: 1;
        }
      }
    }

    &__icon {
      width: rem(25px);
      height: rem(25px);
      margin: 0;

      @include breakpoint(bp--xs--major) {
        width: rem(125px);
        height: rem(25px);
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      svg {
        width: rem(25px);
        height: rem(25px);
        top: auto;
        left: auto;
        margin: 0;
      }
    }

    &__label {
      flex: 1;
      display: flex;
      justify-content: center;
      position: relative;
      padding-left: 1rem;

      @include breakpoint(bp--xs--major) {
        max-width: 75px;
        padding-left: 0;

        text-align: center;

        flex: 0 0 auto;
      }
    }
  }

  .taxonomy-item--taxonomy-menu {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: stretch;

    width: auto;
    margin: 0;
    padding: 1em;

    @include breakpoint(bp--xs--major) {
      width: 6.375em;
      padding: 1em 0;
      flex: 0 1 auto;
      flex-direction: column;
      justify-content: flex-start;
      border-radius: .875em;
    }

    border: solid transparent 1px;
    border-radius: 0;

    @include breakpoint(bp--xs--major) {
      flex-direction: column;
    }

    &:hover,
    &:focus {
      border: solid $color__blue-30 1px;
      background-color: $color__blue-90;
      outline: 0;
    }

    &,
    &:hover,
    &:focus {
      .taxonomy-item__icon {
        background-color: transparent;
      }
    }
  }
}
