<!-- Click handler for triggering modal appear -->
<a href="#modal-id" class="btn--primary" role="button">Reval Modal with Heading</a>

<!-- Modal with Heading -->
<aside class="modal" id="modal-id" role="dialog" aria-labelledby="modal-heading" aria-hidden="true">
  <a href="#" class="modal__close btn--close icon--close" role="button">
    <span aria-label="Close">&#215;</span>
  </a>
  <div class="modal__header">
    <h1 id="modal-heading" class="header__title"><span class="icon--info"></span>[Icon] Modal Heading</h1>
  </div>
  <div class="modal__content">
    <p class="content__text">
      Also known as a dialog box. This text can include a
      <a href="#" class="content-link">content-link</a>
    </p>
  </div>
  <div class="modal__actions">
    <a href="#" class="btn--secondary" type="button">cancel</a>
    <a href="#" class="btn--primary" type="button">ok</a>
  </div>
</aside>

<!-- Click handler for triggering modal appear -->
<a href="#modal-no-heading" class="btn--secondary" role="button">Reval Modal without Heading</a>

<!-- Modal without Heading -->
<aside class="modal" id="modal-no-heading" role="dialog" aria-label="A concise modal label for screen readers" aria-hidden="true">
  <a href="#" class="modal__close btn--close icon--close" role="button">
    <span aria-label="Close">&#215;</span>
  </a>
  <div class="modal__content">
    <p class="content__text">
      Also known as a dialog box. This text can include a
      <a href="#" class="content-link">content-link</a>
    </p>
  </div>
  <div class="modal__actions">
    <a href="#" class="btn--secondary" type="button">cancel</a>
    <a href="#" class="btn--primary" type="button">ok</a>
  </div>
</aside>
