@import '../../globals/scss/colors';
@import '../../globals/scss/vars';
@import '../../globals/scss/layout';
@import '../../globals/scss/css--typography';
@import '../checkbox/checkbox';
@import '../../globals/scss/import-once';
@import '../../components/overflow-menu/overflow-menu';

@include exports('data-table') {
  .bx--responsive-table-container {
    @include reset;
    @include font-family;
    overflow-x: auto;
    overflow-y: hidden;
    width: 99.9%;
  }

  .bx--responsive-table {
    @include reset;
    background-color: $ui-01;
    width: 100%;
    min-width: 500px;
    border-collapse: collapse;
    border-spacing: 0;
    border: 2px solid $ui-04;

    td {
      @include reset;
      @include typescale('zeta');
      padding: 0 rem(6px);
      vertical-align: middle;
    }

    td p {
      @include typescale('zeta');
    }

    th {
      @include reset;
      @include typescale('omega');
      padding: rem(9px) rem(6px);
      vertical-align: middle;
      font-weight: 600;

      &:focus {
        outline: 1px solid transparent;

        span {
          @include focus-outline('border');
        }
      }
    }

    table {
      @include reset;
    }

    &--tall {
      td,
      th {
        padding-top: rem(15px);
        padding-bottom: rem(15px);
      }
    }

    &--static-size {
      @include reset;
      border-collapse: collapse;
      width: auto;
      border: 2px solid $ui-04;

      tr td:first-child,
      tr th:first-child {
        padding-left: 1.5rem;
      }
    }
  }

  .bx--responsive-table--tall {
    td,
    th {
      padding-top: rem(10px);
      padding-bottom: rem(10px);
    }
  }

  .bx--table-row {
    @include reset;
    height: $data-table-row-height;
    padding-left: 1rem;
  }

  .bx--table-head .bx--table-row {
    border-bottom: $data-table-heading-border-bottom;
    height: rem(32px);
  }

  .bx--table-header {
    @include reset;
    @include typescale('omega');
    font-weight: 600;
    letter-spacing: 1px;
    text-align: left;
    text-transform: $data-table-heading-transform;
    height: rem(40px);
  }

  // zebra stripes
  .bx--table-body {
    > .bx--parent-row,
    > .bx--parent-row {
      background-color: $ui-01;

      & + .bx--expandable-row {
        background-color: $ui-01;
      }

      &--even {
        background-color: $ui-03;

        & + .bx--expandable-row {
          background-color: $ui-03;
        }
      }
    }
  }

  .bx--table-body .bx--table-row {
    border: 1px solid transparent;

    &:first-child:hover,
    &:first-child:focus {
      border-left: 2px solid $brand-02;
      outline: 1px solid $brand-02;
    }

    &:not(:first-child):hover,
    &:not(:first-child):focus {
      border-left: 2px solid $brand-02;
      outline: 1px solid $brand-02;
    }
  }

  // expandable styles
  .bx--expandable-row {
    > td {
      border-left: 4px solid $brand-01;
      padding: 2rem;
    }

    &--hidden {
      visibility: hidden;
    }
  }

  // actions
  .bx--table-expand {
    padding-left: rem(8px);
    padding-right: rem(12px);
    text-align: center;
    width: rem(20px);
    cursor: pointer;

    &:focus {
      outline: 1px solid transparent;

      svg {
        @include focus-outline('border');
      }
    }
  }

  .bx--table-expand__svg {
    fill: $ui-05;
    transform: rotate(0deg);
    transition: transform 200ms $bx--standard-easing;
    width: 12px;
    height: 12px;
    margin-left: rem(7px);
    margin-right: rem(2px);

    @media all and (min--moz-device-pixel-ratio: 0) and (min-resolution: 3e1dpcm) {
      margin-top: 2px;
    }
  }

  .bx--table-expand[data-previous-value='collapsed'] .bx--table-expand__svg {
    transform: rotate(90deg);
    transition: transform 200ms $bx--standard-easing;
  }

  [data-event='sort'] {
    cursor: pointer;
  }

  .bx--table-sort__svg {
    fill: $ui-05;
    width: 8px;
    height: 8px;
    transform: rotate(0deg);
    transition: transform 200ms $bx--standard-easing;
  }

  .bx--table-sort--ascending .bx--table-sort__svg {
    transform: rotate(180deg);
    transition: transform 200ms $bx--standard-easing;
  }

  .bx--table-select {
    @include reset;
    width: rem(30px);
    text-align: center;
    padding-left: 0;
    padding-right: 0;

    .bx--checkbox-label {
      display: inline-flex;
      margin: 0;

      @media all and (min--moz-device-pixel-ratio: 0) and (min-resolution: 3e1dpcm) {
        margin-top: 2px;
      }
    }

    .bx--checkbox-appearance {
      margin: 0;
    }
  }

  .bx--table-overflow {
    width: rem(40px);
    text-align: center;

    .bx--overflow-menu {
      padding: 0;
    }
  }
}
