<div class="bx--responsive-table-container" data-responsive-table>
  <table class="bx--responsive-table bx--responsive-table--static-size" data-table>
    <thead class="bx--table-head">
      <tr class="bx--table-row">
        <th tabindex="0" class="bx--table-header bx--table-sort" data-event="sort">
          <span>First Name</span>
          <svg class="bx--table-sort__svg" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:none;}</style></defs><title>Carbon—Duo</title><g id="Icon"><polygon points="25 12 16 22 7 12 25 12"/></g><g id="Transparent_Rectangle" data-name="Transparent Rectangle"><rect class="cls-1" width="32" height="32"/></g></svg>
        </th>
        <th tabindex="0" class="bx--table-header bx--table-sort" data-event="sort">
          <span>Last Name</span>
          <svg class="bx--table-sort__svg" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:none;}</style></defs><title>Carbon—Duo</title><g id="Icon"><polygon points="25 12 16 22 7 12 25 12"/></g><g id="Transparent_Rectangle" data-name="Transparent Rectangle"><rect class="cls-1" width="32" height="32"/></g></svg>          
        </th>
        <th tabindex="0" class="bx--table-header bx--table-sort" data-event="sort">
          <span>House</span>
          <svg class="bx--table-sort__svg" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:none;}</style></defs><title>Carbon—Duo</title><g id="Icon"><polygon points="25 12 16 22 7 12 25 12"/></g><g id="Transparent_Rectangle" data-name="Transparent Rectangle"><rect class="cls-1" width="32" height="32"/></g></svg>          
        </th>
      </tr>
    </thead>
    <tbody class="bx--table-body">
      <tr tabindex="0" class="bx--table-row bx--parent-row" data-parent-row>
        <td>Harry</td>
        <td>Potter</td>
        <td>Gryffindor</td>
      </tr>
      <tr tabindex="0" class="bx--table-row bx--parent-row" data-parent-row>
        <td>Hermoine</td>
        <td>Granger</td>
        <td>Gryffindor</td>
      </tr>
      <tr tabindex="0" class="bx--table-row bx--parent-row" data-parent-row>
        <td>Ron</td>
        <td>Weasley</td>
        <td>Gryffindor</td>
      </tr>
      <tr tabindex="0" class="bx--table-row bx--parent-row" data-parent-row>
        <td>Draco</td>
        <td>Malfoy</td>
        <td>Slytherin</td>
      </tr>
      <tr tabindex="0" class="bx--table-row bx--parent-row" data-parent-row>
        <td>Blaise</td>
        <td>Zabini</td>
        <td>Slytherin</td>
      </tr>
      <tr tabindex="0" class="bx--table-row bx--parent-row" data-parent-row>
        <td>Cedric</td>
        <td>Diggory</td>
        <td>Hufflepuff</td>
      </tr>
      <tr tabindex="0" class="bx--table-row bx--parent-row" data-parent-row>
        <td>Luna</td>
        <td>Lovegood</td>
        <td>Ravenclaw</td>
      </tr>
      <tr tabindex="0" class="bx--table-row bx--parent-row" data-parent-row>
        <td>Cho</td>
        <td>Chang</td>
        <td>Ravenclaw</td>
      </tr>
    </tbody>
  </table>
</div>
