.bx--select {
  position: relative;

  &__dropdown {
    @include type(1rem);
    width: 100%;
    padding: .5em 1.5em .5em 1em;
    margin: .25em 0;
    color: $color__white;
    background-color: $color__navy-gray-4;
    border: none;
    border-radius: 0;
    appearance: none;
    cursor: pointer;
  }

  &__caret {
    position: absolute;
    right: .75em;
    top: .75em;
    width: .75em;
    height: 1.5em;
    pointer-events: none;

    use {
      fill: $color__navy-gray-7;
    }
  }
}
