@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/spacing';
@import '../../globals/scss/layer';
@import '../../globals/scss/typography';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/import-once';
@import '../../globals/scss/css--reset';
@import '../../globals/scss/css--typography';

@include exports('tooltip') {
  .#{$prefix}--tooltip--icon {
    display: flex;
    align-items: center;
  }

  .#{$prefix}--tooltip__label {
    @include font-family;
    @include typescale('epsilon');
    display: inline-flex;
    align-items: center;
    color: $text-01;
    font-weight: normal;
    margin-bottom: $spacing-xs;

    .#{$prefix}--tooltip__trigger {
      margin-left: $spacing-xs;
    }
  }

  .#{$prefix}--tooltip__trigger {
    @include button-reset($width: false);
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 1rem;

    &:focus {
      @include focus-outline('border');
      fill: $hover-primary;
    }

    path,
    polygon,
    circle {
      fill: $brand-01;
    }

    &:hover,
    &:focus {
      color: $text-01;
      path,
      polygon,
      circle {
        fill: $hover-primary;
      }
    }
  }

  .#{$prefix}--tooltip__label--bold {
    font-weight: 600;
  }

  .#{$prefix}--tooltip {
    @include layer('overlay');
    @include reset;
    position: absolute;
    display: none;
    max-width: rem(240px);
    background: $ui-01;
    margin-top: $spacing-2xs;
    padding: $spacing-md;
    border: 1px solid $ui-03;
    border-radius: rem(4px);
    z-index: z('floating');
    word-wrap: break-word;
    color: $text-01;

    p {
      @include font-family;
      @include typescale('zeta');
    }

    div {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-top: 1rem;
    }

    .#{$prefix}--tooltip__caret {
      position: absolute;
      background: $ui-01;
      left: 0;
      top: rem(-5px);
      right: 0;
      transform: rotate(-135deg);
      width: 0.6rem;
      height: 0.6rem;
      border-right: 1px solid $ui-03;
      border-bottom: 1px solid $ui-03;
      margin: 0 auto;
      content: '';
    }

    &[data-floating-menu-direction='left'] {
      .#{$prefix}--tooltip__caret {
        left: auto;
        top: 50%;
        right: rem(-5px);
        transform: rotate(-45deg) translate(50%, -50%);
      }
    }

    &[data-floating-menu-direction='top'] {
      .#{$prefix}--tooltip__caret {
        top: auto;
        bottom: rem(-6px);
        transform: rotate(45deg);
      }
    }

    &[data-floating-menu-direction='right'] {
      .#{$prefix}--tooltip__caret {
        left: rem(-5px);
        top: 50%;
        right: auto;
        transform: rotate(135deg) translate(-50%, 50%);
      }
    }
  }

  .#{$prefix}--tooltip--shown {
    display: block;
  }

  // Tooltip Definition
  // Definition CSS only tooltip
  .#{$prefix}--tooltip--definition {
    @include font-family;
    @include reset;
    @include typescale('delta');

    position: relative;

    .#{$prefix}--tooltip__trigger {
      display: inline-flex;
      position: relative;
      border-bottom: 2px dotted $ui-04;

      &:hover {
        border-bottom: 2px dotted $hover-primary;
        cursor: pointer;

        + .#{$prefix}--tooltip--definition__top,
        + .#{$prefix}--tooltip--definition__bottom {
          display: block;
        }
      }

      &:focus {
        @include focus-outline('border');

        + .#{$prefix}--tooltip--definition__top,
        + .#{$prefix}--tooltip--definition__bottom {
          display: block;
        }
      }
    }
  }

  .#{$prefix}--tooltip--definition__bottom,
  .#{$prefix}--tooltip--definition__top {
    @include layer('overlay');
    position: absolute;
    z-index: 1;
    display: none;
    background: $inverse-02;
    max-width: rem(176px);
    margin-top: $spacing-sm;
    padding: $spacing-xs;
    border-radius: rem(4px);
    pointer-events: none;
    cursor: pointer;

    p {
      @include font-family;
      @include typescale('omega');
      color: $inverse-01;
    }

    .#{$prefix}--tooltip__caret {
      position: absolute;
      right: 0;
      left: 0;
      width: 0.6rem;
      height: 0.6rem;
      background: $inverse-02;
      margin-left: $spacing-lg;
    }
  }

  // Tooltip Definition caret - bottom position
  .#{$prefix}--tooltip--definition__bottom {
    .#{$prefix}--tooltip__caret {
      top: -0.2rem;
      transform: rotate(-135deg);
    }
  }

  // Tooltip Definition caret - top position
  .#{$prefix}--tooltip--definition__top {
    transform: translateY(-100%);
    margin-top: rem(-32px);

    .#{$prefix}--tooltip__caret {
      bottom: -0.2rem;
      transform: rotate(45deg);
    }
  }

  // Tooltip Icon
  // Icon CSS only tooltip
  .#{$prefix}--tooltip--icon__top,
  .#{$prefix}--tooltip--icon__bottom {
    @include font-family;
    @include reset;
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    overflow: visible;

    path {
      fill: $brand-01;
    }

    // Tooltip - renders as a combo of :before and :after elements
    &:before,
    &:after {
      @include font-family;
      position: absolute;
      display: none;
      background-color: $inverse-02;
    }

    &:before {
      right: 0;
      left: 0;
      width: 0.6rem;
      height: 0.6rem;
      margin: 0 auto;
      content: '';
      margin-top: 1px;
      margin-left: 50%;
    }

    &:after {
      @include typescale('omega');
      @include layer('overlay');
      max-width: rem(176px);
      margin-left: 50%;
      padding: $spacing-2xs;
      border-radius: 4px;
      color: $inverse-01;
      font-weight: 400;
      content: attr(aria-label);
      transform: translateX(-50%);
      white-space: nowrap;
      pointer-events: none;
      margin-left: 50%;
    }

    &:hover,
    &:focus {
      path {
        fill: $hover-primary;
      }

      &:before,
      &:after {
        position: absolute;
        display: block;
      }
    }

    &:focus {
      outline: 1px solid transparent;

      svg {
        @include focus-outline('border');
      }
    }
  }

  // Tooltip Icon caret - top position
  .#{$prefix}--tooltip--icon__top {
    &:before {
      top: 0;
      transform: translate(-50%, calc(-100% - 10px)) rotate(45deg);
    }

    &:after {
      top: 0;
      transform: translate(-50%, calc(-100% - 10px));
    }
  }

  // Tooltip Icon caret - bottom position
  .#{$prefix}--tooltip--icon__bottom {
    &:before {
      bottom: 0;
      transform: translate(-50%, calc(100% + 10px)) rotate(135deg);
    }

    &:after {
      bottom: 0;
      transform: translate(-50%, calc(100% + 10px));
    }
  }

  // Tooltip position - icon only
  .#{$prefix}--tooltip--icon {
    .#{$prefix}--tooltip__trigger {
      svg {
        margin-left: 0;
      }
    }
  }
}
