@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/spacing';
@import '../../globals/scss/layer';
@import '../../globals/scss/typography';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/import-once';
@import '../../globals/scss/css--reset';
@import '../../globals/scss/css--typography';

@include exports('tooltip') {
  .#{$prefix}--tooltip--simple {
    display: flex;
    align-items: center;
  }

  .#{$prefix}--tooltip__trigger {
    @include font-family;
    @include typescale('epsilon');
    display: inline-flex;
    align-items: center;
    color: $text-01;
    font-weight: 600;

    svg {
      fill: $brand-01;
      margin-left: $spacing-xs;
      cursor: pointer;

      &:focus {
        @include focus-outline('border');
        fill: $brand-02;
      }
    }

    &:hover,
    &:focus {
      svg {
        fill: $brand-02;
      }
    }
  }

  .#{$prefix}--tooltip {
    @include layer('overlay');
    @include reset;
    position: absolute;
    display: none;
    max-width: rem(240px);
    background: $ui-01;
    padding: $spacing-lg;
    border: 1px solid $ui-04;
    z-index: z('floating');
    word-wrap: break-word;

    p {
      @include font-family;
      @include typescale('zeta');
    }

    .#{$prefix}--tooltip__label {
      font-weight: 600;
      margin-bottom: $spacing-xs;
    }

    &:before {
      position: absolute;
      background: $ui-01;
      left: 0;
      top: rem(-6px);
      right: 0;
      transform: rotate(-135deg);
      width: 0.6rem;
      height: 0.6rem;
      border-right: 1px solid $ui-04;
      border-bottom: 1px solid $ui-04;
      margin: 0 auto;
      content: '';
    }

    &[data-floating-menu-direction='left'] {
      margin-left: -$spacing-sm;

      &:before {
        left: auto;
        top: 44.7%;
        right: rem(-6px);
        transform: rotate(-45deg);
      }
    }

    &[data-floating-menu-direction='top'] {
      &:before {
        top: auto;
        bottom: rem(-6px);
        transform: rotate(45deg);
      }
    }

    &[data-floating-menu-direction='right'] {
      margin-left: $spacing-sm;

      &:before {
        left: rem(-6px);
        top: 44.7%;
        right: auto;
        transform: rotate(135deg);
      }
    }
  }

  .#{$prefix}--tooltip--shown {
    display: block;
  }

  // Simple CSS only tooltip
  .#{$prefix}--tooltip--simple__top,
  .#{$prefix}--tooltip--simple__bottom {
    @include font-family;
    @include reset;
    @include typescale('delta');
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    svg {
      fill: $brand-01;
      margin-left: $spacing-xs;
    }

    // Tooltip - renders as a combo of :before and :after elements
    &:before,
    &:after {
      @include font-family;
      position: absolute;
      display: none;
      background: $ui-01;
    }

    &:before {
      @include typescale('zeta');
      @include layer('overlay');
      max-width: rem(240px);
      padding: $spacing-lg;
      border: 1px solid $ui-04;
      margin-left: 50%;
      color: $text-01;
      content: attr(data-tooltip-text);
      transform: translateX(-50%);
      white-space: nowrap;
      pointer-events: none;
    }

    &:after {
      right: 0;
      left: 0;
      width: 0.6rem;
      height: 0.6rem;
      border-right: 1px solid $ui-04;
      border-bottom: 1px solid $ui-04;
      margin: 0 auto;
      content: '';
    }

    &:hover,
    &:focus {
      svg {
        fill: $brand-02;
      }

      &:before,
      &:after {
        position: absolute;
        display: block;
      }
    }

    &:focus {
      outline: 1px solid transparent;

      svg {
        @include focus-outline('border');
      }
    }
  }

  // Tooltip caret - top position
  .#{$prefix}--tooltip--simple__top {
    &:before {
      bottom: 1.8rem;
    }

    &:after {
      bottom: 1.5rem;
      transform: rotate(45deg);
    }
  }

  // Tooltip caret - bottom position
  .#{$prefix}--tooltip--simple__bottom {
    &:before {
      top: 1.8rem;
    }

    &:after {
      top: 1.5rem;
      transform: rotate(-135deg);
    }
  }
}
