<a class="bx--tooltip__trigger">
  JavaScript Tooltip
  <svg tabindex="0" data-tooltip-trigger data-tooltip-target="#unique-tooltip" width="16" height="16">
    <use xlink:href="/carbon-icons/bluemix-icons.svg#icon--info--glyph"></use>
  </svg>
</a>
<div id="unique-tooltip" data-floating-menu-direction="bottom" class="bx--tooltip">
  <p class="bx--tooltip__label">Tooltip label</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
