<!-- 
  Copyright IBM Corp. 2016, 2018

  This source code is licensed under the Apache-2.0 license found in the
  LICENSE file in the root directory of this source tree.
-->

<div class="{{@root.prefix}}--tooltip--definition">
  <button class="{{@root.prefix}}--tooltip__trigger" type="button" aria-describedby="definition-tooltip">
    Definition Tooltip
  </button>
  <div id="definition-tooltip" role="tooltip" class="{{@root.prefix}}--tooltip--definition__bottom">
    <span class="{{@root.prefix}}--tooltip__caret"></span>
    <p>Brief description of the dotted, underlined word above.</p>
  </div>
</div>
