<div class="bx--tooltip__label" aria-describedby="unique-tooltip">
  Tooltip label
  <div tabindex="0" data-tooltip-trigger data-tooltip-target="#unique-tooltip" role="tooltip" class="bx--tooltip__trigger">
    <svg width="16" height="16" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z" fill-rule="nonzero" />
      <path d="M8.5 7.007v3.991h2v1h-2V12h-1v-.002h-2v-1h2V7.007h-.995v-1h2v1H8.5z" fill-rule="nonzero" />
      <circle cx="8" cy="4" r="1" />
    </svg>
  </div>
</div>
<div id="unique-tooltip" data-floating-menu-direction="bottom" class="bx--tooltip">
  <span class="bx--tooltip__caret"></span>
  <p>This is some tooltip text. This box shows the maximum amount of text that should appear inside. If more room is needed
    please use a modal instead.</p>
  <div>
    <a href="#" class="bx--link">Learn More</a>
    <button class="bx--btn bx--btn--primary" type="button">Create</button>
  </div>
</div>
