<div class="{{@root.prefix}}--tooltip--icon">
  <button class="{{@root.prefix}}--tooltip__trigger {{@root.prefix}}--tooltip--icon__top" aria-label="Filter">
    {{> carbon-icon-filter }}
  </button>
</div>
