<a class="bx--tooltip__trigger">
  JavaScript Tooltip
  <svg tabindex="0" data-tooltip-trigger data-tooltip-target="#unique-tooltip" width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:none;}</style></defs><title>Carbon—Duo</title><g id="Icon"><rect x="13" y="21" width="8" height="2"/><polygon points="18 22 16 22 16 14 13 14 13 12 18 12 18 22"/><path d="M16.5,7A1.5,1.5,0,1,0,18,8.5,1.5,1.5,0,0,0,16.5,7Z"/><path d="M16,30A14,14,0,1,1,30,16,14,14,0,0,1,16,30ZM16,4A12,12,0,1,0,28,16,12,12,0,0,0,16,4Z"/></g><g id="Transparent_Rectangle" data-name="Transparent Rectangle"><rect class="cls-1" width="32" height="32"/></g></svg>
</a>
<div id="unique-tooltip" data-floating-menu-direction="bottom" class="bx--tooltip">
  <p class="bx--tooltip__label">Tooltip label</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, seed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
