<div class="bx--tooltip--definition">
  <p class="bx--tooltip__trigger" tabindex="0">Definition Tooltip</p>
  <div class="bx--tooltip--definition__bottom">
    <span class="bx--tooltip__caret"></span>
    <p>Brief description of the dotted, underlined word above.</p>
  </div>
</div>
