//-----------------------------
// Toggle
//-----------------------------

@import '../../globals/scss/colors';
@import '../../globals/scss/vars';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/typography';
@import '../../globals/scss/import-once';
@import '../form/form';

@include exports('toggle') {
  .bx--toggle {
    @include hidden;
  }

  .bx--toggle__label {
    @include helvetica;
    position: relative;
    display: flex;
    align-items: center;
    transition-duration: $transition--base;
    cursor: pointer;
    margin: 1rem 0;
  }

  .bx--toggle__appearance {
    position: relative;
    width: 48px;

    &:before {
      position: absolute;
      display: block;
      content: '';
      width: 100%;
      height: 4px;
      top: -2px;
      background-color: $ui-05;
      transition-duration: $transition--base;
      cursor: pointer;
    }

    &:after {
      box-sizing: border-box;
      position: absolute;
      display: block;
      border: 2px solid $ui-05;
      cursor: pointer;
      top: -12px;
      width: 24px;
      height: 24px;
      background-color: $ui-01;
      border-radius: 50%;
      content: '';
      transition-duration: $transition--base;
    }
  }

  .bx--toggle__text--left,
  .bx--toggle__text--right {
    @include font-size('14');
    position: relative;
  }

  .bx--toggle__text--left {
    margin-right: .5rem;
  }

  .bx--toggle__text--right {
    margin-left: .5rem;
  }

  .bx--toggle:checked + .bx--toggle__label .bx--toggle__appearance {
    &:before {
      background-color: $brand-01;
    }

    &:after {
      transform: translateX(24px);
      background-color: $brand-01;
      box-shadow: none;
      border-color: $brand-01;
    }
  }

  .bx--toggle:focus + .bx--toggle__label {
    .bx--toggle__appearance:before {
      outline: 1px solid transparent;
    }

    .bx--toggle__appearance:after {
      @include focus-outline('blurred');
    }
  }

  .bx--toggle:disabled + .bx--toggle__label {
    cursor: not-allowed;
    opacity: .5;
  }

  .bx--toggle:disabled + .bx--toggle__label .bx--toggle__appearance {
    &:before,
    &:after {
      cursor: not-allowed;
    }
  }
}
