//-----------------------------
// Toggle
//-----------------------------

@import '../../globals/scss/colors';
@import '../../globals/scss/spacing';
@import '../../globals/scss/vars';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/typography';
@import '../../globals/scss/import-once';
@import '../form/form';

@include exports('toggle') {
  .#{$prefix}--toggle {
    @include hidden;
  }

  .#{$prefix}--toggle__label {
    @include font-family;
    position: relative;
    display: flex;
    align-items: center;
    transition: $transition--base $carbon--standard-easing;
    cursor: pointer;
    margin: $spacing-md 0;
  }

  .#{$prefix}--toggle__appearance {
    position: relative;
    width: rem(48px);

    &:before {
      position: absolute;
      display: block;
      content: '';
      width: 100%;
      height: rem(4px);
      top: -2px;
      background-color: $ui-05;
      transition: $transition--base $carbon--standard-easing;
      cursor: pointer;
    }

    &:after {
      box-sizing: border-box;
      position: absolute;
      display: block;
      border: 2px solid $ui-05;
      cursor: pointer;
      top: -12px;
      width: rem(24px);
      height: rem(24px);
      background-color: $ui-01;
      border-radius: 50%;
      content: '';
      transition: $transition--base $carbon--standard-easing;
    }
  }

  .#{$prefix}--toggle--small + .#{$prefix}--toggle__label {
    width: rem(32px);
  }

  .#{$prefix}--toggle--small + .#{$prefix}--toggle__label .#{$prefix}--toggle__appearance {
    width: rem(32px);
    height: rem(16px);

    &:before {
      box-sizing: border-box;
      height: rem(16px);
      width: rem(32px);
      border-radius: 0.9375rem;
      background-color: transparent;
      border: 2px solid $ui-05;
      top: 0;
    }

    &:after {
      width: rem(10px);
      height: rem(10px);
      background-color: $ui-05;
      border: none;
      top: 3px;
      left: 3px;
    }
  }

  .#{$prefix}--toggle__check {
    fill: $ui-05;
    position: absolute;
    left: 6px;
    top: 6px;
    z-index: 1;
    transition: $transition--base $carbon--standard-easing;
    transform: scale(0.2);
  }

  .#{$prefix}--toggle--small:checked + .#{$prefix}--toggle__label .#{$prefix}--toggle__check {
    fill: $brand-01;
    transform: scale(1) translateX(16px);
  }

  .#{$prefix}--toggle__text--left,
  .#{$prefix}--toggle__text--right {
    @include typescale('zeta');
    position: relative;
  }

  .#{$prefix}--toggle__text--left {
    margin-right: $spacing-xs;
  }

  .#{$prefix}--toggle__text--right {
    margin-left: $spacing-xs;
  }

  .#{$prefix}--toggle:checked + .#{$prefix}--toggle__label .#{$prefix}--toggle__appearance {
    &:before {
      background-color: $brand-01;
    }

    &:after {
      transform: translateX(24px);
      background-color: $brand-01;
      box-shadow: none;
      border-color: $brand-01;
    }
  }

  .#{$prefix}--toggle--small:checked + .#{$prefix}--toggle__label .#{$prefix}--toggle__appearance {
    &:before {
      background-color: $brand-01;
      border-color: $brand-01;
    }

    &:after {
      background-color: $ui-01;
      border-color: $ui-01;
      margin-left: 0px;
      transform: translateX(17px);
    }
  }

  .#{$prefix}--toggle:focus + .#{$prefix}--toggle__label {
    .#{$prefix}--toggle__appearance:before {
      outline: 1px solid transparent;
    }

    .#{$prefix}--toggle__appearance:after {
      @include focus-outline('blurred');
    }
  }

  .#{$prefix}--toggle--small:focus + .#{$prefix}--toggle__label {
    .#{$prefix}--toggle__appearance:before {
      @include focus-outline('blurred');
    }

    .#{$prefix}--toggle__appearance:after {
      outline: none;
      box-shadow: none;
    }
  }

  .#{$prefix}--toggle:disabled + .#{$prefix}--toggle__label {
    cursor: not-allowed;
    opacity: 0.5;
  }

  .#{$prefix}--toggle:disabled + .#{$prefix}--toggle__label .#{$prefix}--toggle__appearance {
    &:before,
    &:after {
      cursor: not-allowed;
      transition: $transition--base $carbon--standard-easing;
    }
  }

  // Skeleton state
  .#{$prefix}--toggle.#{$prefix}--skeleton + .#{$prefix}--toggle__label {
    cursor: default;
  }

  .#{$prefix}--toggle.#{$prefix}--skeleton + .#{$prefix}--toggle__label > .#{$prefix}--toggle__appearance {
    &:before,
    &:after {
      background-color: $brand-01;
      border-color: $brand-01;
      cursor: default;
    }
  }

  .#{$prefix}--toggle.#{$prefix}--skeleton + .#{$prefix}--toggle__label > .#{$prefix}--toggle__text--left,
  .#{$prefix}--toggle.#{$prefix}--skeleton + .#{$prefix}--toggle__label > .#{$prefix}--toggle__text--right {
    @include skeleton;
    width: rem(20px);
    height: rem(12px);
  }

  .#{$prefix}--toggle.#{$prefix}--skeleton + .#{$prefix}--toggle__label > .#{$prefix}--toggle__appearance {
    &:before {
      background: transparent;
      border-color: $ui-05;
    }

    &:after {
      background-color: $ui-05;
      border: none;
    }
  }
}
