<ul class="dropdown">
  <li class="dropdown__item"><p id="current">Menu</p>
    <span class="dropdown__arrow"></span>
    <ul class="dropdown-menu">
      <li class="dropdown-menu__item"><a href="#">Home</a></li>
      <li class="dropdown-menu__item"><a href="#cognitive">Cognitive</a></li>
      <li class="dropdown-menu__item"><a href="#watson">Watson</a></li>
      <li class="dropdown-menu__item"><a href="#">Services</a></li>
      <li class="dropdown-menu__item"><a href="#">Storage</a></li>
    </ul>
  </li>
</ul>
