{
  "root": true,
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "__DEV__": true
  },
  "extends": [
    "carbon-base"
  ],
  "rules": {
    "comma-dangle": [
      2,
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never"
      }
    ],
    "class-methods-use-this": 0,
    "max-len": [2, 130, 4],
    "no-plusplus": 0,
    "no-underscore-dangle": [2, { "allowAfterThis": true, "allowAfterSuper": true }]
  }
}
