$color__card-bg: $color__navy-gray-2;
$color__card-border: $color__blue-90;
$color__card-border--light: $color__navy-gray-5;
$color__card-running: $color__green-30;
$color__card-not-running: $color__red-40;
$color__card-stopped: $color__navy-gray-6;
$color__card-limited: $color__yellow-30;
$color__card-box-shadow: rgba(0, 0, 0, .1);

//-------------------------
// ☠️ Deprecated
//-------------------------
$color__card-links: $color__blue-30;
$color__card-subinfo: $color__navy-gray-7;
