<!--
@license

Copyright IBM Corp. 2019

This source code is licensed under the Apache-2.0 license found in the
LICENSE file in the root directory of this source tree.
-->

<html dir="<%= dir %>">
  <head>
    <title>carbon-web-components example</title>
    <meta charset="UTF-8" />
    <style type="text/css">
      body {
        font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
      }

      #app {
        width: 300px;
      }

      cds-slider,
      cds-slider-input {
        visibility: hidden;
      }

      cds-slider:defined,
      cds-slider-input:defined {
        visibility: inherit;
      }
    </style>
    <script src="dist/bundle<%= dir !== 'rtl' ? '' : '-rtl' %>.js"></script>
  </head>
  <body>
    <h1>Hello World! 👋</h1>
    <p>Change browser's <code>Accept-Language</code> setting to switch the UI direction.</p>
    <div id="app">
      <cds-slider
        label-text="Slider label"
        min="0"
        max="100"
        value="50"
      >
        <cds-slider-input aria-label="Slider value" type="number" value="50"></cds-slider-input>
      </cds-slider>
    </div>
  </body>
</html>
