<div class='data-module data-module--1x'>
	<div class='metrics'>
		<div class='metrics__data'>
			<h5 class='data__main-heading'>Estimated Monthly Charge</h5>
			<p class='data__main-data'><sup>$</sup>22.03</p>
			<p class='data__more-info'>October 15 - November 14</p>
		</div>
		<div class='metrics__data'>
			<h5 class='data__main-heading'>Estimated Monthly Charge</h5>
			<p class='data__main-data'><sup>$</sup>22.03</p>
			<p class='data__more-info'>October 15 - November 14</p>
		</div>
	</div>
	<a href='#' class='metrics__details-link'>View full usage details</a>
</div>



