<div class='data-module'>
	<div class='data-module__container'>
		<div class='data-module__data'>
			<h5 class='data__main-heading'>Memory Usage</h5>
			<p class='data__main-data'>1.2<span>GB</span></p>
			<p class='data__more-info'>0.3 GB remaining</p>
		</div>
		<div class='data-module__data'>
			<h5 class='data__main-heading'>Disk Usage</h5>
			<p class='data__main-data'>12.2<span>GB</span></p>
			<p class='data__more-info'>7.8 GB remaining</p>
		</div>
		<div class='data-module__data'>
			<h5 class='data__main-heading'>Estimated Monthly Charge</h5>
			<p class='data__main-data'><sup>$</sup>22.03</p>
			<p class='data__more-info'>October 15 - November 14</p>
		</div>
	</div>
	<a href='#' class='data-module__details-link'>View full usage details</a>
</div>

<div class='data-module'>
	<div class='data-module__container'>
		<div class='data-module__data'>
			<h5 class='data__main-heading'>Memory Usage</h5>
			<p class='data__main-data'>1.2<span>GB</span></p>
			<p class='data__more-info'>0.3 GB remaining</p>
		</div>
		<div class='data-module__data'>
			<h5 class='data__main-heading'>Disk Usage</h5>
			<p class='data__main-data'>12.2<span>GB</span></p>
			<p class='data__more-info'>7.8 GB remaining</p>
		</div>
	</div>
	<a href='#' class='data-module__details-link'>View full usage details</a>
</div>

<div class='data-module'>
	<div class='data-module__container'>
		<div class='data-module__data'>
			<h5 class='data__main-heading'>Memory Usage</h5>
			<p class='data__main-data'>1.2<span>GB</span></p>
			<p class='data__more-info'>0.3 GB remaining</p>
		</div>
	</div>
	<a href='#' class='data-module__details-link'>View full usage details</a>
</div>
