$color__table--text: $color__white;
$color__table--row-even: $color__navy-gray-6;
$color__table--row-odd: $color__navy-gray-5;
$color__table--header-bottom: $color__navy-gray-6;
$color__table--row-hovered: $color__blue-30;
