@import '_partials/vars';

.detail-page-header {
  background: $color__detail-page-header--bg;

  @include breakpoint(401px) {
    height: em(145px);
  }

  &__arrow {
    width: 1em;
    height: 1em;
    margin: .1em .5em -.1em 0;
  }

  &__gear {
    width: 3.5em;
    height: 3.5em;
    margin: -.7em .1em;
    fill: $color__navy-gray-7;
  }

  &__container {
    display: flex;
    flex-direction: column;
    background: $color__detail-page-header--bg;

    @include breakpoint(bp--lg--major) {
      width: 90%;
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__breadcrumb {
    @extend %helvetica;
    @include type(rem(14px));
    padding: rem(20px) rem(5px) 0 0;
    margin-right: rem(16px);
    margin-bottom: rem(8px);
    margin-left: rem(16px);
    color: $color__white;

    &:hover {
      cursor: pointer;
    }

    span {
      padding-right: em(10px);
    }

    @include breakpoint(bp--lg--major) {
      margin-left: rem(-30px);
    }

  }

  &__info {
    display: flex;
    align-items: baseline;
    margin-bottom: em(20px);
  }

  &__title {
    @include type(rem(24px));
    padding: .2em 0 .2em rem(16px);
    font-weight: 300;

    @include breakpoint(bp--sm--major) {
      @include type(rem(32px));
      padding-left: rem(42px);
      font-weight: 500;
    }
    @include breakpoint(bp--lg--major) {
      padding-left: 0;
    }

  }

  &__docs-button {
    @include type(rem(16px));
    color: $color__white;
    text-decoration: none;
  }

  &__settings {
    position: relative;
    top: em(13px);
    left: em(5px);
    padding: 0 .5em;
    cursor: pointer;
    fill: rgba($color__detail-page-header--docs, .4);
  }
}
