<header class="detail-page-header">
  <div class="detail-page-header__container">
      <div class="detail-page-header__breadcrumb">
        <span class="previous-page-title">
          <svg class="detail-page-header__arrow">
            <use xlink:href="../../images/sprite.svg#service--back"></use>
          </svg>
          Storage
        </span>
      </div>
      <div class='detail-page-header__info'>
        <div class="detail-page-header__title">Object Storage</div>
          <div class='detail-page-header__settings'>
          <span class="previous-page-title">
          <svg class="detail-page-header__gear">
            <use xlink:href="../../images/sprite.svg#service--gear"></use>
          </svg>
          </div>
        <a href='#' class='detail-page-header__docs-button'>Docs</a>
      </div>
    </div>
  </div>
</header>
