<header class="detail-page-header">
  <div class="detail-page-header__container">
    <div class="detail-page-header__breadcrumb">
      <span>
        <?xml version="1.0" encoding="UTF-8" standalone="no"?>
        <svg width="15px" height="13px" viewBox="0 0 15 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="CF-App-Detail" sketch:type="MSArtboardGroup" transform="translate(-68.000000, -87.000000)" fill="#5AAAFA">
            <path d="M71.4348072,92.5559675 L82.410296,92.5559675 L82.410296,94.1400344 L71.4344151,94.1400344 L75.7718961,98.3507374 L74.6341126,99.4709674 L69.1426732,94.1400344 L68.9318973,94.1400344 L68.9318973,93.9354191 L68.573913,93.5878982 L68.8172993,93.3482669 L68.573913,93.1086355 L68.9318973,92.7611146 L68.9318973,92.5559675 L69.1432211,92.5559675 L74.6341126,87.2255663 L75.7718961,88.3452644 L71.4348072,92.5559675 Z" id="back" sketch:type="MSShapeGroup"></path>
        </g>
        </g>
        </svg>
      </span> <span class="previous-page-title">Storage</span></div>
    <div class="detail-page-header__title">Object Storage</div>
    <nav class="detail-page-header__nav">
      <ul class="detail-page-header__nav--wide">
        <li><a class="selected" href="">Overview</a></li>
        <li><a class="" href="">Containers&nbsp;&amp;&nbsp;Files</a></li>
        <li><a class="" href="">Connected&nbsp;Objects</a></li>
        <li><a class="" href="">Manage</a></li>
        <li><a class="" href="">DJKhaled</a></li>


      </ul>
      <select class="detail-page-header__nav--mobile" name="" id="">
        <option value="{{value}}">Overview</option>
        <option value="{{value}}">Containers&nbsp;&amp;&nbsp;Files</option>
        <option value="{{value}}">Connected&nbsp;Objects</option>
        <option value="{{value}}">Manage</option>
      </select>
    </nav>
  </div>
</header>
