@import '../../globals/scss/colors';
@import '../../globals/scss/typography';
@import '../../globals/scss/css--reset';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/import-once';
@import '../../globals/scss/css--typography';
@import '../button/button';
@import '../form/form';
@import '../loading/loading';

@include exports('file-uploader') {
  .bx--file {
    width: 100%;
  }

  .bx--file-input {
    @include hidden;
  }

  .bx--file-btn {
    display: inline-flex;
    margin: 0;
  }

  .bx--label-description {
    @include reset;
    @include typescale('zeta');
    @include line-height('body');
    color: $text-02;
    margin-top: 0.25rem;
    margin-bottom: 1.25rem;
  }

  .bx--file-container {
    display: block;
    width: 100%;
    margin-top: rem(20px);
  }

  .bx--file__selected-file {
    @include text-overflow(300px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: rem(30px);
    background-color: $field-01;
    padding: 0 1rem;
    margin-bottom: rem(20px);

    &:last-child {
      margin-bottom: 0;
    }
  }

  .bx--file-filename {
    @include typescale('omega');
    @include text-overflow(100%);
    display: inline-flex;
    align-items: center;
    color: $text-01;
    margin-right: 1rem;
    height: 1.875rem;
  }

  .bx--file__state-container {
    display: flex;
    align-items: center;

    .bx--loading {
      width: 1.125rem;
      height: 1.125rem;
      margin-right: -7px;
    }

    .bx--loading__svg {
      stroke: $ui-05;
    }
  }

  .bx--file__state-container .bx--file-close,
  .bx--file__state-container .bx--file-complete {
    width: 1rem;
    height: 1rem;
    fill: $text-01;
    cursor: pointer;

    &:focus {
      @include focus-outline('border');
    }
  }

  .bx--file__state-container .bx--file-close {
    fill: $ui-05;
  }

  .bx--file__state-container .bx--file-complete {
    fill: $support-02;
  }
}
