//-----------------------------
// File Uploader
//-----------------------------

@import '../buttons/buttons';
@import '../../../../globals/scss/import-once';

@include exports('file-uploader') {

  .bx--file-uploader {
    width: 100%;
  }

  .bx--file-uploader__input {
    @include hidden;
  }

  .bx--file-uploader__container {
    display: block;
    width: 100%;
    margin-top: rem(20px);
  }

  .bx--file-uploader__selected-file {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: rem(30px);
    background-color: $color__navy-gray-6;
    padding: 0 1rem;
    margin-bottom: rem(20px);

    &:last-child {
      margin-bottom: 0;
    }
  }

  .bx--file-uploader__filename {
    @include font-size('12');
    color: $color__white;
  }

  .bx--file-uploader__label {
    @include btn--secondary;
    display: inline-flex;
    margin: 0;
  }

  .bx--file-uploader__state-container {
    display: flex;
    align-items: center;
  }

  .bx--file-uploader__state-container .bx--loading {
    width: 2rem;
    height: 2rem;
    margin-right: -7px;
  }

  .bx--file-uploader__state-container .bx--file-uploader__close-icon {
    width: 1rem;
    height: 1rem;
    fill: $color__white;
    cursor: pointer;
  }
}
