<div class="bx--file-uploader">
  <label
    for="files1"
    class="bx--file-uploader__label"
    tabindex="0">Add other files</label>
  <input
    type="file"
    class="bx--file-uploader__input"
    id="files1"
    data-file-uploader
    data-target="[data-file-container]"
    multiple
  />
  <div data-file-container class="bx--file-uploader__container"></div>
</div>

<div class="bx--file-uploader">
  <label
    for="files2"
    class="bx--file-uploader__label"
    tabindex="0">Add other files</label>
  <input
    type="file"
    class="bx--file-uploader__input"
    id="files2"
    data-file-uploader
    data-target="#bob"
    multiple
  />
  <div id="bob" class="bx--file-uploader__container"></div>
</div>
