<button class="bx--btn" type="button" data-modal-target="#transactional-modal">Transactional Modal</button>

<div data-modal id="transactional-modal" class="bx--modal" tabindex="-1">

  <div class="bx--modal-inner">

    <div class="bx--modal-content">

      <h2 class="bx--modal-content__heading">Transactional Modal</h2>
      <button class="bx--modal__close" type="button" data-modal-close>
        <svg class="bx--modal__close--icon">
          <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#common--cancel"></use>
        </svg>
      </button>

      <p class="bx--modal-content__text">In order to stop a modal from closing, hook into the 'modal-beinghidden' event and use preventDefault.</p>
      <p class="bx--modal-content__text">To close THIS modal, just hit the save button.</p>

      <div class="bx--modal__buttons">
        <button class="bx--btn--secondary" type="button" data-modal-close>Cancel</button>
        <button class="bx--btn">Save</button>
      </div>

    </div>

  </div>

</div>
