.side-nav__toggle-btn {
  position: fixed;
  top: 0;
  left: calc(200px - 2.3rem);
  width: 2.3rem;
  height: 2.3rem;
  background-color: white;
  border: 1px solid transparent;
  border-right: 2px solid $color__gray-3;
  margin: 0;
  padding: 0;
  cursor: pointer;
  z-index: 8000;
  border-radius: 0;
  transition: $transition--base $bx--standard-easing;

  &:focus {
    outline: none;
    border: 1px solid $brand-01, 0px solid $brand-01, 1px solid $brand-01, 1px solid $brand-01;
  }

  &:hover {
    background: $brand-01;
    border-right: none;

    .line {
      background: white;
    }
  }

  @include breakpoint('620px') {
    left: calc(200px - 2rem);
    width: 2rem;
    height: 2rem;
  }

  & > div {
    @include reset;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &:focus {
      outline: none;
    }

    .line {
      @include reset;
      height: rem(1px);
      width: 1.25rem;
      cursor: pointer;
      display: block;
      margin: rem(2px) 0;
      background: $brand-01;
      will-change: all;
    }

    .line:nth-child(2) {
      opacity: 0;
    }

    .line:nth-child(1) {
      transform: translateY(5px) rotate(45deg);
    }

    .line:nth-child(3) {
      transform: translateY(-5px) rotate(-45deg);
    }
  }

  &--closed {
    left: 0;
    border-right: 0;

    > div {
      .line:nth-child(2) {
        opacity: 1;
      }

      .line,
      .line:nth-child(1),
      .line:nth-child(3) {
        transform: translateY(0) rotate(0);
        transition: all $transition--base ease-in-out;
      }
    }
  }
}
