//--------------------
// GLOBAL LAYOUT
// Includes styles for body, link, wrapper and container.
//--------------------
@import 'typography';
@import '../../src/globals/scss/functions';

body {
  @if not feature-flag-enabled('components-x') {
    font-family: 'ibm-plex-sans', Helvetica Neue, Arial, sans serif;
  } @else {
    @include type-style('body-short-01');
  }
  background-color: $color__white;
  color: $color__blue-90;

  hr {
    display: none;
  }
}

* {
  &::selection {
    background: #b4d8fb; /* WebKit/Blink Browsers */
  }
}

.wrapper {
  width: 100%;
  display: flex;
  position: relative;
}

#maincontent {
  padding-bottom: 23rem;
  min-height: 100vh;
}

.container {
  width: 100%;
  margin-left: 0;
  transition: $transition--base ease;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include breakpoint('bp--md--major') {
    margin-left: $width--side-nav;
    width: calc(100% - 200px);
  }

  &--expanded {
    width: 100%;
    margin-left: 0;
  }

  main {
    &:focus {
      outline: none;
    }
  }
}

a {
  @include font-smoothing;
  color: $color__blue-51;
  font-weight: 600;

  &:hover {
    color: $color__blue-40;
  }
}

svg {
  transition: fill 250ms;
}

.bx--tabs__nav-item {
  transition: background-color 250ms;
}
