@import '../../src/globals/scss/styles';

.demo--container {
  @include grid-container;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  margin-top: 5rem;
  transition: .2s;
  min-height: 2000px;
  background-color: $color__navy-gray-2;

  @include light-ui {
    background-color: $color__gray-3;
  }

  &.flex-col {
    flex-direction: column;
    margin: 0 auto;

    & > * {
      margin: 1rem 0;
    }
  }

  &.flex-row {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;

    & > * {
      margin: 1rem;
    }
  }

  &.mobile {
    max-width: 600px;
  }
}

.demo--panels {
  width: 100%;
  height: 15rem;
}

.demo--panel {
  width: 100%;
  max-width: 960px;
  height: 100%;
  padding: 3em 1em 1em;
}

.theme-switcher {
  margin: 1rem 0;
  position: fixed;
  top: 0;
  right: 1rem;
}

.demo-switcher {
  &__container {
    display: flex;
    position: fixed;
    top: 1.5rem;
    left: 1rem;

    label {
      margin-right: 1rem;
    }
  }
}

.test-header {
  position: fixed;
  background-color: $ui-05;
  width: 100%;
  top: 0;
  left: 0;
  height: 86px;
  z-index: 8000;
}

.test-nav {
  position: fixed;
  background-color: $ui-04;
  width: 200px;
  height: calc(100vh - 86px);
  bottom: 0;
  left: 0;
  z-index: 8000;
}
