@import 'vars';

.fab {
  @include rotate(0, $transition--base);
  display: inline-block;
  width: rem(72px);
  height: rem(72px);
  text-decoration: none;
  filter: drop-shadow($shadow);

  &__svg {
    width: 100%;

    .hexagon {
      transition: fill $transition--base;
      fill: $color__fab-hexagon;
    }

    .plus-icon {
      @include rotate(0, $transition--base);
      fill: $color__fab-plus-icon;
    }
  }

  &__screen-reader-only {
    @extend %hidden;
  }

  &.is-closed {
    @include rotate(90deg, $transition--base);

    .hexagon {
      transition: fill $transition--base;
      fill: $color__fab-hexagon--is-closed;
    }

    .plus-icon {
      @include rotate(-45deg, $transition--base);
    }
  }
}
