<header role="header" class="global-header">

  <div class="left-container">

    <div class="left-nav-container" data-left-nav-container>
      <div class="bx--left-nav__header">
        <div class="bx--left-nav__trigger">
          <a class="bx--left-nav__trigger--btn active" data-left-nav-toggle>
            <span></span>
          </a>
        </div>
        <a class="bx--left-nav__header--title">
          All Items
        </a>
      </div>
      <!-- <div class="left-nav-dimmer" data-left-nav-dimmer></div> -->
      <nav class="left-nav" data-left-nav>
        <ul class="left-nav-list" data-left-nav-list>
          <li class="left-nav-list__item left-nav-list__item--has-children" data-left-nav-item>
            <a class="left-nav-list__item-link">
              Devices
            </a>
            <ul class="left-nav-list left-nav-list--nested" data-left-nav-nested-list>
              <li class="left-nav-list__item" data-left-nav-nested-item>
                <a href="#example-item-1A" class="left-nav-list__item-link" data-left-nav-item-link>Manage</a>
                <ul class="left-nav-list left-nav-list--flyout" data-left-nav-flyout>
                  <li class="left-nav-list__item" data-left-nav-flyout-item>
                    <a href="#example-item-1Aa" class="left-nav-list__item-link" data-left-nav-item-link>Passwords</a>
                  </li>
                  <li class="left-nav-list__item" data-left-nav-flyout-item>
                    <a href="#example-item-1Ab" class="left-nav-list__item-link" data-left-nav-item-link>Images</a>
                  </li>
                  <li class="left-nav-list__item" data-left-nav-flyout-item>
                    <a href="#example-item-1Ac" class="left-nav-list__item-link" data-left-nav-item-link>SSH Keys</a>
                  </li>
                  <li class="left-nav-list__item" data-left-nav-flyout-item>
                    <a href="#example-item-1Ad" class="left-nav-list__item-link" data-left-nav-item-link>Provisioning Scripts</a>
                  </li>
                  <li class="left-nav-list__item" data-left-nav-flyout-item>
                    <a href="#example-item-1Ae" class="left-nav-list__item-link" data-left-nav-item-link>Control Panel Licenses</a>
                  </li>
                </ul>
              </li>
              <li class="left-nav-list__item" data-left-nav-nested-item>
                <a href="#example-item-1B" class="left-nav-list__item-link" data-left-nav-item-link>Example Item 1B</a>
              </li>
              <li class="left-nav-list__item" data-left-nav-nested-item>
                <a href="#example-item-1C" class="left-nav-list__item-link" data-left-nav-item-link>Example Item 1C</a>
              </li>
              <li class="left-nav-list__item" data-left-nav-nested-item>
                <a href="#example-item-1D" class="left-nav-list__item-link" data-left-nav-item-link>Example Item 1D</a>
              </li>
            </ul>
          </li>
          <li class="left-nav-list__item left-nav-list__item--has-children" data-left-nav-item>
            <a class="left-nav-list__item-link">
              Storages
            </a>
            <ul class="left-nav-list left-nav-list--nested" data-left-nav-nested-list>
              <li class="left-nav-list__item" data-left-nav-nested-item>
                <a href="#example-item-2A" class="left-nav-list__item-link" data-left-nav-item-link>Example Item 2A</a>
              </li>
              <li class="left-nav-list__item" data-left-nav-nested-item>
                <a href="#example-item-2B" class="left-nav-list__item-link" data-left-nav-item-link>Example Item 2B</a>
                <ul class="left-nav-list left-nav-list--flyout" data-left-nav-flyout>
                  <li class="left-nav-list__item" data-left-nav-flyout-item>
                    <a href="#example-item-2Ba" class="left-nav-list__item-link" data-left-nav-item-link>Example Item 2Ba</a>
                  </li>
                  <li class="left-nav-list__item" data-left-nav-flyout-item>
                    <a href="#example-item-2Bb" class="left-nav-list__item-link" data-left-nav-item-link>Example Item 2Bb</a>
                  </li>
                  <li class="left-nav-list__item" data-left-nav-flyout-item>
                    <a href="#example-item-2Bc" class="left-nav-list__item-link" data-left-nav-item-link>Example Item 2Bc</a>
                  </li>
                  <li class="left-nav-list__item" data-left-nav-flyout-item>
                    <a href="#example-item-2Bd" class="left-nav-list__item-link" data-left-nav-item-link>Example Item 2Bd</a>
                  </li>
                  <li class="left-nav-list__item" data-left-nav-flyout-item>
                    <a href="#example-item-2Be" class="left-nav-list__item-link" data-left-nav-item-link>Example Item 2Be</a>
                  </li>
                </ul>
              </li>
              <li class="left-nav-list__item" data-left-nav-nested-item>
                <a href="#example-item-2C" class="left-nav-list__item-link" data-left-nav-item-link>Example Item 2C</a>
              </li>
              <li class="left-nav-list__item" data-left-nav-nested-item>
                <a href="#example-item-2D" class="left-nav-list__item-link" data-left-nav-item-link>Example Item 2D</a>
              </li>
            </ul>
          </li>
          <li class="left-nav-list__item left-nav-list__item--has-children" data-left-nav-item>
            <a class="left-nav-list__item-link">
              Network
            </a>
            <ul class="left-nav-list left-nav-list--nested" data-left-nav-nested-list>
              <li class="left-nav-list__item" data-left-nav-nested-item>
                <a href="#example-item-3A" class="left-nav-list__item-link" data-left-nav-item-link>Example Item 3A</a>
              </li>
              <li class="left-nav-list__item" data-left-nav-nested-item>
                <a href="#example-item-3B" class="left-nav-list__item-link" data-left-nav-item-link>Example Item 3B</a>
              </li>
            </ul>
          </li>
          <li class="left-nav-list__item left-nav-list__item--has-children" data-left-nav-item>
            <a class="left-nav-list__item-link">
              Security
            </a>
            <ul class="left-nav-list left-nav-list--nested" data-left-nav-nested-list>
              <li class="left-nav-list__item" data-left-nav-nested-item>
                <a href="#example-item-4A" class="left-nav-list__item-link" data-left-nav-item-link>Example Item 4A</a>
              </li>
              <li class="left-nav-list__item" data-left-nav-nested-item>
                <a href="#example-item-4B" class="left-nav-list__item-link" data-left-nav-item-link>Example Item 4B</a>
              </li>
              <li class="left-nav-list__item" data-left-nav-nested-item>
                <a href="#example-item-4C" class="left-nav-list__item-link" data-left-nav-item-link>Example Item 4C</a>
              </li>
              <li class="left-nav-list__item" data-left-nav-nested-item>
                <a href="#example-item-4D" class="left-nav-list__item-link" data-left-nav-item-link>Example Item 4D</a>
              </li>
            </ul>
          </li>
          <li class="left-nav-list__item" data-left-nav-item>
            <a href="#sub-category-5" class="left-nav-list__item-link" data-left-nav-item-link>
              Services
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <a class="global-logo" href="#">
      <img class="global-logo__image" src="https://new-console.ng.bluemix.net/api/v4/img/bluemix-logo-2016-feb.svg" />
      <span class="global-logo__text">IBM <span class="global-logo__text--bold">Bluemix</span></span>
    </a>

    <div class="global-header__current-page">
      <a class="global-header__current-page--link">Applications</a>
    </div>
  </div>

</header>

<div class="global-header__demo-container">

</div>
