<!--
  Copyright IBM Corp. 2016, 2018

  This source code is licensed under the Apache-2.0 license found in the
  LICENSE file in the root directory of this source tree.
-->

<a href="#" class="{{@root.prefix}}--link">Link</a>
<a class="{{@root.prefix}}--link" aria-disabled="true">Placeholder link</a>
<p class="{{@root.prefix}}--link--disabled">Disabled Link</p>
<div style="width:200px">
  <a href="#" class="{{@root.prefix}}--link">Text wrap example for hover, focus, and active state testing.</a>
</div>
