<!--
  Copyright IBM Corp. 2016, 2018

  This source code is licensed under the Apache-2.0 license found in the
  LICENSE file in the root directory of this source tree.
-->

<a href="#" class="{{@root.prefix}}--link">Link</a>
<a class="{{@root.prefix}}--link">Placeholder link</a>
<p class="{{@root.prefix}}--link--disabled">Disabled Link</p>
<a href="#" class="{{@root.prefix}}--link">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti explicabo
  nobis consequatur quod qui quam laboriosam placeat repudiandae. Ducimus ea aut omnis asperiores mollitia
  necessitatibus architecto temporibus provident quo? Repellat!</a>
