@mixin taxonomy-item($icon-diameter, $icon-stroke, $icon-height) {
  @extend %taxonomy-item;
  $item-width: $icon-diameter + 2 * $icon-stroke;
  width: rem($item-width);

  .taxonomy-item__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $icon-diameter;
    height: $icon-diameter;
    border-radius: 50%;
    background-color: $color__taxonomy-icon--bg;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 43%;
    transition: background-color .2s;
    margin-bottom: 1rem;

    svg {
      display: block;
      position: relative;
      left: rem(-110px);
      top: rem(7px);
      margin: 20%;
      width: rem(300px);
      height: $icon-height;
    }
  }
}

@mixin animation--pulse($size, $stroke) {
  animation-name: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;

  @keyframes pulse {
    0%, 11%, 100% {
      width: $size + (2 * $stroke);
      height: $size + (2 * $stroke);
      margin: -$stroke;
    }
    4% {
      width: $size + $stroke;
      height: $size + $stroke;
      margin: - ($stroke / 2);
    }
    8% {
      width: $size + (3 * $stroke);
      height: $size + (3 * $stroke);
      margin: - (1.5 * $stroke);
    }
  }
}

@mixin item-state($color__state: none) {
  .taxonomy-item__icon {
    display: inline-block;

    &:before {
      content: '';
      width: 8.6rem;
      height: 8.6rem;
      background: $color__state;
      position: absolute;
      border-radius: 50%;
      margin-left: -$icon-size__global-dash--stroke;
      margin-top: -$icon-size__global-dash--stroke;
      z-index: z('hidden');
    }
  }

  .taxonomy-item__metric {
    color: $color__state;
  }
}
