$icon-size__global-dash--diameter: 130px;
$icon-size__global-dash--stroke: 4px;
$icon-size__global-dash--height: 62px;

$icon-size__taxonomy-menu--diameter: 75px;
$icon-size__taxonomy-menu--stroke: 3px;
$icon-size__taxonomy-menu--height: 35px;

$color__taxonomy-item--is-healthy: $color__teal-30;
$color__taxonomy-icon--is-error: $color__red-40;
$color__taxonomy-icon--is-stateless: $color__blue-30;
$color__taxonomy-icon--is-stopped: $color__navy-gray-7;
$color__taxonomy-icon--metric-background: $color__blue-90;

$color__taxonomy-icon--bg: #224557;
$color__taxonomy-icon--bg--hover: lighten($color__taxonomy-icon--bg, 5);
$color__taxonomy-icon--is-healthy-stroke: linear-gradient(135deg, $color__taxonomy-item--is-healthy, $color__blue-30);
