//-----------------------------
// Slider
//-----------------------------

@import '../../globals/scss/colors';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/layer';
@import '../../globals/scss/typography';
@import '../../globals/scss/layout';
@import '../../globals/scss/import-once';
@import '../form/form';

@include exports('slider') {
  .bx--slider-container {
    width: 30rem;
    display: flex;
    align-items: center;
  }

  .bx--slider {
    position: relative;
    width: 100%;
  }

  .bx--slider--disabled {
    opacity: .5;
    & > * {
      cursor: not-allowed !important; // fix
    }
  }

  .bx--slider__track {
    position: absolute;
    width: 100%;
    height: rem(4px);
    background: $ui-05;
    cursor: pointer;
  }

  .bx--slider__filled-track {
    position: absolute;
    width: 100%;
    height: rem(4px);
    background: $brand-01;
    transform-origin: left;
    pointer-events: none;
  }

  .bx--slider__thumb {
    position: absolute;
    height: rem(24px);
    width: rem(24px);
    background: $brand-01;
    border-radius: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    transition: transform 100ms $bx--standard-easing, background 100ms $bx--standard-easing;
    cursor: pointer;
    outline: none;

    &:hover, &:focus {
      transform: translate(-50%, -50%) scale(1.05);
      background: darken($brand-01, 5%);
    }

    &:active {
      transform: translate(-50%, -50%) scale(1.25);
    }
  }

  .bx--slider__input {
    display: none;
  }

  .bx-slider-text-input {
    max-width: rem(32px);
    min-width: 0;
    padding: 0;
    margin-left: 1rem;
    text-align: center;
  }
}
