//-----------------------------
// Slider
//-----------------------------

@import '../../globals/scss/colors';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/layer';
@import '../../globals/scss/typography';
@import '../../globals/scss/layout';
@import '../../globals/scss/import-once';

@include exports('slider') {
  .bx--slider {
    position: relative;
    max-width: 30rem;
    width: 100%;
  }

  .bx--slider--disabled {
    opacity: .5;
    & > * {
      cursor: not-allowed !important; // fix
    }
  }

  .bx--slider__track {
    position: absolute;
    width: 100%;
    height: rem(4px);
    background: $ui-05;
  }

  .bx--slider__filled-track {
    position: absolute;
    width: 100%;
    height: rem(4px);
    background: $brand-01;
    transform-origin: left;
  }

  .bx--slider__thumb {
    position: absolute;
    height: rem(24px);
    width: rem(24px);
    background: $brand-01;
    border-radius: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    transition: transform 100ms $bx--standard-easing;
    cursor: pointer;
    outline: none;

    &:hover, &:focus {
      transform: translate(-50%, -50%) scale(1.25);
      border: 1px solid red; // ask anna about color
    }
  }

  .bx--slider__input {

  }
}
