<div class="bx--form-item">
  <div class="bx--slider-container">
    <div class="bx--slider" data-slider data-slider-input-box="#slider-input-box">
      <div class="bx--slider__track"></div>
      <div class="bx--slider__filled-track"></div>
      <div class="bx--slider__thumb" tabindex="0"></div>
      <input class="bx--slider__input" type="range" step=".5" min="0" max="10" value="5">
    </div>
    <input id="slider-input-box" type="text" class="bx--text-input bx-slider-text-input" placeholder="0">
  </div>
</div>
