name: Publish Figma code connect changes

on:
  push:
    branches:
      - main
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  code-connect:
    name: Code Connect - ${{ matrix.package }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package:
          - react
          - web-components
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Use Node.js version from .nvmrc
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: '.nvmrc'

      - name: Cache dependencies
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        id: cache
        with:
          path: |
            node_modules
            */**/node_modules
          key:
            ${{ runner.os }}-yarn-${{ hashFiles('yarn.lock',
            'packages/**/yarn.lock') }}

      - name: Install dependencies
        env:
          YARN_ENABLE_HARDENED_MODE: 0
        run: yarn install --immutable

      - name: Publish to Figma Code Connect
        working-directory: packages/${{ matrix.package }}
        run: npx figma connect publish
        env:
          FIGMA_ACCESS_TOKEN: ${{ secrets.FIGMA_ACCESS_TOKEN }}
