name: Publish Figma code connect changes

on:
  push:
    branches:
      - main
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  code-connect:
    name: Code Connect - ${{ matrix.package }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package:
          - react
          - web-components
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Use Node.js version from .nvmrc
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: '.nvmrc'

      - name: Cache dependencies
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        id: cache
        with:
          path: |
            node_modules
            */**/node_modules
          key:
            ${{ runner.os }}-yarn-${{ hashFiles('yarn.lock',
            'packages/**/yarn.lock') }}

      - name: Install dependencies
        env:
          YARN_ENABLE_HARDENED_MODE: 0
        run: yarn install --immutable --immutable-cache

      - name: Publish to Figma Code Connect
        working-directory: packages/${{ matrix.package }}
        run: npx figma connect publish
        env:
          FIGMA_ACCESS_TOKEN: ${{ secrets.FIGMA_ACCESS_TOKEN }}
