name: Nightly Release

on:
  schedule:
    # Run every week day at 01:00 (24hr format)
    - cron: '0 1 * * 1-5'

jobs:
  release:
    runs-on: ubuntu-latest-larger-disk
    # Needed as recommended by npm docs on publishing with provenance https://docs.npmjs.com/generating-provenance-statements
    permissions:
      id-token: write
      contents: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Use Node.js version from .nvmrc
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: '.nvmrc'
      - name: Install dependencies
        run: yarn install --immutable --check-cache
      - name: Build project
        run: yarn build
      - name: Publish nightly release
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> .npmrc
          yarn lerna publish --canary minor --force-publish --exact --dist-tag nightly --preid alpha --no-push --no-git-tag-version --yes
