name: Promote

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_dispatch:
    inputs:
      dry_run:
        type: boolean
        description:
          'Run as dry run (will not actually update dist tags)'
        default: false

jobs:
  packages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: ./actions/promote
        with:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          DRY_RUN: ${{ github.event.inputs.dry_run == 'true' }}
