name: Version

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_dispatch:
    inputs:
      type:
        required: true
        description: 'Specify the type of release'
        type: choice
        default: prerelease
        options:
          - prerelease
          - stable
      tag:
        required: true
        description: 'Specify the tag for this release'
        type: string

jobs:
  version:
    runs-on: ubuntu-latest
    if: github.repository == 'carbon-design-system/carbon'
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: '0'
      - name: Use Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: '16.x'
          registry-url: 'https://registry.npmjs.org'
      - uses: actions/cache@v3
        id: cache
        with:
          path: |
            node_modules
            */**/node_modules
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
      - name: Install dependencies
        run: yarn install --immutable --immutable-cache --check-cache
      - name: Create prerelease
        if: ${{ github.event.inputs.type == 'prerelease' }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          yarn lerna version preminor --no-git-tag-version --preid rc --yes
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        with:
          branch: 'release/${{ github.event.inputs.tag }}'
          commit-message: 'chore(release): ${{ github.event.inputs.tag }}'
          delete-branch: true
          title: 'Release ${{ github.event.inputs.tag }}'
          body: 'Automated release PR for ${{ github.event.inputs.tag }}'
