// UI Color Scheme
$color__blue-20    : #7cc7ff;
$color__blue-30    : #5aaafa;
$color__blue-40    : #5596e6;
$color__blue-50    : #4178be;
$color__blue-90    : #152935;
$color__navy-gray-1: #0f212e;
$color__navy-gray-2: #20343e;
$color__navy-gray-3: #2d3f49;
$color__navy-gray-4: #394b54;
$color__navy-gray-5: #42535c;
$color__navy-gray-6: #5a6872;
$color__navy-gray-7: #8c9ba5;
$color__navy-gray-8: #dfe6eb;
$color__navy-gray-9: #eff2f5;
$color__white      : #fff;

// Light UI Color Scheme
$color__blue-51    : #3d70b2;
$color__gray-1     : #dfe3e6;
$color__gray-2     : #f0f3f6;
$color__gray-3     : #f5f7fa;

// Accent Colors
$color__blue-10  : #c0e6ff;
$color__blue-60  : #325c80;
$color__teal-10  : #a7fae6;
$color__teal-20  : #6eedd8;
$color__teal-30  : #41d6c3;
$color__teal-40  : #00b4a0;
$color__teal-50  : #008571;
$color__teal-60  : #006d5d;
$color__green-10 : #c8f08f;
$color__green-20 : #b4e051;
$color__green-30 : #8cd211;
$color__green-40 : #5aa700;
$color__green-50 : #4b8400;
$color__green-60 : #2d660a;
$color__yellow-10: #fde876;
$color__yellow-20: #fdd600;
$color__yellow-30: #efc100;
$color__yellow-60: #735f00;
$color__orange-10: #ffd4a0;
$color__orange-20: #ffa573;
$color__orange-30: #ff7832;
$color__orange-60: #a53725;
$color__red-10   : #ffd2dd;
$color__red-30   : #ff7d87;
$color__red-40   : #ff5050;
$color__red-50   : #e71d32;
$color__red-60   : #ad1625;
$color__purple-10: #eed2ff;
$color__purple-20: #d7aaff;
$color__purple-30: #ba8ff7;
$color__purple-40: #af6ee8;
$color__purple-60: #734098;
