//-------------------------
// 🌍 Global
//-------------------------

$css-font-face: false !default;
$css-helpers: false !default;
$css-body: false !default;

@import 'global';

//-------------------------
// 🍅 Base Elements
//-------------------------

// buttons
@import 'base-elements/buttons/vars';
@import 'base-elements/buttons/mixins';

// links
@import 'base-elements/links/vars';

// search
@import 'base-elements/search/vars';
@import 'base-elements/search/mixins';


// toggle
@import 'base-elements/toggle/vars';


//-------------------------
// 🍕 Components
//-------------------------

// card
@import 'components/card/mixins';

// content-switcher
@import 'components/content-switcher/mixins';

// detail-page-header
@import 'components/detail-page-header/mixins';

// loading
@import 'components/loading/vars';
@import 'components/loading/mixins';

// modules
@import 'components/modules/vars';
@import 'components/modules/mixins';

// notifications
@import 'components/notifications/mixins';

// tags
@import 'components/tags/mixins';


//------------------------------------
// 🙈 Hidden (Not exposed on website)
//------------------------------------

// footer
@import 'base-elements/footer/mixins';

// taxonomy-item
@import 'components/taxonomy-item/vars';
@import 'components/taxonomy-item/mixins';
