<!-- Content Switcher (anchor tags) -->
<div data-content-switcher class="bx--content-switcher">
  <a href="javascript:void(0)" class="bx--content-switcher__btn bx--content-switcher--selected" data-target=".demo--panel--opt-1">Anchor tags 1</a>
  <a href="javascript:void(0)" class="bx--content-switcher__btn" data-target=".demo--panel--opt-2">Anchor tags 2</a>
  <a href="javascript:void(0)" class="bx--content-switcher__btn" data-target=".demo--panel--opt-3">Anchor tags 3</a>
</div>

<!-- Content Switcher (button tags) -->
<div data-content-switcher class="bx--content-switcher">
  <button class="bx--content-switcher__btn bx--content-switcher--selected" data-target=".demo--panel--opt-1">Button tag 1</button>
  <button class="bx--content-switcher__btn" data-target=".demo--panel--opt-2">Button tag 2</button>
  <button class="bx--content-switcher__btn" data-target=".demo--panel--opt-3">Button tag 3</button>
</div>

<!-- Deprecated - Original Content-Switcher -->
<div data-content-switcher class="bx--content-switcher">
  <input class="bx--content-switcher__input" type="radio" name="switcher-group" value="1" id="opt-1" checked data-target=".demo--panel--opt-1">
  <label class="bx--content-switcher__btn" for="opt-1">Radio 1</label>
  <input class="bx--content-switcher__input" type="radio" name="switcher-group" value="2" id="opt-2" data-target=".demo--panel--opt-2">
  <label class="bx--content-switcher__btn" for="opt-2">Radio 2</label>
  <input class="bx--content-switcher__input" type="radio" name="switcher-group" value="3" id="opt-3" data-target=".demo--panel--opt-3">
  <label class="bx--content-switcher__btn" for="opt-3">Radio 3</label>
</div>

<!-- The markup below is for demonstration purposes only -->
<div class="demo--panels">
  <div class="demo--panel demo--panel--opt-1">
    <div class="bx--module--full">
      <h2 class="bx--module__header">Panel 1</h2>
      <div class="bx--module__body">
        <p>Lorem Ipsum is the dummy text of the printing
        and typesetting industry. Lorem Ipsum has been the industry's standard
        dummy text ever since the 1500s, when an unknown printer took a galley of
        type and scrambled it to make a type specimen book.</p>
        <p>It has survived not only five centuries, but also the leap into
          electronic typesetting, remaining essentially unchanged.</p>
      </div>
    </div>
  </div>
  <div class="demo--panel demo--panel--opt-2">
    <div class="bx--module--full">
      <h2 class="bx--module__header">Panel 2</h2>
      <div class="bx--module__body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
           eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
           enim ad minim veniam, quis nostrud exercitation ullamco laboris
           nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
           reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
           Excepteur sint occaecat cupidatat non proident.</p>
      </div>
    </div>
  </div>
  <div class="demo--panel demo--panel--opt-3">
    <div class="bx--module--full">
      <h2 class="bx--module__header">Panel 3</h2>
      <div class="bx--module__body">
        <p>Lorem Ipsum is the dummy text of the printing
        and typesetting industry. Lorem Ipsum has been the industry's standard
        dummy text ever since the 1500s, when an unknown printer took a galley of
        type and scrambled it to make a type specimen book.</p>
        <p>It has survived not only five centuries, but also the leap into
          electronic typesetting, remaining essentially unchanged.</p>
      </div>
    </div>
  </div>
</div>
