<a href="#" data-fab data-state="open" class="bx--fab" role="button" alt="Show Content">
  <svg class="bx--fab__svg" viewBox="0 0 72 72" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <polygon class="bx--fab__hexagon" fill-rule="evenodd" points="36 0 67.1769145 18 67.1769145 54 36 72 4.82308546 54 4.82308546 18 "></polygon>
    <path class="bx--fab__plus-icon" stroke-width="1" d="M35.08,34.992 L26.98,34.992 L26.98,36.9 L35.08,36.9 L35.08,45 L36.988,45 L36.988,36.9 L45.088,36.9 L45.088,34.992 L36.988,34.992 L36.988,26.892 L35.08,26.892 L35.08,34.992 Z"></path>
  </svg>
  <span class="bx--fab__hidden">show content</span>
</a>
