<header class="detail-page-header--with-tabs">
  <div class="detail-page-header--with-tabs__container">
    <div class="detail-page-header--with-tabs__breadcrumb">
      <a href="#" class="link-wrapper">
        <svg class="arrow">
          <use xlink:href="https://dev-console.stage1.ng.bluemix.net/api/v4/img/sprite.svg#service--back"></use>
        </svg>
        <p class="breadcrumb-title">breadcrumb title</p>
      </a>
    </div>
    <div class="detail-page-header--with-tabs__info">
      <p class="info-title">Detail Page Header</p>
    </div>
  </div>
  <div class="detail-page-header--with-tabs__tabs-container">
    <nav data-tabs class="tabs">
      <div class="tabs__trigger"><p class="trigger__text"></p>
        <?xml version="1.0" encoding="utf-8"?>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 7.5 3.8" enable-background="new 0 0 7.5 3.8" xml:space="preserve">
          <polygon points="0,0 7.5,0 3.8,3.8"/>
        </svg>
        </div>
      <ul class="tabs__nav tabs--hidden">
        <li class="nav__item selected"><a class="item__link" href="#">Overview</a></li>
        <li class="nav__item"><a class="item__link" href="#">Containers Files</a></li>
        <li class="nav__item"><a class="item__link" href="#">Connected Objects</a></li>
        <li class="nav__item"><a class="item__link" href="#">Manage</a></li>
      </ul>
    </nav>
  </div>
</header>
